<%- include ('../ejsFunction') %> <!--function javascript ejs-->


<!------------------------- navigation bar section ------------------->



<nav class="navbar navbar-expand-lg navbar-light">
  
  <div class="container border-bottom pb-3">
      
    <a class="navbar-brand fw-normal pt-0 pb-0 branchNamejojo" href="/">
        
      <img src="/img/icon.png" alt="" width="40" height="32" /> Jojo Computer Institute
      
    </a>
    
    <button class="navbar-toggler threeLine" type="button" data-bs-toggle="collapse" 
    
    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      
      <span class="navbar-toggler-icon"></span>
      
    </button>
    
    <div class="collapse navbar-adjust navbar-collapse" id="navbarNavDropdown">
        
      <ul class="navbar-nav">
          
        <li class="nav-item">
            
          <a class="nav-link active" aria-current="page" href="/"> Home </a>
          
        </li>
        
        <li class="nav-item">
            
          <a class="nav-link active" aria-current="page" href="/photoGallery">Photos</a>
          
        </li>
        
        <li class="nav-item">
          
          <a class="nav-link active" aria-current="page" href="/faq">FAQ</a>
          
        </li>
        
        <% if(!loggedIn) { %>
        
        <li class="nav-item dropdown">
          
          <a type="button" class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            
            Login
            
          </a>
          
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              
            <li><a class="dropdown-item" href="/std/loginStudent"><i class="fas fa-user p-2 symbolCircle me-1"></i> Student Login</a></li>
            
            <li><a class="dropdown-item" href="/auth/loginStaff"><i class="fas fa-sign-in-alt p-2 symbolCircle me-1"></i> Institute Login</a></li>
            
          </ul>
          
        </li>
          
          <% } %>
          
          <% if(loggedIn) { %>
          
          <li class="nav-item dropdown">
          
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              
           <i class="fas fa-user-circle"></i> </i> <%= capitalizeFirstLetter(username) %>
            
          </a>
         
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              
            <li><a class="dropdown-item" href="<%= href1 %>"><i class="fas fa-poll-h p-2 symbolCircle me-1"></i> <%= link1 %></a></li>
            
            <li><a class="dropdown-item" href="<%= href2 %>"><i class="fas fa-poll p-2 symbolCircle me-1"></i> <%= link2 %></a></li>
            
            <li><a class="dropdown-item" href="/auth/logout"><i class="fas fa-sign-out-alt p-2 symbolCircle me-1"></i> <%= link3 %></a></li>
            
          </ul>
          
        </li>
        
         <% } %>
        
      </ul>
      
    </div>
    
  </div>
  
</nav>