<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-104) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-6</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca104welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-6 ah hian <code> Points to remember</code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                       Chapter-6 ah hian syllabus chhunga awm si, 
            
            kan zir tak chapter-a kan sawi tel lohte kan lawrkhawm dawn a ni. Chapter 5 kha syllabus ang chuan chapter hnunhnung ber a ni a.
            
            Chuvangin he chapter hi chu kan belhchhahna a ni a, a hmingah pawh
            
            <code> Points to remember</code> tiin kan phuah a ni.
                      

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
                      
                      <figure class="figure">
  
                         <img src="/img/pointstoremember.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="540" alt="pointstoremember" />
                                    
                          <figcaption class="figure-caption ps-2 text-danger"> </figcaption>
                                    
                          </figure>  
            
                             <p>Kan sawi thin angin subject tin hi chapter by chapter in kan zir thin a. 
                             Awlsam te si, fun kim si a zir kan tum thin a ni. Amaherawhchu,
                             kan sawi kim loh, pawimawh ve tho si te a awm em tiin kan zawng khawm a, 
                             book reference te kan chhiar kual leh thin a. 
            </p>
            <p>Technology chu thil chhuak thar zel a ni a, cover sen a ni lo va, 
            amaherawhchu, kan rin dana pawimawh leh exam inbuatsaih nana tangkai 
            tur nia kan hriat te kan list chhuak a ni. Hetia tih hi subject 
            hriat chian lehzual nana thil 
            tangkai tak niin kan hria a ni. </p>
            
                      
                      
                      
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>POINTS TO REMEMBER </em></p>

<p>
1.	<code>Internet:</code> The network of networks wherein billions of computers globally are connected to one another.
</p><p>
2.	Protocol: A set of rules that are used by networks and computers to communicate with each other in a logical fashion.
 </p><p>
3.	<code>IP Address:</code> Every computer or a device connected on the Internet has  address called Internet Address or the IP Address. It is used to exchange information and emails betweens.
</p><p>
4.	<code>Modem:</code> Modulator – Demodulator.
</p><p>
5.	<code>Routers:</code> Devices used to direct Internet traffic by  determining  th  optimum path that can be taken by the data to reach from the host computer to the destination computer.
</p><p>
6.	Packets: When a computer sends data over the Internet, it is broken up into pieces called packets by the TCP protocol.
</p><p>
7.	Broadband: A connection that provides faster internet access, enabling users to view web content faster and download or upload files more quickly.
</p><p>
8.	Web browser: Software that displays information on your computer by interpreting the HyperText Markup Language. Eg., Google Chrome, Internet Explorer, UC browser, Mozilla Firefox, etc.
</p><p>
9.	Web server: A powerful computer on the Internet that stores web pages and delivers web pages to the users.
</p><p>
10.	Web page: A digital page incorporating text and any or of the multimedia elements like graphics, sound or animation.
</p><p>
11.	Website: A combination of multiple web pages.
</p><p>
12.	Web	Address:	The	Address	of	a	website	over	the	Internet.	Eg.,
http://mail.google.com/mail/
</p><p>
13.	Home page: The top page of a website.
</p><p>
14.	<code>The World Wide Web Consortium (W3C)</code> develops standards for the  evolution of the fastest growing part of the Internet.
</p><p>
15.	Internet Service Providers (ISPs) provide their consumers with Internet access by connecting to the high-speed backbones.
</p><p>
16.	LAN full form is Local Area Network.
</p><p>
17.	WAN full form is Wide Area Network.
</p><p>
18.	DHTML is an advanced version of HTML. It can perform animations and is  more interactive and flexible than HTML.
</p><p>
19.	WAIS is a search tool over the Internet. It has the capability of searching multiple databases at a time.
 </p><p>
20.	Pages on the Web are built using a markup languange called HyperText Markup Language (HTML).
</p><p>
21.	In 1960s, Defence Advanced Research Projects Agency (DRPA) of USA researched on connecting computers. The first network was called ARPANET and it initially connected academic and military research centres.
</p><p>
22.	The Advanced Research Projects Agency Network (ARPANET) was an early packet-switching network and the first network to implement the TCP/IP protocol suite.
</p><p>
23. 4G, short for fourth generation, is the fourth generation of wireless mobile telecommunications technology.
</p><p>
24.	The web address is expressed as four numbers separated by dots such as 192.168.0.168. It is also called as Internet Protocol (IP) address.
</p><p>
25.	Internet speed is measured in megabits (Mb) per second. It is often abbreviated as “Mbps.”
</p><p>
26. A bit is a binary digit, or a small unit of computerized data.
</p><p>
27.	FTP – File Transfer Protocol; It is used to download and upload files over    the Internet.
</p><p>
28.	<code>Telnet</code> – A protocol that helps to establish connection between two computers over the Internet.
</p><p>
29.	Gopher – A protocol helps in distributing,  searching,  and  retrieving  documents over the Internet.
</p><p>
30.	Google, Bing, Ask, IE, UC Browser, Lycos, Excite, WebCrawler and khoj are some of the popular search engines over Internet.
</p><p>
31.	Chat – Online textual communication between two persons.
</p><p>
32.	Channel – Topic under chat.
</p><p>
33.	Chat rooms – Websites offering online chat.
</p><p>
34.	<code>Instant messaging</code> – Private one-to-one communication between  two  persons.
</p><p>
35. <code>E-learning</code> – It is a wide set of applications and processes which use all available electronic media to deliver education and training.
</p><p>
36. E-banking – Facility to do banking transaction on the computer.
 </p><p>
37. E-shopping – Also known as online shopping; system of consumers buying goods and services from a seller interactively over the Internet.
</p><p>
38. <code>E-reservation</code> – or Computer Reservations System (CRS)  is  a computerised system used to conduct transactions like  booking  or  cancellation of air, rail or bus tickets.
</p><p>
39.	Social media – A wide range of Internet-based and mobile services  that  permit users to participate in online exchanges post content or join online communities.
</p><p>
40.	Blog – A type of website, maintained by an individual who keeps updating it with his/her views and comments.
</p><p>
41.	Blogger – A person who posts entries in a blog.
</p><p>
42.	Blog post – An individual article on a blog.
</p><p>
43.	<code>Newsgroup</code> – A forum in which people from all over the world participate in discussions.
</p><p>
44.	Plug-in: A piece of software used to display the files that a web browser is unable to display.
</p><p>
45.	<code>Tabbed browsing: </code>Feature that allows several web pages to be opened simultaneously.
</p><p>
46.	<code>InPrivate browsing:</code> Feature that lets users access the Internet without  creating history record of sites visited and saving cookies.
</p><p>
47.	<code>Pop-up:</code> A small browser window that appears on the top of the existing browser window.
</p><p>
48.	<code>XML</code> stands for Extensible Markup Language. XML is not replacement of  HTML.
</p><p>
49.	<code>No one actually owns the Internet.</code>
</p><p>
50.	List of internet service providers in India are; Jio, Airtel, BSNL, Tata Teleservices, Vodafone Idea, ACT Fibernet, MTNL, Hathway, You broadband, GTPL Broadband Pvt. Ltd.
</p>

                        


                      </p>
             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      
                      <!--Assignment form started-->
                      
            <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-102 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-1" aria-hidden="true">

                 
                 <h6 class="text-center lead">A hnuaia zawhnate hi chhang rawh.</h6>

            
                  <p class="fw-bold mt-3">
                    
                    Q1. The set of instructions given to a computer to perform a task is called a __________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Program" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Program
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Instruction" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Instruction
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Processor" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Processor
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Scheduling" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Scheduling
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q2. ________ is a UNIX like operating system. It is free and open source program originally developed by Linus Torvalds in 1991 for personal computers.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Linux" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Linux
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Boss" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Boss
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Android" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                  Android
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Unix" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                  UNIX
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q3. Which of the following is function of operating system?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Process Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Process Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Device Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Device Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Security Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Security Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="All of these" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  All of these
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q4. The most important program for the computer is ________?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Microsoft Windows" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Microsoft Windows
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="CPU" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  CPU
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Operating System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Operating System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Application Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  Application Software
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                   Q5. File management, which includes organizing, naming, protecting, accessing and using files, is one of the key functions of an _________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Application Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Application Software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="System Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  System Software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Operating System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Operating System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            

            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
