<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>

<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      <!--a lane chung lam-->
        
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuPractical') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-105 : <code>Practical</code>) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-4</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca105practicalwelcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105practicalclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105practicalclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105practicalclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105practicalclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105practicalclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105practicalclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105practicalclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105practicalclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105practicalclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105practicalclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105practicalclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105practicalclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105practicalclasschapter13"> Chapter-13</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-4 ah hian <code>MASKING LAYERS</code> kan en ho dawn a ni </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                            4. MASKING LAYERS: (4 - Marks) Creating and Editing Layer Masks, Applying and Discarding Layer Masks.

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                     <i class="fas fa-video pe-2 text-muted"></i>  Watch Practical Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body px-0 mx-0">
                      
                      
                      <div class="ratio ratio-16x9">
                        
                          <iframe src="https://www.youtube.com/embed/0P1y66AwTI8" title="dca103 chapter-4 video" allowfullscreen></iframe>

                          
                        </div>
                        
                        <small>DCA-105 Chapter-4 By Laltlanchhuaha </small>
                      
                      </div>
                  
                  </div>
                
                </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            
 
            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>

</html>
