<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      <%- include('layouts/studentMenu') -%>
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4">
            
            <a href="stdDashboard" class="small"> <i class="far fa-hand-point-left text-primary small"></i> Dashboard</a>
          
          <div class="mx-auto">
          
        <div class="mt-0 text-justify">
          
            <h4 class="text-dark text-center fw-normal mt-1"> <%= chapterTitle  %></h4>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-danger"> Chapter-5</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca106welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter13"> Chapter-13</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter14"> Chapter-14</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-5 ah hian <code>  IMPORTING GRAPHICS  </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                  5. IMPORTING GRAPHICS: (3 - Marks)
Introduction, Placing Graphics, Placing in-Line Graphics, Converting an Independent Graphic to an
In-Line Graphic, Aligning In-Line Graphics, Sizing Graphics, Cropping Graphics, Object Linking
and Embedding (OLE), Setting Up an OLE Liked Object, Embedding an OLE Object, Text Wrap. 

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                             No Video available yet DCA-106 Chapter-5
                      

                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>5. IMPORTING GRAPHICS </em></p>

Working with Independent Graphics
Independent graphics are simply placed on the page. Regardless of what you do around the graphic, the placement will not change unless you move it.

return to topPlacing Independent Graphics
How you place a graphic is initially determined by your choice of either the Pointer tool or the Text tool. Independent graphics are placed using the Pointer tool. If you have the Text tool selected, you can still place the graphic as an independent graphic by making the appropriate selection in the Place dialog box.

From the Toolbox, select the Pointer tool pointer tool

From the File menu, select Place…
The Place dialog box appears.

Select the image file you want to place

In the Place section of the dialog box, verify that the graphic will be placed as independent graphic
If that option is not selected, select it now.


Windows: Click OPEN
Macintosh: Click OK
Your cursor will change to a graphics icon graphics cursor

Use the mouse to position the icon’s top left edge where the top left corner of the graphic should appear in the document

Click to place the graphic

Select your Text Wrap option
See Using Text Wrap.

Click OK

Inserting Clip Art from the Microsoft Clip Gallery
Images from the Clip Gallery are placed as independent graphics regardless of whether you use the Pointer tool or the Text tool when inserting them.
NOTE: This feature may not be available on all computers.

From the Edit menu, select Insert Object…
The Insert Object dialog box opens. 
Windows: Create New should be selected.
Macintosh: New should be selected.

From the Object Type list, select Microsoft Clip Gallery

Click OK
The Microsoft Clip Gallery opens.

Select an image

Click INSERT
The image appears on your page. You may resize, move, crop, layer or wrap text around it.

return to topSizing Independent Graphics
Once you have placed a graphic in your PageMaker document, you may discover that it is not the right size or it contains extra information that is not relevant to your document. With PageMaker’s ability to resize and crop graphics, you can make adjustments to the graphic so it better meets your needs. If you need to do additional editing, you probably need to use a graphics program such as Adobe Illustrator.

The following instructions cover how to reduce, enlarge, stretch, or crop part of a graphic.

Stretching or Shrinking a Graphic
Using the Pointer tool, select the graphic you want to alter

To change your image proportionately, click and drag one of the corner selection handles
OR
To change your image in height or width, click and drag one of the top, bottom, or side selection handles
HINT: To modify the object incrementally by .1 inch, hold the [Shift] key while dragging.

Release the mouse button

Cropping Independent Graphics
Placing graphics often creates unnecessary white space along the sides of the image. You may also find that you only need a portion of a graphic. The Cropping tool functions somewhat like a scissors, cutting off the parts of the graphic you do not need or want.

From the Toolbox, select the Cropping tool  cropping tool

Select the image you want to crop

To crop part of the image, click a handle and drag it inward
You should be able to see the handle through the center of the Cropping tool when you click on a handle for cropping.
Cropping example

Release the mouse when the graphic is cropped correctly
HINT: If you decide later not to change the cropping, you can select the graphic with the Cropping tool and enlarge the frame to show more of the graphic or the entire graphic.

Panning Graphics
Panning a graphic allows you to adjust the portion of the image that is displayed after it has been cropped.

From the Toolbox, select the Cropping tool

Select the image you want to pan

Position the Cropping tool in the center of the graphic

Click and hold the mouse button
A small Hand icon will appear in the graphic.
Panning hand icon

Hold the mouse button down and move the Hand icon within the graphic until the image is where you want it

Release the mouse button

return to topMoving Graphics
If your graphic is not placed in quite the right spot on the page, it can be moved.

To move an independent graphic:

From the Toolbox, select the Pointer tool

Select the graphic you want to move

Click and hold anywhere on the graphic except on a handle
WARNING: If a two-sided arrow appears you may have grabbed a handle and accidentally resized the graphic. To undo any resizing, release the mouse button and from the Edit menu, select Undo Stretch.

Still holding the mouse button, drag the element to its new location and release the button

NOTE: If you have selected an in-line graphic, you will not be able to move it more than a few pixels up or down within the text. If you click on an in-line graphic and try to move it, you will see this arrow  in-line graphic cursor.

return to topCutting and Pasting Independent Graphics
To cut and paste or copy and paste a line, a graphic, or a block of text:

From the Toolbox, select the Pointer tool

Select the graphic elements that you want to Copy or Cut

From the Edit menu, select Copy or Cut

To paste the item(s), from the Edit menu, select Paste
WARNING: The computer will retain only one cut or copy at a time. If you select Cut and then highlight another item or items and select Cut or Copy, the first item or group of items will be replaced in memory by the second group and can no longer be pasted.

return to topLayering of Graphics and Text
As you add more graphic elements and text to your document, the order that they appear on the page can make a difference on how the page looks. For example, if you have a shaded box and text in the same area of the page, the text has to be on top of the box in order for you to be able to read the text. So you do not have to create the graphics and text in the order that you want them to appear, PageMaker allows you to order the layers by sending them either to the front or to the back. To do this:

With the Pointer tool, select the desired graphic or text block

From the Element menu, select Arrange

From the Arrange submenu, select Send to Back or Bring to Front

Selecting Text or Graphics behind Another Layer
To select text or graphics which are not on top

Press [CTRL] and click the object

return to topUsing Text Wrap
example of text wrap

To use text wrap
Select the graphic or drawing with the Pointer tool

From the Element menu select Text Wrap…
The Text Wrap dialog box appears.
text wrap dialog box

Select the appropriate Wrap option:

no wrap
wrap around square
wrap around non-standard shape
Select the appropriate Text Flow option:

above only
above and below
all around
Type the standoff (the distance from surrounding text) in inches for each side of the graphic

When settings and measurements are correct, click OK

To remove text wrapping

Select the graphic or drawing with the Pointer tool

From the Element menu select Text Wrap…
The Text Wrap dialog box appears on the screen.

Select no wrapno wrap icon

Click OK

Placing Independent Graphics
How you place a graphic is initially determined by your choice of either the Pointer tool or the Text tool. Independent graphics are placed using the Pointer tool. If you have the Text tool selected, you can still place the graphic as an independent graphic by making the appropriate selection in the Place dialog box.

From the Toolbox, select the Pointer tool pointer tool

From the File menu, select Place…
The Place dialog box appears.

Select the image file you want to place

In the Place section of the dialog box, verify that the graphic will be placed as independent graphic
If that option is not selected, select it now.


Windows: Click OPEN
Macintosh: Click OK
Your cursor will change to a graphics icon graphics cursor

Use the mouse to position the icon’s top left edge where the top left corner of the graphic should appear in the document

Click to place the graphic

Select your Text Wrap option
See Using Text Wrap.

Click OK

Inserting Clip Art from the Microsoft Clip Gallery
Images from the Clip Gallery are placed as independent graphics regardless of whether you use the Pointer tool or the Text tool when inserting them.
NOTE: This feature may not be available on all computers.

From the Edit menu, select Insert Object…
The Insert Object dialog box opens. 
Windows: Create New should be selected.
Macintosh: New should be selected.

From the Object Type list, select Microsoft Clip Gallery

Click OK
The Microsoft Clip Gallery opens.

Select an image

Click INSERT
The image appears on your page. You may resize, move, crop, layer or wrap text around it.

return to topSizing Independent Graphics
Once you have placed a graphic in your PageMaker document, you may discover that it is not the right size or it contains extra information that is not relevant to your document. With PageMaker’s ability to resize and crop graphics, you can make adjustments to the graphic so it better meets your needs. If you need to do additional editing, you probably need to use a graphics program such as Adobe Illustrator.

The following instructions cover how to reduce, enlarge, stretch, or crop part of a graphic.

Stretching or Shrinking a Graphic
Using the Pointer tool, select the graphic you want to alter

To change your image proportionately, click and drag one of the corner selection handles
OR
To change your image in height or width, click and drag one of the top, bottom, or side selection handles
HINT: To modify the object incrementally by .1 inch, hold the [Shift] key while dragging.

Release the mouse button

Cropping Independent Graphics
Placing graphics often creates unnecessary white space along the sides of the image. You may also find that you only need a portion of a graphic. The Cropping tool functions somewhat like a scissors, cutting off the parts of the graphic you do not need or want.

From the Toolbox, select the Cropping tool  cropping tool

Select the image you want to crop

To crop part of the image, click a handle and drag it inward
You should be able to see the handle through the center of the Cropping tool when you click on a handle for cropping.
Cropping example

Release the mouse when the graphic is cropped correctly
HINT: If you decide later not to change the cropping, you can select the graphic with the Cropping tool and enlarge the frame to show more of the graphic or the entire graphic.

Panning Graphics
Panning a graphic allows you to adjust the portion of the image that is displayed after it has been cropped.

From the Toolbox, select the Cropping tool

Select the image you want to pan

Position the Cropping tool in the center of the graphic

Click and hold the mouse button
A small Hand icon will appear in the graphic.
Panning hand icon

Hold the mouse button down and move the Hand icon within the graphic until the image is where you want it

Release the mouse button

return to topMoving Graphics
If your graphic is not placed in quite the right spot on the page, it can be moved.

To move an independent graphic:

From the Toolbox, select the Pointer tool

Select the graphic you want to move

Click and hold anywhere on the graphic except on a handle
WARNING: If a two-sided arrow appears you may have grabbed a handle and accidentally resized the graphic. To undo any resizing, release the mouse button and from the Edit menu, select Undo Stretch.

Still holding the mouse button, drag the element to its new location and release the button

NOTE: If you have selected an in-line graphic, you will not be able to move it more than a few pixels up or down within the text. If you click on an in-line graphic and try to move it, you will see this arrow  in-line graphic cursor.

return to topCutting and Pasting Independent Graphics
To cut and paste or copy and paste a line, a graphic, or a block of text:

From the Toolbox, select the Pointer tool

Select the graphic elements that you want to Copy or Cut

From the Edit menu, select Copy or Cut

To paste the item(s), from the Edit menu, select Paste
WARNING: The computer will retain only one cut or copy at a time. If you select Cut and then highlight another item or items and select Cut or Copy, the first item or group of items will be replaced in memory by the second group and can no longer be pasted.

return to topLayering of Graphics and Text
As you add more graphic elements and text to your document, the order that they appear on the page can make a difference on how the page looks. For example, if you have a shaded box and text in the same area of the page, the text has to be on top of the box in order for you to be able to read the text. So you do not have to create the graphics and text in the order that you want them to appear, PageMaker allows you to order the layers by sending them either to the front or to the back. To do this:

With the Pointer tool, select the desired graphic or text block

From the Element menu, select Arrange

From the Arrange submenu, select Send to Back or Bring to Front

Selecting Text or Graphics behind Another Layer
To select text or graphics which are not on top

Press [CTRL] and click the object

return to topUsing Text Wrap
example of text wrap

To use text wrap
Select the graphic or drawing with the Pointer tool

From the Element menu select Text Wrap…
The Text Wrap dialog box appears.
text wrap dialog box

Select the appropriate Wrap option:

no wrap
wrap around square
wrap around non-standard shape
Select the appropriate Text Flow option:

above only
above and below
all around
Type the standoff (the distance from surrounding text) in inches for each side of the graphic

When settings and measurements are correct, click OK

To remove text wrapping

Select the graphic or drawing with the Pointer tool

From the Element menu select Text Wrap…
The Text Wrap dialog box appears on the screen.

Select no wrapno wrap icon

Click OK


Graphics: An Overview
Graphics can add interest and variety to your publication and are placed in PageMaker in much the same way as text. Graphics can be cropped, sized, and moved in PageMaker, but no changes can be made to the graphic itself; that must be done in a graphics program, such as Adobe Photoshop.


 
This overview discusses the following topics:

return to topGraphics Sources
Graphics can be obtained from a variety of sources, but pay attention to their format. Not all formats are suitable for use in PageMaker publications. Some can be converted to a compatible format using a graphics program. Some sources for graphics include:

graphics created in programs such as Photoshop, Adobe Illustrator, or similar programs
images which have been scanned
images found in clip art collections (e.g., on CD or on the Web)
images from digital cameras
images downloaded from the Internet
return to topGraphics Formats
PageMaker typically uses a graphics format for images such as:

Windows Bitmap (.BMP)
Tagged Image File Format (TIFF or .TIF)
Graphics Interchange Format (.GIF)
Encapsulated PostScript (.EPS)
Joint Photographics Expert Group (JPEG or .JPG)
Macintosh Picture (PICT or .PCT)
PageMaker suggests using EPS for vector graphics and TIFF for bitmapped graphics. These file formats support precision output for text and high resolution graphics.

Because PageMaker uses the Tagged Image File Format (TIFF), you must change your image to CMYK color mode so that it will be printed correctly in a color publication.


Consult your graphics program’s documentation for additional information.

return to topGraphics Placement Types
When placing graphics (not including PageMaker lines or shapes), you place them as either in-line or independent graphics. The type of document that you are working on and the nature of the graphic will generally determine the kind of placement that you use.

Independent vs. In-line Graphics
Independent or placed graphics are simply placed on the page. Regardless of what you do around the graphic, the placement will not change unless you move it.

In-line graphics become a part of the text block. As you edit the text, the graphic retains its same relative position to the text but it will change position on the page (or may actually change pages) as you edit the text. Inline graphics are appropriate for documentation and reports, and can be modified just like independent graphics.

NOTE: The important thing to remember is that how you place the graphic is determined by your choice of either the Pointer tool or the Text tool.



                      </p>
             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      
                      <!--Assignment form started-->
                      
            <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-102 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-1" aria-hidden="true">

                 
                 <h6 class="text-center lead">A hnuaia zawhnate hi chhang rawh.</h6>

            
                  <p class="fw-bold mt-3">
                    
                    Q1. The set of instructions given to a computer to perform a task is called a __________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Program" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Program
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Instruction" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Instruction
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Processor" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Processor
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Scheduling" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Scheduling
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q2. ________ is a UNIX like operating system. It is free and open source program originally developed by Linus Torvalds in 1991 for personal computers.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Linux" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Linux
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Boss" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Boss
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Android" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                  Android
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Unix" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                  UNIX
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q3. Which of the following is function of operating system?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Process Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Process Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Device Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Device Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Security Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Security Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="All of these" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  All of these
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q4. The most important program for the computer is ________?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Microsoft Windows" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Microsoft Windows
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="CPU" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  CPU
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Operating System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Operating System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Application Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  Application Software
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                   Q5. File management, which includes organizing, naming, protecting, accessing and using files, is one of the key functions of an _________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Application Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Application Software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="System Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  System Software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Operating System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Operating System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            

            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
