<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-106) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-12</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca106welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter13"> Chapter-13</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter14"> Chapter-14</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-12 ah hian <code> LONG DOCUMENTS FEATURES </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                          
                  12. LONG DOCUMENTS FEATURES: (3 - Marks)
Compiling Chapters into a Book, Preparing the Book, Combining the Chapters, Numbering Pages,
Restarting Page Numbering, Creating a Table of Contents. 
                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-bookmark pe-2 text-muted"></i> Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                             <p>He chapter-ah hian Book leh TOC kan zir dawn a. Utilities menu hnuaia awm ve ve an ni. Book hi pagemaker file hrang hrang link-na a ni a. TOC hi 
                             chu lehkhabu chhunga zawnawlna siamna a ni. </p>
                             
                             <p><code>Book:</code> He command hian tangkaina deuh mai a neih chu pagemaker file hrang hrang a combine thei leh a phek number indawta
                             a dah thei hi a ni a. Entirna han pe ta ila; Lehkhabu i ziak a nih chuan pagemaker file pakhatah i dah vek lo maithei a. File
                             thenkhat chu chapter hrang hrang dah nan te, thenkhat chu thuhmahruai atan te leh thenkhat chu lehkhabu kara milem zeh tur
                             dah nante i hmang mai thei a ni. Chung file hrang hrang chu Utilities > Book hmangin a combine thei a. A combine kan han tih chuan
                             a phek number indawt si, mahse file hrang nisiin a dah thei a ni. Number indawta kan dah duh chuan Auto numbering-ah khan Next Page
                             button kha clicked a ngai a ni.</p>
                             
                             <p><code>TOC:</code> hi table of content tihna a ni a. Zawnawlna kan ti mai ang chu. Lehkhabu phek hmasa lamah hian a lehkhabu thupui leh
                             a phek number zat tarlannan an hmang thin a. Hei hian lehkhabu chhunga mahni duhlai bik zawn a tiawlsam hle a ni.</p>
                             
                             
                            <figure class="figure">
                            <img src="/img/bookAndToc.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="auto" alt="bookAndToc" />
                            <figcaption class="figure-caption ps-2 text-danger"> Book and TOC Menu</figcaption>
                            </figure>

                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>12. LONG DOCUMENTS FEATURES </em></p>
<p>
<b>BOOK : </b><br>


Use this command to create a of publications to be treated as a single document called a <code> Book. </code>
You can work with each publication in the book separately too or you can tell PageMaker to perform certain tasks showing or 
creating an index, creating a table of contents, 
or printing the entire book in one go.<br>
This command can be called from <code>Utilities menu. </code>
Book publication list dialog box lets you create a book list and control the page numbering of the publication in that list. 
The options of the dialog box are discussed below:<br>
<uL>
  <li><code>Insert:</code> Add the publication selected in the list box on the left to the book on the right.</li>
  <li><code>Remove:</code> Use this to remove the selected publication from the book list. </li>
  <li><code>Move up/Move down:</code> The command moves  por down one position in the book list. 
This becomes necessary when you have to make sure that the page numbering in the publications 
is not to be disturbed and their sequence remains the same. </li>
  <li><code>Auto renumbering:</code> PageMaker repaginates and prints the publication of the book in the order they appear in the book list.</li>
  <li> You can choose the options as following: 
    <ul>
      
      <li><code>None: </code> Do not renumber the pages.</li>
      <li><code>New page: </code>The next publication in the Book should start from the next page of the previous publication entry. </li>
      <li><code>Next odd/even page:</code> Certain books have the style of starting all new chapters from the next odd page or next even page, use this option for the same. One of the commands which works on Book is Table of Contents, let us see how it uses t. 
</li>
    </ul>
    
    
  </li>
</uL>

</p><p>
<b>TABLE OF CONTENTS: </b>
This command is used to generate Table of Contents (TOC). 
This can be created for a single publication or a number of publications if the book list is used. 
The created TOC is in the form of a new text story which can be placed on any page of the current publication or can be 
placed in a new publication for printing.
</p><p>
<code>Generate the Table of Contents</code>
  
  <ol>
    
    <li>Go to the Utilities menu and select Create TOC, then enter the title of your Table of Contents.
</li>
    <li>Select the checkbox and radio button items you want and make sure the Between Entry and Page Number box contains this info: ^t. Click OK. The upward-pointing arrow and the letter "t" ensure that PageMaker places leader dots between the TOC item and the page number.
</li>
    <li>Position the cursor in the upper-left corner of the page where you want the table of contents and click. Your TOC will be placed there
</li>
    
  </ol>
  
  
</p><p>
<code>Tag Items for the Table of Contents</code>
  <ol>
    <li>Click to place the cursor at the beginning or anywhere within the line of text you want to include in the table of contents.
</li>
    <li>Go to the Type menu and select Paragraph.
</li>
    <li>Select the Include in Table of Contents checkbox and click OK.
</li>
    <li>Repeat steps 1 to 3 for every entry you want to include in this document's TOC.
</li>
    
  </ol>
 </p>
 <hr><p> 
<b>OLD QUESTION:</b>
  </p><p>
   1. The full form of TOC is <br><b>Ans... </b> Table of content
   </p><p>
   2. The ________ command is the name that implies to help you in linking chapter or parts of a document <br><b>Ans... </b> Book
  </p><p>
    3. ________ is a shade of color, usually expressed as a percentage of a solid color <br><b>Ans... </b> TINT
   </p><p>
   4. When the document names are displayed, click each document name and then insert button to add the name to the <br><b>Ans... </b> Book publication
   </p><p>
   5. In a document setup if you type 10 in a start page option the numbering of document will start from <br><b>Ans... </b> 10
   </p><p>
     6. TOC stand for <br><b>Ans... </b> Table of Content
     </p><p>
     7. Make each occurrence of the individual words and phrases to include in the index using the <br><b>Ans... </b> Index entry
     </p><p>
     8. The short cut for zooming in is <br><b>Ans... </b>  Ctrl + Plus
     </p><p>
     9. To bring text from back to front, press <br><b>Ans... </b> Ctrl + Shift + }
      </p><p>
     10. The shortcut key for current page is <br><b>Ans... </b> Alt + Ctrl + G
      </p><p>
     11. To sent text from front to back, press <br><b>Ans... </b> Shift + Ctrl + {
      </p><p>
     12. To cycle the units of measure through inches, mm, Cicero and Picas, use <br><b>Ans... </b> Ctrl + Alt + M
      </p><p>
     13. The full form of RIP is <br><b>Ans... </b> Raster Image Processor
     </p><p>
     14. The shortcut to shrinks the page to a postage-stamp size, and show the entire width of the paste board is <br><b>Ans... </b> Shift + Ctrl + 0
     </p><p>
     15. What type of printing is done when using CMYK? <br><b>Ans... </b> Process color
     </p><p>
     16. Red, yellow, and blue are what type of colors? <br><b>Ans... </b> Primary <br>
     
     <em>Red, blue and yellow would be the primary colors if we are talking about colors in terms of paint, dyes and pigments. Red, green and blue are the primary colors if talking about additive color mixing.</em>
</p>

    
               
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                 <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory106 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                        
                        if(thisStudent.assignmentTheory106[i].chapterName == 'Chapter-12') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory106[i].mcq1 == 'Table of Content') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory106[i].mcq2 == 'TINT') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory106[i].mcq3 == 'Primary') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/3

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete106/<%= studentId %>/<%= thisStudent.assignmentTheory106[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
       
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment106" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-106 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-12" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="3" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1. The full form of TOC is ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Table of Content" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Table of Content
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Table of Credit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                 Table of Credit
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Transfer of Credit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Transfer of Credit

                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Transfer of Content" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                Transfer of Content
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. ________ is a shade of color, usually expressed as a percentage of a solid color.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Shading" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Shading
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Dropcap" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Dropcap
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Build Booklet" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Build Booklet
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="TINT" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 TINT
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>

                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. Red, yellow, and blue are what type of colors?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Primary" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Primary
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Secondary" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                 Secondary
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="CMYK color" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  CMYK color
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>

  </body>
  
  
</html>
