<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-105) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-11</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca105welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter13"> Chapter-13</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-11 ah hian <code> WORKING WITH MASKS </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                  11. WORKING WITH MASKS: (3 - Marks)
                      Creating Masks in Quick Mask Mode, Storing Masks in Alpha Channels

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                             <p>Quick mask hian a tum tak chu selection siamthat a ni. Entirnan, mahni thlalak hi a background thlak duh ta ila, kan taksa
                             chin leh a background chin chu kan lakhran a ngai dawn a. La hrang tur chuan kan select hran a ngai ang. Taksa chin chauh select chu quick mask hmanga tihin a awlsam bik dawn a ni. 
                             
                             </p><p>Selection Tool <img src="/img/selectionTool.jpg" alt="selectionTool" /> hmanga i select na lai chu
                             quick mask mode hmangin a edit leh theih a. Edit laiin brush emaw pencil tool emaw hman tur a ni a. 
                             Foreground leh background colour-ah a dum leh var hman tur a ni. Black colour chuan select area a tizim a, white colour chuan select a siam belh a ni.</p>
                             
                             <p><code>QUICK MASK</code></p>
                             <figure class="figure">
  
                             <img src="/img/quickMask.png" class="img-fluid ps-2 pb-2" width="auto" height="540" alt="quickMask" />
                                        
                              <figcaption class="figure-caption ps-2 text-danger"> Selecting in Standard mode and Quick Mask mode :: 
                                </figcaption>
                                <em>A. Standard mode 
                              B. Quick Mask mode 
                              C. Select lai chu a var angin a lang ang.
                              D. Select ve loh lai chu a dum angin a lang.
                                 </em>       
                              </figure> 
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>11.	WORKING WITH MASKS (3 MARKS)</em></p>


<p>
<code>
CREATING MASKS IN QUICK MASK MODE: </code>If you want to make a change to a select part of an image, 
you can use a Quick Mask. Areas painted black on a mask are protected, and areas painted white are editable (unprotected).
 </p><p>
<code>Follow these steps to create your very own Quick Mask:</code><br>
•	Open a new document and, using any selection tool, select the element you want in your image.<br>
•	Click the Edit in Quick Mask Mode button in the Tools panel (or press the Q key).<br>
•	Refine the mask by using brush or pencil tool.<br>
•	After you finish editing your mask, click the Edit in Standard Mode button in the Tools panel to exit the Quick Mask. You can also press the Q key.<br>
</p>
 
<p>

<code>To apply layer mask for changing image background, do this:</code><br>
1.	In Photoshop, open two images for the foreground and background image.<br>
2.	Drag the foreground image on top of the background image. Press Ctrl + T (same as click edit > Free transform) for resizing the image if required.<br>
3.	In the foreground image, select part of the area by using any selection tool. (Do not be careful here, you can adjust selection area again later)<br>
4.	To create a mask that reveals the entire layer, click the Add Layer Mask button in the Layers panel, OR <br>choose Layer > Layer Mask > Reveal Selection.<br>
5.	Refine the selected area using the Brush tool, press [ or ] to resize the diameter of the Brush. 
Switch to foreground and background color to adjust the selected part of an image. Remember 
that areas painted black on a mask are hidden and areas painted white are shown.<br>

</p><p>
<code>STORING MASKS IN ALPHA CHANNELS:</code> Masks are stored in alpha channels.
To save the selection as a channel, try this:<br>
1.	Select Select → Save Selection from the menu. 
The Save Selection dialog box appears. Here you can specify the name of your selection and it will appear within the Channels palette.<br>
2.	Select Select → Deselect from the menu or press Ctrl + D.<br>
3.	Select Select →Load Selection from the menu. The selection reappears!<br>
</p><p>
  <b> OLD QUESTION: </b>
</p><p>
  1. <img src="/img/quickMaskTool.jpg"> represents quick mask mode tool.
  </p><p>
    2. The quick mask mode enables you to create a temporary mask to edit a selection without using a channel palette
  </p><p>
    3. Masking can be used to protect parts of a layer from being edited.
  </p><p>
    4. Permanent mask can be created by storing in which channel => Alpha
  </p><p>
    5. Which one of the following represents channel that store selections as 8-bit greyscale images => Alpha
  </p><p> 
  6. When you duplicate alpha channels between images then the channels need to have => identical pixels dimensions
  </p><p> 
  7. Alpha channel represents store selections of how many bit gray scale images => 8 bit

                      </p>
             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory105 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
                      for(var i=0; i < thisStudent.assignmentTheory105.length; i++) {
                        
                        if(thisStudent.assignmentTheory105[i].chapterName == 'Chapter-11') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory105[i].mcq1 == 'Masking') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory105[i].mcq2 == 'quick mask mode') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory105[i].mcq3 == '8 bit') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
              
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/3

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory105[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete105/<%= studentId %>/<%= thisStudent.assignmentTheory105[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            
 
            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment105" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-105 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-11" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1. ________ can be used to protect parts of a layer from being edited.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Protecting" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Protecting
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Locking" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                 Locking
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Masking" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Masking

                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Cloning" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                 Cloning
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. The ________ enables you to create a temporary mask to edit a selection without using a channel palette.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="change mask mode" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  change mask mode
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="image ready" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  image ready
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="masking" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 masking
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="quick mask mode" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 quick mask mode
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>

                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. Alpha channel represents store selections of how many bit grayscale images.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="8 bit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  8 bit
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="4 bit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                 4 bit
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="2 bit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  2 bit
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    

  </body>
  
  
</html>
