<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main>
      
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-2 pb-4 mt-2">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-3 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-102) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-0"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-10</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca102welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter 10-ah hian <code> POINTS TO REMEMBER </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                          
                       Syllabus chhunga chapter pangngai chu chapter 9 thleng kha a ni a. Kan hriat angin kan zirlai zir zawh takte kha a summary
                       tak tak a nih avangin computer term pawimawh tak tak sawi hmaih kan nei nual a, chungte chu lakkhawmin tunah hian
                       kan zir ho dawn a ni.
                       
                       
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
               <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
                        
                   <p><em>Points to Remember:</em></p>

<p>1.	<code>A WILDCARD character</code> is a symbol used to replace or represent one or
more characters. The most common wildcards are the asterisk (*), which
represents one or more characters and question mark (?) that represents a single character. 
For instance, if you want to search all Microsoft word file  inside  one’s folder, just type *.docx in 
the search box. The  windows will find  all Microsoft word file irrespective of the filename.
</p>

<p>
2.	MS-DOS has the following three layers:<code> BIOS, Kernel and Shell.</code>
</p>

<p>
3.	<code>BIOS</code> - (Basic Input/Output System and also known as the System BIOS, ROM BIOS or PC BIOS) is firmware used to perform hardware initialization during the booting process (power-on startup), and
to provide runtime services for operating systems and programs.

</p>

<p>
4.	<code>The KERNEL</code> is a computer program that is the
core of a computer's systems, it is one of
operating system. On most the first programs loaded
on start-up (after	the bootloader).	It	handles
memory and peripherals like keyboards, monitors, printers, and speakers.
</p>

<p>
5.	<code>A SHELL</code> is a user interface for access  to an operating system's services. In general, operating system shells use either a command-line interface (CLI)
or graphical user interface (GUI). It is named a shell because it is the outermost layer around the operating system kernel.
</p>

<p>
6.	<code>GNU</code> stands for ‘Gnu is Not Unix’.
</p>

<p>
7.	<code>Clipboard:</code> The clipboard is a temporary holding area for  information.  Clipboard is in computer’s memory; the Clipboard involves three commands: Cut, Copy and Paste.
</p>

<p>
8.	<code>FIFO</code> is an acronym for First In, First Out, a method for organising and manipulating a data.
</p>

<p>
9.	<code>LILO</code> is an acronym for Last In, Last Out, a method of storing data where the data stored last will be accessed last.
</p>

<p>
10.	<code>File Allocation Table (FAT)</code> is a computer file system architecture and originally designed in 1977 for use on floppy disks. FAT was used almost universally on hard disks throughout the DOS and Windows 9x eras for two decades.
</p>

<p>
11.	<code>NTFS (New Technology File System)</code> is a file system  developed  by Microsoft. Starting with Windows NT 3.1, it is the default file system of the Windows NT family.
</p>

<p>
12.	<code>A SPECIAL CHARACTER </code> is a character that is not an alphabetic or numeric character. Some special characters are;- @, %, $, &, !, *, etc.
</p>

<p>
13.	<code>32-bit vs 64-bit:</code> A 64-bit processor is more capable than a 32-bit processor, because it can handle more data at once. 32-bit processors are perfectly capable of handling a limited amount of RAM (in Windows, 4GB or less), and 64-bit processors are capable of utilizing much more.
</p>

<p>
14.	<code>DOS commands </code> are of two types;<code> internal and external</code>. The internal commands are those commands that are automatically  loaded  in  the memory. Some internal commands are; Cls, Dir, Date, Time, Copy con, Type, Ren, Del etc. The external commands are  not  permanent  part  of  the memory. To execute or run this commands an external file is required. Some commonly used DOS external commands are;- CHKDSK, Diskcopy, Format, Tree, Deltree etc.
</p>

<p>
15.	<code>BOOTING: </code> Boot means ‘start’ or make the computer system ready for taking instructions. When the computer is first switched on, it is called cold booting. When the computer is already ON and is being reset, it is  called  warm  booting.             
 </p>  
 <hr>
 <p>
  <b>OLD QUESTION:</b>
</p><p>
1. The wildcard in <em> *.exe</em>  represents of executable file <br><b>Ans... </b> All primary file name
</p><p>
2. In process scheduling stack is also known as <br><b>Ans... </b> FIFO
</p><p>
3. BPS <br><b>Ans... </b> Bits per second
</p><p>
4. ASCII <br><b>Ans... </b> American Standard code for Information Interchange
</p><p>
5. To switch between two or more opened windows <br><b>Ans... </b> ALT + TAB
</p><p>
6. When a computer is switch on a program automatically run and load
the OS then the computer is ready to be used, this process is called <br><b>Ans... </b> Booting
</p><p>
7. To ensure have the latest version of windows Microsoft introduce a feature a called <br><b>Ans... </b> Windows System update
</p><p>
8. When we click on start button of Windows 7 the <br><b>Ans... </b> Start Menu appear
</p><p>
9. The default web browser in Microsoft Windows 7 is <br><b>Ans... </b> Internet Explorer
</p><p>
10. After the computer is switch ON the OS is loaded into Computer's <br><b>Ans... </b> Main Memory
</p><p>
11. A computer Operating System provides <br><b>Ans... </b> User Interface
</p><p>
12. Option button is also called <br><b>Ans... </b> Radio Button
</p><p>
13. What is the full form of PPP <br><b>Ans... </b> Point to Point Protocol
</p><p>
14. Example of peripheral device are <br><b>Ans... </b> All of the above <br> 
{ 1) Monitor 2) Keyboard 3) Printer 4) All of the above }
</p><p>
15. An illusion of extremely large main memory is called <br><b>Ans... </b> Virtual memory
</p><p>
16. The default folder where all installed software are put into is <br><b>Ans... </b> Program files
</p><p>
17. Area occupied by each job residing simultaneously in the main memory is known as a <br><b>Ans... </b> Memory partition
</p><p>
18. A binary number system has ________ digits <br><b>Ans... </b> 2
</p><p>
19. CRT <br><b>Ans... </b> Cathode Ray Tube
</p><p>
20. DLL <br><b>Ans... </b> Dynamic Linked Library
</p><p>
21. A folder 'A' is invisible folder 'B', then folder 'A' is <br><b>Ans... </b> A folder is subfolder of B
</p><p>
22. BAT <br><b>Ans... </b> Batch File
</p><p>
23. +R <br><b>Ans... </b> Read Only
</p><p>
24. Volatile memory is _______ memory <br><b>Ans... </b> primary
</p><p>
25. Which of the following is not Windows Utility Software? <br><b>Ans... </b> Adobe <br>
{ a) Notepad c) Paint b) Adobe d) Wordpad }
</p><p>
26. A square shape button containing an X which is located at the right edge of the title bar in Windows 7 is <br><b>Ans... </b> Close button
</p><p>
27. To free up space on a hard drive by removing temporary file we can do <br><b>Ans... </b> Disk cleanup
</p><p>
28. The full form of DMA is <br><b>Ans... </b> Direct memory access
</p><p>
29. If the user is currently working on a local hard drive in DOS environment, the screen will prompt <br><b>Ans... </b> C:\>
</p><p>
30. Which among the following is not taskbar elements of Windows 7 <br><b>Ans... </b> Speed meter <br>
{ a) Task button b) Toolbar c) Start button d) Speed meter }
</p><p>
31. Which of the following is among the content of start menu in Windows 7 <br><b>Ans... </b> All programs <br>
{ a) Decipher b) Save c) Wi-fi d) All programs }
</p><p>
32. To select all the items in a folder we click the edit menu and press <br><b>Ans... </b> Ctrl + A
</p><p>
33. Basic file and folder operations in Windows 7 are <br><b>Ans... </b> Selecting, Creating, Naming, Opening
</p>


                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory102 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory102.length; i++) {
                        
                        if(thisStudent.assignmentTheory102[i].chapterName == 'Chapter-10') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory102[i].mcq1 == 'All primary file name') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory102[i].mcq2 == 'Virtual Memory') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory102[i].mcq3 == 'First In First Out') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory102[i].mcq4 == 'Main Memory') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory102[i].mcq5 == 'internal and external') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory102[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete102/<%= studentId %>/<%= thisStudent.assignmentTheory102[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
        
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
   <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment102" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-102 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-10" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="5" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1.  The wildcard in <b>*.exe </b>represents ________ of executable file.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="All primary file name" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  All primary file name
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value=" Only special character" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                   Only special character
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="One-character primary filename only" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  One-character primary filename only
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. An illusion of extremely large main memory is called ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Cache memory" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Cache memory
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Virtual Memory" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Virtual Memory
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="ROM" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                  ROM
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. Full form of FIFO is ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="File Out File In" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  File Out File In
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="File In File Out" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  File In File Out
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="First Out First In" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  First Out First In
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="First In First Out" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  First In First Out
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. After the computer is switch ON the OS is loaded into Computer's ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Secondary Memory" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Secondary Memory
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Main Memory" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  Main Memory
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Hard Disk" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Hard Disk
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5.  DOS commands are of two types; ________ command.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="internal and external" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  internal and external
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="inclusive and exclusive" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  inclusive and exclusive
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="volatile and non-volatile" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  volatile and non-volatile
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="good command and bad command" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  good command and bad command
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div> 
    
    

  </body>
  
  
</html>
