<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      <%- include('layouts/studentMenu') -%>
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4">
            
            <a href="stdDashboard" class="small"> <i class="far fa-hand-point-left text-primary small"></i> Dashboard</a>
          
          <div class="mx-auto">
          
        <div class="mt-0 text-justify">
          
            <h4 class="text-dark text-center fw-normal mt-1"> <%= chapterTitle  %></h4>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-danger"> Chapter-11</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca106welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter13"> Chapter-13</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter14"> Chapter-14</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-11 ah hian <code> PAGEMAKER STYLE SHEETS </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                  11. PAGEMAKER STYLE SHEETS: (2 - Marks)
Introduction, Defining Styles, Creating New Styles, Editing Styles, Removing Styles, Copying
Styles, Applying Styles to Text, Changing Styles, Modifying Styles Text.  

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                             No Video available yet DCA-106 Chapter-11
                      

                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>11.	PageMaker Styles </em></p>

PageMaker Styles
A style is simply a definition of the type, paragraph, tab, and hyphenation settings for a specific type of text in your document.


 
Styles are helpful for documents that have several formatting changes (e.g., titles, section headings, text, lists) and for projects that more than one person is working on. Styles can make documents more consistent and they will save you time (especially if you decide to make global changes to your document).

You are already familiar with much of the work that goes into creating styles because you know how to define your type specifications. There are two basic steps to working with styles:

Define the style
Apply the style
As with most programs, planning ahead and thinking about your document can save you a lot of time when creating and modifying your styles. This document contains the following sections:

Creating a Style
Applying a Style
Editing a Style
return to topCreating a Style
You have several options while creating a style. For example, you can define a new style based on an already existing one and/or work ahead by choosing a style for the paragraph following the newly created one.

From the Type menu, select Define Styles…
The Define Styles dialog box appears.
define styles listing


Click NEW…
The Style Options dialog box appears.
style options dialog box

In the Name box, type a name for your new style

OPTIONAL: To define a new style based on an already existing one, from the Based on pull-down listing, select the desired existing style
If you like everything about a style except the tab stops, you can change the tabs and give the style a new name – everything else will remain the same.

OPTIONAL: To select a style for the paragraph following the newly created paragraph style, from the Next style pull-down listing, make the desired selection

Define the style by making the appropriate changes through the following buttons:
CHAR…
Used to define the type specifications including font, type size, leading and enhancements (e.g., boldfacing).
PARA…
Used to define the paragraph specifications including paragraph margins, space between paragraphs, widow/orphan control and page/column break control.  
TABS
Used to define the tab settings.  
HYPH…
Used to turn hyphenation on and off and for controlling the hyphenation process.  

To close the Style Options dialog box, click OK

To close the Define Style dialog box, click OK





                      </p>
             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      
                      <!--Assignment form started-->
                      
            <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-102 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-1" aria-hidden="true">

                 
                 <h6 class="text-center lead">A hnuaia zawhnate hi chhang rawh.</h6>

            
                  <p class="fw-bold mt-3">
                    
                    Q1. The set of instructions given to a computer to perform a task is called a __________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Program" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Program
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Instruction" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Instruction
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Processor" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Processor
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Scheduling" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Scheduling
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q2. ________ is a UNIX like operating system. It is free and open source program originally developed by Linus Torvalds in 1991 for personal computers.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Linux" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Linux
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Boss" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Boss
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Android" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                  Android
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Unix" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                  UNIX
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q3. Which of the following is function of operating system?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Process Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Process Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Device Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Device Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Security Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Security Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="All of these" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  All of these
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q4. The most important program for the computer is ________?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Microsoft Windows" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Microsoft Windows
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="CPU" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  CPU
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Operating System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Operating System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Application Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  Application Software
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                   Q5. File management, which includes organizing, naming, protecting, accessing and using files, is one of the key functions of an _________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Application Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Application Software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="System Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  System Software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Operating System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Operating System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            

            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
