<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body>
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

     <main>
      
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-2 pb-4 mt-2">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-3 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-103) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-0"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Ch-16 (excel)</button>
                            
                              <!--include word excel powerpoint menu-->
                              
                              <%- include('layouts/officeAutomationSoftwareMenu') -%>
                              
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter 16-ah hian <code>WORKING WITH GRAPHS AND CHARTS</code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                         
                    Working with Graphs and Charts (Creating charts using ChartWizard, Sizing and moving
charts, Updating charts, changing the chart type, previewing and printing charts) (3 MARKS)
                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                <% 
                        
                        var paidStudent = [];
                        
                        if(studentFee.length != undefined) {
                        
                        for(var i = 0; i < studentFee.length; i++) {
                        
                        if(studentFee[i].feeAmount >= 1000) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(studentExamFee.length != undefined) {
                        
                        for(var i = 0; i < studentExamFee.length; i++) {
                        
                        if(studentExamFee[i].feeAmount == 1510) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(studentOtherFee.length != undefined) {
                        
                        for(var i = 0; i < studentOtherFee.length; i++) {
                        
                        if(studentOtherFee[i].feeAmount >= 499) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(paidStudent.includes('paid')) {
                        %> 
                
                
                <div class="accordion-item"> <!--khuhhawnna section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-bookmark pe-2 text-muted"></i> Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                         <p>Excel-a chart siam hi Microsoft word hmanga chart siam aimahin a awlsam zawk a. Excel-ah chuan data series a bul maiah a type theih a. Microsoft word-ah erawh chuan data series kha excel atanga lak a nih kha kan la hre reng em aw?
                         Excel-a chart siam tur chuan Insert tab > Charts group ah luh tur a ni.</p>
                         
                         <p>Kan sawi tak ang khian Chart hi data series bulah kan siam thei a. Tin, data series leh a chart chu
                         sheet hranah kan dah thei a; sheet dang danga data awmsa select kualin chart thar kan siam chawp thei bawk. Kan chart siamsa
                         chu sheet dangah kan move thei bawk a ni. </p>
                         
                         <p>A lema kan hmuh ang hian Thanga te, Liana te, Zuala te leh Rina te'n mobile version hrang hrang an hralhna atanga an hlep chhuah zat chart
                         hmangin kan lantir a. An hralhna atanga an hlep inziahna Data series hi sheet 2 leh sheet 3 atanga lakkhawm a ni a. Sheet 1 ah hian
                         a chart chauh hi kan dah a ni. A chart-a a landan hi chuan Zuala hi chuan version 1 a hralh chhe viau a, version 3 erawh chu a hralh thei hle tih a lang a.
                         Thanga leh Liana hi chuan hralh chhiat em em an nei lem lo tih a lang a ni.</p>
                         
                         
                         <figure class="figure">
  
                         <img src="/img/excelChartSeparateSheet.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="540" alt="excelChart" />
                                    
                          <figcaption class="figure-caption ps-2 text-danger"> Excel Chart </figcaption>
                                    
                          </figure> 
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
<p><em> WORKING WITH GRAPHS AND CHARTS (3 MARKS): </em></p>

<p>
1.	<code>Chart sheet </code>is a separate worksheet created for the chart.
</p><p>

2.	<code>Data series</code> refers to the row or column of data for a chart.
</p><p>

3.	<code>Embedded chart</code> is a chart included in the same worksheet as data.
</p><p>

4.	<code>Multiple data series</code> is a data series with several rows or columns.
</p><p>

5.	<code>Bar chart</code> is a chart with bars whose lengths are proportional to data values.
</p><p>

6.	<code>Charts</code> can be embedded on the data sheet itself or produced in a separate chart sheet.
</p><p>

7.	<code>Pie charts</code> are limited to one data series. Column charts can show all the selected data.
</p><p>

8.	Location and size of a chart can be adjusted by dragging and resizing.
</p><p>

9.	If the underlying data changes, Excel automatically redraws the chart to reflect the change.
</p><p>

10.	You can change the chart type to any, like line, scatter, area, and so on.
</p><p>

11.	Chart is a group under Insert Tab.
</p><p>

12.	Change Chart Type is a button under Design Tab.
</p><p>

13.	Print Preview is used to preview the chart before printing it.
</p>
<hr>
<p>
  <b>OLD QUESTION:</b>
</p><p>
1. A ________ is a visual representation of numeric data <br><b>Ans... </b> Chart
</p><p>
2. Name this sign <img src="/img/pieChart.jpg"> <br><b>Ans... </b> Pie Chart
</p><p>
3. MS Excel chart sheet is also use in <br><b>Ans... </b> Ms word and Ms powerpoint
</p><p>
4. Name this sign <img src="/img/columnChart.jpg"> <br><b>Ans... </b> Column Chart
</p><p>
5. Name this sign <img src="/img/increaseAndDecreaseDecimal.jpg"> <br><b>Ans... </b> Increase and Decrease Decimal
</p><p>
6. Pie chart is one of many pictorial representation of <br><b>Ans... </b> numeric data
</p><p>
7. You can change a chart type to any other type and embed that into your workbook <br><b>Ans... </b> True
</p><p>
8. Circular representation of graph in MS Office is called <br><b>Ans... </b> Pie Chart
</p><p>
9. ________ are limited to one data series <br><b>Ans... </b> Pie Chart
</p><p>
10. Identify this column chart <img src="/img/stackedChart.jpg"> <br><b>Ans... </b> Stacked
</p><p>
11. When the selection is one with multiple rows/columns it is called <br><b>Ans... </b> Data series
</p><p>
12. Multiple drawing objects are ________ to form one object <br><b>Ans... </b> Group
</p><p>
13. Underlined letter in the menu bar is activated by ________ key <br><b>Ans... </b> Alt or F10
</p>

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory103 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                        
                        if(thisStudent.assignmentTheory103[i].chapterName == 'Chapter-16') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory103[i].mcq1 == 'Data series') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory103[i].mcq2 == 'Pie') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                           //question 3
                          if(thisStudent.assignmentTheory103[i].mcq3 == 'True') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory103[i].mcq4 == 'Both of the above') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                         
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/4

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete103/<%= studentId %>/<%= thisStudent.assignmentTheory103[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
        
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
    
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="staticBackdropLabel">A hnuaia zawhnate hi chhang rawh</h5>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment103" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-103 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-16" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="4" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1. ________ refers to the row or column of data for a chart.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Embedded Chart" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Embedded Chart
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Data" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                 Data
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Data table" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Data table

                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Data series" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Data series
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. <img src="/img/pieChart.jpg"> represents ________ chart.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Pie" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Pie
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Column" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Column
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Bar" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Bar
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Line" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 Line
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>

                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. You can change a chart type to any other type and embed that into your workbook.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="True" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  True
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="False" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                 False
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Not sure" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Not sure
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. MS Excel chart sheet is also use in ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Ms Word" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Ms Word
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Ms Powerpoint" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  Ms Powerpoint
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Both of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Both of the above
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
<% } %>
  </body>
  
  
</html>
