<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      <%- include('layouts/studentMenu') -%>
      
      

        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4">
            
            <a href="stdDashboard" class="small"> <i class="far fa-hand-point-left text-primary small"></i> Dashboard</a>
          
          <div class="mx-auto">
          
        <div class="mt-0 text-justify">
          
            <h4 class="text-dark text-center fw-normal mt-1"> <%= chapterTitle  %></h4>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <a href="dca1semOnlineLessonChapter8"><button type="button" class="btn btn-sm btn-outline-danger"> Chapter-8 </button></a>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca101welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mt-3">Chapter-8 ah hian classification of computers kan zir dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
                        <em>
                          
                         8. CLASSIFICATION OF COMPUTERS: (4 - Marks)
Notebook Computers (Laptops), Personal Computers (PCs), Workstations, Mainframe Systems, 
Supercomputers, Client and Server Computers, Handheld Computers (Tablet PC, PDA/Pocket PC, Smartphone)
                          
             </em>  
                         
            
           
                      </p>
                      
             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus video end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
                      
                      
                      <div class="ratio ratio-16x9">
                        
                          <iframe src="https://www.youtube.com/embed/Lrh4GflAghk" title="dca101 chapter-8 video" allowfullscreen></iframe>

                          
                        </div>
                        
                        <small>DCA-101 Chapter-8</small>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                 <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                          
                          
                      
       <p><em>8) CLASSIFICATION OF COMPUTERS - (4 MARKS)</em></p>
       
       
<p><b>Notebook computer </b> – They are also known as laptop.
<b>Personal Computer </b> – A pc is a non-portable, general purpose computer that fits on a normal size
office table and is used by one person at a time.</p>

<p><b>Workstations </b> – A workstation is a powerful desktop computer designed to meet computing needs
of engineers, architects, and other professionals who need greater processing power, larger storage,
and better graphics display facility than what normal PCs provide. Unlike PCs that run any OS, all
workstations generally run UNIX operating system or its variant such AIX (IBM), Solaris (SUN) and HPUX (HP).</p>

<p><b>
Mainframe computers </b> – Several
organizations such as banks, insurance
companies, hospitals, railways, etc., need
on-line processing of large number of
transactions, and require computer
systems having massive data storage and
processing capabilities. Two major
vendors of mainframe systems are IBM
and DEC. </p>

<p><b>
Super computers </b> - Supercomputers
are used for intensive computation tasks
in various fields, including quantum
mechanics, weather forecasting, climate research, oil and gas exploration, and Film and TV Industries
etc. We measure speed of modern supercomputers in teraflops and petaflops. </p>

<p>
<b>Client and Server computers </b>- Servers are nothing but dedicated computers which are set-up to
offer some services to the clients. Eg., <i>File server </i>– It provides a central storage facility to store files of
several users on a network. <i>Database server</i> – It manages a centralized database, and enables several
users on a network to have a shared access to same database. <i>Print server </i> – It manages one or more
printers, and accepts and processes print requests from any user in a network. <i> Name server </i> – It
translates names into network addresses enabling different computers on a network to communicate
with each other.</p>

<p><b>Handheld Computers </b> – A handheld computer is a device whose size, weight, and design are such
that a user can use it comfortably by holding it in hand. It is also known as palmtop because it can be
kept on palm and operated. E.g., Tablet PC, PDA/Pocket PC, smartphone etc.</p>

 

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      
                      <!--Assignment form started-->
                      
                      
                      
          <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-101 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-8" aria-hidden="true">
              
                      
                      <h6 class="text-center">A hnuaia zawhnate hi chhang rawh.</h6>

            
                 <p class="fw-bold mt-3">
                    
                    Q1. Supercomputer are used in ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Office" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                 Office
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="USA" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  USA
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Film Industries" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Film Industries
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Hospital" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                 Hospital
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q2. Unlike PCs that run any OS, all _______ generally run UNIX operating system.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Workstation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Workstation
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Supercomputer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                 Supercomputer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Personal Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                Personal Computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Mac Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 Mac Computer
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q3. ________ are nothing but dedicated computers which are set-up to offer some services to the clients.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Server computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                 Server computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Compiler computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Client computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Print Server" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                 Print Server
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of these" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of these
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q4. Notebook computer is also called _______.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Palmtop Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Palmtop Computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Laptop Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  Laptop Computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Personal Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 Personal Computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Workstation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                 Workstation
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                   Q5. Insurance companies used ________ computer.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Mainframe Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                 Mainframe Computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Super Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Super Computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Workstation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                 Workstation
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="Personal Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  Personal Computer
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
                  
                  
                  
                      
                    </form>
                      

                    </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
              </div>
              
              <hr>
              
              
              <div class="d-flex justify-content-between">
              
                <a href="dca1semOnlineLessonChapter7"><code> <i class="fas fa-step-backward"></i> Prev </code></a>
              
                <a href="dca1semOnlineLessonChapter9"><code> Next <i class="fas fa-step-forward"></i></code></a>
                
            </div>
              
              
              
              </div>
              
              
              
              </div>
              
            
    
            
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
