<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-106) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-6</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca106welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter13"> Chapter-13</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter14"> Chapter-14</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-6 ah hian <code>  TRANSFORMATIONS  </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                  6. TRANSFORMATIONS: (3 - Marks)
Introduction, Using the Control Palette, Control Palette Basics, Modifying Objects by Adjusting
Values, Using the Reference-Point Proxy, Setting Measurement and Nudge Preferences, Moving
Objects, Rotating an Object, Reflecting an Object, Skewing an Object, Removing Transformation,
Aligning and Distributing Objects, Grouping and Ungrouping, Rules for Grouping Objects,
Changing the Staking Order of Objects, Locking Objects. 

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-bookmark pe-2 text-muted"></i> Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                             <p>Control Palette hi transformation tool pawimawh ber a ni a. Toolbox-a i awmna a zirin control palette hi a landan a lo
                             danglam thin. Text tool i click chuan i text leh paragraph tihdanglamna a lo chhuak ang a. Pointer tool i click chuan object (thlalak/drawing/text block)
                             tih danglamna tur a lo chhuak ang.</p>
                             
                             <p>Object hi a khawmin a dah theih a. Chu chu grouping an ti a. Group tur chuan object pakhat aia tam neih phawt a ngai a, tin,
                             kan select vek a ngai bawk a. Select laiin SHIFT key hmeh tel zel tur a ni a. Kan select vek hnuah Element menu > Group click tur a ni. 
                             (CTRL + G hmeh theih a ni bawk). Group khatah an awm chuan kan move emaw kan copy emaw a nih pawhin vawi khatah a kal rual vek thin a ni. Object te hi
                             lock position-ah a dah theih a, kan lock a nih chuan a awmna ngaiah khawih chet theih lovin a awm thin a ni. Lock tur chuan Element menu > Lock Position
                             click tur a ni. He element menu ah tho hian ungroup na leh unlock-na awm bawk a ni.</p>
                             
                             <figure class="figure">
  
                              <img src="/img/controlPalette.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="auto" alt="controlPalette" />
                                        
                              <figcaption class="figure-caption ps-2 text-danger"> Control Palette in defferent mode </figcaption>
                                      
                              </figure> 
                             
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em> 6. TRANSFORMATIONS </em></p>

<p><b>The PageMaker Control Palette</b><br>
The PageMaker Control Palette displays the settings and properties of selected text, object or paragraph. <br>
<code>To display the Control Palette :</code> Click on the Window menu and then select Show Control Palette from the drop-down box.<br>
<code>To stop displaying the control palette :</code> Click on the Window menu and then select Hide Control Palette from the drop-down box.
</p><p>
<b>Character and Paragragh Modes</b><br>
You can use the Control Palette to format text when you are in layout view or in the story editor. You can switch between two modes as desired to format your text:
<code>1) Character Mode 2)	Paragraph Mode </code><br>
<code>Control Palette In Character Mode :</code> Use this mode to change character attributes including fonts, type size, type style, leading, Kerning, tracking and width of your text.<br>
<code>Control Palette In Paragraph Mode :</code> Use this mode to display and change the attributes of one or more selected paragraphs. You can adjust attributes such as displays paragraph styles, indentation, alignment, paragraph spacing and alignment as well as grid alignment and grid spacing.
</p><p>
<b>Three Other Modes of the Control Palette</b><br>
<code>The Pointer Mode :</code> The Pointer View indicates the X and Y coordinates of your pointer as you move it within the PageMaker window.<br>
<code>Placed Object Mode :</code> When you select an image using your Pointer tool, the Placed Object View 
will display information on that graphic, such as its height, width and coordinates. 
It also gives you the options to crop, scale and rotate the image <br>
<code>In-Line Graphic Mode :</code> The In-Line Graphic View displays information about a selected image relative to the text that is around it. It also enables you to crop the image, as well as increase or decrease the spacing between the image and the text that surrounds it.
</p><p>
<b>To group the object</b><br>
1. To group the object, the first thing you need to do is to press the <code>Shift + mouse click </code>to select the object.<br>
2. Later, open the Element menu and then click the Group command.<br>
3. Now, you could see that the objects are being group.
</p><p>
<b>
Changing the Stacking Order of Objects:</b><br>
Whenever you draw an object that overlaps another object, the last one drawn is placed on top. 
This stacking effect can cause some objects to seemingly disappear. 
To stacking order of the object can be changed. 
To do this, select it and choose one of the Bring or Send options on the Element > Arrange Menu.
</p>
<figure class="figure">
<img src="/img/arrangeObject.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="auto" alt="arrangeObject" />
<figcaption class="figure-caption ps-2 text-danger"> Stacking Order of Object </figcaption>
</figure> 
 </p> 
 <hr><p>
 <b>OLD QUESTION:</b>
  </p><p>
   1. Use the
toggling buttons to choose the Type style, Case, Position, Type Size,
Leading, Expert Tracking, Horizontal Scale, Kerning, and Baseline Shift <br><b>Ans... </b> Control palette
   </p><p>
   2. To show control palette, press <br><b>Ans... </b>  Shift+tab
  </p><p>
    3. To show ________ is window > show control palette <br><b>Ans... </b> Control palette
   </p><p>
   4. There are ________ types of view in Control palette <br><b>Ans... </b> 2
   </p><p>
   5. Skewing and reflecting are available only on the <br><b>Ans... </b> Control palette
   </p><p>
     6. Case button is in <br><b>Ans... </b> Control palette
   </p><p>
     7. Preference command <br><b>Ans... </b> is mainly used to change the measurement unit.
   </p><p>
     8. In PageMaker the default measurement is <br><b>Ans... </b> Inches
   </p><p>
     9. Rearranging the order of the document page, like page 3 can become
page 7 etc is done in <br><b>Ans... </b> Sorting pages
   </p><p>
     10. ________ is combining several object as one object <br><b>Ans... </b> Grouping
   </p><p>
     11. Given a standard tri-fold brochure with ¾" margins (top, bottom, left and right), what size gutters in inches are needed in following layout rules? <br><b>Ans... </b> 1½
   </p><p>
     12. Subscript character ________ the base line <br><b>Ans... </b> Drop below
   </p><p>
     13. The font type like Normal, bold, italic, underline etc are called ________ <br><b>Ans... </b> Type style
   </p><p>
     14. In a document setup if you type 10 in a start page option the numbering
of document will start from <br><b>Ans... </b> 10
   </p>




             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory106 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                        
                        if(thisStudent.assignmentTheory106[i].chapterName == 'Chapter-6') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory106[i].mcq1 == 'Shift + tab') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory106[i].mcq2 == 'Control palette') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory106[i].mcq3 == 'Sorting pages') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory106[i].mcq4 == 'Grouping') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory106[i].mcq5 == 'Control palette') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete106/<%= studentId %>/<%= thisStudent.assignmentTheory106[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
         
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
 <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment106" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-106 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-6" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="5" aria-hidden="true">
            
                  <p class="fs-5 fw-light">

                  
                    Q1. To show control palette, press _________
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Shift + tab" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Shift + tab
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Alt + tab" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Alt + tab
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Shift + Alt" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Shift + Alt
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Ctrl + tab" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Ctrl + tab
                                  
                                </label>
                                
                              </div>
                            
                          </div>     
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2.  Skewing and reflecting are available only on the ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Layers palette" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Layers palette
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Control palette" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Control palette
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Master palette" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Master palette
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. Rearranging the order of the document page, like page 3 can become page 7 etc is done in _________.

                   </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Sorting pages" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Sorting pages
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Arranging pages" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Arranging pages
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Adjustment pages" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Adjustment pages
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4.  ________ is combining several object as one object.

                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Joining" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Joining

                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Merging" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                 Merging
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Combining" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 Combining
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Grouping" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                 Grouping
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. Case button is in ________.
       
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Layers palette" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Layers palette
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Design palette" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Design palette
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Color palette" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Color palette
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="Control palette" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  Control palette
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    

  </body>
  
  
</html>
