<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
 
      <!--a lane chung lam-->

    
        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small"> <i class="fas fa-home"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : </p>
            
            <h4 class="text-dark text-center fw-normal mt-1"> <%= chapterTitle  %></h4>
            
            <p class="text-muted fw-light text-center mt-0"> (DCA-101) </p>
            
          
            
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <a href="dca1semOnlineLessonChapter1"><button type="button" class="btn btn-sm btn-outline-danger"> Chapter-1</button></a>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca101welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">He chapter-ah hian <code> INTRODUCTION </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       1. INTRODUCTION: (5 - Marks)
                        
                  
                            What is a Computer (Analog Computers, Digital Computers), Characteristics of Computers, The
                            
                            Evolution of Computers, Computer Generations [First Generation (1942-1955), Second Generation
                            
                            (1955-1964), Third Generation (1964-1975), Fourth Generation (1975-1989), Fifth Generation
                            
                            (1989-Present)]. 
                            
                  
                  
                        </em> 
            
           
                      </p>
                      
             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
                      
                      
                      <div class="ratio ratio-16x9">
                        
                          <iframe src="https://www.youtube.com/embed/uFPkWONKHYU" title="dca101 chapter-1 video" allowfullscreen></iframe>

                          
                        </div>
                        
                        <small>DCA-101 Chapter-1</small>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

                        <p> <em>1. INTRODUCTION - (5 MARKS) </em> </p>
                        <p>
                        <code>Computer</code> - Computer is a device that transforms data into meaningful information. Data can be
                        anything like marks obtained by you in various subjects. It can also be name, age, sex, weight, height,
                        etc. of all the students in a class.
                        </p>
                        <p>
                        <code>Analog Computers</code> - Analogue computers are used in some specific applications, like the flight
                        computer in aircraft, ships, submarines, refrigerator, and speedometer of your bike, etc.
                        
                        </p>
                        
                        <p>
                        <code>Digital Computers </code> – Digital computers use the binary number system, which has two digits i.e., 0
                        and 1. A binary digit is called a bit. Here the information is represented in the groups of bits. Some of
                        the best examples of digital computers are your laptop, calculators, smart phones, etc.
                        
                        </p>
                        <p>
                        <code>Characteristics of Computers</code> -
                        
                        <ul>
                          
                        <li><i>Speed </i>- In general, no human being can compete to solving the complex computation, faster than computer.</li>
                        <li><i>Accuracy</i> - Since Computer is programmed, so whatever
                        input we give it gives result with accurately.</li>
                        <li><i>Storage</i> - Computer can store mass storage of data
                        with appropriate format.</li>
                        <li><i>Diligence</i>
                         - Computer can work for hours without any
                        break and creating error.</li>
                        <li><i>Versatility</i>
                         - We can use computer to perform
                        completely different type of work at the same time.</li>
                        <li><i>Power of remembering</i> - It can remember data for
                        us.</li>
                        <li><i>No IQ</i> - Computer does not work without instruction.</li>
                        <li><i>No feeling</i> - Computer does not have emotions, knowledge, experience, feeling. </li>
                        
                        </ul>
                        </p>
                        
                        <p>
                        
                        <code>The evolution of Computers </code> - Charles Babbage is considered the father of modern digital
                        programmable computer. He has invented first analytical computer in the year 1822.
                        
                        </p>
                        
                        <p><code>Computer Generations</code> -</p>
                        
                        
                        <ol>
                          
                          <li><i>First Generation</i>  – Vacuum Tubes
                        (1942 – 1955)</li>
                          <li><i>Second Generation</i>  – Transistors
                        (1955 – 1964)</li>
                          <li><i>Third Generation</i>  – Integrated
                        Circuits (1964 – 1975)</li>
                          <li><i>Fourth Generation</i>  - microprocessor
                        (1975 – 1989)</li>
                          <li><i>Fifth Generation</i>  (1989-present)</li>
                          
                          
                        </ol>


                      
             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      
                      <!--Assignment form started-->
                      
            <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-101 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-1" aria-hidden="true">

                 
                 <h6 class="text-center lead">A hnuaia zawhnate hi chhang rawh.</h6>

            
                  <p class="fw-bold mt-3">
                    
                    Q1. Who is the father of Computer?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Charles Barbar" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Charles Barbar
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Charles Babbage" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Charles Babbage
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Steve Job" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Steve Job
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Ada Lovelace" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Ada Lovelace
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q2. Which one is not characteristic of Computer?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Accuracy" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Accuracy
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Power of Remembering" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Power of Remembering
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="High IQ" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                  High IQ
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Versatility" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                  Versatility
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q3. Digital Computer use the binary number system which is _________ ?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="0 or 1" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  0 or 1
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="1 or 2" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  1 or 2
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="2 or 3" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  2 or 3
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of these" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of these
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q4. ________ is a device that transforms data into a meaningful information?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Analog" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Analog
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Digital" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  Digital
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Speedometer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Speedometer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  Computer
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                   Q5. Generation of computer for the year 2021 is ________?
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="2nd Generation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  2nd Generation
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="3rd Generation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  3rd Generation
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="4th Generation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  4th Generation
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="5th Generation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  5th Generation
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            
 
            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
