<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
     <%- include('layouts/studentMenu') -%>
      
      

        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4">
            
            <a href="stdDashboard" class="small"> <i class="far fa-hand-point-left text-primary small"></i> Dashboard</a>
          
          <div class="mx-auto">
          
        <div class="mt-0 text-justify">
          
            <h4 class="text-dark text-center fw-normal mt-1"> <%= chapterTitle  %></h4>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <a href="dca1semOnlineLessonChapter2"><button type="button" class="btn btn-sm btn-outline-danger"> Chapter-2</button></a>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca101welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mt-3">Chapter-2 ah hian Basic Computer Organization kan zir dawn a. Computer chhungah unit engzat nge awm tih leh data leh instruction kal kual dan kan zir dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
                         <em>2. BASIC COMPUTER ORGANIZATION: (5 - Marks)
                          
                          Input Unit, Output Unit, Storage Unit, Arithmetic Logic Unit, Control Unit, Central Processing Unit, The System Concept. 
            
                        </em> 
                        
                      </p>
                      
             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus video end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
                      
                      
                      <div class="ratio ratio-16x9">
                        
                          <iframe src="https://www.youtube.com/embed/REuhCeKNADI" title="dca101 chapter-2 video" allowfullscreen></iframe>

                          
                        </div>
                        
                        <small>DCA-101 Chapter-2</small>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                 <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                        <em><p>2) BASIC COMPUTER ORGANIZATION - (5 MARKS)</p></em>
                        <p><b>Computer</b> has five functional independent units
                        like <code> Input Unit, Memory Unit,
                        Arithmetic & Logic Unit,
                        Output Unit, and Control
                        Unit.</code></p>


<figure class="figure float-end">
  
<img src="/img/bco.jpg" class="float-end img-fluid ps-2 pb-2" width="600" height="400" alt="basic computer organization" />

<figcaption class="figure-caption ps-2 text-danger"> A lem hi chhinchhiah tur a ni e.</figcaption>

</figure>





<p><b>Input Unit </b> - The data
entry station or devices are
termed as input units. Example - keyboard, mouse,
scanner, joystick, joypad,
graphics table, MICR etc.</p>

<p><b>Control Unit (CU) </b> - It tells
the computer's memory, arithmetic and logic unit and input and output devices how to respond to the instructions that have
been sent to the processor.</p>


<p><b>Arithmetic Logic Unit (ALU)</b> - is a major component of the central processing unit of a computer
system. The major operations performed by the ALU are addition, subtraction, multiplication, division,
logic and comparison.</p>

<p><b>Memory Unit</b> - A bit is a binary digit, the smallest increment of data on a computer. A bit can hold
only one of two values - 0 or 1, corresponding to the electrical values of off or on, respectively. Bits are 
usually assembled into a group of eight to form a byte. A byte contains enough information to store a
single ASCII character, like "h". </p>
<p><b>Computer storage and memory measurement unit</b></p>
<p>1 bit  = 0 or 1</p>
<p>8 bits  = 1 bytes</p>
<p>1024 byte =  1 KB</p>
<p>1024 KBs  = 1 MB</p>
<p>1024 MBs  = 1 GB</p>
<p>1024 GBs  = 1 TB1</p>
 <p><small>Note: KB = Kilobyte, MB = Megabyte, GB = Gigabyte, TB = Terrabyte</small></p>
 
<p><b>Output Unit</b> - The output unit would be composed of the devices that provide information back to
the computer users. Examples are the Computer monitor and the computer printer. 
                      </p>
 
 

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      
                      <!--Assignment form started-->
                      
          <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-101 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-2" aria-hidden="true">
                      
                      <h6 class="text-center">A hnuaia zawhnate hi chhang rawh.</h6>

            
                 <p class="fw-bold mt-3">
                    
                    Q1. CPU is made up of ________?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Primary and Secondary Storage Unit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Primary and Secondary Storage Unit
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Input and Output Unit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Input and Output Unit
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Control Unit and Arithmetic Logic Unit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Control Unit and Arithmetic Logic Unit
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="None of these" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                 None of these
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q2. ALU and CU are part of _____?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Central Processing Unit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Central Processing Unit
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Storage Unit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Storage Unit
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Input Unit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Input Unit
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Output Unit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                  Output Unit
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q3. In the above BCO figure, right arrow symbol ( <i class="fas fa-arrow-right text-muted"></i>) indicates ________
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Flows of instruction and data" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                 Flows of instruction and data
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Control exercised by control unit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Control exercised by control unit
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Program circulation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Program circulation
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of these" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of these
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q4. Computer has ________ functional independent units.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="2" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  2
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="3" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  3
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="4" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 4
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="5" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  5
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                   Q5. 1MB is equal to ________ kb.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="1" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  1
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="8" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  8
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="1000" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  1000
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="1024" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  1024
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
                  
                  
                  
                      
                    </form>


                    </div><!-- end of 4th collapse assignment-->
                    
                    
                    
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
              </div>
              
              <hr>
              
              
              <div class="d-flex justify-content-between">
              
                <a href="dca1semOnlineLessonChapter1"><code> <i class="fas fa-step-backward"></i> Prev </code></a>
              
                <a href="dca1semOnlineLessonChapter3"><code> Next <i class="fas fa-step-forward"></i></code></a>
                
            </div>
              
              
              
              </div>
              
              
              
              </div>
              
            
    
            
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
