<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      <%- include('layouts/studentMenu') -%>
      

        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pt-2 pb-4">
            
            <a href="stdDashboard" class="small"> <i class="far fa-hand-point-left text-primary small"></i> Dashboard</a>
          
          <div class="mx-auto">
          
        <div class="mt-0 text-justify">
          
            <h4 class="text-dark text-center fw-normal mt-1"> <%= chapterTitle  %></h4>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <a href="dca1semOnlineLessonChapter2"><button type="button" class="btn btn-sm btn-outline-danger"> Chapter-3</button></a>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mt-3">Chapter-3 ah hian Computer Processor leh Memory kan zir dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion accordion-flush" id="accordionFlushExample">
              
              
                <div class="accordion-item">  <!--syllabus video start-->
                  
                  <h2 class="accordion-header" id="flush-headingOne">
                    
                    <button class="accordion-button collapsed fs-5 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      
                      Syllabus
                    
                    </button>
                  
                  </h2>
                  
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    
                    <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
                         <em>
              3. PROCESSOR AND MEMORY: (5 - Marks) 
              Central Processing Unit (Control Unit, Arithmetic Logic Unit, Instruction Set, Registers, Processor Speed, Types of Processors), Main Memory (Storage Evaluation Criteria, Main Memory Organization, Main Memory Capacity, Types of Memory Chips, Cache Memory). 
                         
            </em>
           
                      </p>
                      
             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus video end-->
                
                
                
                
                <div class="accordion-item">
                  
                  <h2 class="accordion-header" id="flush-headingTwo">
                    
                    <button class="accordion-button collapsed fs-5 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      
                      Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                   
                    <div class="accordion-body">
                      
                      
                      <div class="ratio ratio-16x9">
                        
                          <iframe src="https://www.youtube.com/embed/WM9NEWWthDA" title="dca101 chapter-3 video" allowfullscreen></iframe>

                          
                        </div>
                        
                        <small>DCA-101 Chapter-3</small>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--definition-->
                
                
                
                <div class="accordion-item">  <!--textbook start-->
                  
                  <h2 class="accordion-header" id="flush-headingThree">
                    
                    <button class="accordion-button collapsed fs-5 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      
                      Text
                    
                    </button>
                  
                  </h2>
                  
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    
                    <div class="accordion-body">
                      
                      
                        <em><p>3) PROCESSOR AND MEMORY - (5 MARKS)</p></em>


<p><b>A central processing unit (CPU)</b> is the brain of a computer system and also called a central
processor or main processor. </code></p>


<p><b>Parts of CPU </b>-</p>


<p><b>Arithmetic Logic Unit (ALU)</b> - It is the part of computer processor (CPU) can be used to perform
arithmetic and logic operations. </p>


<blockquote>An arithmetic-logic unit (ALU) is further divided into two parts,
(AU) arithmetic unit and a logic unit (LU).</blockquote>


<p><b>Control Unit (CU)</b> - is a component of a computer's CPU that directs the operation of the
processor. It tells the computer's memory, arithmetic and logic unit and input and output devices
how to respond to the instructions that have been sent to the processor.</p>

<p><b>Registers </b> - When the CPU runs a computer program, it needs somewhere to store the data that
the instructions operate on (the data that they read and write). This storage is called a register. A CPU usually
has many registers. The register is the fastest memory. They are part of the CPU chip itself. </p>


<p><b>Instruction Sets </b> - The CPU is an electronic machine that works on a list of computer things to do,
called instructions. It reads the list of instructions and runs (executes) each one in order. A list of
instructions that a CPU can run is a computer program. The instruction set provides commands
to the processor, to tell it what it needs to do.</p>
<p>Processor speed is the number of cycles per second at which the central processing unit of a
computer operates and is able to process information. Processor speed is measured in hertz (Hz).
A modern processor often run so fast that
gigahertz (GHz) is used instead. One GHz is one
billion cycles per second. </p>

<p><b>Type of Processor</b> -
There are two primary manufacturers of computer microprocessors. Intel and Advanced Micro
Devices (AMD) lead the market in terms of speed and quality. Intel's desktop CPUs include Celeron,
Pentium and Core.
AMD's desktop processors include Sempron, Athlon and Phenom. Intel makes Celeron M, Pentium
M and Core mobile processors for notebooks.</p>


<p><b>Main Memory </b> - The main memory in a computer is called Random Access Memory. It is also known
as RAM. RAM is a volatile memory and loses all its data when the power is switched off. Main memory
is available in two types - Dynamic Random Access Memory (DRAM) and Static Random Access
Memory (SRAM). </p>

<p>
<b>Storage Evaluation Criteria </b> - Storage systems are the devices—such as hard disks, optical disks and
magnetic disks—used for data storage. Any storage unit of computer system is characterized by
storage capacity, access time, cost per bit of storage, volatile and random access. </p>

<p>
<b>Main Memory Organization</b> -
Main memory of a computer
system consists of several small
storage areas called location or
cells. Each of these locations can
store a fixed number of bits called
word length of the memory. Each
word or location has a built-in and
unique number assigned to it. This
number is called address of the
location. Each location can hold
either a data item or an instruction.
The first address normally stars at
0.
Main Memory Capacity - The memory capacity of a device is commonly expressed in bytes,
kilobytes, megabytes, gigabytes or terabytes. The memory capacity of a device depends on many
factors such as the number of available address registers in the CPU. In the case of 32-bit CPUs, they
can only address a memory capacity of up to 4 GB. As for a 64-bit computer, the memory capacity is
unlimited.</p>

<p><b>Types of Memory Chips </b> -
 RAM chips are of two types –
dynamic and static. The main
memory of most computers uses
dynamic RAM.
ROM - A special type of RAM,
called read-only memory (ROM), is a
non-volatile memory chip in which
data is stored permanently. We can only read and use data stored in a ROM chip. We cannot
stores, permanent stores, or dead stores. </p>

<p><b>Cache Memory</b> - Cache Memory is a special very high-speed memory. Cache memory is an
extremely fast memory type that acts as a buffer between RAM and the CPU.</p>


<p><b>HIT/MISS:</b> When the CPU refers to memory and finds the word in cache, it is said to pro
Otherwise, it is a miss. The performance of cache memory is frequently measured in terms of a quantity
called hit ratio. Hit ratio = hit / (hit+miss)</p>
 

             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus video end-->
                
                
                
  
                <!--end of definition-->
                
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="flush-headingFour">
                   
                    <button class="accordion-button collapsed fs-5 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    
                      Assignment
                   
                    </button>
                 
                  </h2>
                
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
               
                    <div class="accordion-body">
                      
                      <h6 class="text-center">A hnuaia zawhnate hi chhang rawh.</h6>

            
                  <p class="font-weight-normal mt-3">
                    Q1. What is the full form of RAM?
                  </p>
                  <p class="font-weight-normal mt-3">
                    Ans=> ...
                  </p>
                  <p class="font-weight-normal mt-3">
                    Q2. What is the full form of ALU?.
                  </p>
                  <p class="font-weight-normal mt-3">
                    Ans=> ...
                  </p>
                  <p class="font-weight-normal mt-3">
                    Q3. Main memory have several storage area called ______?
                  </p>
                  <p class="font-weight-normal mt-3">
                    Ans=> ...
                  </p>
                  <p class="font-weight-normal mt-3">
                    Q4. ______ is a volatile memory and loses all its data when the power is switched off.
                  </p>
                  <p class="font-weight-normal mt-3">
                    Ans=> ...
                  </p>
                   Q5. What is the full form of ROM?
                  </p>
                  <p class="font-weight-normal mt-3">
                    Ans=> ...
                  </p>
                      

                    </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
              </div>
              
              <hr>
              
              
              <div class="d-flex justify-content-between">
              
                <a href="dca1semOnlineLessonChapter2"><code> <i class="fas fa-step-backward"></i> Prev </code></a>
              
                <a href="dca1semOnlineLessonChapter4"><code> Next <i class="fas fa-step-forward"></i></code></a>
                
            </div>
              
              
              
              </div>
              
              
              
              </div>
              
            
    
            
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
