<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
     <%- include('layouts/studentMenu') -%>
      
      

        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pt-2 pb-4">
            
            <a href="stdDashboard" class="small"> <i class="far fa-hand-point-left text-primary small"></i> Dashboard</a>
          
          <div class="mx-auto">
          
        <div class="mt-0 text-justify">
          
            <h4 class="text-dark text-center fw-normal mt-1"> <%= chapterTitle  %></h4>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <a href="dca1semOnlineLessonChapter2"><button type="button" class="btn btn-sm btn-outline-danger"> Chapter-2</button></a>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mt-3">Chapter-2 ah hian Basic Computer Organization kan zir dawn a. Computer chhungah unit engzat nge awm tih leh data leh instruction kal kual dan kan zir dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion accordion-flush" id="accordionFlushExample">
              
              
                <div class="accordion-item">  <!--syllabus video start-->
                  
                  <h2 class="accordion-header" id="flush-headingOne">
                    
                    <button class="accordion-button collapsed fs-5 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      
                      Syllabus
                    
                    </button>
                  
                  </h2>
                  
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    
                    <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
                         <em>2. BASIC COMPUTER ORGANIZATION: (5 - Marks)
                          
                          Input Unit, Output Unit, Storage Unit, Arithmetic Logic Unit, Control Unit, Central Processing Unit, The System Concept. 
            
                        </em> 
                        
                      </p>
                      
             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus video end-->
                
                
                
                
                <div class="accordion-item">
                  
                  <h2 class="accordion-header" id="flush-headingTwo">
                    
                    <button class="accordion-button collapsed fs-5 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      
                      Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                   
                    <div class="accordion-body">
                      
                      
                      <div class="ratio ratio-16x9">
                        
                          <iframe src="https://www.youtube.com/embed/REuhCeKNADI" title="dca101 chapter-2 video" allowfullscreen></iframe>

                          
                        </div>
                        
                        <small>DCA-101 Chapter-2</small>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--definition-->
                
                
                
                <div class="accordion-item">  <!--textbook start-->
                  
                  <h2 class="accordion-header" id="flush-headingThree">
                    
                    <button class="accordion-button collapsed fs-5 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      
                      Text
                    
                    </button>
                  
                  </h2>
                  
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    
                    <div class="accordion-body">
                      
                      
                        <em><p>2) BASIC COMPUTER ORGANIZATION - (5 MARKS)</p></em>
                        <p><b>Computer</b> has five functional independent units
                        like <code> Input Unit, Memory Unit,
                        Arithmetic & Logic Unit,
                        Output Unit, and Control
                        Unit.</code></p>


<figure class="figure float-end">
  
<img src="/img/bco.jpg" class="float-end img-fluid ps-2 pb-2" width="600" height="400" alt="basic computer organization" />

<figcaption class="figure-caption ps-2 text-danger"> A lem hi chhinchhiah tur a ni e.</figcaption>

</figure>





<p><b>Input Unit </b> - The data
entry station or devices are
termed as input units. Example - keyboard, mouse,
scanner, joystick, joypad,
graphics table, MICR etc.</p>

<p><b>Control Unit (CU) </b> - It tells
the computer's memory, arithmetic and logic unit and input and output devices how to respond to the instructions that have
been sent to the processor.</p>


<p><b>Arithmetic Logic Unit (ALU)</b> - is a major component of the central processing unit of a computer
system. The major operations performed by the ALU are addition, subtraction, multiplication, division,
logic and comparison.</p>

<p><b>Memory Unit</b> - A bit is a binary digit, the smallest increment of data on a computer. A bit can hold
only one of two values - 0 or 1, corresponding to the electrical values of off or on, respectively. Bits are 
usually assembled into a group of eight to form a byte. A byte contains enough information to store a
single ASCII character, like "h". </p>
<p><b>Computer storage and memory measurement unit</b></p>
<p>1 bit  = 0 or 1</p>
<p>8 bits  = 1 bytes</p>
<p>1024 byte =  1 KB</p>
<p>1024 KBs  = 1 MB</p>
<p>1024 MBs  = 1 GB</p>
<p>1024 GBs  = 1 TB1</p>
 <p><small>Note: KB = Kilobyte, MB = Megabyte, GB = Gigabyte, TB = Terrabyte</small></p>
 
<p><b>Output Unit</b> - The output unit would be composed of the devices that provide information back to
the computer users. Examples are the Computer monitor and the computer printer. 
                      </p>
 
 

             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus video end-->
                
                
                
  
                <!--end of definition-->
                
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="flush-headingFour">
                   
                    <button class="accordion-button collapsed fs-5 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    
                      Assignment
                   
                    </button>
                 
                  </h2>
                
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
               
                    <div class="accordion-body">
                      
                      <h6 class="text-center">A hnuaia zawhnate hi chhang rawh.</h6>

            
                  <p class="font-weight-normal mt-3">
                    Q1. Write five computer functional units.
                  </p>
                  <p class="font-weight-normal mt-3">
                    Ans=> ...
                  </p>
                  <p class="font-weight-normal mt-3">
                    Q2. Name two parts of storage unit.
                  </p>
                  <p class="font-weight-normal mt-3">
                    Ans=> ...
                  </p>
                  <p class="font-weight-normal mt-3">
                    Q3. ALU and CU are part of _____?
                  </p>
                  <p class="font-weight-normal mt-3">
                    Ans=> ...
                  </p>
                  <p class="font-weight-normal mt-3">
                    Q4. Give one example of Output Unit.
                  </p>
                  <p class="font-weight-normal mt-3">
                    Ans=> ...
                  </p>
                   Q5. 1MB is equal to _____ kb.
                  </p>
                  <p class="font-weight-normal mt-3">
                    Ans=> ...
                  </p>
                      

                    </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
              </div>
              
              <hr>
              
              
              <div class="d-flex justify-content-between">
              
                <a href="dca1semOnlineLessonChapter1"><code> <i class="fas fa-step-backward"></i> Prev </code></a>
              
                <a href="dca1semOnlineLessonChapter3"><code> Next <i class="fas fa-step-forward"></i></code></a>
                
            </div>
              
              
              
              </div>
              
              
              
              </div>
              
            
    
            
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
