<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-104) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-5</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca104welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-5 ah hian <code> INTERNET SECURITY MANAGEMENT CONCEPTS</code> kan zir ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                      5. INTERNET SECURITY MANAGEMENT CONCEPTS: (8 MARKS)
Overview of the Internet Security Threats, Firewalls, Internet Security Management Concepts,
Information Privacy, Copyright Issues, Basics of Asymmetric Cryptosystems. 

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Overview
                      
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                              <p>Internet hi computer chi hrang hrang network hmanga inthlunzawmna a nih avangin hacking te, 
                              virus te leh piracy te a tam em em a. Hetiang lakah hian user te 
                              pawh a theih chin chinah fimkhur nachang kan hriat ve te pawh a ngai a ni. </p>
            
            <p>Firewall te, encryption te, validation te, password te, proxy server te, anti-virus te, packet filter te, SSL etc., 
            te hi computer security term pawimawh an ni a. A hrilhfiahna chu a hnuaia text-ah khuan a awm a ni.  </p>
                      
                      <figure class="figure">
  
                         <img src="/img/internetSecurity1.png" class="float-end img-fluid ps-2 pb-2" width="auto" height="540" alt="internetSecurity" />
                                    
                          <figcaption class="figure-caption ps-2 text-danger"> Internet Security </figcaption>
                                    
                          </figure>  
                      
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>INTERNET SECURITY MANAGEMENT CONCEPTS: (8 MARKS) </em></p>


<p>
1)	<code>SSL (Secure Socket Layer)</code> allows secure connection.
</p><p>
2)	Networks are vulnerable to computer crime like hacking, viruses and software piracy.
</p><p>
3)	A proxy server is used as the computer with external access.
</p><p>
4)	<code>The proxy service</code> hides the internal host and service.
 </p><p>
5)	<code>Password</code> is the method of authentication.
</p><p>
6)	Confidentiality, integrity and availability are basic requirements of Internet Security.
</p><p>
7)	<code>In copyright,</code> only expression is protected, not facts or ideas.
</p><p>
8)	Firewall are used to protect against unauthorized attack.
</p><p>
9)	<code>Firewalls </code>cannot protect computer against viruses.
</p><p>
10)	The process of translating information from its original form into an encoded incomprehensible form is called <code>encryption.</code>
</p><p>
11)	A good firewall system should be flexible. 
</p><p>
12) Stageful Inspection is one type of Firewall. 
</p><p>
13) <code>Callback</code> is a security feature.
</p><p>
14)	Collection and analysis of data is called <code>Auditing.</code>
</p><p>
15)	<code>Hacker</code> is a computer enthusiast or expert who gains unauthorized access to computer systems for the purpose of  stealing  corrupting  data.
</p><p>
16)	<code>Firewall</code> stops unwanted traffic from entering the network. 
</p><p>
17) <code>Cryptography</code> is a tool that can be used to keep information confidential and to ensure its integrity and authenticity.
</p><p>
18)	<code>Cryptography</code> involves two processes, namely, encryption and decryption.
</p><p>
19)	<code>Packet Filters</code> allows network administrators to limit a user’s access to specific services on the network.
</p><p>
20) The Information Technology Act (ITA), 2000 consists of <code>94 sections.</code>
</p><p>
21) <code>Intellectual Property Right</code> deals with trademark, patent and design rights.
</p><p>
22) Unlawful acts wherein the computer is either a tool or target or both means Cyber crime.
</p><p>
23) The right to copy or duplicate material can be granted only by the owner of the information is called copyright
</p><p>
24) IMAP4 stands for Internet Mail Access Protocol version 4, is an Internet standard protocol for storing and retrieving messages from Simple Mail Transfer Protocol (SMTP) hosts.
</p>
<p>
  <b>OLD QUESTION:</b>
</p><p>
1. 
</p><p>
2. 
</p><p>
3. 
</p><p>
4. 
</p><p>
5. 
</p><p>
6. 
</p><p>
7. 
</p><p>
8. 
</p><p>
9. 
</p><p>
10. 
</p><p>
11. 
</p><p>
12. 
</p><p>
13. 
</p><p>
14. 
</p><p>
15. 
</p><p>
16. 
</p><p>
17. 
</p><p>
18. 
</p><p>
19. 
</p><p>
20. 
</p><p>
21. 
</p><p>
22. 
</p><p>
23. 
</p><p>
24. 
</p><p>
25. 
</p><p>
26. 
</p><p>
27. 
</p>

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                  <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory104 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory104.length; i++) {
                        
                        if(thisStudent.assignmentTheory104[i].chapterName == 'Chapter-5') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory104[i].mcq1 == 'Auditing') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory104[i].mcq2 == 'Cryptography') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory104[i].mcq3 == 'Cyber crime') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory104[i].mcq4 == 'unauthorized attack') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory104[i].mcq5 == 'Packet') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory104[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete104/<%= studentId %>/<%= thisStudent.assignmentTheory104[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            
 
            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
 <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment104" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-104 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-5" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1.  Collection and analysis of data is called ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Auditing" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Auditing
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Data analyser" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Data analyser
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Garbage collection" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Garbage collection
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Monitoring" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Monitoring
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. ________ involves two processes, namely, encryption and decryption.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Archiving" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Archiving
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Cryptocurrency" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Cryptocurrency
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Cryptography" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Cryptography
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. Unlawful acts wherein the computer is either a tool or target or both means ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Criminal" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Criminal
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Intruder" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Intruder
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Hacking" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Hacking
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="Cyber crime" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  Cyber crime
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4.  Firewall are used to protect against  ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="unauthorized attack" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  unauthorized attack 

                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="data driven attacks" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                   data driven attacks
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="virus attacks" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 virus attacks
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. ________ Filters allows network administrators to limit a user’s access to specific services on the network.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Water" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Water
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Packet" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Packet
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Password" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Password
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="Firewall" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  Firewall
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>

  </body>
  
  
</html>
