<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      

      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
           <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-102) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-4</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca102welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-4 ah hian <code> BASIC ELEMENTS OF OPENING SCREEN OF WIN 7</code> kan zir dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       4. BASIC ELEMENTS OF OPENING SCREEN OF WIN 7: (5 - Marks)
The Desktop, Icons and their Types, The Taskbar, Elements of a Window
                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                         <p>Computer kan han ON fel veleh hian thil lem lo lang a awm thin a. Hei hi opening screen a ni a, desktop tiin an sawi bawk a.
                         He desktop-ah hian thil chi hrang hrang a awm a, icon te, taskbar te, start menu etc., te a lo awm nghal thin a ni.</p>
                         
                         <p>Desktop Item chi hrang hrang leh an hmingte hi chhinchhiah a tha khawp mai a. Computer thiam tur chuan heng an hming hriat hmasak
                         hi a ngai a ni.</p>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>4.	BASIC ELEMENTS OF OPENING SCREEN OF WIN 7 (5 MARKS)</em></p>

<p>
  
  <code>Windows Desktop: </code> Desktop is the first screen that appears when a computer is switched on. 
It remains in the background even if any program is running. A desktop will typically have icons, 
Start Menu and Taskbar. Desktop is actually a folder in the    C drive, in the folder named Document and Settings.</p>

<p><code>Icons and Their Types:</code> Icons are small pictures seen on the desktop. 
All shortcut icons have a tiny curved arrow at the lower left corner. 
The default icons  common to all computers, such as Computer, Documents, 
Recycle Bin and Internet Explorer are also shortcuts, though they do not have arrow. 
Deleting a shortcut icon does not  delete the item associated with it; only the icon gets deleted.
</p>


<p>
<code>The Taskbar:</code> The taskbar is the long horizontal bar at the bottom of  the screen. <br>
It  has three main sections: <br>i) on the extreme left is the Start button.<br>
ii) The middle  section shows the program or files you have opened.<br>
iii) On the extreme right is the notification area.
</p>

<p><code>ELEMENTS OF A WINDOW:</code></p>

<p><code>Title Bar:</code> Just below the top border of the window is the Title bar.</p>

<p><code>Minimize, Maximize and Restore Buttons: </code> They are the three small buttons at the right end of the Title bar.</p>

<p><code>Scroll Bars, Scroll Boxes and Scroll Buttons:</code> If a window is not long enough to display its contents completely, you can use vertical or horizontal scrollbar.</p>

<p><code>Menu bar:</code> The row of words just below the Title bar constitute the Menu bar.</p>

<p><code>Text boxes:</code> Text box is also called an edit box and   it is where you type in the information.</p>

<p><code>Check boxes:</code> Check boxes are  small  square  boxes.</p>

<p><code>Option Buttons:</code> Option are also called radio buttons</p>

<p><code>Command Buttons:</code> are used to execute a command immediately.</p>

<p><code>List Boxes:</code> presents a list of options or items from which you can select.</p>

<p><code>Sliders:</code> works like a sliding control.</p>

<p><code>Dialog box tabs:</code> Using the keyboard, you can press the Tab key to move between sections and press the Spacebar to select them.</p>

</p>
<hr>
<p>
  <b>OLD QUESTION:</b>
</p><p>
1. There are 2 type of icon in the desktop they are <br><b>Ans... </b> System Icon and shortcut icon
</p><p>
2. In the element of Windows 7 the four edge that define the perimeter of windows are known as <br><b>Ans... </b> Border
</p><p>
3. Which menu display an Application Program menu in Windows 7 <br><b>Ans... </b> All program
</p><p>
4. Which of the following is part of start menu in windows 7 <br><b>Ans... </b> Search <br>
{ a) MS Paint c) Search b) Disk management d) None of the above }
</p><p>
5. The taskbar sits at ________ of the desktop <br><b>Ans... </b> Bottom of the window
</p><p>
6. A pictorial representation of application, file command or a tool is called <br><b>Ans... </b> icon
</p><p>
7. What are icons? <br><b>Ans... </b> Pictures
</p><p>
8. Pictorial representation of an item/program is called <br><b>Ans... </b> Icon
</p><p>
9. To open any object in a windows explorer or folder we can <br><b>Ans... </b> Double click on its icon
</p><p>
10. When a folder is closed in Windows 7, all we see is <br><b>Ans... </b> Name and icon of Folder
</p><p>
11. Which of the following taskbar elements are displayed in the center portion of a taskbar <br><b>Ans... </b> Task button
</p><p>
12. The taskbar is at the ________ of the desktop <br><b>Ans... </b> Bottom
</p><p>
13. Taskbar in Windows XP include <br><b>Ans... </b> All of the above <br>
{ 1) Start menu Button 2) Toolbar 3) Notification Area 4) All of the above }
</p><p>
14. Which of the following windows element is located at the left end of a taskbar in windows 7 <br><b>Ans... </b> Start button
</p><p>
15. When a window in Windows XP is not a long enough to display its content we use <br><b>Ans... </b> Scrollbar
</p><p>
16. Text Box in Windows XP are also known as <br><b>Ans... </b> Edit box
</p><p>
17. Option button is also called <br><b>Ans... </b> Radio button
</p><p>
18. The function key ________ opens Save AS dialogue box in an Application Progam <br><b>Ans... </b> F12
</p><p>
19. Windows OS communicates with the user using <br><b>Ans... </b> All of the above <br>
{ 1) Radio buttons 2) Dialog boxes 3) Check boxes 4) All of the above }
</p><p>
20. Turn off Dialog Box in Windows XP does not include <br><b>Ans... </b>  Power Saver Mode
</p>

                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">

                    <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory102 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory102.length; i++) {
                        
                        if(thisStudent.assignmentTheory102[i].chapterName == 'Chapter-4') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory102[i].mcq1 == 'Desktop') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory102[i].mcq2 == 'Icons') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory102[i].mcq3 == 'Taskbar') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory102[i].mcq4 == 'Search') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory102[i].mcq5 == 'Scrollbar') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory102[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete102/<%= studentId %>/<%= thisStudent.assignmentTheory102[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
      
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment102" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-102 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-4" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1. __________ is the first screen that appears when a computer is switched on. 
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Desktop" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Desktop
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Windows" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Windows
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Welcome" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Welcome
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Booting" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Booting
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. Pictorial representation of an item/program is called ________
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="My Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  My Computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Icons" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Icons
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Folder" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                  Folder
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Menu" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 Menu
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. The ________ is the long horizontal bar at the bottom of the desktop screen.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Slider" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Slider
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Status Bar" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Status Bar
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Scroll Bar" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Scroll Bar
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="Taskbar" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  Taskbar
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. Which of the following is part of start menu in windows 7 ________. 
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="MS Paint" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  MS Paint
                          
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Search" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  Search
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Disk management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Disk management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Windows key" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  Windows key
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5.  If a window is not long enough to display its contents completely, you can use vertical or horizontal ________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Taskbar" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Taskbar
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Scrollbar" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Scrollbar
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Zoom" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Zoom
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>

  </body>
  
  
</html>
