<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      <%- include('layouts/studentMenu') -%>
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4">
            
            <a href="stdDashboard" class="small"> <i class="far fa-hand-point-left text-primary small"></i> Dashboard</a>
          
          <div class="mx-auto">
          
        <div class="mt-0 text-justify">
          
            <h4 class="text-dark text-center fw-normal mt-1"> <%= chapterTitle  %></h4>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-danger"> Chapter-7</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca106welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter13"> Chapter-13</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter14"> Chapter-14</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-7 ah hian <code>  UTILITIES  </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                  7. UTILITIES: (3 - Marks)
Creating PDF Files with Acrobat, Creating an Adobe Acrobat File, Font Issues, Managing Automatic
Hypertext Links, Using the Tables Editor, Setting Adobe Table Defaults, Adobe Table Preferences,
Typing, Editing and Formatting Text in Adobe Table, Formatting Text in a Table, Exporting and
Saving Adobe Tables, Exporting Tables from Adobe Table, Exporting a Table as Text, Exporting a
Table as a Graphic, Saving Adobe Tables, Importing and Updating Table, Sorting Pages, Balancing
Columns, Create Keyline, Bullets and Numbering, Add Continued Line.  

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                             No Video available yet DCA-106 Chapter-7
                      

                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>7. UTILITIES </em></p>

Creating Table In PageMaker

There is no concept of tables native in PageMaker, except for the buggy Adobe Table that is included with PageMaker. You can make tables with the line drawing tools and rule above and below paragraph settings, but you must be patient to do this. You will also need to get familiar with Indents and Tabs (CTRL+I) to make PageMaker native tables. Combined with the line tool and rule above and below paragraphs, you can make some good tables.

Having said all that, about the best practices with PageMaker, there is another way if you are on Windows. You can copy and paste tables you make in Microsoft Word to PageMaker. 

Here is the secret:
1.) Make a table of your choice in Word, Select or Copy the whole table, and nothing but the table.



2.) Switch to your PageMaker document. Choose Paste Special from the Edit menu. Choose Enhanced Metafile.






You should now have a nice table.




It usually works, but some service bureaus and printers have trouble with it. I have never had any problems, but I have pretty good luck in these matters.
But there is another and much easier way of making a table with all its contents, that is just by using Edit > Insert Object command.

Follow these steps:
1.Go to ‘Edit’ Menu option in PageMaker and click ‘Insert object’.



2. This will open the ‘Insert Object’ dialog box.



3. Choose ‘Microsoft Word’ from the Object Type option.



4. This will open Microsoft Word-here you create your table along with its content.

5. Simply select the File > Update command or ‘Ctr + S’ key from Microsoft Word.



6. This will automatically import your Word table to PageMaker document.



                      </p>
             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      
                      <!--Assignment form started-->
                      
            <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-102 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-1" aria-hidden="true">

                 
                 <h6 class="text-center lead">A hnuaia zawhnate hi chhang rawh.</h6>

            
                  <p class="fw-bold mt-3">
                    
                    Q1. The set of instructions given to a computer to perform a task is called a __________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Program" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Program
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Instruction" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Instruction
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Processor" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Processor
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Scheduling" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Scheduling
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q2. ________ is a UNIX like operating system. It is free and open source program originally developed by Linus Torvalds in 1991 for personal computers.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Linux" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Linux
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Boss" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Boss
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Android" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                  Android
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Unix" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                  UNIX
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q3. Which of the following is function of operating system?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Process Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Process Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Device Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Device Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Security Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Security Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="All of these" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  All of these
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q4. The most important program for the computer is ________?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Microsoft Windows" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Microsoft Windows
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="CPU" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  CPU
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Operating System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Operating System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Application Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  Application Software
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                   Q5. File management, which includes organizing, naming, protecting, accessing and using files, is one of the key functions of an _________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Application Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Application Software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="System Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  System Software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Operating System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Operating System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            

            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
