<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
        <!--a lane lai ta-->
        
        <div class="row">
          
                      <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-101) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-9 </button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca101welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mt-3">Chapter-9 ah hian <code>INFORMATION TECHNOLOGY AND SOCIETY</code> kan zir ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
                        <em>
                          
                         9. INFORMATION TECHNOLOGY AND SOCIETY: (4 - Marks)
Indian Information Technology (IT) Act, The Information Technology (Amendment Bill),
Intellectual Property Rights (IPR) Issues, Information Technology Applications in Air Lines and
Railway Ticket Reservation, Computer in Banks, Inventory Control, Financial System, Hotel
Management, Computers in Education, Video Games, Telephone Exchanges, Mobile Phones,
Information Kiosks, Special Effects in Movies. 
                          
             </em>  
                         
            
           
                      </p>
                      
             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus video end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-video pe-2 text-muted"></i>  Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
                      
                      
                      <div class="ratio ratio-16x9">
                        
                          <iframe src="https://www.youtube.com/embed/czDzUP1HclQ" title="dca101 chapter-9 video" allowfullscreen></iframe>

                          
                        </div>
                        
                        <small>DCA-101 Chapter-9</small>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                          
                          
                      
       <p><em>9) INFORMATION TECHNOLOGY AND SOCIETY - (4 MARKS)</em></p>
       

<p><code>The Information Technology Act, 2000 (also known as ITA-2000, or the IT Act) </code> is an Act of the Indian
Parliament (No 21 of 2000) notified on 17
October 2000. It is the primary law in India
dealing with cybercrime and electronic
commerce.</p>

<p>
The bill was passed in the budget session of
2000 and signed by President K. R. Narayanan on
9 May 2000. The original Act contained 94
sections, divided into 13 chapters and 4 schedules. The laws apply to the whole of India. If a crime
involves a computer or network located in India, persons of other nationalities can also be indicted
under the law. </p>

<p>Recently, the government has notified Information Technology (Intermediary Guidelines and Digital Media Ethics Code) Rules 2021.</p>

<ol>
<li>These new rules broadly deal with social media and over-the-top (OTT) platforms.</li>
<li>These rules have been framed in exercise of powers under section 87 (2) 
of the Information Technology (IT) Act, 2000 and in supersession of the earlier 
Information Technology (Intermediary Guidelines) Rules 2011.</li>
</ol>
<p><code>Information Kiosk </code> - An Information Kiosk Machine provides multi-features to the user and the
features are - Kiosk Machine gives an accurate and precise detail about the product and services in a
descriptive manner. It is mainly targeted to implement this machine where there is a large number of a
crowd such as Shopping mall, Airport, Metros, Railway Station etc. </p>
           <hr>
<p>
  <b>OLD QUESTION:</b>
  </p><p>
    1. Information Technology Act in India was amended in the year <br><b>Ans... </b> 2008 and 2021
  </p><p>
    2. When did the IT Act come into effect? <br><b>Ans... </b> 17th October, 2000
  </p><p>
    3. The information Technology Act 2000 (ITA-2000) amendment Bill 2006 has been passed by Indian parliament on <br><b>Ans... </b> 23rd December 2008
  </p><p>
    4. The information Technology Act 200 (ITA-2000) is an act of Indian Parliament <br><b>Ans... </b> Number 21 of 2000
  </p><p>
    5. The ITA 2000 consist of 94 section and <br><b>Ans... </b> 4 Schedules
  </p><p>
    6. The ITA 2000 consist of <br><b>Ans... </b> The original Act contained 94 sections, divided into 13 chapters and 4 schedules.
  </p><p>
    7. Copy Right grants exclusive rights to use the work such as <br><b>Ans... </b> All of the above <br>
{ a) Distributing c) Modifying b) Copying d) All of the above }
  </p><p>
    8. IPR <br><b>Ans... </b> Intellectual Property Right
  </p><p>
    9. ________ corresponds to the exclusive right granted to creators of original works <br><b>Ans... </b> Intellectual property Rights
  </p><p>
    10. Which of the following is not application of Information Technology (IT) <br><b>Ans... </b> Resource Utilization management
  </p><p>
    11. UNIVAC stand for <br><b>Ans... </b> Universal Automatic Computer
  </p><p>
    12. RISC stand for <br><b>Ans... </b> Reduced Instruction set computer
  </p><p>
    13. Information kiosks are generally found in <br><b>Ans... </b> All of the above <br>
{ a) Mails c) Hotels b) Airports d) All of the above }
</p><p>
14. Which of the following is best suitable for the term ‘software piracy’? <br><b>Ans... </b> Counterfeiting of original product and Illegal copying of genuine software.
</p><p>
15. To be considered a cyber-crime, what needs to be involved in the crime? <br><b>Ans... </b> Network/Internet
</p>
 

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                 <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">

                 <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory.length; i++) {
                        
                        if(thisStudent.assignmentTheory[i].chapterName == 'Chapter-9') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory[i].mcq1 == '94') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory[i].mcq2 == '17 October 2000') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory[i].mcq3 == 'All of the above') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory[i].mcq4 == '4') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory[i].mcq5 == 'Internet') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-normal text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete101/<%= studentId %>/<%= thisStudent.assignmentTheory[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
          
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">

              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-101 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-9" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="5" aria-hidden="true">

                 <p class="fs-5 fw-light">
                    
                    Q1. Information Technology Act 2000 have ________ sectors.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="16" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                 16
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="60" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  60
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="175" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                 175
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="94" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                 94
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. Information Technology Act was came into force on ________
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="17 October 2000" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  17 October 2000
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="27 October 2000" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                 27 October 2000
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="26 February 2000" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                26 February 2000
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="1 August 2000" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 1 August 2000
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. An Information Kiosk Machine was generally used in ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Shopping Mall" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                 Shopping Mall
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Airport" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                 Airport
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Railway Station" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                 Railway Station
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="All of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  All of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. The ITA 2000 consist of 94 section and _______ schedules.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="1" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                 1
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="2" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  2
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="3" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 3
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="4" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                4
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. To be considered a cyber-crime, what needs to be involved in the crime?
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                 Computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Internet" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Internet
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Data" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                 Data
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="Technology" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  Technology
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
                  
                  
                  
                      
                    </form>
      </div>
    </div>
  </div>
</div>

  </body>
  
  
</html>
