<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

     <main>
      
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-2 pb-4 mt-2">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-3 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-103) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-0"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Ch-11 (excel)</button>
                            
                              <!--include word excel powerpoint menu-->
                              
                              <%- include('layouts/officeAutomationSoftwareMenu') -%>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter 11-ah hian <code>USING FORMULAS IN EXCEL</code>  kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                         
                        Using Formulas in Excel (Opening a worksheet, entering formula, copying formula, some more
calculations using formula, concept of worksheets and workbook) (2 MARKS)  
                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--khuhhawnna section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-bookmark pe-2 text-muted"></i> Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                         <p>Microsoft Office Excel hi kan sawi tak angin calculator lian tak ang a ni a. Formula te a chhut luh theih a.
                         
                         Formula kan chhut luh dawn chuan <code>equal to (=)</code> hi type hmasak zel tur a ni. Entirnan, 2 + 2 kan belh duh chuan kan
                         duhna ber cell-ah kan awm ang a, =2+2 tiin kan type lut ang. Tichuan, keyboard-ah enter kan hmet ang a, a answer 4 a rawn display dawn a ni.</p>
                         
                         
                         <figure class="figure">
  
                         <img src="/img/excelScreenformula.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="540" alt="excelScreenformula" />
                                    
                          <figcaption class="figure-caption ps-2 text-danger"> Excel Formula </figcaption>
                                    
                          </figure> 
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
<p><em>USING FORMULAS IN EXCEL (2 MARKS) </em></p>


<p>
1.	A formula in Excel always starts with an <code>= sign.</code>
</p><p>

2.	<code>Workbook</code> – A collection of worksheets; each Excel document is a workbook.
</p><p>

3.	In Excel, calculation is done by typing the addresses of the cells in a formula along with mathematical operators like +, -, * and /.
</p><p>

4.	A formula can be copied in multiple rows or columns using fill handle.
</p><p>

5.	By default, each Excel workbook has <code>3 worksheets.</code>
</p><p>

6.	Excel displays a tab representing each sheet, which can be used to move from sheet to sheet.
</p><p>

7.	A sheet can be easily moved within a workbook by dragging its tab.
</p><p>

8.	A sheet can be renamed and deleted by right-clicking on its tab and choosing the required option.
</p>
<hr>
<p>
  <b>OLD QUESTION:</b>
</p><p>
1. Ctrl + O is used to _________ existing file <br><b>Ans... </b> Open
</p><p>
2. Open shortcut key is <br><b>Ans... </b> Ctrl + O
</p><p>
3. Ctrl+N open new blank document in: <br><b>Ans... </b> All of the above <br>
{ a. MS excel c. MS power point b. MS word d. All of the above }
</p><p>
4. ________ open new document/slide/sheet <br><b>Ans... </b> Ctrl+N
</p><p>
5. F12 is used to open ________ dialogue box <br><b>Ans... </b> Save as
</p><p>
6. Excel recognizes and entry as formula if it is preceded by a ________ <br><b>Ans... </b>  + or =
</p><p>
7. Formulae must be preceded by <br><b>Ans... </b> =
</p><p>
8. Name this sign <img src="/img/insertFormulaButton.jpg"> <br><b>Ans... </b> Insert Function
</p><p>
9. Formulae must be preceded by ________ sign in excel <br><b>Ans... </b> =
</p><p>
10. A collection of worksheets is called <br><b>Ans... </b> Workbook
</p><p>
11. Text excel spread sheet is ________ by default <br><b>Ans... </b> left aligned
</p><p>
12. <img src="/img/orientationExcel.jpg"> represent <br><b>Ans... </b> Orientation (or Text orientation)
</p><p>
13. A series if number can easily be added up using <br><b>Ans... </b> Autosum
</p><p>
14. Which formula joins several text strings into one text string <br><b>Ans... </b> Concatenate
</p><p>
15. Moving sheet to another sheet location is done using ________ key <br><b>Ans... </b> Alt + Mouse drag <br>
Note: <em>Sheet dangah i thil chhut i move duh chuan mouse hmanga i pawh tawlh laiin ALT key i hmehbeh a ngai tihna a ni. </em>
</p>

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory103 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                        
                        if(thisStudent.assignmentTheory103[i].chapterName == 'Chapter-11') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory103[i].mcq1 == '=') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory103[i].mcq2 == 'worksheets') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                           //question 3
                          if(thisStudent.assignmentTheory103[i].mcq3 == 'tab') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory103[i].mcq4 == 'Insert function') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                         
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/4

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete103/<%= studentId %>/<%= thisStudent.assignmentTheory103[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment103" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-103 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-11" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="4" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1. A formula in Excel always starts with an ________ sign.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="%" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  %
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="=" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                 =
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="-" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  -

                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="==" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  ==
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. By default, each Excel workbook has 3 ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="documents" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  documents
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="workbooks" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  workbooks
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="worksheets" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 worksheets
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="excelbooks" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 excelbooks
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>

                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. A sheet can be renamed and deleted by right-clicking on its ________ and choosing the required option.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="tab" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  tab
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="sheet" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  sheet
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="icon" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  icon
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="button" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  button
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. Name this sign <img src="/img/insertFormulaButton.jpg"> ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Insert value" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Insert value
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Insert formula" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  Insert formula
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Insert function" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Insert function
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    
    

  </body>
  
  
</html>
