<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      

      
      

        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small"> <i class="fas fa-home"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : </p>
            
            <h4 class="text-dark text-center fw-normal mt-1"> <%= chapterTitle  %></h4>
            
            <p class="text-muted fw-light text-center mt-0"> (DCA-101) </p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <a href="dca1semOnlineLessonChapter4"><button type="button" class="btn btn-sm btn-outline-danger"> Chapter-4 </button></a>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca101welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mt-3">Chapter-4 ah hian <code>SECONDARY STORAGE DEVICES</code> kan zir ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
                        <em>
              4. SECONDARY STORAGE DEVICES: (5 - Marks)
Sequential and Direct-Access Devices, Magnetic Tapes, Magnetic Disks, Optical Disks, Memory Storage Devices, Data Backup, On-line, Near-line, and Off-line Storage, Hierarchical Storage System (HSS), Flash memory. </em>  
                         
            
           
                      </p>
                      
             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus video end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
                      
                      
                      <div class="ratio ratio-16x9">
                        
                          <iframe src="https://www.youtube.com/embed/GuC3TrxnfXc" title="dca101 chapter-4 video" allowfullscreen></iframe>

                          
                        </div>
                        
                        <small>DCA-101 Chapter-4</small>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                        <em><p>4) SECONDARY STORAGE DEVICES - (5 MARKS)</p></em>


<p>
There are two main categories of
storage devices. <code>Primary storage,</code> such
as RAM, is used by computer systems to
temporarily store and retrieve data.
<code>Secondary storage devices,</code> such as hard drives stores data permanently.</p>

<p>
Generally, memory/storage is
classified into 2 categories - <code>Volatile
Memory </code> - This loses its data, when
power is switched off. <code>Non-Volatile Memory</code> - This is a permanent storage
and does not lose any data when power is switched off.</p>


<p><code>Direct access</code> speaks to the ability to access something (often memory) using a specific address.
<code>Sequential access</code> implies that there is a “stream”
of items, and there is no address available for accessing
a specific, individual item. E.g., Magnetic Tape.</p>


<p><code>Magnetic tape </code>- is a long and narrow
strip of plastic
thin magnetic material is
coated on. A tape
consists of vertical
columns called frames,
and horizontal rows called channels or tracks.</p>

<p><code>A magnetic disk </code>- is a storage device that uses a magnetization process to write, rewrite and
access data. It is covered with a magnetic coating and stores data in the form of tracks, spots
and sectors. Hard disks, zip disks and floppy disks are common examples of magnetic disks. </p>


<p><code>An optical disk </code>- is a computer storage disk that stores data digitally and uses laser beams
(transmitted from a laser head mounted on an optical disk drive) to read and write data. Eg.,
Compact disks (CD), digital versatile/video disks (DVD) and Blu-ray disks.</p>


<p><code>Data backup</code> - is the process of creating a copy of some data from an on-line storage device to a
secondary storage backup device such as, magnetic tape, zip disk, disk pack, or WORM disk.</p>


<p><code>Online data storage </code>- provides very rapid access to data on a constant basis. It stores all frequently
used data. Computer systems often use hard disk or disk array as an on-line storage device.</p>


<p><code>Offline storage </code> - An off-line storage is not under direct control of any computer. User can physically remove or
disconnects it for storing away from the computer. Hence, it is also known disconnected storage. </p>


<p><code>Near-line storage</code> - is an intermediate storage between on-line storage and off-line storage. It means
nearly on-line. They often use mass storage devices such as tape library, CD jukebox, etc. as a near-line
storage device.</p>

<p><code>Flash Drive (Pen drive) </code> - is a compact device of the size of a pen. It enables easy
transport of data from one computer to another. A user simply plugs it into a USB (Universal Serial Bus)
port of a computer. Available storage capacities are 256MB, 512MB, 1GB, 2GB, 4GB, 8GB, 16GB, 32GB
and 64GB.</p>

<p><code>Memory card </code> - is flash memory based cards which is available as removable storage device. The
most popular ones are Secure Digital (SD) and Multimedia Card (MMC). Storage capacity of these cards
range from 8MB to 32GB. </p>

<p><code>
Hierarchical storage system (HSS) </code> - Different types of storages have different capacity, speed of
access, and cost per bit stored. Since a single type of storage is not superior in all aspect, most computer
systems build their storage solutions by making use of a hierarchy of storage technologies. Such a storage
solution system is called Hierarchical
Storage System (HSS).</p>

<p><code>
Flash memory </code> is a non-volatile
memory chip used for storage and for
transferring data between a personal
computer (PC) and digital devices. It
has the ability to be electronically
reprogrammed and erased. It is often
found in USB flash drives, MP3 players,
digital cameras and solid-state drives.</p>
 

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      
                      <!--Assignment form started-->
                      
                      
                  <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-101 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-4" aria-hidden="true">
              
                      
                      <h6 class="text-center">A hnuaia zawhnate hi chhang rawh.</h6>

            
                 <p class="fw-bold mt-3">
                    
                    Q1. ________ is a long and narrow strip of plastic thin magnetic material is coated on.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Magnetic Coil" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Magnetic Coil
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Magnetic Tape" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Magnetic Tape
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Optical Disk" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Optical Disk
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Digital Disk" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                 Digital Disk
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q2. Hard disks, zip disks and floppy disks are common examples of _______.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Archive" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Archive
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Primary Storage" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                 Primary Storage
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Magnetic Disk" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Magnetic Disk
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Optical Disk" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 Optical Disk
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q3. ________ storage devices such as hard drives stores data permanently.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Primary" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                 Primary
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Main" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Main
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Pendrive" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                 Pendrive
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="Secondary" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  Secondary
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q4. What is the full form of USB?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Universal Site Block" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Universal Site Block
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Universal Serial Block" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  Universal Serial Block
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Universal Serial Bus" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 Universal Serial Bus
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="University Secondary Bus" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                 University Secondary Bus
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                   Q5. Full form of HSS is ________?
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Higher Secondary School" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                 Higher Secondary School
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Hierarchical Secondary Storage" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Hierarchical Secondary Storage
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Hierarchical Storage System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Hierarchical Storage System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
                  
                  
                  
                      
                    </form>

            
                 
                      

                    </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
              </div>
              
              <hr>

              
              
              
              </div>
              
              
              
              </div>
              
            
    
            
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
