<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      

        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-101) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-5 </button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca101welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mt-3">Chapter-5 ah hian <code>INPUT-OUTPUT DEVICES</code> kan zir ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
                        <em>
                          
                          
                          5. INPUT-OUTPUT DEVICES: (4 - Marks)
Input Devices (Keyboard Devices, Point-and-Draw Devices, Data Scanning Devices, Digitizer, Electronic-card Reader, Speech Recognition Devices, Vision-Input System), Output Devices (Monitors, Printers, Plotters, Screen Image Projector, Voice Response Systems).
                          
                          
                          
                          
                          
             </em>  
                         
            
           
                      </p>
                      
             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus video end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
                      
                      
                      <div class="ratio ratio-16x9">
                        
                          <iframe src="https://www.youtube.com/embed/2pudhSPob9U" title="dca101 chapter-5 video" allowfullscreen></iframe>

                          
                        </div>
                        
                        <small>DCA-101 Chapter-5</small>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                 <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      


<em><p>5) INPUT-OUTPUT DEVICES - (4 MARKS)</p></em>

<p><b>Input and output (I/O) devices</b> allow the computer system to interact with the outside world by
moving data into and out of the system. They are also known as peripheral devices because they
surround a computer’s CPU and memory.</p>

<p><b>An input device </b>is used to bring data into the system. Some input devices are - Keyboard, Mouse,
Microphone, Bar code reader, Graphics tablet.  
</p><p>
<code>A computer keyboard</code> is a typewriter-style device which is composed of buttons that
create letters, numbers, and symbols, as well as perform other functions. The most popular keyboard
used today is the 101-keys QWERTY keyboard. 
</p><p>
<code>Point & Draw Devices</code> is a hardware input device that allows the user to move the mouse pointer.
Good examples of pointing devices are a computer mouse, trackball, light pens and touch screen.
Mouse is the most popular point and draw device. 
</p><p>
<code>Data scanning device </code> is an electronic device that scans printed or handwritten text documents,
images, or certain objects, and converts them into a digital file format. Eg., flatbed scanners and
handheld scanners. 
</p><p>
<code>Optical Character Recognition (OCR) device </code> scanner first creates the bitmap image of the
document and then the OCR software translates the array of grid points into ASCII text that the
computer can interpret as letters, numbers, and special characters. 
</p><p>
<code>Optical Mark Reader (OMR)</code> is a scanner, which can recognize a pre-specified type of mark made by
pencil or pen. For example, in objective type tests, the answer sheets are fed to an OMR device for
grading with a computer automatically. 
</p><p>
<code>Bar-code reader</code> is a device for reading (de-coding) bar-coded data. Data coded in the form of small
lines are known as bar codes. All types of goods, books, postal packages, badges, tags, etc. use bar
codes for unique identification purpose. 
</p><p>
<code>Magnetic-Ink Character Recognition (MICR)</code>  is similar to OCR. Banking industry uses it for faster
cheque processing.  
</p><p>
<code> A digitizer </code> is an input device used for converting (digitizing) pictures, maps, and drawings into
digital form for input to computers. Architects and engineers commonly use digitizers in the area of
Computer Aided Design (CAD) for designing cars, building, medical devices, robots, mechanical parts,
etc. 
</p><p>
<code> Electronic card readers </code> are electronic devices that can read plastic cards embedded with either a
barcode, magnetic strip, computer chip or another storage medium. Eg. ATM (automatic teller
machines) is also debit/credit card reader device. 
</p><p>
<code> Speech recognition devices </code> are input devices that allow a person to input data to a computer
system by speaking to it. </p>

<hr class="w-25">
<p> <b>AN OUTPUT DEVICE </b> - Output
devices generate computer outputs
that are broadly of following two types
- Soft-copy output and hard-copy
output.

<p>
<b>Some output devices are </b> - 

</p><p>
<code>Monitors</code> are the most popular softcopy output devices used today. A
monitor is associated usually with a
keyboard and together they form a
video display terminal (VDT). A VDT
(often referred to as just terminal) is both an input and output device. Two basic types of monitors are
cathode-ray-tube (CRT) and LCD (Liquid Crystal display) flat-panel.
</p><p>
<code>Printers </code> are the most popular hard-copy output devices used today. Different types of printers are
described below.
</p><p>

<code>Dot-Matrix Printers </code> are character
printers that print one character at a
time. Dot-matrix printers are impact
printers because they print by
hammering pins on an inked ribbon
to leave ink impressions on a paper.
The printing speeds 30 to 600
characters per second.

</p><p>
<code>Inkjet Printers</code> are character
printers that form characters and
images by spraying small drops of ink
on a paper. Inkjet printers are non impact printer and are both monochrome and color.

</p><p>
<code>Drum printers</code> are line printers that print an entire line at a time. Recall that dot matrix and inkjet
printers print one character at a time. 
</p><p>

<code>Chain/Band Printers </code> are line
printers that print one line at a time.
The chain/band rotates at a high
speed. 
</p><p>
<code>Laser Printers </code> are page printers
that print one page at a time. Main components of a laser printner are a laser beam source, a multi-sided mirror, a photoconductive drum, and
toner. Laser printers are
non impact printers.
</p><p>
<code>Plotters </code> - A plotter is an ideal output device for architects, engineers, city planners, and others who
need to generate high precision, hard-copy, graphic output of varying sizes. Two types of plotters in
common use are drum plotter and flatbed plotter.
</p><p>
<code>Screen Image Projector </code> - is an output device, which is used to display information from a computer
on a large screen so that a group of people can view it simultaneously. It has become common
presentation equipment today.
</p><p>
<code>Voice Response Systems </code> enables a computer to talk to a user. It has an audio-response device that
produces audio output. Voice response systems are of two types – voice reproduction system and
speech synthesizer.
</p><p>
<code>Voice reproduction system </code> produces audio output by selecting an audio output from a set of prerecorded audio responses. Eg., ATM machine audio help for guiding how to operate ATM system.
</p><p>

<code>Speech Synthesizer </code> converts text information into spoken sentences. To produce speech, it
combines basic sound units called phonemes. This is very useful for reading out text information to blind
persons. 
</p>

<hr class="w-25">
 

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                      
              <p class="fs-4 fw-light mt-3">
                    
                    Scoreboard 
                    
                  </p>
                  
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory.length; i++) {
                        
                        if(thisStudent.assignmentTheory[i].chapterName == 'Chapter-5') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory[i].mcq1 == 'Keyboard') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory[i].mcq2 == 'Inkjet') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory[i].mcq3 == 'Optical Mark Reader') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory[i].mcq4 == 'Plotters') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory[i].mcq5 == 'Input/Output') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-normal text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete101/<%= studentId %>/<%= thisStudent.assignmentTheory[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            
 
            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
           <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-101 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-5" aria-hidden="true">

            
                 <p class="fs-5 fw-light">
                    
                    Q1. One example of input device is ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Hard Disk" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                 Hard Disk
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Monitor" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Monitor
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Printer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Printer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Keyboard" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                 Keyboard
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. _______ printers are character printers that form characters and images by spraying small drops of ink on a paper.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Inkjet" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Inkjet
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Laser" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                 Laser
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Dot Matrix" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Dot Matrix
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. OMR stands for ________?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Optical Character Reader" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                 Optical Character Reader
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Optical Mark Reader" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Optical Mark Reader
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Optical Mark Recognition" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                 Optical Mark Recognition
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. A ________ is an ideal output device for architects, engineers, city planners, and others who need to generate 
                    high precision, hard-copy, graphic output of varying sizes.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Xerox" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Xerox
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Photoshop" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  Photoshop
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Plotters" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 Plotters
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Flex Printer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                 Flex Printer
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. ________ devices allow the computer system to interact with the outside world by
                        moving data into and out of the system.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="File Transfer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                 File Transfer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Hard Disk" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Hard Disk
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Primary and Secondary" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Primary and Secondary
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="Input/Output" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  Input/Output
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
                  
                  
                  
                      
                    </form>
      </div>
    </div>
  </div>
</div>
    
    
    
    

  </body>
  
  
</html>
