<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-103) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Ch-16 (excel)</button>
                            
                              <!--include word excel powerpoint menu-->
                              
                              <%- include('layouts/officeAutomationSoftwareMenu') -%>
                              
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter 16-ah hian <code>WORKING WITH GRAPHS AND CHARTS</code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                         
                    Working with Graphs and Charts (Creating charts using ChartWizard, Sizing and moving
charts, Updating charts, changing the chart type, previewing and printing charts) (3 MARKS)
                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--khuhhawnna section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                         <p>Excel chart hi Microsoft word hmanga chart siam aimahin a awlsam zawk a. Excel-ah chuan data kha a bul maiah a type theih a, 
                        kha kha data series atan a hman nghal theih a. Microsoft word-ah erawh chuan document chhung a mi ni lovin data kha excel atanga lak a nih kha kan la hre reng em aw?
                         Excel-a chart siam tur chuan Insert tab > Charts group ah luh tur a ni.</p>
                         
                         
                         <figure class="figure">
  
                         <img src="/img/excelChart.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="540" alt="excelChart" />
                                    
                          <figcaption class="figure-caption ps-2 text-danger"> Excel Charts </figcaption>
                                    
                          </figure> 
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
<p><em> WORKING WITH GRAPHS AND CHARTS (3 MARKS): </em></p>

<p>
1.	<code>Chart sheet </code>is a separate worksheet created for the chart.
</p><p>

2.	<code>Data series</code> refers to the row or column of data for a chart.
</p><p>

3.	<code>Embedded chart</code> is a chart included in the same worksheet as data.
</p><p>

4.	<code>Multiple data series</code> is a data series with several rows or columns.
</p><p>

5.	<code>Bar chart</code> is a chart with bars whose lengths are proportional to data values.
</p><p>

6.	<code>Charts</code> can be embedded on the data sheet itself or produced in a separate chart sheet.
</p><p>

7.	<code>Pie charts</code> are limited to one data series. Column charts can show all the selected data.
</p><p>

8.	Location and size of a chart can be adjusted by dragging and resizing.
</p><p>

9.	If the underlying data changes, Excel automatically redraws the chart to reflect the change.
</p><p>

10.	You can change the chart type to any, like line, scatter, area, and so on.
</p><p>

11.	Chart is a group under Insert Tab.
</p><p>

12.	Change Chart Type is a button under Design Tab.
</p><p>

13.	Print Preview is used to preview the chart before printing it.
</p>




</p>
             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      
                      <!--Assignment form started-->
                      
            <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-103 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-1" aria-hidden="true">

                 
                 <h6 class="text-center lead">A hnuaia zawhnate hi chhang rawh.</h6>

            
                  <p class="fw-bold mt-3">
                    
                    Q1. The set of instructions given to a computer to perform a task is called a __________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Program" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Program
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Instruction" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Instruction
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Processor" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Processor
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Scheduling" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Scheduling
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q2. ________ is a UNIX like operating system. It is free and open source program originally developed by Linus Torvalds in 1991 for personal computers.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Linux" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Linux
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Boss" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Boss
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Android" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                  Android
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Unix" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                  UNIX
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q3. Which of the following is function of operating system?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Process Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Process Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Device Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Device Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Security Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Security Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="All of these" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  All of these
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q4. The most important program for the computer is ________?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Microsoft Windows" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Microsoft Windows
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="CPU" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  CPU
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Operating System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Operating System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Application Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  Application Software
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                   Q5. File management, which includes organizing, naming, protecting, accessing and using files, is one of the key functions of an _________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Application Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Application Software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="System Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  System Software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Operating System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Operating System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            

            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
