<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body>
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main>
      
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-2 pb-4 mt-2">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-3 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-104) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-0"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-3</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca104welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-3 ah hian <code>ELECTRONIC MAIL</code> kan zir ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                       3. ELECTRONIC MAIL: (8 MARKS)
                            E-mail Networks and Servers, E-mail Protocols, Structure of an E-mail, E-mail Contents and
                            Encoding, E-mail Routing, E-mail Clients, E-mail Encryption, Address Book, Signature File

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-bookmark pe-2 text-muted"></i> Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                              <p>Kan sawi tak angin internet-a service tangkai em em mai chu email hi a ni a. 
                              Email hmang hian mi dangte message kan thawn thei a, file te kan thawn thei a ni. 
                              Email ID-ah hian part 2 a awm a, username leh domain name an ti a ni. </p>
            
            <p> Email-ah hian inbox te, sent box te, draft box te, spam folder etc., a awm a. 
            Email kan thawn chhuah chuan email id dik tak kan ziak ang a, subject leh body te mumal takin kan ziak ve tur a ni. 
            Email address kan tih dik loh chuan a thawntu (sender) hnenah a lo kir leh thin a, hei hi bounced mail an ti a. 
            Email pakhat mi dang tam tak hnenah kan thawn duh chuan carbon copy emaw blind carbon copy (bcc) emaw kan hmang thin tur a ni.
            Email-a CC leh BCC danglamna chu CC-ah chuan email kan thawnte khan kan thawn a ni tih an inhre tawn vek a, bcc-ah chuan tumah 
            an inhriatpui lo a ni.</p>
            
            <figure class="figure">
  
                         <img src="/img/emailBcc.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="540" alt="emailBcc" />
                                    
                          <figcaption class="figure-caption ps-2 text-danger"> CC and BCC in Gmail </figcaption>
                                    
                          </figure>   
            
            
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>ELECTRONIC MAIL: (8 MARKS) </em></p>

<p>
1)	<code>SMTP</code> is a simple TCP/IP protocol.
</p><p>
2)	A simple protocol used for fetching e-mail from a mailbox is <code>POP3.</code>
</p><p>
3)	POP3 full form is <code>Post Office Protocol version 3.</code>
</p><p>
4)	E-MAIL address is made up of<code> two parts.</code>
</p><p>
5)	The two parts of e-mail address are separated by the @ symbol.
</p><p>
6)	UUCP is a Unix-to-Unix File Copy Protocol.
</p><p>
7)	The program supplied by VSNL (Videsh Sanchar Nigam Limited) when you ask for Internet connection for e-mail is Pine.
</p><p>
8)	SMTP stands for <code>Simple Mail Transfer Protocol.</code>
 </p><p>
9)	The e-mail component of Internet Explorer is  called <code> Outlook  Express.</code>
</p><p>
11)	A convenient place to store contact information for quick retrieval is<code> Address book.</code>
</p><p>
12)	<code>Bounced mail</code> returns to sender.
</p><p>
13)	The term “email bombing” can also refer to flooding an email server with too many emails in an attempt to overwhelm the email server.
</p><p>
14) IMAP can access e-mail without downloading.
</p><p>

15)	Unsolicited commercial e-mail is called<code> Spam.</code>
</p><p>
16)	The process of directing a message to the recipient’s host is called <code>Routing.</code>
</p><p>
17)	To read incoming mail, choose Inbox. 
</p><p>
18) <code>BCC</code> is called Blind Carbon Copy.
</p><p>
19)	<code>Messenger</code> allows you to store e-mail addresses in its address book.
</p><p>
20)	Digital signature is a mechanism for authentication and data  encryption.
</p><p>
21)	MIME stands for <code>Multipurpose Internet Mail Extensions.</code>
</p><p>
22) <code>MIME</code> is a widely used Internet standard for encoding binary files to  send them as e-mail attachments over the Internet.
</p><p>
23)	IMAP stands for<code> Interactive Mail Access Protocol. </code>
</p><p>
24) SMTP is a simple<code> ASCII protocol.</code>
</p>
<hr>
<p>
  <b>OLD QUESTION:</b>
</p><p>
1. The personal information of the sender which is written at the bottom of the e-mail message is <br><b>Ans... </b> signature
</p><p>
2. Email name syntax doesn't have <br><b>Ans... </b> Space.
</p><p>
3. The most common service of the internet is <br><b>Ans... </b> E-mail
</p><p>
4. Some older version of SMTP implementations cannot handle messages exceeding <br><b>Ans... </b> 64KB
</p><p>
5. E-Mail (Electronic Mail) was started in the year <br><b>Ans... </b> 1970
</p><p>
6. E-Mail address/ addresses of secondary recipient(s) to whom copy need to be sent is <br><b>Ans... </b> CC
</p><p>
7. Which one of the following is an e-mail message is the personal information
which automatically appears at the bottom of the outgoing message? <br><b>Ans... </b> Signature
</p><p>
8. Which one of the following translates the alphabetic address into
numerical address, so e-mail can be sent to the proper location? <br><b>Ans... </b> DNS
</p><p>
9. Which one of the following is used for opening remote e-mail boxes? <br><b>Ans... </b> POP3
</p><p>
10. In e-mail our reply includes the original message called? <br><b>Ans... </b> Quoting
</p><p>
11. Which one of the following is not included in the syntax of an email? <br><b>Ans... </b> Space
</p><p>
12. POP is the incoming e-mail server <br><b>Ans... </b> True
</p><p>
13. Once the e-mail is sent, the message is broken into pieces called <br><b>Ans... </b> Packet
</p><p>
14. Email addresses are <br><b>Ans... </b> not case sensitive. <br>
Note: <em>Email address hi hawrrawppui leh hawrrawpte-in a ziah ve ve theih. Ka email chu hawrrawp te vek a nia tih kher a ngai lo. A deliver vek thei.</em>
</p><p>
15. E-mail address is made up of <br><b>Ans... </b> two parts
</p><p>
16. Exploring web is known as <br><b>Ans... </b> web surfing and browsing
</p><p>
17. The user name and domain name in an e-mail are separated by a symbol? <br><b>Ans... </b> @
</p><p>
18. Which one of the following is not out of the five section of an e-mail? <br><b>Ans... </b> Footer <br>
{ a) Header c) Signature b) Body d) Footer }
</p><p>
19. The process of translating information from its original form
into an encoded, incomprehensible form is called <br><b>Ans... </b> Encryption
</p><p>
20. PKE <br><b>Ans... </b> Public Key Encryption
</p><p>
21. SSL <br><b>Ans... </b> Secure Sockets Layer
</p><p>
22. The process of taking data and modifying it so that it cannot be read by
untrusted users is called? <br><b>Ans... </b> Encryption
</p><p>
23. Changing the standard code into a different code means <br><b>Ans... </b> Encryption
</p><p>
24. A word that look underlined on a web page usually is <br><b>Ans... </b>  a link to another webpage
</p><p>
25. Which is not an advantage of using email? <br><b>Ans... </b> Privacy <br>
{ A. speed B. Ease of use C. low cost D. Privacy }
</p><p>
26. A URL is divided into how many part? <br><b>Ans... </b> Four
</p><p>
27. Communication that do not waste the user's times are considered as <br><b>Ans... </b> Reliable ISP
</p><p>
28. The personal information of the sender which is written at the bottom of
the email message is? <br><b>Ans... </b> Signature
</p><p>
29. WWW was started in the year? <br><b>Ans... </b> 1992
</p>

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory104 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory104.length; i++) {
                        
                        if(thisStudent.assignmentTheory104[i].chapterName == 'Chapter-3') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory104[i].mcq1 == 'Space') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory104[i].mcq2 == 'Spam') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory104[i].mcq3 == 'Simple Mail Transfer Protocol') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory104[i].mcq4 == '64KB') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory104[i].mcq5 == 'Post Office Protocol version 3') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory104[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete104/<%= studentId %>/<%= thisStudent.assignmentTheory104[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           
            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
 <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="staticBackdropLabel">A hnuaia zawhnate hi chhang rawh</h5>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment104" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-104 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-3" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="5" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1.  Email address doesn't have ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="@" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  @
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Space" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Space
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Website" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  hostname
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="username" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  username
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. Unsolicited commercial email is commonly known as ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Spam" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Spam
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Advertisement" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Advertisement
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Promotional Ads" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Promotional Ads
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. SMTP stands for ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Server Mail Text Protocol" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Server Mail Text Protocol
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Server Mail Transfer Protocol" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Server Mail Transfer Protocol
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Simple Mail Transfer Process" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Simple Mail Transfer Process
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="Simple Mail Transfer Protocol" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  Simple Mail Transfer Protocol
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4.  Some older version of SMTP implementations cannot handle messages exceeding ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="32KB" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  32KB
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="64KB" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                   64KB
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="256KB" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  256KB
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. POP3 full form is ________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Post Office Programme version 3" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Post Office Programme version 3
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Personal Service Protocol version 3" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Personal Service Protocol version 3
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Paid Service Protocol version 3" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Paid Service Protocol version 3
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="Post Office Protocol version 3" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  Post Office Protocol version 3
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    

  </body>
  
  
</html>
