<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body>
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main>
      
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-2 pb-4 mt-2">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-3 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-101) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-0"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-8 </button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca101welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mt-3">Chapter-8 ah hian <code>CLASSIFICATION OF COMPUTERS</code> kan zir ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
                        <em>
                          
                         8. CLASSIFICATION OF COMPUTERS: (4 - Marks)
Notebook Computers (Laptops), Personal Computers (PCs), Workstations, Mainframe Systems, 
Supercomputers, Client and Server Computers, Handheld Computers (Tablet PC, PDA/Pocket PC, Smartphone)
                          
             </em>  
                         
            
           
                      </p>
                      
             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus video end-->
                
                 <% 
                        
                        var paidStudent = [];
                        
                        if(studentFee.length != undefined) {
                        
                        for(var i = 0; i < studentFee.length; i++) {
                        
                        if(studentFee[i].feeAmount >= 1000) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(studentExamFee.length != undefined) {
                        
                        for(var i = 0; i < studentExamFee.length; i++) {
                        
                        if(studentExamFee[i].feeAmount == 1510) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(studentOtherFee.length != undefined) {
                        
                        for(var i = 0; i < studentOtherFee.length; i++) {
                        
                        if(studentOtherFee[i].feeAmount >= 499) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(paidStudent.includes('paid')) {
                        %>
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-video pe-2 text-muted"></i>  Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body px-0 mx-0">
                      
                      
                      <div class="ratio ratio-16x9">
                        
                          <iframe src="https://www.youtube.com/embed/Lrh4GflAghk" title="dca101 chapter-8 video" allowfullscreen></iframe>

                          
                        </div>
                        
                        <small>DCA-101 Chapter-8</small>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                 <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                          
                          
                      
       <p><em>8) CLASSIFICATION OF COMPUTERS - (4 MARKS)</em></p>
       
       
<p><code>Notebook computer </code> – They are also known as laptop.
<code>Personal Computer </code> – A pc is a non-portable, general purpose computer that fits on a normal size
office table and is used by one person at a time.</p>

<p><code>Workstations </code> – A workstation is a powerful desktop computer designed to meet computing needs
of engineers, architects, and other professionals who need greater processing power, larger storage,
and better graphics display facility than what normal PCs provide. Unlike PCs that run any OS, all
workstations generally run UNIX operating system or its variant such AIX (IBM), Solaris (SUN) and HPUX (HP).</p>

<p><code>
Mainframe computers </code> – Several
organizations such as banks, insurance
companies, hospitals, railways, etc., need
on-line processing of large number of
transactions, and require computer
systems having massive data storage and
processing capabilities. Two major
vendors of mainframe systems are IBM
and DEC. </p>

<p><code>
Super computers </code> - Supercomputers
are used for intensive computation tasks
in various fields, including quantum
mechanics, weather forecasting, climate research, oil and gas exploration, and Film and TV Industries
etc. We measure speed of modern supercomputers in teraflops and petaflops. </p>

<p>
<code>Client and Server computers </code>- Servers are nothing but dedicated computers which are set-up to
offer some services to the clients. Eg., <i>File server </i>– It provides a central storage facility to store files of
several users on a network. <i>Database server</i> – It manages a centralized database, and enables several
users on a network to have a shared access to same database. <i>Print server </i> – It manages one or more
printers, and accepts and processes print requests from any user in a network. <i> Name server </i> – It
translates names into network addresses enabling different computers on a network to communicate
with each other.</p>

<p><code>Handheld Computers </code> – A handheld computer is a device whose size, weight, and design are such
that a user can use it comfortably by holding it in hand. It is also known as palmtop because it can be
kept on palm and operated. E.g., Tablet PC, PDA/Pocket PC, smartphone etc.</p>
           <hr>
<p>
  <b>OLD QUESTION:</b>
  </p><p>
    1. A portable computer used by people who need computing resources whenever they go are known as <br><b>Ans... </b> Notebook Computer
  </p><p>
    2. Which computer has expansion slot? <br><b>Ans... </b> Desktop Computers
  </p><p>
    3. Which is not a portable computer? <br><b>Ans... </b> Desktop <br>
{ a) Laptop c) Pocket PC b) Tablet d) Desktop }
  </p><p>
    4. A personal computer is <br><b>Ans... </b> micro computer
  </p><p>
    5. A workstation differs from a personal computer in <br><b>Ans... </b> All of the above <br>
{ a) Processing power c) Operating system b) Storage capacity d) All of the above }
  </p><p>
    6. PDA stands for <br><b>Ans... </b> Personal Digital Assistant
  </p><p>
    7. Personal computers use a number of chips mounted on a main circuit board called <br><b>Ans... </b> motherboard.
  </p><p>
    8. The first high level language to be introduced in personal computer is <br><b>Ans... </b> BASIC.
  </p><p>
    9. Workstation are normally used for <br><b>Ans... </b> All of the above <br> 
{ a) Computer Aided Designed c) Multimedia Applications b) Scientific simulations d) All of the above }
  </p><p>
    10. The main characteristic Workstation Computer is <br><b>Ans... </b> processing power is more
  </p><p>
    11. Mainframe computer are used in <br><b>Ans... </b> Banks
  </p><p>
    12. Banks, Hospital and Railways usually used one type of the following computer system <br><b>Ans... </b> Mainframe Computer
  </p><p>
    13. To simulate airflow in different speed and different altitude an Aerospace Industry use <br><b>Ans... </b> Supercomputer
     </p><p>
    14. Number cruncher is the informal name for <br><b>Ans... </b> supercomputer
     </p><p>
    15. Supercomputer are not used in <br><b>Ans... </b> Garment Industry <br>
{ a) Petroleum Industry c) Aerospace Industry b) Garment Industry d) Automobile Industry }
     </p><p>
    16. . Which of the following provides central storage facility to store files of several user on a network <br><b>Ans... </b> File server <br>
{ a) Database Server c) print server b) File server d) Networked }
</p>
 

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                 <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">

                    <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Delete</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory.length; i++) {
                        
                        if(thisStudent.assignmentTheory[i].chapterName == 'Chapter-8') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory[i].mcq1 == 'Micro Computer') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory[i].mcq2 == 'Supercomputer') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory[i].mcq3 == 'Server computer') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory[i].mcq4 == 'Laptop Computer') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory[i].mcq5 == 'Mainframe Computer') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-normal text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete101/<%= studentId %>/<%= thisStudent.assignmentTheory[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="far fa-trash-alt p-1 text-danger" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
   
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="staticBackdropLabel">A hnuaia zawhnate hi chhang rawh</h5>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-101 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-8" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="5" aria-hidden="true">

            
                 <p class="fs-5 fw-light">
                    
                    Q1. A personal computer is ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Mini Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                 Mini Computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Micro Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Micro Computer
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Supercomputer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Supercomputer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Workstation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                 Workstation
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. To simulate airflow in different speed and different altitude an Aerospace Industry use _______.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Workstation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Workstation
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Supercomputer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                 Supercomputer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Personal Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                Personal Computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Mac Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 Mac Computer
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. ________ are nothing but dedicated computers which are set-up to offer some services to the clients.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Server computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                 Server computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Compiler computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Client computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Print Server" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                 Print Server
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of these" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of these
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. Notebook computer is also called _______.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Palmtop Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Palmtop Computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Laptop Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  Laptop Computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Personal Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 Personal Computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Workstation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                 Workstation
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. Insurance companies used ________ computer.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Mainframe Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                 Mainframe Computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Super Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Super Computer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Workstation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                 Workstation
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="Personal Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  Personal Computer
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
                  
                  
                  
                      
                    </form>
      </div>
    </div>
  </div>
</div>
<% } %>
  </body>
</html>
