<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body>
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

   <main>
      
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-2 pb-4 mt-2">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-3 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-102) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-0"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-5</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca102welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-5 ah hian <code> FILE MANAGEMENT IN WINDOWS 7</code> kan zir dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       5. FILE MANAGEMENT IN WINDOWS 7: (5 - Marks) File, 
                       Folder, Folder Tree, Selecting Files and Folders, Creating Files and Folders, 
                       Naming and Renaming Files and Folders.
                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                <% 
                        
                        var paidStudent = [];
                        
                        if(studentFee.length != undefined) {
                        
                        for(var i = 0; i < studentFee.length; i++) {
                        
                        if(studentFee[i].feeAmount >= 1000) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(studentExamFee.length != undefined) {
                        
                        for(var i = 0; i < studentExamFee.length; i++) {
                        
                        if(studentExamFee[i].feeAmount == 1510) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(studentOtherFee.length != undefined) {
                        
                        for(var i = 0; i < studentOtherFee.length; i++) {
                        
                        if(studentOtherFee[i].feeAmount >= 499) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(paidStudent.includes('paid')) {
                        %>    
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-bookmark pe-2 text-muted"></i> Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                          <p>Operating System hnathawh pawimawh tak pakhat chu file management a ni a. Computer hmangtute hian file siam te, folder
                          siamte kan duh thin a, OS tanpuina hmangin awlsam takin kan duhna hmun apiangah file kan siam thei a, folder te kan siam thei a ni. File hming hi
                          chi hnihah then a ni a. Pakhat chu filename a ni a, pakhat zawk chu file extension name a ni. File extension hi file type tiin emaw file format tiin emaw sawi thin
                          a ni bawk. Entirnan, <em>letter.pdf</em> file hming nei ta ila,
                          a filename chu <em>letter</em> hi a ni a, a file extension name chu <em>pdf</em> hi a ni.</p>
                          
                          <p>File siam dan te, folder siam dan te leh a delete leh dante chu a hnuaiah hian english-a ziah a ni a, ngun takin chhiar la, han ti ve chhin teh le.</p>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
                        
                       <p> <em>5.	FILE MANAGEMENT IN WINDOWS 7 (5 MARKS) </em></p>

<p><code>File:</code> is any collection of related information that is given a name  and stored on  a  disk. 
Windows file names have two parts; the file's name, then a period followed by  the extension (suffix). 
The extension is a three- or four-letter abbreviation that  signifies the file type.
For     example,     in <code>letter.docx</code> the     filename      is letter and      the      extension  is <code>.docx</code>. 
Extensions are important because they tell your computer what icon to use for the file, and what application can open the file. For example, the <code>.docx</code> extension tells your computer that the file is a Microsoft Word file..
</p>

<p><code>Folder:</code> is a special kind of file that contains a list of other files or subfolders.</p>

<p>
  
<code>Folder Tree:</code> The arranging power of the folder system lies in the fact that it is hierarchical. Hierarchical means that folders can contain other folders.

</p>

<p><code>Selecting Files and Folders: </code> To select a file or folder, click on the file or folder. 
To select all the items in a folder, click the Edit menu and choose Select All.  Or press Ctrl + A keys together on the keyboard.</p>
<p><code>Creating a folder:</code><br>
1.	Right-click in the window where you wish to make a new folder. Point to New.<br>
2.	Select Folder. A new folder by the default name New Folder gets created.<br>
3.	Rename the folder to a new desired name.<br>
4.	Or you can press Ctrl + Shift + N to create a new folder without using the mouse.<br>
</p>

<p><code>To rename a file or folder:</code><br>

1.	Right-click on the item and select Rename, or select the file and press F2.<br>
2.	Type the new name and press Enter or click on the item.<br>
</p>

<p>
<code>Copy a File or Folder:</code><br>


1.	Select the file you wish to copy by clicking over it.<br>
2.	On the Edit menu select Copy. Alternatively, you can right-click and choose<br>
Copy from the shortcut menu that appears.<br>
3.	Open the folder where you want the copy of the file.<br>
4.	On the Edit menu click Paste. Alternately, you can again right-click and choose Paste in the shortcut menu that appears.<br>
</p>
<p><code>Moving a File or Folder:</code> One easy way to move a file is using a method called drag and drop.</p>
<p>
<code>To delete a computer file or folder:</code><br>
1.	Right-click the file or folder that you want to delete, and then choose Delete.<br>
2.	You can press the Delete key on your keyboard or choose delete from Edit menu.<br>
</p>
<hr>
<p>
  <b>OLD QUESTION:</b>
</p><p>
1. The deleted file from the hard disk are contain in <br><b>Ans... </b> Recycle bin
</p><p>
2. Filename is of two parts, they are <br><b>Ans... </b> Primary file name, extension
</p><p>
3. File name extension is given by <br><b>Ans... </b> System
</p><p>
4. ________ is a any collection of related information that is given a name and stored on a disk so that it can be read/write whenever required <br><b>Ans... </b> File
</p><p>
5. BAT <br><b>Ans... </b> Batch File
</p><p>
6. In window, the fundamental device for managing file is a <br><b>Ans... </b> Folder
</p><p>
7. To rename file or folder, press ________ key <br><b>Ans... </b> F2
</p><p>
8. The deleted file from the Hard Disk are contained in <br><b>Ans... </b> Recycle Bin
</p><p>
9. The default folder where all installed software are put into is <br><b>Ans... </b> Program files
</p><p>
10. The fundamental file management tool in Windows 7 is <br><b>Ans... </b> Folder
</p><p>
11. To free up space on a hard drive by removing temporary file we can do <br><b>Ans... </b> Disk Cleanup
</p><p>
12. File editing menu are found in ________ menu <br><b>Ans... </b> Edit
</p><p>
13. The primary file name is given by the <br><b>Ans... </b> The User
</p><p>
14. A ________ + delete key combination delete file permanently <br><b>Ans... </b> shift
</p><p>
15. Which key combination delete file permanently after confirmation? <br><b>Ans... </b> Shift
</p><p>
16. File name extension has ________ characters <br><b>Ans... </b> 3
</p><p>
17. A file can contain any kind of information like <br><b>Ans... </b> All of the above <br>
{ 1) Programs 2) Images 3) Documents 4) All of the above }
</p><p>
18. The wildcard in *.exe represents of executable file <br><b>Ans... </b> All primary file name <br>
Note: <em> Wildcard character * hi a hawrrawp vaiin / a hawrrawp zawng zawngin tihna a ni. </em>
</p><p>
19. . Ctrl + O is use to <br><b>Ans... </b> Open an existing file.
</p><p>
20. Notepad can open files with the extension <br><b>Ans... </b> such as batch files, INI files, and log files.
</p><p>
21. To rename a file in Windows 7 we press <br><b>Ans... </b> F2
</p><p>
22. Which of the following is among the correct step while creating new file? <br><b>Ans... </b> Right Click Mouse Inside a folder <br>
{ a) Press Alt+F4 c) Hold Enter b) Left Click Mouse d) Right Click Mouse Inside a folder }
</p><p>
23. The fundamental file management tool in Windows 7 is <br><b>Ans... </b> Folder
</p><p>
24. A collection of information which is given a name and stores in a Disk is called <br><b>Ans... </b> File
</p><p>
25. A file name has two parts, which are <br><b>Ans... </b> Primary and secondary
</p><p>
26. FAT <br><b>Ans... </b>  File Allocation Table
</p>


                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
               <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory102 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory102.length; i++) {
                        
                        if(thisStudent.assignmentTheory102[i].chapterName == 'Chapter-5') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory102[i].mcq1 == 'file') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory102[i].mcq2 == 'Ctrl + A') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory102[i].mcq3 == 'two') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory102[i].mcq4 == 'Ctrl + Shift + N') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory102[i].mcq5 == 'F2') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory102[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete102/<%= studentId %>/<%= thisStudent.assignmentTheory102[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
  
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="staticBackdropLabel">A hnuaia zawhnate hi chhang rawh</h5>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment102" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-102 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-5" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="5" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1. A collection of information which is given a name and stores in a disk is called 
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="letter" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  letter
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="docx" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  docx
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="file" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  file
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="folder" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  folder
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. To select all the items in a folder, click the Edit menu and choose Select All. 
                    Or press ________ keys together on the keyboard.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Ctrl + S" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Ctrl + S
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Select + All" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Select + All
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Ctrl + All" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                  Ctrl + All
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Ctrl + A" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 Ctrl + A
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. Windows file names have ________ parts.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="two" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  two
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="three" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  three
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="four" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  four
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="many" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  many
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. To create a new folder without using the mouse, press _______ in keyboard. 
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Ctrl + Shift + New" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Ctrl + Shift + New
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Ctrl + N" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  Ctrl + N
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Ctrl + Shift + N" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Ctrl + Shift + N
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Windows key + N" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  Windows key + N
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. To rename a file in Windows 7 we press _______.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="F2" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  F2
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="F11" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  F11
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Enter" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Enter
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    <% } %>

  </body>
  
  
</html>
