<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      

      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
           <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-102) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-2</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca102welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-2 ah <code>OPERATING SYSTEM BASIC</code> kan zir dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       2. OPERATING SYSTEM BASIC: (15 - Marks)
Types of Operating System
• Real-Time Operating system
• Single-Use/Multi-Tasking Operating System
• Multi-tasking/Multi-Tasking Operating System
• Operating System Base on Interfaces
- Command line interface – Graphical User Interface
• Running Programs 
- Sharing information
• Managing hardwares 
- Process interrupts
- Working with devices driver
• Enhancing operating system with utility softwares 
- Backup utilities
- Intrusion
- Anti viruses
- Screen saver
- Firewall.
                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                         <p>Kan sawi tak angin Operating System hi computer innghatnapui ber pakhat a ni a. A hnathawh dan azirin chi hrang hrangah
                         thendarh leh a ni. Mi pakhat chauhin a khawih chi chu single use an ti a, vawi khata thil tam tak tithei chu multi-tasking 
                         operating system an ti a ni. Microsoft Windows siam, tuna desktop Computer te leh Laptop kan hman mek ang chi te hi chu
                         mi pakhat chauhin a hman theih, mahse thil tam tak
                         kan tih theihna a nih avangin single user-multi tasking operating system a ni. </p>
                         
                         <p>Operating system hian a siamtute dahsa ni lo program tam tak a install theih a. Operating system chungah software dang
                               kan install leh thei a ni. Tunlaiah chuan smartphone kan nei vek tawh a, kan duh hun hunah play store atangin
                               game leh program (app) dang kan install thei ang hi a ni. Kan zirlaia subject thenkhat Pagemaker te, Photoshop te, Ms-word te 
                               pawh hi operating system a chhawm lo va, install chawp a ngai a ni. Microsoft Windows 7-ah software kan install chuan
                               a awmna bik a awm thin a, start menu > all programs chhungah a awm thin a ni.</p>
                               
                          <p>Computer part hi device an ti a. Operating system hian device kan vuah apiang hi a lo hre vek lo va, device driver te install a ngaih
                          chang a awm thin. Entirnan, printer kan lei thar chuan printer driver kha kan install zet loh chuan document a print thei lo thin a ni.</p>
                      
                          <p>Operating system hi chhe thei a ni a, a hnathawh tur ang thawk lo thei a ni; virus te a kai thei a, chuvangin anti-virus te install
                          a ngai thin a ni. Hetiang ang operating system tana tangkai tak tak software hi Utility Software an ti a ni. </p>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>2.	OPERATING SYSTEM BASIC </em></p>

<p>TYPES OF OPERATING SYSTEM ARE:</p>

<p><code>i)	Real-time Operating System (RTOS)</code> – This kind of operating system is primarily used to control machinery, 
scientific instruments and industrial systems. Thus, in an RTOS, key to operations is time precision rather than the 
efficiency of the processor.</p>


<p><code>
ii)	Single Use/Single Tasking Operating System</code> - As the name implies, this operating system is designed to manage the 
computer so that one user  can  effectively do one thing at a time. The Palm OS for Palm handheld computers is a good.</p>

<p><code>
iii)	Single-user, multi-tasking </code>- This is the type of operating system most  people  use on their desktop and laptop computers today. Microsoft's Windows and Apple's Mac OS platforms are both
examples.</p>

<p><code>
iv)	Multi-user, multi-tasking </code>- A multi-user operating system allows many different users to take advantage of the 
computer's resources simultaneously. Unix and VMS are good examples.</p>

<p><code>v)	Operating System Base on Interfaces </code>– A text-based user interface (see the image to the left) displays text, and its commands are usually typed on a command  
line using a keyboard. With a graphical user interface (see the right-hand image), 
the functions are carried out by clicking or moving buttons, icons and  menus  by means of a pointing device.</p>


<p><code>Running Programs</code></p>
<p>
You can run applications or programs by choosing any one of them from the Start menu or from the All Programs menu. 
The All Programs menu,  lists  all  the  programs that have been installed on the computer.<br>
1.	To start an application or a program, click on the Start button and choose the desired program or application or
choose the All Programs menu to see the listing of all the installed programs.<br>
2.	Click on the program or an application that you wish to start.<br>
3.	In case you wish to open a document associated with the program, click on the Start button and choose the program along with the document name.<br>
</p>

<p><code>Managing Hardwares </code></p>

<p>A computer is a mixed of hardware and software. Every piece of hardware come with software called a ‘device driver’, 
for example, the printer will have a printer driver, a mouse will have its own mouse driver.</p>

<p>
Process Interrupts are signals sent to the CPU by external devices, normally I/O devices. 
They tell the CPU to stop its current activities and execute the appropriate  part of the operating system. 
There are three types  of  interrupts:  Hardware  Interrupts, Software Interrupts and Traps.</p>


<p>
Working with Devices Driver: A device driver is a software program that controls a 
particular type of hardware device that is attached to a computer. In Windows operating systems, 
a device driver file usually has a file name suffix of .DLL or .EXE.  
A virtual device driver usually has the suffix of .VXD </p>

<p><code>Enhancing Operating System With Utility Softwares</code></p>

<p>Utility software is system software which aims to analyse, configure, optimise, maintain and take best use of a computer’s resources. 
Utility  software  is  also referred to as service program, service routine or utility routine. Some typical examples under 
the category are as follows.</p>

<p>
  
  <ul>  
  
  
  <li><code>	Anti-virus programs</code> – The purpose of anti-virus is to prevent, detect and remove malware like viruses, worms or Trojans.
</li>
  <li><code>	Encryption/decryption tools</code> – Encryption is a  process  of  converting sensitive data into a form that cannot be read easily by unauthorised people. Decryption is converting the encrypted data back to its original form.
</li>
  <li><code>Firewall</code> - is a network security system that monitors  and controls  incoming and outgoing network traffic based on predetermined security rules. A firewall typically establishes a barrier between a trusted  internal  network  and untrusted external network, such as the Internet.
</li>
  <li><code>Backup Utilities</code> - are computer programs used to perform a backup; they create supplementary exact copies of files, databases or entire computers.
</li>
  <li><code>Screensavers </code>- is a computer program that blanks the screen or fills it with moving images or patterns when the computer is not in use.
</li>
 
</ul>

</p>
<p>
  <b>OLD QUESTION:</b>
</p><p>
1. 
</p><p>
2. 
</p><p>
3. 
</p><p>
4. 
</p><p>
5. 
</p><p>
6. 
</p><p>
7. 
</p><p>
8. 
</p><p>
9. 
</p><p>
10. 
</p><p>
11. 
</p><p>
12. 
</p><p>
13. 
</p><p>
14. 
</p><p>
15. 
</p><p>
16. 
</p><p>
17. 
</p><p>
18. 
</p><p>
19. 
</p><p>
20. 
</p><p>
21. 
</p><p>
22. 
</p><p>
23. 
</p><p>
24. 
</p><p>
25. 
</p><p>
26. 
</p><p>
27. 
</p>

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">

                   <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory102 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory102.length; i++) {
                        
                        if(thisStudent.assignmentTheory102[i].chapterName == 'Chapter-2') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory102[i].mcq1 == 'Real-time Operating System (RTOS)') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory102[i].mcq2 == 'Single-user, multi-tasking') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory102[i].mcq3 == 'Start Button') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory102[i].mcq4 == 'driver') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory102[i].mcq5 == 'Decryption') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-normal text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory102[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete102/<%= studentId %>/<%= thisStudent.assignmentTheory102[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            
 
            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment102" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-102 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-2" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1. __________ is primarily used to control machinery, scientific instruments and industrial systems. 
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Multi-user, multi-tasking" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Multi-user, multi-tasking
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Single Use/Single Tasking Operating System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Single Use/Single Tasking Operating System
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Real-time Operating System (RTOS)" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Real-time Operating System (RTOS)
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Single-user, multi-tasking" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Single-user, multi-tasking
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. This is the type of operating system most people use on their desktop and laptop computers today.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Single-user, multi-tasking" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Single-user, multi-tasking
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Real-time Operating System (RTOS)" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Real-time Operating System (RTOS)
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Single Use/Single Tasking Operating System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                  Single Use/Single Tasking Operating System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Multi-user, multi-tasking" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                  Multi-user, multi-tasking
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. To start an application or a program, click on the ________ > choose All Programs.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Desktop" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Desktop
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Quick Menu" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Quick Menu
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Start Button" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Start Button
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="My Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  My Computer
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. A device ________ is a software program that controls a particular type of hardware device that is attached to a computer.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="program" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  program
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="driver" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  driver
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. ________ is converting the encrypted data back to its original form.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Converter" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Converter
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Encryption" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Encryption
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Decryption" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Decryption
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    
    

  </body>
  
  
</html>
