<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      

      

        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-101) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-3</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca101welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mt-3">Chapter-3 ah hian <code>PROCESSOR AND MEMORY</code> kan zir ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
                         <em>
              3. PROCESSOR AND MEMORY: (5 - Marks) 
              Central Processing Unit (Control Unit, Arithmetic Logic Unit, Instruction Set, Registers, Processor Speed, Types of Processors), Main Memory (Storage Evaluation Criteria, Main Memory Organization, Main Memory Capacity, Types of Memory Chips, Cache Memory). 
                         
            </em>
           
                      </p>
                      
             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus video end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-video pe-2 text-muted"></i>  Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
                      
                      
                      <div class="ratio ratio-16x9">
                        
                          <iframe src="https://www.youtube.com/embed/WM9NEWWthDA" title="dca101 chapter-3 video" allowfullscreen></iframe>

                          
                        </div>
                        
                        <small>DCA-101 Chapter-3</small>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                 <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                        <em><p>3) PROCESSOR AND MEMORY - (5 MARKS)</p></em>


<p><code>A central processing unit (CPU)</code> is the brain of a computer system and also called a central
processor or main processor. Parts of CPU - Arithmetic Logic Unit (ALU) : It is the part of computer processor (CPU) can be used to perform
arithmetic and logic operations. An arithmetic-logic unit (ALU) is further divided into two parts,
(AU) arithmetic unit and a logic unit (LU). Control Unit (CU) : is a component of a computer's CPU that directs the operation of the
processor. It tells the computer's memory, arithmetic and logic unit and input and output devices
how to respond to the instructions that have been sent to the processor.

<p><code>Registers </code> - When the CPU runs a computer program, it needs somewhere to store the data that
the instructions operate on (the data that they read and write). This storage is called a register. A CPU usually
has many registers. The register is the fastest memory. They are part of the CPU chip itself. </p>


<p><code>Instruction Sets </code> - The CPU is an electronic machine that works on a list of computer things to do,
called instructions. It reads the list of instructions and runs (executes) each one in order. A list of
instructions that a CPU can run is a computer program. The instruction set provides commands
to the processor, to tell it what it needs to do.</p>
<p>Processor speed is the number of cycles per second at which the central processing unit of a
computer operates and is able to process information. Processor speed is measured in hertz (Hz).
A modern processor often run so fast that
gigahertz (GHz) is used instead. One GHz is one
billion cycles per second. </p>

<p><code>Type of Processor</code> -
There are two primary manufacturers of computer microprocessors. Intel and Advanced Micro
Devices (AMD) lead the market in terms of speed and quality. Intel's desktop CPUs include Celeron,
Pentium and Core.
AMD's desktop processors include Sempron, Athlon and Phenom. Intel makes Celeron M, Pentium
M and Core mobile processors for notebooks.</p>


<p><code>Main Memory </code> - The main memory in a computer is called Random Access Memory. It is also known
as RAM. RAM is a volatile memory and loses all its data when the power is switched off. Main memory
is available in two types - Dynamic Random Access Memory (DRAM) and Static Random Access
Memory (SRAM). </p>

<p>
<code>Storage Evaluation Criteria </code> - Storage systems are the devices—such as hard disks, optical disks and
magnetic disks—used for data storage. Any storage unit of computer system is characterized by
storage capacity, access time, cost per bit of storage, volatile and random access. </p>

<p>
<code>Main Memory Organization</code> -
Main memory of a computer
system consists of several small
storage areas called location or
cells. Each of these locations can
store a fixed number of bits called
word length of the memory. Each
word or location has a built-in and
unique number assigned to it. This
number is called address of the
location. Each location can hold
either a data item or an instruction.
The first address normally stars at
0.<br>
Main Memory Capacity - The memory capacity of a device is commonly expressed in bytes,
kilobytes, megabytes, gigabytes or terabytes. The memory capacity of a device depends on many
factors such as the number of available address registers in the CPU. In the case of 32-bit CPUs, they
can only address a memory capacity of up to 4 GB. As for a 64-bit computer, the memory capacity is
unlimited.</p>

<p><code>Types of Memory Chips </code> -
 RAM chips are of two types –
dynamic and static. The main
memory of most computers uses
dynamic RAM.
ROM - A special type of RAM,
called read-only memory (ROM), is a
non-volatile memory chip in which
data is stored permanently. We can only read and use data stored in a ROM chip. We cannot
stores, permanent stores, or dead stores. </p>

<p><code>Cache Memory</code> - Cache Memory is a special very high-speed memory. Cache memory is an
extremely fast memory type that acts as a buffer between RAM and the CPU.</p>


<p><code>HIT/MISS:</code> When the CPU refers to memory and finds the word in cache, it is said to pro
Otherwise, it is a miss. The performance of cache memory is frequently measured in terms of a quantity
called hit ratio. Hit ratio = hit / (hit+miss)</p>
           <hr>
 <p>
  <b>OLD QUESTION:</b>
  </p><p>
    1. When entire CPU both CU and ALU is contained on a single chip called <br><b>Ans... </b> Microprocessor
  </p><p>
    2. Cache memory is an extremely fast small memory between CPU and main memory.
  </p><p>
    3. The CPU consists of the ALU and CU.
  </p><p>
    4. A high speed buffer between the CPU and the Main memory is <br><b>Ans... </b> Cache Memory
  </p><p>
    5. When the entire CPU is contained on a single ship, it is called <br><b>Ans... </b> Microprocessor
  </p><p>
    6. In basic computer system CPU is formed by combination of <br><b>Ans... </b> ALU & Control Unit
  </p><p>
    7. A special memory integrated in CPU which hold information on
temporary basis is known as <br><b>Ans... </b> Register
  </p><p>
    8. The section of the CPU that selects, interprets and sees to the execution of program instructions <br><b>Ans... </b> Control Unit
  </p><p>
    9. All units in a computer other than CPU are called components.
  </p><p>
    10. Different type of PC chips are neatly assembled on a main circuit board called as <br><b>Ans... </b> Motherboard
  </p><p>
    11. The ALU of a computer normally contain a number of high speed storage element called <br><b>Ans... </b> registers
  </p><p>
    12. The register that holds the data temporarily is <br><b>Ans... </b>  memory buffer register
  </p><p>
    13. Which of the following Register hold current instruction under execution <br><b>Ans... </b> Instruction Register
    </p><p>
    14. The execution of instructions during data processing operation in a computer takes place in the <br><b>Ans... </b> ALU
    </p><p>
    15. Which of the following register hold the address of next instruction to be executed <br><b>Ans... </b> Program Control Register
    </p><p>
    16. A rate at which a computer read/ write data from/ to a memory is known as <br><b>Ans... </b> Transfer rate
    </p><p>
    17. Optical disk compared to magnetic disk <br><b>Ans... </b> Slower data access speed
    </p><p>
    18. Multiple processors are used through parallelism to upgrade performance of a computer. This technique is known as <br><b>Ans... </b> Parallels computing
    </p><p>
    19. A computer is often referred to as a ________ processor because it canstore, process and retrieved data whenever desired <br><b>Ans... </b> Data
    </p><p>
    20. A common processor architecture are CISC, RISC and EPIC.
    </p><p>
    21. The other name of the primary memory of a computer is <br><b>Ans... </b> Main memory
    </p><p>
    22. Which memory is non-volatile and maybe written only once? +> PROM
    </p><p>
    23. PROM stand for <br><b>Ans... </b> Programmable Read Only Memory
    </p><p>
    24. Memory which is volatile and in which data is stored temporarily is <br><b>Ans... </b> RAM
    </p><p>
    25. If a storage unit can retain data even in case of power failure it is called <br><b>Ans... </b> Non-Volatile storage
    </p><p>
    26. If a memory has 1024 location the address rages from <br><b>Ans... </b> 0 to 1023
    </p><p>
    27. Primary storage of a computer system is also known as <br><b>Ans... </b> Main memory
    </p><p>
    28. Which of the following is the user programmed semiconductor memory? <br><b>Ans... </b> EPROM
    </p><p>
    29. Secondary memory is much cheaper than primary memory.
    </p><p>
    30. A memory in which information can be store and erased multiple time is <br><b>Ans... </b> EEPROM
    </p><p>
    31. If a memory has 512 location the address ranges from <br><b>Ans... </b>  0 to 511
    </p><p>
    32. Volatile Memory means <br><b>Ans... </b> Loss data in case of power off
</p>

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">

                    <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory.length; i++) {
                        
                        if(thisStudent.assignmentTheory[i].chapterName == 'Chapter-3') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory[i].mcq1 == 'Random Access Memory') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory[i].mcq2 == 'Arithmetic Logic Unit') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory[i].mcq3 == 'Location or cells') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory[i].mcq4 == 'RAM') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory[i].mcq5 == 'many') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-normal text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete101/<%= studentId %>/<%= thisStudent.assignmentTheory[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>

            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
            <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-101 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-3" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="5" aria-hidden="true">

            
                 <p class="fs-5 fw-light">
                    
                    Q1. What is the full form of RAM?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Random Access Memory" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Random Access Memory
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Random Asset Memory" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Random Asset Memory
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Ransom Assess Memory" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Ransom Assess Memory
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Read Only Memory" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                 Read Only Memory
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. What is the full form of ALU?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Array Logical Unit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Array Logical Unit
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Arithmetic Lexical Unit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Arithmetic Lexical Unit
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Arithmetic Local Unit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Arithmetic Local Unit
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Arithmetic Logic Unit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                  Arithmetic Logic Unit
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. Main memory have several storage area called ________?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Location or cells" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                 Location or cells
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Block Memory" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Block Memory
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="RAM" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                 RAM
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="Unique Number" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  Unique Number
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. ________ is a volatile memory and loses all its data when the power is switched off.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="RAM" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  RAM
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="ROM" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  ROM
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Non-volatile" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 Non-volatile
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. A CPU usually has ________ registers.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="2" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                 2
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="8" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  8
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="many" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  many
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="unlimited" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  unlimited
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
                  
                  
                  
                      
                    </form>
      </div>
    </div>
  </div>
</div>  
    
    
    
    

  </body>
  
  
</html>
