<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
         <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-103) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Ch-18 (powerpoint)</button>
                            
                              <!--include word excel powerpoint menu-->
                              
                              <%- include('layouts/officeAutomationSoftwareMenu') -%>
                              
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter 18-ah hian <code>DIFFERENT VIEWS OF A PRESENTATION</code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                         
                    Different Views of a Presentation (Opening an existing presentation, Switching views) (1
MARK) 
                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--khuhhawnna section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-bookmark pe-2 text-muted"></i> Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                        <p>PowerPoint-a hriat hmasak ngai pakhat chu a view dan hi a ni a. Slide chhunga thu te leh a design te kan
                        siam zo tawh a nih chuan computer-ah kan play chhin tur a ni a. Kan play dawn chuan keyboard-ah <code>F5</code> hmeh tur
                        a ni a. Tichuan, a lo in play ang a, mouse emaw keyboard arrow emaw hmangin a slide chu next/previous tawh mai tur a ni.
                        Kan play lai kan titawp duh a nih chuan keyboard-ah <code>ESC</code> hmeh leh mai tur a ni.</p>
                        
                        <p>Powerpoint-ah hian view dan chi 3 a awm a. Chungte chu:- Normal, slide Sorter and Slide Show te an ni a. Heng view te hi
                        a screen hnuai lam status bar phei-ah khan an awm. Normal chu slide kan siam laia a awm dan pangngai ang hi a ni a. Slide Sorter chu a slide tin te reuh te tea lantirna a ni a. Slide sorter
                        view atang hian a phek hmasak dan indawt mouse hmangin kan siam rem thei. Slide show chu Slide play-na kha a ni a, keyboard-a F5 
                        hmeh nen a inang a ni.</p>
                        
                        <figure class="figure">
  
                         <img src="/img/powerpointView.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="540" alt="powerpointView" />
                                    
                          <figcaption class="figure-caption ps-2 text-danger"> PowerPoint View </figcaption>
                                    
                          </figure> 
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
<p><em> DIFFERENT VIEWS OF A PRESENTATION (1 MARK): </em></p>

<p>
1.	<code>Status bar</code> is the horizontal bar at the bottom of the PowerPoint window.
</p><p>
2.	The presentation in PowerPoint can be displayed in three views:<code> Normal, slide Sorter and Slide Show.</code> 
Normal view further gives the options of Slide and Outline views.
</p><p>
3.	You can switch among views using the view buttons on the <code>status bar.</code>
</p><p>
4.	<code>Slide view</code> allows you to work on individual slides.
</p><p>
5.	<code>Outline view</code> allows you to look at the content of the entire presentation.
</p><p>
6.	<code>Slide sorter view</code> allows you to organise the order of the slides.
</p><p>
7.	<code>Slide show view</code> displays your slides as a presentation on your computer.
</p><p>
8.	<code>F5</code> is the shortcut key for playing slide show from the beginning.
</p><p>
9.	To terminate a slide show in between, press <code>Esc</code> key
</p>
<hr>
<p>
  <b>OLD QUESTION:</b>
</p><p>
1. Which one allows you to work on individual slides <br><b>Ans... </b> Slide view
</p><p>
2. ________ is a miniature view of slides <br><b>Ans... </b> Slide sorter
</p><p>
3. <img src="/img/slideSorter.jpg"> represents <br><b>Ans... </b> Slide sorter view
</p><p>
4. ________ allows you to organize the order and status of the slides in
your presentation <br><b>Ans... </b> Slide sorter view
</p><p>
5. The header and footer tools is activated via the <br><b>Ans... </b> View menu <em>(2007 version-ah chuan Insert Tab tih chu a chhanna dik a ni.)</em>
</p><p>
6. Status bar is a bar at the ________ of the screen <br><b>Ans... </b> Bottom
</p><p>
7. Status bar shows the page number on which you are working at <br><b>Ans... </b> True
</p><p>
8. Slide show is activated by ________ key <br><b>Ans... </b> F5
</p><p>
9. In PowerPoint presentation F5 is used to <br><b>Ans... </b> Slide show
</p><p>
10. Shortcut key for Spelling and Grammar is <br><b>Ans... </b> F7
</p><p>
11. Which key change the text cases? <br><b>Ans... </b> Shift + F3
</p><p>
12. Shift+F5 slide show the presentation <br><b>Ans... </b> True
</p><p>
13. To slide show the presentation, which key is use? <br><b>Ans... </b> F5
</p><p>
14. <img src="/img/slideShowFromBeginning.jpg"> represents <br><b>Ans... </b> Start slide show from the beginning
</p><p>
15. ________ is used to end slide show <br><b>Ans... </b> Esc
</p><p>
16. What is Custom shows in powerpoint? <br><b>Ans... </b> Creating Presentations within a Presentation
</p><p>
17. To select one hyperlink after another during a slide presentation, what do you press? <br><b>Ans... </b> Tab
</p>

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                 <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory103 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                        
                        if(thisStudent.assignmentTheory103[i].chapterName == 'Chapter-18') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory103[i].mcq1 == 'Slide sorter') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory103[i].mcq2 == 'F5') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                           //question 3
                          if(thisStudent.assignmentTheory103[i].mcq3 == 'Esc') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory103[i].mcq4 == 'From beginning') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                         
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/4

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete103/<%= studentId %>/<%= thisStudent.assignmentTheory103[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
         
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
    
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment103" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-103 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-18" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="4" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1. ________ view allows you to organise the order of the slides.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Status bar" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Status bar
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Slide Show" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                 Slide Show
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Slide sorter" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Slide sorter

                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Outline view" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Outline view
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. Slide show is activated by ________ key.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="F2" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  F2
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="F3" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  F3
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="F4" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 F4
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="F5" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 F5
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>

                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. ________ is used to end slide show.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Ctrl" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Ctrl
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Windows key" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                 Windows key
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Esc" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Esc
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. <img src="/img/slideShowFromBeginning.jpg"> represent start slide show ________
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="From beginning" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                   From beginning
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="From current slide" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  From current slide
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Custom slide show" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Custom slide show
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    
    

  </body>
  
  
</html>
