<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-104) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-6</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca104welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-6 ah hian <code> Points to remember</code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                       Chapter-6 ah hian syllabus chhunga awm si, 
            
            kan zir tak chapter-a kan sawi hmaih te kan lawrkhawm dawn a ni. Chapter 5 kha syllabus ang chuan chapter hnunhnung ber a ni a.
            
            He chapter hi chuan hming hran em em pawh a nei lem lo va, chuvangin
            
            <code> Points to remember</code> tiin kan phuah a ni.
                      

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
              
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>POINTS TO REMEMBER </em></p>

<p>
1.	Internet: The network of networks wherein billions of computers globally are connected to one another.
</p><p>
</p><p>
2.	Routers: Devices used to direct Internet traffic by  determining  th  optimum path that can be taken by the data to reach from the host computer to the destination computer.
</p><p>
3.	Packets: When a computer sends data over the Internet, it is broken up into pieces called packets by the TCP protocol.
</p><p>
4.	Broadband: A connection that provides faster internet access, enabling users to view web content faster and download or upload files more quickly.
</p><p>
5.	Computer that request information from servers is Client computer.
</p><p>
6.	Unauthorised access to the computer system is called hacking.
</p><p>
7.	A key which is known only by the owner is called Private Key.
</p><p>
8.	The World Wide Web Consortium (W3C) develops standards for the  evolution of the fastest growing part of the Internet.
</p><p>
9.	A place on the internet where information about an organization is stored is Website
</p><p>
10.	Internet Society, ISOC, an international organization that promotes Internet use and access.
</p><p>
11.	Data Diddling is unauthorized altering of data before or during entry into a computer system, and then changing it back after processing is done.
 </p><p>
12.	Pages on the Web are built using a markup languange called HyperText Markup Language (HTML).
</p><p>
13.	FTP sites expect you to use a account called anonymous.
</p><p>
14. Some examples of linear texts include novels, poems, letters, textbooks, etc. In contrast, flow charts, knowledge maps, digital texts with hyperlinks, and encyclopedias are some examples of nonlinear text.
</p><p>
15.	The web address is expressed as four numbers separated by dots such as 192.168.0.168. It is also called as Internet Protocol (IP) address.
</p><p>
16.	Internet speed is measured in megabits (Mb) per second. It is often abbreviated as “Mbps.”
</p><p>
17. The full form of CGI is Common gateway interface.
</p><p>
18.	FTP – File Transfer Protocol; It is used to download and upload files over the Internet.
</p><p>
19.	Gopher – A protocol helps in distributing,  searching,  and  retrieving  documents over the Internet.
</p><p>
20.	 The technology by which a digital signal is converted to its analog form is called Modulation
</p><p>
21.	There are four types
of hyperlinks.
• Text hyperlink – Uses a word or phrase to take visitors to another page,
file or document.
• Image hyperlink – Uses an image to take visitors to another page, file or
document.
• Bookmark hyperlink – Uses text or an image to take visitors to another
part of a web page.
• E-mail hyperlink – Allows visitors to send an e-mail message to the
displayed e-mail address. 
</p><p>
22.	Instant messaging – Private one-to-one communication between  two  persons.
</p><p>
23. E-learning – It is a wide set of applications and processes which use all available electronic media to deliver education and training.
</p><p>
24. In computing, tty is a command in Unix and Unix-like operating systems to print the file name of the terminal connected to standard input. tty stands for TeleTYpewriter.
 </p><p>
25. E-reservation – or Computer Reservations System (CRS)  is  a computerised system used to conduct transactions like  booking  or  cancellation of air, rail or bus tickets.
</p><p>
26. A technology that facilitates an integration of text, data, image, graphic etc is Multimedia.
</p><p>
27.	Blog – A type of website, maintained by an individual who keeps updating it with his/her views and comments.
</p><p>
28.	Users within corporations and large organizations typically connect to an ISP via a high speed link is called Braodband Connection.

</p><p>
29.	Newsgroup – A forum in which people from all over the world participate in discussions.
</p><p>
30.	Plug-in: A piece of software used to display the files that a web browser is unable to display.
</p><p>
31.	Tabbed browsing: Feature that allows several web pages to be opened simultaneously.
</p><p>
32.	InPrivate browsing: Feature that lets users access the Internet without  creating history record of sites visited and saving cookies.
</p><p>
33.	Pop-up: A small browser window that appears on the top of the existing browser window.
</p><p>
34.	XML stands for Extensible Markup Language. XML is not replacement of  HTML.
</p><p>
35.	No one actually owns the Internet.
</p><p>
36. The study of structure refers to Anatomy.
</p>

                        


                      </p>
             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
             <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory104 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory104.length; i++) {
                        
                        if(thisStudent.assignmentTheory104[i].chapterName == 'Chapter-6') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory104[i].mcq1 == 'No one') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory104[i].mcq2 == 'Anatomy') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory104[i].mcq3 == 'four') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory104[i].mcq4 == 'Newsgroup') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory104[i].mcq5 == 'Broadband Connection') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory104[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete104/<%= studentId %>/<%= thisStudent.assignmentTheory104[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            
 
            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
 <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment104" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-104 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-6" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1.  Who owns internet?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="No one" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  No one
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Someone" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Someone
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="USA" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  USA
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Government" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Government
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. The study of structure refers to ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Architecture" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Architecture
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Anthropology" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Anthropology
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Anatomy" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Anatomy
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. There are ________ types of hyperlinks.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="one" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  one
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="two" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  two
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="three" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  three
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="four" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  four
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4.  A forum in which people from all over the world participate in discussions.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Newsgroup" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Newsgroup

                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Facebook" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                   Facebook
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Whatsapp" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 Whatsapp
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. Users within corporations and large organizations typically connect to an ISP via a high speed link is called ________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Fibre Connections" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Fibre Connection
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Telephone Connection" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Telephone Connection
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Dialup Connection" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Dialup Connection
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="Broadband Connection" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  Broadband Connection
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>

  </body>
  
  
</html>
