<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-103) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Ch-2 (word)</button>
                            
                              <!--include word excel powerpoint menu-->
                              
                              <%- include('layouts/officeAutomationSoftwareMenu') -%>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter 2-ah hian <code>FORMATTING A DOCUMENT </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                         
                         Formatting a Document (Text style, Changing the font type and size, Alignment of text,
Formatting paragraphs with line of paragraphs with line of paragraph spacing, Adding headers,
footers and page numbers) (2 MARKS)  
                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--khuhhawnna section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                         <p>Formatting tih awmzia chu kan thu type (hawrrawp) tihdanglamna kha a ni a. A changin hawrrawp chhah (bold)
                         kan hmang thei a, hawrrawp tlu (italic) kan hmang thei a, underline te, thaichhiat (strikethrough) te kan hmang thei bawk a.
                         Kan duh chuan a thla hlim shadow kan pe thei a, a colour leh a font style kan tidanglam thei bawk a ni.</p>
                         
                         
                         <figure class="figure">
  
                          <img src="/img/formattingDocument.jpg" class="float-end img-fluid ps-2 pb-2" alt="formattingDocument" />
                          
                          <figcaption class="figure-caption ps-2 text-danger"> Formatting Document </figcaption>
                          
                          </figure>
                         
                         
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
<p><em>FORMATTING A DOCUMENT (2 MARKS)</em></p>

<p>
1.	<code>Formatting</code> means applying various effects on a text document, such as bold or italics etc.
</p><p>

2.	<code>The Bold, Italics and Underline buttons </code>help to give the formatting styles their names indicate.
</p><p>

3.	<code>Text style</code> refers to the formats, which affect the appearance of the individual characters.
</p><p>

4.	<code>Font</code> is a style of text characters. Font and font size can be changed by using the Font box and the Font Size box available on the Font group of Home tab.
</p><p>

5.	<code>The colour of the text</code> can be changed by using the Font Color button.
</p><p>

6.	<code>The vertical spacing or the space between the lines</code> within a paragraph is referred to as leading.
</p><p>

7.	<code>Line spacing</code> is a space between consecutive lines in a text document.
</p><p>
   
8.	<code>Under Line spacing options,</code> you can make six choices which are; Single, 1.5 lines, Double, At least, Exactly and Multiple.
</p><p>

9.	<code>Alignment </code>refers to the way text lines are arranged on the right and left margins. Text can be either aligned, centre aligned, right aligned  or justified    by using the four buttons on the Paragraph group of Home tab.
</p><p>

10. <code>A paragraph</code> can be formatted for line spacing as well as space before and after paragraphs by choosing Line spacing group on the Home tab.
</p><p>

11.	<code>Header/footer</code> is a line of text on the top/bottom margin with information such as page number, date, company name, etc.
</p><p>

12.	<code>Header & Footer group </code>under Design and Insert tabs help in inserting the header, footer and page number.
</p><p>

13.	<code>Tabs</code> are small projections that appear above the Ribbon with group names such as Home, Insert, Page Layout, etc.
</p><p>

14.	<code>The top blank space</code> is called the top margin and the bottom blank space is called bottom margin.
</p><p>

15.<code>	AutoFormat</code>	is   a	feature	that	automatically   formats	some	character combinations in a certain way, like 1/2 as ½.
</p><p>

16.	<code>Menu path for turning on AutoFormat </code>is: Office button > Word Option > Proofing > AutoCorrect > AutoFormat as You Type.
</p>
<hr>
<p>
  <b>OLD QUESTION:</b>
</p><p>
1. ________ refers to the formats that effect the appearance of the individual characters <br><b>Ans... </b> Text style
</p><p>
2. Font size are measured in ________ <br><b>Ans... </b> Points
</p><p>
3. Which of these toolbar allows changing font and their size? <br><b>Ans... </b> Formatting
</p><p>
4. Which of the following shortcut keys changes the font size? <br><b>Ans... </b>  Ctrl + }
</p><p>
5. Name this sign <img src="/img/characterStyle.jpg"> <br><b>Ans... </b> Change Styles
</p><p>
6. Name this sign <img src="/img/sortButton.jpg"> <br><b>Ans... </b> Sort
</p><p>
7. Name this  sign <img src="/img/nonPrintingCharacter.jpg"> <br><b>Ans... </b> Show paragraph marks and other hidden formatting symbols
</p><p>
8. Name this  sign <img src="/img/findButton.jpg"> <br><b>Ans... </b> Find
</p><p>
9. ________ lets you copy a format applied in one section of a document to other portion of the document <br><b>Ans... </b> Format painter
</p><p>
10. Name this  sign <img src="/img/formatPainter.jpg"> <br><b>Ans... </b> Format Painter
</p><p>
11. To select multiple lines vertically in MS word what key
combination with mouse is use <br><b>Ans... </b> Ctrl
</p><p>
12. Word has ________ alignment where as excel has three alignment <br><b>Ans... </b> 4
</p><p>
13. Alignment can also be made using ________ <br><b>Ans... </b> Indentation
</p><p>
14. Alignment can also be made using ________ <br><b>Ans... </b> All of the above <br>
{ 1) Tab position tools 3) Alignment tools 2) Indentation 4) All of the above }
</p><p>
15. Text alignment in word document is of ________ types <br><b>Ans... </b> 4
</p><p>
16. Header and Footer appears in which menu _______ <br><b>Ans... </b> Insert
</p><p>
17. Footer appear at the bottom of ________ page(s) once inserted <br><b>Ans... </b> All
</p><p>
18. ________ appears on all pages once inserted <br><b>Ans... </b> Page Number 
</p><p>
19. The status bar displays the <br><b>Ans... </b> All of the above <br>
{ a) Current page number c) Live and column number b) Total number of page d) All of the above }
</p><p>
20. To undo the last action, ________ is use <br><b>Ans... </b> Ctrl + Z
</p><p>
21. MS office word zoom range is <br><b>Ans... </b> 10 to 500.
</p><p>
22. In MS Word, Typing '=rand (4,2)' gives ________ <br><b>Ans... </b> 4 paragraphs and 2 sentences of text
</p><p>
23. Page down key <br><b>Ans... </b> Moves the cursor one screen down
</p>

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory103 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                        
                        if(thisStudent.assignmentTheory103[i].chapterName == 'Chapter-2') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory103[i].mcq1 == 'Formatting') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory103[i].mcq2 == 'All of the above') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory103[i].mcq3 == 'Alignment') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory103[i].mcq4 == 'Header') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory103[i].mcq5 == '4 paragraphs and 2 sentences of text') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete103/<%= studentId %>/<%= thisStudent.assignmentTheory103[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment103" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-103 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-2" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1.  ________ means applying various effects on a text document, such as bold or italics etc.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Formatting" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Formatting
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Bold" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Bold
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Italic" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Italic
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Style" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Style
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. Alignment can also be made using ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Tab position tools" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Tab position tools
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Indentation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Indentation
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Alignment tools" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Alignment tools
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="All of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 All of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. ________ refers to the way text lines are arranged on the right and left margins.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Arrangement" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Arrangement
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Margin" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Margin
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Alignment" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Alignment
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="Centering" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  Centering
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4.  ________ is a line of text on the top margin with information such as page number, date, company name, etc.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Header" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Header
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Heading" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                   Heading
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Top Margin" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Top Margin
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Footer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  Footer
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. In MS Word, Typing <b>=rand(4,2)</b> gives ________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="4 paragraphs and 2 columns of text" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  4 paragraphs and 2 columns of tex
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="4 paragraphs and 2 sentences of text" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  4 paragraphs and 2 sentences of text
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="4 columns and 2 paragraphs of text" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  4 columns and 2 paragraphs of text
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="6 sentences and 2 paragraphs of text" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  6 sentences and 2 paragraphs of text
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    
    

  </body>
  
  
</html>
