<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-104) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-1</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca104welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-1 ah hian Internet Technology subject-a chapter hmasa ber <code>INTRODUCTION TO INTERNET</code> kan zir ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                       1. INTRODUCTION TO INTERNET: (8 MARKS)
What is Internet, Growth and Owners of the Internet, Anatomy of Internet, History of World Wide
Web, Basic Internet Terminologies, Netiquette, Internet Applications, Commerce on the Internet,
Governance on the Internet, Impact of Internet on Society, Crime on/through the Internet (Cyber
Crime, Reasons for Cyber Crime, Mode and Manner of Committing Cyber Crime, Prevention of
Cyber Crime). 

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                          <p>Internet hi computer hrang hrang inthlung khawm sawina a ni a. Internet hi mimal hmuh chhuah a ni lo va, 
                          tu ta bik mah a ni hek lo. Mithiam tam takin an theihna zawn theuhah tha an thawh a, hetiang hi a lo ni thei ta a ni.</p>
            
                          <p> Kum 1960 chho vel khan US Department of Defence chuan ARPANET project an duang a, 
                          he project hian a tum chu computer leh computer thlunzawm a, message in thawn tawn dan tur hmuh chhuah a ni. 
                          Kum 1969 khan computer pakhat atanga computer danga message thawn chu an tihlawhtling thei ta a ni.  </p>
              
                          <p> Computer scientist Tim Berners-Lee a chuan kum 1990 khan WWW hi a hmu chhuak a. 
                          WWW chu website kan tih hi a ni a, amah hi "Father of WWW" tih a ni ta a ni. 
                          Chuta tang chuan Internet hi a lo larin a lo thang duang lehzual ta ni. </p>
            
            <figure class="figure">
  
                         <img src="/img/internetIntro.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="540" alt="internetIntro" />
                                    
                          <figcaption class="figure-caption ps-2 text-danger"> Global Internet Connection </figcaption>
                                    
                          </figure> 
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>INTRODUCTION TO INTERNET: (8 MARKS) </em></p>

<p>
1)	<code>Website</code> is a collection of html documents, graphic files, audio and video files.
</p><p>
2)	The first network that planted the seeds of the Internet was <code>ARPANET.</code>
</p><p>
3)	Full form of ARPANET is The Advanced Research Projects Agency Network (ARPANET).
</p><p>
4)	The communication protocol used by the Internet is <code>TCP/IP.</code>
</p><p>
5)	<code>TCP/IP </code>stands for Transmission Control Protocol/Internet Protocol, which is a set of networking protocols that allows two or  more  computers to communicate
</p><p>
6)	Illegally seeking control of a website by taking over a domain is know as Web Jacking.
</p><p>
7)	Which one of the following attack is normally prevalent in financial institutions or for purpose of committing financial crime is Salami attack.
</p><p>
8)	The equipment needed to allow most home computers to connect to    the Internet is called a<code> MODEM.</code>
</p><p>
9)	The excellent browser for browsing text only is Lynx.
</p><p>
10)	The process of determining the identity of a user who is attempting to access a system is called Authentication.
</p><p>
11)	A common encoding scheme used on newsgroups is called uuencode.
</p><p>
12) A set of rules is known as protocol.
</p><p>
13)	The<code> URL </code>specifies the Internet address of a file stored on a host computer connected to the Internet.
</p><p>
14)	When the cursor pointer changes to a hand, you are over a  <code>hyperlink.</code>
</p><p>
15)	<code>Tim Berner-Lee</code> is the “Father of the WWW”.
</p><p>
16)	The term “thumbnail”, refers to a small version of a large graphical image that you can usually click to display the full-sized image.
 </p><p>
17)	The conventional rules for correct behavior on the internet is called <code>Netiquette.</code>
</p><p>
18)	<code>Internet</code> is network of networks.
</p><p>
19)	Remote login can be done using Telnet
</p><p>
20)	<code>Ping command</code> is used to check the connectivity of a live network. 
</p><p>
21)	<code>Compress </code>refers to shrink and store data in less space.
</p><p>
22) Browsers are sometimes referred to as Web clients.
</p><p>
23)	A company that offers Internet access is known as Internet Service Provider (ISP).
</p><p>
24)	<code>A Packet Switching system </code>permits multiple pairs of computers to communicate across a shared network with minimal delay.
</p><p>
25)	The most common transfer protocol used on the Internet is<code> HTTP. </code>
</p><p>
26) <code>A Web Browser</code> is an application that displays Web pages.
</p><p>
27)	<code>A packet sniffer </code>is a program that captures data from information packets as they travel over the network.
</p><p>
28)	<code>E-commerce</code> or electronic commerce means  buying  and  selling items online.
</p><p>
29)	The expanding rate of the internet per month is 12%
</p><p>
30)	In Cyber Law terminology 'DOS' means Distant Operator Service.
</p><p>
33) Software that is distributed for free on a trial basis is called shareware.
</p><p>
34) Hyperlink changes an arrow of a mouse to a pointing hand.
</p><p>
35) When someone is TYPING AN ENTIRE SENTENCE IN ALL CAPITAL LETTERS, that person is SHOUTING. It is not proper netiquette to TYPE IN ALL CAPS, especially in e-mail.
</p><p>
36) Cryptography, or cryptology is the practice and study of techniques for secure communication in the presence of third parties called adversaries.
</p><p>
37) Cyberstalking is the use of the Internet or other electronic means to stalk or harass an individual, group, or organization. It may include false accusations, defamation, slander and libel.
</p>
                        


                      </p>
             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
              <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory104 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory104.length; i++) {
                        
                        if(thisStudent.assignmentTheory104[i].chapterName == 'Chapter-1') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory104[i].mcq1 == 'Tim Berner-Lee') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory104[i].mcq2 == 'Hyperlink') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory104[i].mcq3 == 'Shareware') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory104[i].mcq4 == 'Internet Service Provider (ISP)') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory104[i].mcq5 == 'Authentication') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory104[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete104/<%= studentId %>/<%= thisStudent.assignmentTheory104[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            
 
            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
     <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment104" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-104 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-1" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1.  Father of the WWW is
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Elon Musk" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Elon Musk
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Charles Babbage" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Charles Babbage
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Bill Gates" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Bill Gates
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Tim Berner-Lee" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Tim Berner-Lee
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. ________ changes an arrow of a mouse to a pointing hand.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Link" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Link
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Hyperlink" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Hyperlink
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Hyperloop" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Hyperloop
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. Software that is distributed for free on a trial basis is called ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Shareware" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Shareware
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Freeware" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Freeware
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Free Trial" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Free Trial
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="Beta" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  Beta
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4.  A company that offers Internet access is known as ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="BSNL" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  BSNL
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Internet Supplier Company" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                   Internet Supplier Company
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Internet Service Provider (ISP)" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Internet Service Provider (ISP)
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. The process of determining the identity of a user who is attempting to access a system is called ________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Password" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Password
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="User Id" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  User Id
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Accessor" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Accessor
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="Authentication" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  Authentication
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    

  </body>
  
  
</html>
