<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
           <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small"> <i class="fas fa-home"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : </p>
            
            <h4 class="text-dark text-center fw-normal mt-1"> <%= chapterTitle  %></h4>
            
            <p class="text-muted fw-light text-center mt-0"> (DCA-102) </p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-danger"> Chapter-8</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca102welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter 8-ah hian <code> ESSENTIALS WINDOWS ACCESSORIES </code> kan zir dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                          
                       8. ESSENTIALS WINDOWS ACCESSORIES: (5 - Marks) System Tools, Entertainment, Calculator, Notepad, Paint, WordPad. 
                       
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Explanation
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                          <p>Windows Accessories hi windows OS-in a rawn chhawm tel program pawimawh tak tak leh tangkai tak tak te an ni a.
                          Calculator te, notepad te leh windows media player te hi kan hman nasat pawl an ni. Tin, a hnuaia thlalaka lang bakah hian
                          System Tools tangkai tak tak a awm bawk a, Control panel hi a pui ber pakhat a ni.
                          
                          <figure class="figure">
  
                            <img src="/img/windows_accessories.jpg" class="float-end img-fluid ps-2 pb-2" width="400" height="540" alt=" Windows Accessories" />
                            
                            <figcaption class="figure-caption ps-2 text-danger"> Windows Accessories and System Tools.</figcaption>
                            
                            </figure>
                          
                          
                          
                          
                          </p>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
                        
                    <p><em> 8.	ESSENTIALS WINDOWS ACCESSORIES (5 MARKS)</em></p>

<p>The Window operating system is bundled with many useful programs. 
They are called Windows Accessories or Tools.</p>

<p>Let us look at some of them.</p>
<p><code>
Calculator:</code> The Calculator program is located in the Accessories folder. 
Choose Start  >  All Programs  >  Accessories  >  Calculator to start Calculator application, 
or alternately you can open Run dialog box (Start  >   Run) then type calc and hit enter. </p>

<p><code>Paint: </code> (formerly Paintbrush) is a program used to create drawings on the computer. 
It also located in the Accessories folder. Choose Start  >  All Programs  >  Accessories  >  Paint to start Paint application, 
or alternately you  can  open  Run dialog box (Start  >  Run) then type mspaint and hit enter.</p>

<p><code>
WordPad</code> is a basic word processor and it can format and print text, including fonts, bold, italic, colored, and centered text, etc., 
but lacks vital functions such as a spell checker, thesaurus, and control over pagination. 
It does not support footnotes or endnotes. Choose Start  >  All Programs  >  Accessories  >  Wordpad to start Paint application, 
or alternately you can open Run dialog box (Start  >   Run)  dialog  box then type wordpad and hit enter.</p>

<p><code>Notepad: </code> Notepad is primarily used for creating files with plain text, that is, the text which is unformatted. 
The file extension of Notepad is .txt.</p>

<p><code>SYSTEM TOOLS:</code> Windows includes some of  the system utilities such as Disk Cleanup, Disk Defragmenter, System Restore, 
and Control Panel and so on. </p>

<p><code>Disk Cleanup:</code> In Windows 7, Vista, and XP, Disk Cleanup frees disk space by cleaning areas that gather unneeded files. </p>


<p>
To run Disk Cleanup:<br>
•	From the Start menu, select Programs or All Programs, then Accessories, then System Tools, and then Disk Cleanup.<br>
•	Select the drive on which you would like to clear disk space (usually your C: drive), and click OK.<br>
•	Select from the four areas that Disk Cleanup will check and clean up.<br>
</p>

<p><code>
Disk Defragment:</code> When your computer crashes or freezes, the drive becomes fragmented. This means the files may be broken up
and stored in different locations in your computer. This causes programs and files to run more slowly. <br>
To run Disk Defragmenter:<br>

•	Close all programs. Choose Start menu >
All Programs > Accessories > System Tools
> Disk Defragmenter.<br>

•	Select the drive you want to clean and click OK. Click Analyze. This may take several minutes. Click Close or Defragment.</p>

<p><code>System Restore:</code> System restore is a feature of Windows that allows you to roll back the system to the same configuration 
it had at an earlier time.<br>

To run System Restore:<br>
•	Go to Start > Programs > Accessories > System Tools > System Restore.<br>

•	The System Restore screen will come up. Follow the on screen instructions<br>
</p>

<p><code>Control Panel:</code> is used for adding hardware, installing and uninstalling software, controlling user accounts, 
and changing accessibility options. The Control Panel has two views, 
Classic View and Category View, and it is possible to  switch  between these through an 
option that appears on either the left side or top of the window. </p>

<p><code>
Entertainment:</code> The entertainment tools, such as Sound Recorder, volume Control, Windows Media Player, etc., allow you to play audio, video, or animation files and to control the settings for multimedia hardware devices.
</p>

                        </p>

                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      
                      <!--Assignment form started-->
                      
            <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-102 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-1" aria-hidden="true">

                 
                 <h6 class="text-center lead">A hnuaia zawhnate hi chhang rawh.</h6>

            
                  <p class="fw-bold mt-3">
                    
                    Q1. The set of instructions given to a computer to perform a task is called a __________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Program" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Program
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Instruction" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Instruction
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Processor" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Processor
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Scheduling" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Scheduling
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q2. ________ is a UNIX like operating system. It is free and open source program originally developed by Linus Torvalds in 1991 for personal computers.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Linux" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Linux
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Boss" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Boss
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Android" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                  Android
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Unix" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                  UNIX
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q3. Which of the following is function of operating system?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Process Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Process Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Device Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Device Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Security Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Security Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="All of these" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  All of these
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q4. The most important program for the computer is ________?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Microsoft Windows" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Microsoft Windows
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="CPU" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  CPU
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Operating System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Operating System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Application Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  Application Software
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                   Q5. File management, which includes organizing, naming, protecting, accessing and using files, is one of the key functions of an _________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Application Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Application Software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="System Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  System Software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Operating System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Operating System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            

            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
