<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body>
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

     <main>
      
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-2 pb-4 mt-2">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-3 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-103) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-0"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Ch-13 (excel)</button>
                            
                              <!--include word excel powerpoint menu-->
                              
                              <%- include('layouts/officeAutomationSoftwareMenu') -%>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter 13-ah hian <code>EDITING A WORKSHEET, FORMATTING AND PRINTING A WORKSHEET</code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                         
                     Editing a Worksheet, Formatting and Printing a Worksheet (Formatting a worksheet, printing
a worksheet) (3 MARKS)
                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--khuhhawnna section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-bookmark pe-2 text-muted"></i> Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                         <p>
                           Cell chhunga data kan edit dawn chuan <code>double-click </code> hmasak zet tur a ni a. Vawi khat click-a kan type nghal
                           mai chuan data or thuziak awmsa kha a bo vek dawn a ni. Tin, kan edit duhna cell-a kan awm laiin keyboard key
                           <code>F2 </code>kan hmet thei bawk. 
                           
                         </p>
                         
                         <p>
                          Excel sheet kan print dawnin kan adjust hmasa thin tur a ni a. <code>Print Preview</code> hmasa lovin print command pek nghal tawp loh tur a ni.
                          Print preview atang hian kan adjust nghal thei a, tin,
                          print dialog box atangin kan print duh danin kan select thei bawk. 
                           
                         </p>
                         
                         <figure class="figure">
  
                         <img src="/img/printPreview.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="540" alt="printPreview" />
                                    
                          <figcaption class="figure-caption ps-2 text-danger"> Print Preview Button </figcaption>
                                    
                          </figure> 
                         
                        
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
<p><em> EDITING A WORKSHEET, FORMATTING AND PRINTING A WORKSHEET (3 MARKS) </em></p>
<p>
1.	<code>Editing</code> means making changes to an existing worksheet, like  adding  new data, deleting data, correcting data, etc.
</p><p>
2.	<code>Range</code> refers to a group of adjacent cells.
</p><p>

3.	You can <code>double-click</code> on the cell requiring editing and alter its contents; or
press<code> F2 </code>after selecting the cell.
</p><p>

4.	A column (or row) can be inserted in a worksheet by selecting Insert on the
shortcut menu.
</p><p>


5.	To clear the cell contents in a worksheet, first select the range and then select Clear Contents on the shortcut menu.
</p><p>

6.	<code>To change column width,</code> place cell pointer on the border between the two column headers and drag the mouse pointer either left or right, or double- click on the border to fit width to contents.
</p><p>

7.	<code>Editing</code> is a group in Home Tab in Excel.
</p><p>

8.	To insert a row between rows 12 and 13, you will select Row 13.
</p><p>

9.	If you insert a new column between Columns C and D, the data previously on Column D is found on Column E.
</p>
<p>
  <b>Printing</b><br>
<code>Print one or several worksheets</code><br>
1. Select the worksheets that you want to print. <br>
2. Click File > Print, or press CTRL+P.<br>
3. Click the Print button or adjust Settings before you click the Print button.<br>
</p><p>
<code>Print one or several workbooks</code><br>
1. All workbook files that you want to print must be in the same folder.<br>
2. Click File > Open.<br>
3. Hold down CTRL click the name of each workbook to print, and then click Print.<br>
</p><p>
<code>Print all or part of a worksheet</code><br>
1. Click the worksheet, and then select the range of data that you want to print.<br>

2. Click File, and then click Print.<br>

3. Under Settings, click the arrow next to Print Active Sheets and select the appropriate option.<br>

</p>
<hr>
<p>
  <b>OLD QUESTION:</b><br>
1. In MS Excel F2 function key is use to <br><b>Ans... </b> Edit cell value
</p><p>
2. A4 size paper dimension is <br><b>Ans... </b> 8.27" X 11.69"
</p><p>
3. Function key for editing cell to alter its content we press <br><b>Ans... </b> F2
</p><p>
4. To edit cell value, ________ is the key that similarly functions as the mouse double click <br><b>Ans... </b> F2
</p><p>
5. <img src="/img/deleteExcel.jpg"> represents <br><b>Ans... </b> All of the above <br>
{ 1) Delete sheet rows 2) Delete sheet Columns 3) Delete sheet 4) All of the above }
</p><p>
6. Underlined letter in the menu bar is activated by which key? <br><b>Ans... </b> F10
</p><p>
7. Print shortcut key is <br><b>Ans... </b> Ctrl + P
</p><p>
8. In MS Excel, when enter key is press, the cursor moves <br><b>Ans... </b> Downward
</p><p>
9. MS Excel 2007 file extension is <br><b>Ans... </b> xlsx
</p><p>
10. A ghosted text behind the content of the page is called <br><b>Ans... </b> watermark
</p><p>
11. Shift+F3 (Change case) do not function in MS Excel <br><b>Ans... </b> True
</p><p>
12. Summation of values possible in MS Excel from <br><b>Ans... </b> All of the above <br>
{ 1) Different cell value 3) Values from column 2) Values from row 4) All of the above }
</p><p>
13. To replace cell in MS Excel, we use <br><b>Ans... </b> Ctrl + H
</p><p>
14. For tabulation and for calculation <br><b>Ans... </b> MS Excel is more useful than MS Word
</p><p>
15. In excel sheet addition/ summation is done using ________ expression <br><b>Ans... </b> All of the above <br>
{ a) =A1+A2+A3+A4 c) +A1+A2+A3+A4 b) =Sum(A1:A4) d) All of the above }
</p><p>
16. To keep a portion of the sheet visible while the rest of the sheet scrolls is <br><b>Ans... </b> Freeze
</p><p>
17. What will be the output if you format the cell containing 5436.8 as '#,##0.00'? <br><b>Ans... </b> 5,436.80
</p><p>
18. How should you print a selected area of a worksheet, if you'll want to print a different area next time? <br><b>Ans... </b>
On the office button, click print, and then click selection under print what.
</p><p>
19. The default header for a worksheet is <br><b>Ans... </b> No default header
</p>
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
               <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory103 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                        
                        if(thisStudent.assignmentTheory103[i].chapterName == 'Chapter-13') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory103[i].mcq1 == 'F2') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory103[i].mcq2 == 'Range') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                           //question 3
                          if(thisStudent.assignmentTheory103[i].mcq3 == 'Print Preview') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                         
                           //question 4
                          if(thisStudent.assignmentTheory103[i].mcq4 == 'All of the above') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory103[i].mcq5 == '5,436.80') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                         
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete103/<%= studentId %>/<%= thisStudent.assignmentTheory103[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
         
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="staticBackdropLabel">A hnuaia zawhnate hi chhang rawh</h5>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment103" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-103 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-13" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="5" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1. Function key for editing cell to alter its content, we press ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="F1" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  F1
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="F2" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                 F2
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="F3" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  F3

                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="F4" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  F4
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. In excel, ________ refers to a group of adjacent cells.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Join" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Join
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Merge" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Merge
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Range" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Range
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Group" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 Group
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>

                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. <img src="/img/printPreviewButton.jpg"> represents
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Printing" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Printing
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Magnifying Glass" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                 Magnifying Glass
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Zoom Out" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Zoom Out
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="Print Preview" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  Print Preview
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. In excel sheet addition/ summation is done using ________ expression. 
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="=A1+A2+A3+A4" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  =A1+A2+A3+A4
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="+A1+A2+A3+A4" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  +A1+A2+A3+A4
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="=Sum(A1:A4)" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  =Sum(A1:A4)
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="All of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  All of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. What will be the output if you format the cell containing 5436.8 as '#,##0.00'?
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="5,4360.8" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  5,4360.8
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="5,436.80" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  5,436.80
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="5,436.8" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                 5,436.8
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>

  </body>
  
  
</html>
