<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-101) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-10 </button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca101welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mt-3">Chapter-10 ah hian <code>Lamtawi (Abbreviation)</code> kan zir ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
                        <em>
                          
                         Lamtawi (Abbreviation) kan tih hi chapter hranin a awm lo va, amaherawhchu, chapter-10 tiin kan han phuah belh a ni. 
                         Tunah hian a common zual deuh deuh kan zir ho dawn a ni.
                          
             </em>  
                         
            
           
                      </p>
                      
             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus video end-->
                
                
             
                
                
                 <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                          
                          
                          
                      
       <p><em>ABBREVIATION</em></p>
       

<p>ASCII - American Standard Code for Information Interchange<br>
ARPANET - Advanced Research Projects Agency Network<br>
ATA - Advanced Technology Attachment<br>
ALU - Arithmetic Logic Unit<br>
ANSI - American National Standards Institute<br>
Bits - Binary Digits<br>
BIOS - Basic Input Output System<br>
bin - binary<br>
BAL - Basic Assembly Language<br>
BASIC - Beginner's All-purpose Symbolic Instruction Code<br>
BIOS - Basic Input Output System<br>
bps - bits per second<br>
BCD - Binary Coded Decimal<br>
Blog - Web Log<br>
BMP - Basic Multilingual Plane<br>
COBOL - Common Business Oriented Language<br>
CAD - Computer-Aided Design<br>
CASE - Computer-Aided Software Engineering<br>
CPU - Central Processing Unit<br>
CRT - Cathode Ray Tube<br>
CRS - Computer Reservations System<br>
CLI - Command Line Interface<br>
CDMA - Code Division Multiple Access<br>
CMOS - Complementary Metal-Oxide Semiconductor<br>
CD-R - CD-Recordable<br>
CD-ROM - CD Read-Only Memory<br>
CD-RW - CD-Rewritable<br>
CGI - Common Gateway Interface /Computer-Generated Imagery<br>
DAO - Data Access Objects<br>
DHTML - Dynamic Hypertext Markup Language<br>
DVD - Digital Video Disc<br>
DVD-R - DVD-Recordable<br>
DVD-ROM - DVD-Read Only Memory<br>
DVD-RW - DVD-Rewritable<br>
DOS - Disk Operating System<br>
DDR - Double Data Rate<br>
DNS - Domain Name System<br>
EEPROM - Electronically Erasable Programmable Read-Only Memory<br>
EBCDIC - Extended Binary Coded Decimal Interchange Code<br>
EPROM - Erasable Programmable Read-Only Memory<br>
FAT - File Allocation Table<br>
FAQ - Frequently Asked Questions<br>
FDMA - Frequency-Division Multiple Access.<br>
FS - File System<br>
FDD - Floppy Disk Drive<br>
FTP - File Transfer Protocol<br>
FORTRAN - Formula Translation<br>
Gb - Gigabit / GB—Gigabyte<br>
GIF - Graphics Interchange Format<br>
GPL - General Public License<br>
GPRS - General Packet Radio Service<br>
HDD - Hard Disk Drive<br>
HT - Hyper Threading<br>
HTML - Hypertext Markup Language<br>
HTTP - Hypertext Transfer Protocol<br>
Hz - Hertz<br>
IBM - International Business Machines.<br>
IC - Integrated Circuit<br>
IDE - Integrated Development Environment /Integrated Drive Electronics<br>
IE - Internet Explorer<br>
IIS - Internet Information Services<br>
IM - Instant Messaging<br>
IMAP - Internet Message Access Protocol<br>
I/O - Input /Output<br>
IC - Integrated Circuit<br>
IP - Internet Protocol<br>
IPR - Intellectual Property Rights<br>
ISDN - Integrated Services Digital Network<br>
ISP - Internet Service Provider<br>
JPEG - Joint Photographic Experts Group<br>
JS - JavaScript<br>
KB / Kb - Kilobyte / Kilobit<br>
kHz - Kilohertz<br>
KVM - Keyboard, Video, Mouse<br>
LCD - Liquid Crystal Display<br>
LED - Light Emitting Diode<br>
MAN - Metropolitan Area Network<br>
Mb / MB - Megabit / Master Boot Record<br>
MHz - Megahertz<br>
MPEG - Motion Pictures Experts Group<br>
NVRAM - Non-Volatile Random Access Memory<br>
OOP - Object-Oriented Programming<br>
OS - Open Source /Operating System<br>
OCR - Optical Character Recognition<br>
P2P - Peer-To-Peer<br>
PAN - Personal Area Network<br>
PATA - Parallel ATA<br>
PC - Personal Computer<br>
PCB - Printed Circuit Board<br>
PC-DOS - Personal Computer Disk Operating System<br>
PCI - Peripheral Component Interconnect<br>
PCIe - PCI Express<br>
PERL - Practical Extraction and Reporting Language<br>
PHP - Hypertext Preprocessor<br>
POST - Power-On Self Test<br>
PPI / DPI - Pixels Per Inch / Dot Per Inch<br>
PROM - Programmable Read-only Memory<br>
PS/2 - Personal System/2<br>
PSU - Power Supply Unit<br>
RAM - Random Access Memory<br>
RAID - Redundant Array of Inexpensive Disks<br>
RAIT - Redundant Array of Inexpensive Tapes<br>
RF - Radio Frequency<br>
RGB - Red, Green, Blue (RGBA—Red, Green, Blue, Alpha)<br>
RIP - Raster Image Processor /Routing Information Protocol<br>
ROM - Read Only Memory<br>
ROM-DOS - Read Only Memory - Disk Operating System<br>
SATA - Serial Advanced Technology Attachment<br>
SDRAM - Synchronous Dynamic Random Access Memory<br>
SVG - Scalable Vector Graphics<br>
SVGA - Super Video Graphics Array<br>
TB - Tera Byte<br>
TCP/IP - Transmission Control Protocol/Internet Protocol<br>
TDMA - Time Division Multiple Access<br>
tmp - temporary<br>
TTF - TrueType Font<br>
TTL - Transistor-Transistor Logic<br>
UPS - Uninterruptible Power Supply<br>
URI - Uniform Resource Identifier<br>
URL - Uniform Resource Locator<br>
USB - Universal Serial Bus<br>
UTF - Unicode Transformation Format<br>
UTP - Unshielded Twisted Pair<br>
VPN - Virtual Private Network<br>
VPU - Visual Processing Unit<br>
WAN - Wide Area Network<br>
WAP - Wireless Access Point / Wireless Application Protocol<br>
Wi-Fi - Wireless Fidelity<br>
WLAN - Wireless Local Area Network<br>
WMA / WMV - Windows Media Audio / Windows Media Video<br>
WPAN - Wireless Personal Area Network<br>
XML - eXtensible Markup Language<br>
Y2K - Year Two Thousand</p>
           <hr>
<p>
  <b>OLD QUESTION:</b>
  </p><p>
    1. DVD : Digital Versatile (Video) Disk
    </p><p>
2. LSI : Large Scale Integrator
</p><p>
3. BASIC : Beginner All Purpose Symbolic Instruction Code
</p><p>
4. COBOL : Common Business Oriented Language
</p><p>
5. IPR : Intellectual Property Right
</p><p>
6. EPROM : Erasable Programmable Read Only Memory
</p><p>
7. PDA : Personal Digital Assistant
</p><p>
8. OMR : Optical Mark Reader
</p><p>
9. SDLC : Software Development Life Cycle
</p><p>
10. ALU : Arithmetic Logic Unit
</p><p>
11. IBM : International Business Machine
</p><p>
12. RAM : Random Access Memory
</p><p>
13. OCR : Optical Character Reader
</p><p>
14. FORTRAN : Formula Translation
</p><p>
15. ARPANET : Advance Research Project Agency Network
</p><p>
16. BIOS : Basic Input/ Output System
</p><p>
17. EEPROM : Electrically Erasable Programmable Read Only Memory
</p><p>
18. DVD : Digital Versatile (Video) Disk
</p><p>
19. MICR : Magnetic Ink Character Recognition
</p><p>
20. EDSAC : Electronic Delay Storage Automatic Calculator
</p><p>
21. ROM : Read Only Memory
</p><p>
22. EBCDIC : Extended Binary Coded Decimal Interchange Code
</p><p>
23. UNIVAC : Universal Automatic Computer
</p><p>
24. SSI : Small Scale Integrator
</p><p>
25. MAR : Memory Address Register
</p><p>
26. LCD : Liquid Crystal Display
</p><p>
27. SCSI : Small Computer System Interface
</p>


 

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">

                    <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory.length; i++) {
                        
                        if(thisStudent.assignmentTheory[i].chapterName == 'Chapter-10') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory[i].mcq1 == 'Wireless Fidelity') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory[i].mcq2 == 'Virtual Private Network') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory[i].mcq3 == 'Electronically Erasable Programmable Read-Only Memory') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory[i].mcq4 == 'Portable Document Format') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory[i].mcq5 == 'Basic Input Output System') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-normal text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete101/<%= studentId %>/<%= thisStudent.assignmentTheory[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
       
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
            
            <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-101 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-10" aria-hidden="true">
  
            
                 <p class="fs-5 fw-light">
                    
                    Q1. WIFI stands for ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Wifi Fidelity" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                 Wifi Fidelity
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Wireless Fi" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Wireless Fi
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Wireless Fidelity" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                 Wireless Fidelity
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. VPN stands for ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Virtual Private Network" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Virtual Private Network
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Virtual Personal Network" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                 Virtual Personal Network
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Verified Personal Network" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                Verified Personal Network
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. EEPROM stands for ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Electronics Erasable Programmable ReadOnly Memory" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                 Electronics Erasable Programmable ReadOnly Memory
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Electric Erasable Programmable Reader Memory" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                 Electric Erasable Programmable Reader Memory
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Electronically Erasable Programmable Reader Memory" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                 Electronically Erasable Programmable Reader Memory
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="Electronically Erasable Programmable Read-Only Memory" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  Electronically Erasable Programmable Read-Only Memory
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. PDF stands for ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Portable Document Form" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Portable Document Form
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Personal Document Form" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  Personal Document Form
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Portable Document Format" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 Portable Document Format
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Personal Document Format" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                 Personal Document Format
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. BIOS stands for ________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Basic Input Output Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                 Basic Input Output Software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Basic Input Output System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Basic Input Output System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Block Input Output Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                 Block Input Output Software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="Block Input Output System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  Block Input Output System
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
                  
                  
                  
                      
                    </form>
      </div>
    </div>
  </div>
</div>
    

  </body>
  
  
</html>
