<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      <%- include('layouts/studentMenu') -%>
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4">
            
            <a href="stdDashboard" class="small"> <i class="far fa-hand-point-left text-primary small"></i> Dashboard</a>
          
          <div class="mx-auto">
          
        <div class="mt-0 text-justify">
          
            <h4 class="text-dark text-center fw-normal mt-1"> <%= chapterTitle  %></h4>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-danger"> Chapter-2</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca106welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter13"> Chapter-13</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter14"> Chapter-14</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-2 ah hian <code> WORKING WITH A PUBLICATION  </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                  2. WORKING WITH A PUBLICATION: (3 - Marks)
Opening a Publication, Creating a New Document, Setting the Margins, Setting the Page Size,
Setting the Page Orientation, The Page Icons, Displaying Master Pages and Master Page Items,
Inserting and Removing Pages, Inserting a Page, Removing a Page, Setting Page Numbers, Saving a
New Document, Saving an Existing Document, Saving a Document as Another Document, Closing a
Document.

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                             No Video available yet DCA-106 Chapter-1
                      
                      
                      
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>2.	WORKING WITH A PUBLICATION </em></p>

How to Create a New Document
There are two methods you can use to create a new document in PageMaker:


Use a built-in PageMaker template
Use the Document Setup dialog box
This tutorial focuses on the basics of creating a new document using the Document Setup dialog box. A later tutorial in this series will demonstarte how to use PageMaker’s built-in templates.

Creating a New Document From Scratch
Click on the File menu, and select New… from the drop-down menu. This will open up the Document Setup dialog box.

.
The Document Setup dialog box

Using the Document Setup Dialog Box
The Document Setup dialog box enables you to customize your document design. It provides a range of options that you can use to select your page size, specify the document’s orientation, print a double-sided document, rotate your document, enlarge or reduce your printout, as well as adjusting the printable area. The sections below describe each of the options in the Document set up box.


.


The Document Setup Dialog Box

Document Setup Options


Page Size

Dimensions

Orientation

Setting Page Size

PageMaker provides a number of standard page sizes that you can choose from. You can customize a standard page size to fit your needs under Dimensions.

Setting Page Dimensions

The default page dimensions differ based on the Page Size that you select. For example, the default for a Letter size paper is are 8.5"x11" while the default for an A4 size paper is 8.268"x 11.693"You can, however, adjust the dimensions of your selected paper size by typing in new values into the two page dimension boxes.

Page Orientation


Select your page orientation to be Tall or Wide.

Selecting Options For Single and Multiple Pages
Your selections in the Options section will determine how PageMaker will handle a document that has multiple pages.

Single-sided

Select this option by un-checking the Double-sided box. The single-sided option creates a publication that will print on only one side of each page. Only one master page will be created.


Double-sided

Select this option for a publication that will print on both sides of each page. The pages will still be displayed one at a time on your screen. However, two master pages will be created.

Facing Pages

Select this option to display two pages at a time on your screen (all except page 1, which is typically displayed alone). This is the appropriate option if you are working on a booklet or magazine, which will have their pages set up to face each other, much like a book’s. You cannot have facing pages unless they are double sided.

.


Settings for Single-sided Document

Adjust Layout

Select this option if you want to change your document’s properties after it has been created. The Adjust Layout option forces PageMaker to re-arrange your document to fit new settings.

Number of Pages

Use this option to change the total number of pages that you want to have in your document. Type the desired number into the Number of pages text box.Change the number of pages by typing the appropriate number in the Number of pages text box.

Restart page numbering

PageMaker will, by default, begin all numbered pages from page 1. Select the “Restart page numbering” option if you are working with numbered pages, and want your document to start with a page number other than 1. Check the Restart page numbering and then type the desired starting number into the Start page# text box.

Setting Your Margins
Select the margins for your document in this section. A margin refers to the space between your text or image and the edge of your page. Margins are defined as Inside and Outside, or Right and Left.

*When you set up your document for double-sided printing, your margins will be defined as Inside and Outside. The Inside margin is in the inner side of the page, where the document binding will be.

*When you set up your document for single-sided printing, your margins will be defined as Right and Left.

Margin Options


Margins for a Double-sided Document

Margins for a Single-sided Document

Other Document Options
Target Output Resolution

Use this section to select the resolution for your final document. If you intend to print your document, select the default resolution of 300 dpi.

Compose to Printer

Use this section to specify the printer that you will use to print the document. If your computer is part of a network that has more than one printer, use the drop-down box to select the particular one you want to print to. PageMaker uses your selection to determine the available fonts, printable area and other settings.

Numbers

Click on the Numbers button to select the style of page numbers for your document. Click on OK to save your selection.

Print Options
Select the Resolution for a print document

Adjust the Resolution for a print document

Select a Printer

Select the Number Style for Page Numbers

Page Number Style



PageMaker gives you two options for saving your documents:


1. Use the Save command

To save a new document
To save any moifications that you make to an existing document
2. Use the Save As command

To re-name an existing file
To save as a template
To save in a PageMaker 6.5 format
To compact a large file
How to Use the “Save” Command
Use the Save command to save a new document as well as any additional changes you make to a document that you have previously saved. Here’s how to save your document using this command:

Click on File and then select Save from the drop-down menu. Clicking this option will open the Save Publication dialog box.
Use the Save in drop-down list and the navigation window to navigate to the folder where you want to save your document.
In the File name text box, type in the name of your file. For a new document, this replaces the document’s default name from Untitled.
In the Save as type drop-down list, select the desired file type: Publication, Template or A copy in 6.5 format.
When you are done, click the SAVE button. PageMaker will save all modifications you have made since the last save.
Using the “Save” Command


How to Use the “Save As…” Command
Re-naming an Existing File

When you use the Save As command to re-name an existing file, PageMaker saves a copy of the document under the new name, leaving the original-titled file unchanged from the last time it was saved. The new file name will now appear in the title bar, and any further modifications will be saved to the new file.


Saving as a Template

You can save the formatting in a particular document by saving it as a template. This template can then be used in subsequent documents, and this saves you time by not having to format all over again.

Saving in a PageMaker 6.5 format

Saving your document in the earlier 6.5 formats makes it possible to share your documents with users who don’t have Adobe PageMaker 7.0

Compacting a Large File

If you have a large document that is hogging disk space, you can use the Save As command to compact it to take up much less disc space.

Open the File menu and select the Save As option
Do not change the file name. Click on the Save button
Click Yes when prompted whether you want to replace the existing file.
Once you click Yes, PageMaker will reorganize and save the file to take up less disc space on your drive.

Quick Tip

The Save As command can also be used to save a new document.

Using the “Save As” command


Inserting & Removing Pages
Once you have begun working on a document, you may decide that the number of pages you originally assigned to the document is not enough or perhaps too many. You can adjust the number of pages by inserting or removing them.


 
return to topInserting Pages
To insert additional pages into your document:

Place your cursor in the page that you want the additional pages to precede or follow

From the Layout menu, select Insert Pages…
The Insert Pages dialog box appears.
insert pages dialog box

In the Insert Pages dialog box, type the number of pages you want to insert and indicate whether you want them to appear before or after the current page

Click INSERT


return to topRemoving Pages
To remove extra pages from your document:

From the Layout menu, select Remove Pages…
The Remove Pages dialog box appears.
remove pages dialog box

Type the range for the page numbers you want to remove
For example, if you want to remove page 7 only, you would fill in: 
Remove page 7 through 7

Click OK

To confirm that you want to remove those pages, click OKInserting & Removing Pages
Once you have begun working on a document, you may decide that the number of pages you originally assigned to the document is not enough or perhaps too many. You can adjust the number of pages by inserting or removing them.


 
return to topInserting Pages
To insert additional pages into your document:

Place your cursor in the page that you want the additional pages to precede or follow

From the Layout menu, select Insert Pages…
The Insert Pages dialog box appears.
insert pages dialog box

In the Insert Pages dialog box, type the number of pages you want to insert and indicate whether you want them to appear before or after the current page

Click INSERT


return to topRemoving Pages
To remove extra pages from your document:

From the Layout menu, select Remove Pages…
The Remove Pages dialog box appears.
remove pages dialog box

Type the range for the page numbers you want to remove
For example, if you want to remove page 7 only, you would fill in: 
Remove page 7 through 7

Click OK

To confirm that you want to remove those pages, click OK



                      </p>
             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      
                      <!--Assignment form started-->
                      
            <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-102 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-1" aria-hidden="true">

                 
                 <h6 class="text-center lead">A hnuaia zawhnate hi chhang rawh.</h6>

            
                  <p class="fw-bold mt-3">
                    
                    Q1. The set of instructions given to a computer to perform a task is called a __________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Program" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Program
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Instruction" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Instruction
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Processor" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Processor
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Scheduling" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Scheduling
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q2. ________ is a UNIX like operating system. It is free and open source program originally developed by Linus Torvalds in 1991 for personal computers.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Linux" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Linux
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Boss" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Boss
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Android" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                  Android
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Unix" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                  UNIX
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q3. Which of the following is function of operating system?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Process Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Process Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Device Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Device Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Security Management" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Security Management
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="All of these" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  All of these
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q4. The most important program for the computer is ________?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Microsoft Windows" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Microsoft Windows
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="CPU" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  CPU
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Operating System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Operating System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Application Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  Application Software
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                   Q5. File management, which includes organizing, naming, protecting, accessing and using files, is one of the key functions of an _________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Application Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Application Software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="System Software" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  System Software
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Operating System" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Operating System
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            

            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
