<!DOCTYPE html>
<html lang="en">
<%- include('layouts/headers') -%>

	<body class="bg-light">
		<%- include('layouts/navbar') -%>
			<!--main container section-->
			<div class="container">
				<main class="ms-sm-auto px-md-4">
					<!--a lane chung lam-->
					<!--a lane lai ta-->
					<div class="row">
<div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-103) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
								<hr>
								<div class="d-flex justify-content-between m-1">
									<button type="button" class="btn btn-sm btn-outline-secondary"> Ch-7 (word)</button>
									<!--include word excel powerpoint menu-->
									<%- include('layouts/officeAutomationSoftwareMenu') -%>
								</div>
								<p class="fw-normal mx-auto mt-3">Chapter 7-ah hian <code>INSERTING GRAPHICS</code> kan en ho dawn a ni. </p>
								<hr>
								<div class="accordion" id="accordionPanelsStayOpenExample">
									<div class="accordion-item">
										<!--syllabus section started-->
										<h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
										<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
											<div class="accordion-body">
												<p class="fw-light rounded"> <em>
                         
                        Inserting Graphics (Inserting a graphic, Inserting WordArt) (2 MARKS)
                  
                        </em> </p>
											</div>
										</div>
									</div>
									<!--Syllabus end-->
									<div class="accordion-item">
										<!--khuhhawnna section started-->
										<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Overview
                   
                    </button>
                  
                  </h2>
										<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
											<div class="accordion-body">
												<p>Thlalak leh milem te hi graphic an ti a. Ms word-ah hian graphic chi hrang hrang a dah luh theih a, a chei theih a ni bawk.
												
												A hnuaia a lema kan thai bialte hi picture te, shapes te, clip Art te leh WordArt te dah luhna button a ni. Heng button
												click chhuak tur hian Insert Tab-ah luh tur a ni a, Insert Tab chhungah chuan Illustrations Group-ah kal leh tur a ni.</p>
												
												<figure class="figure">
  
                         <img src="/img/insertGraphic.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="540" alt="insertGraphic" />
                                    
                          <figcaption class="figure-caption ps-2 text-danger"> Inserting graphics </figcaption>
                                    
                          </figure>           
												
												
											</div>
										</div>
									</div>
									<!--end of video section-->
									<div class="accordion-item">
										<!--textbook started-->
										<h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
										<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
											<div class="accordion-body">
												<p class="fw-light rounded">
													<p><em>INSERTING GRAPHICS (2 MARKS) : </em></p>
													<p> 1. In Word, you can add graphics, pictures or WordArt into your document. </p>
													<p> 2. <code>The clip art</code> graphics can be imported either from your own library, Office library or library over the Web. In other word, source of clip art graphics are my collection, office collection and web collection. </p>
													<p> 3. <code>Graphics</code> means pictures or images stored in a computer. </p>
													<p> 4. <code>Word Art</code> is a word or line written in a stylised manner. </p>
													<p> 5. <code>To insert picture,</code> click Insert tab > Illustrations group > choose picture button. </p>
													<p> 6. <code>To insert Clip Art,</code> click Insert tab > Illustrations group > choose Clip Art button. </p>
													<p> 7. <code>To Insert Word Art,</code> click Insert tab > Text group > choose WordArt button. </p>
													<p> 8. <code>To insert Shapes,</code> click Insert tab > Illustrations group > choose Shapes button. </p>
													<p> 9. Tab having picture formatting tools is <code>Format.</code> </p>
													<p> 10. Number of sizing handles around an inserted image is <code>4.</code> </p>
													<p> 11. The number of pre-defined styles in WordArt are <code>30.</code> </p>
												</p>
											</div>
										</div>
									</div>
									<!--end of text definition-->
									<div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory103 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                        
                        if(thisStudent.assignmentTheory103[i].chapterName == 'Chapter-7') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory103[i].mcq1 == 'click Insert tab > Illustrations group > choose Shapes button') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory103[i].mcq2 == 'WordArt') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                           //question 3
                          if(thisStudent.assignmentTheory103[i].mcq3 == 'Clipart') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                         
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/3

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete103/<%= studentId %>/<%= thisStudent.assignmentTheory103[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            
 
            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->
			<%- include('layouts/scripts') -%>
				<%- include('layouts/footer') -%>
				
				
				<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment103" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-103 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-7" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1. To insert Shapes 
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="click Insert tab > Illustrations group > choose Shapes button" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  click Insert tab > Illustrations group > choose Shapes button
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="click Insert tab > choose Shapes button" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  click Insert tab > choose Shapes button
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="click Insert tab > Illustrations group" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  click Insert tab > Illustrations group
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="click Shapes button" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  click Shapes button
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. <img src="/img/wordArt.jpg"> button represents
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Alphabet" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Alphabet
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Clipart" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Clipart
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="WordArt" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 WordArt
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Art" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 Art
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>

                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. Sources of ________ graphics are my collection, office collection and web collection.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Clipart" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Clipart
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Picture" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Picture
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Image" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Image
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="New Collection" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  New Collection
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
				
				
	</body>

</html>