<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
           <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-102) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-8</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca102welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca102onlineclasschapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter 8-ah hian <code> ESSENTIALS WINDOWS ACCESSORIES </code> kan zir dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                          
                       8. ESSENTIALS WINDOWS ACCESSORIES: (5 - Marks) System Tools, Entertainment, Calculator, Notepad, Paint, WordPad. 
                       
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                          <p>Windows Accessories hi windows OS-in a rawn chhawm tel program pawimawh tak tak leh tangkai tak tak te an ni a.
                          Calculator te, notepad te leh windows media player te hi kan hman nasat pawl an ni. Tin, a hnuaia thlalaka lang bakah hian
                          System Tools tangkai tak tak a awm bawk a, Control panel hi a pui ber pakhat a ni.
                          
                          <figure class="figure">
  
                            <img src="/img/windows_accessories.jpg" class="float-end img-fluid ps-2 pb-2" width="400" height="540" alt=" Windows Accessories" />
                            
                            <figcaption class="figure-caption ps-2 text-danger"> Windows Accessories and System Tools.</figcaption>
                            
                            </figure>
                          
                          
                          
                          
                          </p>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
                        
                    <p><em> 8.	ESSENTIALS WINDOWS ACCESSORIES (5 MARKS)</em></p>

<p>The Window operating system is bundled with many useful programs. 
They are called Windows Accessories or Tools.</p>

<p>Let us look at some of them.</p>
<p><code>
Calculator:</code> The Calculator program is located in the Accessories folder. 
Choose Start  >  All Programs  >  Accessories  >  Calculator to start Calculator application, 
or alternately you can open Run dialog box (Start  >   Run) then type calc and hit enter. </p>

<p><code>Paint: </code> (formerly Paintbrush) is a program used to create drawings on the computer. 
It also located in the Accessories folder. Choose Start  >  All Programs  >  Accessories  >  Paint to start Paint application, 
or alternately you  can  open  Run dialog box (Start  >  Run) then type mspaint and hit enter.</p>

<p><code>
WordPad</code> is a basic word processor and it can format and print text, including fonts, bold, italic, colored, and centered text, etc., 
but lacks vital functions such as a spell checker, thesaurus, and control over pagination. 
It does not support footnotes or endnotes. Choose Start  >  All Programs  >  Accessories  >  Wordpad to start Paint application, 
or alternately you can open Run dialog box (Start  >   Run)  dialog  box then type wordpad and hit enter.</p>

<p><code>Notepad: </code> Notepad is primarily used for creating files with plain text, that is, the text which is unformatted. 
The file extension of Notepad is .txt.</p>

<p><code>SYSTEM TOOLS:</code> Windows includes some of  the system utilities such as Disk Cleanup, Disk Defragmenter, System Restore, 
and Control Panel and so on. </p>

<p><code>Disk Cleanup:</code> In Windows 7, Vista, and XP, Disk Cleanup frees disk space by cleaning areas that gather unneeded files. </p>


<p>
To run Disk Cleanup:<br>
•	From the Start menu, select Programs or All Programs, then Accessories, then System Tools, and then Disk Cleanup.<br>
•	Select the drive on which you would like to clear disk space (usually your C: drive), and click OK.<br>
•	Select from the four areas that Disk Cleanup will check and clean up.<br>
</p>

<p><code>
Disk Defragment:</code> When your computer crashes or freezes, the drive becomes fragmented. This means the files may be broken up
and stored in different locations in your computer. This causes programs and files to run more slowly. <br>
To run Disk Defragmenter:<br>

•	Close all programs. Choose Start menu >
All Programs > Accessories > System Tools
> Disk Defragmenter.<br>

•	Select the drive you want to clean and click OK. Click Analyze. This may take several minutes. Click Close or Defragment.</p>

<p><code>System Restore:</code> System restore is a feature of Windows that allows you to roll back the system to the same configuration 
it had at an earlier time.<br>

To run System Restore:<br>
•	Go to Start > Programs > Accessories > System Tools > System Restore.<br>

•	The System Restore screen will come up. Follow the on screen instructions<br>
</p>

<p><code>Control Panel:</code> is used for adding hardware, installing and uninstalling software, controlling user accounts, 
and changing accessibility options. The Control Panel has two views, 
Classic View and Category View, and it is possible to  switch  between these through an 
option that appears on either the left side or top of the window. </p>

<p><code>
Entertainment:</code> The entertainment tools, such as Sound Recorder, volume Control, Windows Media Player, etc., allow you to play audio, video, or animation files and to control the settings for multimedia hardware devices.
</p>
<p>
  <b>OLD QUESTION:</b>
</p><p>
1. 
</p><p>
2. 
</p><p>
3. 
</p><p>
4. 
</p><p>
5. 
</p><p>
6. 
</p><p>
7. 
</p><p>
8. 
</p><p>
9. 
</p><p>
10. 
</p><p>
11. 
</p><p>
12. 
</p><p>
13. 
</p><p>
14. 
</p><p>
15. 
</p><p>
16. 
</p><p>
17. 
</p><p>
18. 
</p><p>
19. 
</p><p>
20. 
</p><p>
21. 
</p><p>
22. 
</p><p>
23. 
</p><p>
24. 
</p><p>
25. 
</p><p>
26. 
</p><p>
27. 
</p>


                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory102 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory102.length; i++) {
                        
                        if(thisStudent.assignmentTheory102[i].chapterName == 'Chapter-8') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory102[i].mcq1 == 'Choose Start button > All Programs > Accessories > Calculator') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory102[i].mcq2 == 'Choose Start button > All Programs > Accessories > System Tools > Control Panel') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory102[i].mcq3 == 'Control Panel') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory102[i].mcq4 == 'System restore') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory102[i].mcq5 == 'Notepad') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory102[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete102/<%= studentId %>/<%= thisStudent.assignmentTheory102[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            
 
            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment102" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-102 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-8" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1. To open calculator, go to ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Choose Start button > All Programs > Accessories > Calc" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Choose Start button > All Programs > Accessories > Calc
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Choose Start button > All Programs > Calculator" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Choose Start button > All Programs > Calculator
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Choose Start button > All Programs > Accessories > Calculator" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Choose Start button > All Programs > Accessories > Calculator
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Choose Start button > Accessories > Calculator" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Choose Start button > Accessories > Calculator
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. To go to control panel, _______.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Choose Start button > All Programs > Accessories > System Tools > Control Panel" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Choose Start button > All Programs > Accessories > System Tools > Control Panel
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Choose Start button > All Programs > System Tools > Control Panel" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Choose Start button > All Programs > System Tools > Control Panel
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Choose Start button > Control Panel" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                  Choose Start button > Control Panel
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Choose Start button > All Programs > Control Panel" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 Choose Start button > All Programs > Control Panel
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. ________ is used for adding hardware, installing and uninstalling software, controlling user accounts, and changing accessibility options.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Programs" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Programs
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="System Restore" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  System Restore
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Control Panel" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Control Panel
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="Disk Defragment" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  Disk Defragment
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. ________ is a feature of Windows that allows you to roll back the system to the same configuration it had at an earlier time. 
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="System restore" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  System restore
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Disk Defragment" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                   Disk Defragment
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Control Panel" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Control Panel
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Disk Cleanup" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  Disk Cleanup
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5.  The file extension of ________ is .txt
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Notepad" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Notepad
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Wordpad" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Wordpad
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Word" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Word
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="Text" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  Text
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    
    

  </body>
  
  
</html>
