<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-103) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Ch-4 (word)</button>
                            
                              <!--include word excel powerpoint menu-->
                              
                              <%- include('layouts/officeAutomationSoftwareMenu') -%>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter 4-ah hian <code>PROOFING A DOCUMENT WITH SPELL AND GRAMMAR CHECK</code>  kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                         
                         Proofing a Document with Spell and Grammer Check (Spell and grammer check the entire document, Readability statistics, Using the thesaurus, Using word count) (1 MARK) 
                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--khuhhawnna section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                         <p>Spelling and Grammar check hi English language bik type chuan a tangkai hle a. Mizo tawng erawh chu a hriat ve loh
                         avangin a hnuaiah te a rawn thai sen thin a, buaiphah nan hman loh tur a ni. Spelling and Grammar hi duha OFF leh ON theih a ni.
                         A awmna hi Office Button > Word Options > Proofing hnuaiah tho a awm a ni. 
                         
                                    <figure class="figure">
  
                                    <img src="/img/spellingCheck.jpg" class="float-end img-fluid ps-2 pb-2" alt="spellingCheck" />
                                    
                                    <figcaption class="figure-caption ps-2 text-danger"> Spelling and Grammar Check </figcaption>
                                    
                                    </figure>
                         
                         
                         
                         
                         
                         </p>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
<p><em>PROOFING A DOCUMENT WITH SPELL AND GRAMMAR CHECK (1 MARK):</em></p>


<p>
1.	<code>Spelling & Grammar checker facility</code> is available under Proofing group of
Review tab.
</p><p>
2.	<code>Spell checker</code> is a feature of Microsoft Word that checks the spelling in a text document.
</p><p>

3.<code>	Grammar checker</code> is a feature of Microsoft Word that checks the grammar in   a text document. Grammar checker mostly suggests ways to correct the sentence construction.
</p><p>

4.	<code>The Spelling & Grammar check</code> in Word locates both spelling and grammar mistakes simultaneously.
</p><p>

5.	In a Word document, a<code> red wavy line</code> indicates a word not found in the dictionary which could mean an incorrect spelling. <code>A green wavy  line </code> indicates a grammar mistake or some formatting problem.
</p><p>

6.	<code>The readability Statistics</code> evaluates the ease with which an average reader can understand the piece of writing. Flesh Reading Ease score rates text on  a 100-point scale. Flesch-Kincaid Grade Level score rates text on an U.S. grade-school level.
</p><p>

7.	<code>Shortcut menu</code> is a menu that appears when the mouse is right-clicked.
</p><p>

8.	<code>Dialogue box </code>is an interactive box that pops up to a take a response (like Yes/No) from the user.
</p><p>

9.	<code>The Thesaurus</code> provides synonyms and antonyms for a word.  It  also  provides lists of related words and different forms of the selected word.
</p><p>

10.	<code>Word Count</code> easily counts the number of words present in a document. Just look at the Status bar. Alternatively, Word Count option is also available on the Proofing group of Review tab.
</p>
<hr>
<p>
  <b>OLD QUESTION:</b>
</p><p>
1. Shortcut key for Spelling and Grammar is <br><b>Ans... </b> F7
</p><p>
2. The ________ dialog box displays the number of pages, characters,
paragraphs and lines included in the word document <br><b>Ans... </b> Word count option
</p><p>
3. The grammar checker mostly suggests ways to correct the <br><b>Ans... </b> All of the above <br>
{ a. Paragraph construction c. Words b. Sentence construction d. All of the above }
</p><p>
4. Open shortcut key is <br><b>Ans... </b> Ctrl + O
</p><p>
5. Redo shortcut key is <br><b>Ans... </b> Ctrl + Y
</p><p>
6. There are ________ number of default measurement units in MS Word <br><b>Ans... </b> 5
</p><p>
7. What is the term used when you press and hold the left mouse key and move the mouse around the slide? <br><b>Ans... </b> Dragging
</p><p>
8. To move to the end of the document, press the ________ key(s) <br><b>Ans... </b> Ctrl + End
</p><p>
9. Ctrl + W <br><b>Ans... </b> Save and close document
</p><p>
10. A screen element of Msword that is usually located below the title bar that provides categorized options is <br><b>Ans... </b>
Menu bar
</p><p>
11. <img src="/img/symbolMsword.jpg"> represent <br><b>Ans... </b> symbol
</p><p>
12. To insert hyperlink <br><b>Ans... </b> Ctrl + K or Click Insert tab -> hyperlink
</p><p>
13. To select a group of words, ________ <br><b>Ans... </b> Drag the mouse pointer through the characters to be selected
</p><p>
14. What is the use of document map? <br><b>Ans... </b> To quickly navigate the document
</p><p>
15. Changin the appearance of a document is called <br><b>Ans... </b> Formatting
</p>

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory103 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                        
                        if(thisStudent.assignmentTheory103[i].chapterName == 'Chapter-4') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory103[i].mcq1 == 'red') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory103[i].mcq2 == 'F7') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                         
                          //question 3
                          if(thisStudent.assignmentTheory103[i].mcq3 == 'Ctrl + W') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                         
                          //question 4
                          if(thisStudent.assignmentTheory103[i].mcq4 == 'All of the above') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                         
                          //question 5
                          if(thisStudent.assignmentTheory103[i].mcq5 == 'Ctrl + K') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                         
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete103/<%= studentId %>/<%= thisStudent.assignmentTheory103[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
    
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
         <form action="/computerStudents/theoryAssignment103" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-103 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-4" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1.  In a Word document, a ________ wavy line indicates a word not found in the dictionary.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="red" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  red
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="green" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  green
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="blue" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  blue
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="underline" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  underline
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. Shortcut key for Spelling and Grammar is ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="F7" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  F7
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="F2" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  F2
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="F5" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                  F5
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="F11" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 F11
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. Save and close document shortcut key is ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Ctrl + W" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Ctrl + W
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Ctrl + Z" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Ctrl + Z
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Ctrl + Y" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Ctrl + Y
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="Ctrl + X" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  Ctrl + X
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. The grammar checker mostly suggests ways to correct the ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Paragraph construction" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Paragraph construction
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Words" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  Words
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Sentence construction" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Sentence construction
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="All of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  All of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. To insert hyperlink, press ________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Ctrl + S" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Ctrl + S
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Ctrl + M" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Ctrl + M
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Ctrl + K" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Ctrl + K
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    

  </body>
  
  
</html>
