<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-106) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-7</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca106welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter13"> Chapter-13</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter14"> Chapter-14</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-7 ah hian <code>  UTILITIES  </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                  7. UTILITIES: (3 - Marks)
Creating PDF Files with Acrobat, Creating an Adobe Acrobat File, Font Issues, Managing Automatic
Hypertext Links, Using the Tables Editor, Setting Adobe Table Defaults, Adobe Table Preferences,
Typing, Editing and Formatting Text in Adobe Table, Formatting Text in a Table, Exporting and
Saving Adobe Tables, Exporting Tables from Adobe Table, Exporting a Table as Text, Exporting a
Table as a Graphic, Saving Adobe Tables, Importing and Updating Table, Sorting Pages, Balancing
Columns, Create Keyline, Bullets and Numbering, Add Continued Line.  

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-bookmark pe-2 text-muted"></i> Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                             <p>Pagemaker 7.0 ah hian Table siamna hi a chhawm lo va, a hranpaa install chawp ngai a ni. A hrana install chawp leh ai
                             chuan a tihdan kawng dang, awlsam zawk leh harsa lo zawk hmangin table hi kan siam dawn a ni. He chapter i rawn zir thlen tawh
                             chuan microsoft word-a table siam chu thiam tawh tura ngaih i ni a, chuvangin, Microsoft Word kan hmang tangkai dawn a ni. </p>
                             
                             <p>Microsoft Word-ah Table kan siam ang a. Pagemaker-ah kan dahluh ang. A dah luh dan hi chi hnih a awm a; pakhat chu copy paste
                             tawp a ni a. Pakhat leh chu insert object atanga dah luh a ni. </p>
                             
                             <p>Copy paste hmanga dahluh:<br>
                             
                             <ol>
                               <li>Microsoft Word-ah table i siam ang a, i duh ang thlapa i siam zawhah table chauh chu i copy ang.</li>
                               <li>Pagemaker-ah i lut ang a, Edit menu > Paste Special... ah i click ang. </li>
                               <li>Enhanced metafile-ah i click ang a, i ok ang.</li>
                               <li>Pagemaker-ah chuan table a lo lang a, pointer tool hmangin i resize ang.</li>
                               
                             </ol>
                             
                              <p>Insert Object hmanga dahluh:<br>
                             
                             <ol>
                               <li>Pagemaker-ah Edit menu > Insert Object... ah i click ang a.</li>
                               <li>Create new-ah Microsoft Office Word Document i click ang a, i ok ang. </li>
                               <li>Microsoft Word a rawn inhawng ang a, tah chuan Insert Tab > Table button i click ang.</li>
                               <li>Microsoft Word-ah chuan table i siam ang a, i siam lai chuan chuan keyboard-ah CTRL + S i click ang.</li>
                               <li>Microsoft Word-a CTRL + S i click apiangin Pagemaker-ah a in update ve zel ang.</li>
                               <li>Microsoft Word-a chu i duh chuan close button atangin i close thei.</li>
                               <li>Pagemaker-a table lo lang chu pointer tool hmangin i resize ang.</li>
                               <li>Table chu siamthat emaw edit emaw i duh chuan table-ah chuan i double-click ang a, microsoft word
                               a rawn inhawng leh ang a, tah chuan i edit leh mai ang.</li>
                               
                             </ol>
                             
                             <figure class="figure">
                              <img src="/img/insertObject.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="auto" alt="insertObject" />
                              <figcaption class="figure-caption ps-2 text-danger"> Insert Object </figcaption>
                              </figure> 
                             
                             </p>
                             <p><code>Balancing Column:</code> Pagemaker phek khat hi column khat a ni. Bible hi column hnih a ni. Pagemaker-ah hian column
                             kan siam dawn chuan Layout Menu > Column guides... ah kan click ang a. Number of columns ah kan mamawh zat number kan type ang a, kan ok ang. Kan column siam
                             chhunga thuziak chu rualkhai taka kan adjust duh chuan Utilities menu > plug-ins ah kan click ang a, Balance Columns... atangin kan adjust ang. </p>
                             
                             <p><code>Create Keyline:</code> Hei hi headline cheimawina ang a ni a. Headline tur bik uluk taka siam kan duh chuan Create Keyline hi kan hmang thei ang.
                             Utilities menu > plug-ins > Keyline... ah kan kal ang a. Extends ah khan points (5) etc., kan dah ang a, kan duh chuan attributes button atangin 
                             a background te kan siam danglam thei bawk.</p>
                             
                             <p><code>Bullets and Numbering : </code> Hei hi paragraph list siamna a ni a. 123.. te, abc... te, i)ii)iii)... etc., ang chi te hi Numbering a ni a. Dot te, circle te leh
                             symbol dang hmanga list siam hi bullets a ni.</p>
                             
                            <p><code>Add Continued Line : </code> Hei hi phek tawp lamah <em>continued on page...</em> thuziak  dahna leh phek intan tirhnaah <em>continued from page...</em> tih thuziak zehtelna a ni.
                            Utilities menu > plug-ins > Add Cont'd line... ah luh tur  a ni.</p>
                             <figure class="figure">
                              <img src="/img/keyline.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="auto" alt="keyline" />
                              <figcaption class="figure-caption ps-2 text-danger"> Pagemaker Plug-ins </figcaption>
                              </figure> 
                      

                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>7. UTILITIES </em></p>

<p><b>Creating Table In PageMaker</b><br>
<code>Copy and paste table:</code><br>
1) Make a table of your choice in Word, Select or Copy the whole table, and nothing but the table. <br>
2) Switch to your PageMaker document. Choose Paste Special from the Edit menu. Choose Enhanced Metafile.<br>
3) You should now have a nice table.
</p><p>
There is another and much easier way of making a table with all its contents, that is just by using Edit menu > Insert Object command.
<br><code>Using Edit menu > Insert Object command</code>
<br>1. Go to ‘Edit’ Menu option in PageMaker and click ‘Insert object’.<br>
2. This will open the ‘Insert Object’ dialog box.<br>
3. Choose ‘Microsoft Word’ from the Object Type option.<br>
4. This will open Microsoft Word-here you create your table along with its content.<br>
5. Simply select ‘Ctr + S’ key from Microsoft Word Or Close MS word after you finish.<br>
6. This will automatically import your Word table to PageMaker document.
</p><p>
<code>Sorting Pages:</code><br>
1. Go to Layout menu > Sort Pages... <br>
2. Sorting pages is a matter of clicking and dragging. <br>
3. You select the page to move by clicking it; for multiple pages, hold down Shift as you click each one. <br>
4. Once selected, drag any of the selected pages to the desired new location. <br>
5. If your publication is double sided, then PageMaker shows you pages in pairs and treats its page spread as a single entity. <br>
6. When you reorder pages, the thumbnails of each page are resorted, and the original page number, with dotted lines around it, is shown next to the new page number.
</p><p>
<figure class="figure">
<img src="/img/sortingPage.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="auto" alt="sortingPage" />
<figcaption class="figure-caption ps-2 text-danger"> Sorting Pages </figcaption>
</figure> 
</p><p>
  <b>Bullets and numbering : </b><br>
1. With the text tool, highlight the lines to which you want to add bullets or 
numbers or put your cursor at the start of the first line (paragraph).<br>
2. Select Utilities > Plug-ins > Bullets and numbering… from the menu bar.<br>
3. In the Bullets and numbering dialog box select the style of 
bullet you want to use from the choices given or use the Edit button to select a different font or bullet or size for the bullet.<br>
4. If you want a numbered list instead of bullets, select the Numbers button. 
Choose a numbering style and specify the number range to use if you don’t want to start with number 1.<br>
5. If you highlight the text you want bulleted or numbered, 
choose Only selected paragraphs for the Range; otherwise, specify the number of paragraphs that you want bulleted.<br>
6. Select Ok to add your selected bullet or number style.
</p><p>
<b>Add Cont’d Line : </b><br>
Many publications use jump lines (“Continued on…” and “Continued from…”) to tell the reader where to find the next or previous section of a story.
<em>WARNING: Perform this step when layout and pagination are finalized; although PageMaker initially supplies the correct page number, the number is not updated when changes in pagination occur.
</em><br>
1. Finalize the layout of the publication <br>
2. With the pointer tool, select the text block on the page where you want the jump line<br>
3. From the Utilities menu, select Plug-ins » Add cont’d line…
The Continuation notice dialog box appears.<br>
4. Specify whether you want to add the jump line to the top or bottom of the text block<br>
5. Click OK
   </p><p>  
   <b>Balance columns:</b><br>
Sometimes you must balance the columns on a page to be of equal size so that their top and bottom edge align.<br>
1. First of all make more than two columns from layout menu by columns command.<br>
2. Now type the text in each column.<br>
3. Select that all column's text by pointer tool.<br>
4. Click on the utilities menu.<br>
5. Choose plug-ins then click on the balance columns command.<br>
6. Select an alignment option.<br>
7. Click on ok button.
</p><p> 
<b>Keyline:</b><br>
You can create the border automatically by drawing a box around the object.
Steps:<br>
1. Draw a rectangle box or circle<br>
2. Select it.<br>
3. Click on the utilities menu.<br>
4. Choose plug-ins command.<br>
5. Click on key line command.<br>
6. Type the distance you want to extend.<br>
7. Click on the attributes to open the fill and line dialog box.<br>
8. Then set fill and line attributes such as line, weight and fill color.<br>
9. Select a position for the key line in front of the object.<br>
10. Click on the ok button.
</p>
<hr><p>
 <b>OLD QUESTION:</b>
  </p><p>
   1. PageMaker publications <br><b>Ans... </b> can be outputted to high-end or low end printers, saved as HTML files, and may even be saved as PDF
files for placement in other applications. 
   </p><p>
   2. The long form of PDF is <br><b>Ans... </b> Portable Document Format
  </p><p>
    3. PDF file are <br><b>Ans... </b> Not editable
   </p><p>
   4. Fonts, size, position etc. Were included in <br><b>Ans... </b> Character specification
   </p><p>
   5. The font type like Normal, bold, italic, underline etc are called <br><b>Ans... </b> Type style
   </p><p>
     6. Header and footer styles ensure <br><b>Ans... </b> Consistency
   </p><p>
     7. TOC stand for <br><b>Ans... </b> Table of Content
   </p><p>
     8. The full form of TIF format is <br><b>Ans... </b> Tagged-image file
   </p><p>
     9. Rearranging the order of the document page, like page 3 can become page 7 etc is done in <br><b>Ans... </b> Sorting pages
   </p><p>
     10. When line of text are straight on the left and right margins, such as most
newspaper columns, the text is <br><b>Ans... </b> fully justified
   </p><p>
     11. You can create up to ________ columns in a page in PageMaker <br><b>Ans... </b> 20
   </p><p>
     12. In PageMaker space between two columns is called <br><b>Ans... </b> Gutter
   </p><p>
     13. Use the pointer tool to select two or more columns <br><b>Ans... </b> within the same story.
   </p><p>
     14. In Page Maker we can have ________ column <br><b>Ans... </b> Multi
   </p><p>
     15. In PageMaker, we can create the border automatically around the object
by using option from Utilities > Plug-ins <br><b>Ans... </b> Keyline
</p><p>
  16. <img src="/img/bulletandNumbering.jpg"> The figure represent <br><b>Ans... </b> Bullets and Numbering
</p><p>
  17. The shortcut key for special character Em dash is <br><b>Ans... </b> Alt + Shift + (-)
   </p>
  
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory106 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                        
                        if(thisStudent.assignmentTheory106[i].chapterName == 'Chapter-7') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory106[i].mcq1 == 'Not editable') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory106[i].mcq2 == 'Character specification') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory106[i].mcq3 == 'fully justified') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory106[i].mcq4 == 'Gutter') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory106[i].mcq5 == 'Keyline') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete106/<%= studentId %>/<%= thisStudent.assignmentTheory106[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
       
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
 <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment106" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-106 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-7" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="5" aria-hidden="true">
            
                  <p class="fs-5 fw-light">

                  
                    Q1. PDF file are _________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Read and write format" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Read and write format
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Rewritable" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Rewritable
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Editable" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Editable
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Not editable" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Not editable
                                  
                                </label>
                                
                              </div>
                            
                          </div>     
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2.  Fonts, size, position etc. Were included in ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Triple adjustment" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Triple adjustment
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Character specification" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Character specification
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Single page setting" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Single page setting
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. When line of text are straight on the left and right margins, such as most newspaper columns, the text is _________.

                   </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="centre justified" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  centre justified
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="fully justified" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  fully justified
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="aligned" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  aligned
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4.  In PageMaker space between two columns is called ________.

                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Leading" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Leading

                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Horizontal Scale" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                 Horizontal Scale
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Margin" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 Margin
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Gutter" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                 Gutter
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. In PageMaker, we can create the border automatically around the object by using option from Utilities > Plug-ins ________.
       
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Border" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Border
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Outline" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Outline
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Keyline" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Keyline
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    

  </body>
  
  
</html>
