<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

     <main>
      
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-2 pb-4 mt-2">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-3 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-106) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-0"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-1</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca106welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter13"> Chapter-13</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter14"> Chapter-14</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-1 ah hian <code> PAGEMAKER BASICS  </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                  1. PAGEMAKER BASICS: (3 - Marks)
Starting PageMaker, PageMaker Window Elements, Viewing the Page, Floating Palettes, Toolbox,
Using the Zoom Tool, Using the Rulers, Displaying the Rulers, Using the Revert Feature.

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-bookmark pe-2 text-muted"></i> Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                             <p>Pagemaker hi lehkhabu emaw chanchinbu emaw siamna software a ni a. Hetiang hi Desktop Publishing (DTP) an ti a. Adobe Company, USA siam a ni.
                             Tuna kan zir tur Adobe Pagemaker version 7 hi version hnuhnung ber a ni a, kum 2001-a an tihchhuah a ni. A thlaktu chu Adobe inDesign a ni a,
                             amaherawhchu, pagemaker hi mi tam takin tun thlenga an la hman avang leh Mizoram-a offset press nei hote la hman ber a nih avangin a hlutna leh a tangkaina
                             hi a la bo lo va, tun tumah pawh hian kan zir chho dawn a ni. </p>
                             
                             <p>Awle, Pagemaker Tools te hi pagemaker la khawih thang lo tan chuan a hmanna hriat thiam vek theih a ni lo vang a. Amaherawhchu, pagemaker hi
                             hman harsa lo tak mai a ni a. Kan zirlaite pawh hian kar hnih khat lekah an thiam mai zel a ni. </p>
                             
                             
                              <figure class="figure">
  
                              <img src="/img/pagemakerViewScreen.png" class="img-fluid ps-2 pb-2" width="auto" height="auto" alt="pagemakerViewScreen" />
                                        
                              <figcaption class="figure-caption ps-2 text-danger"> Pagemaker Screen </figcaption>
                                      
                              </figure> 
                              
                              
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>1. PAGEMAKER BASICS </em></p>

<p>
<code>INTRODUCTION: </code>PageMaker was one of the first desktop publishing programs,
introduced in 1985 by Aldus Corporation. Aldus Mencius is called the father of publishing.
</p><p>
You use the menu bar to give PageMaker instructions on how to set up your publication and lay out your pages. 
the Menu Bar contains nine different options: File, Edit, Layout, Type, Element, Utilities, View, Window and Help.
</p><p>
<em>Some of the menu options have a right-pointing triangle next to them. 
For example, on the Utilities menu, the Plug-ins have this symbol, which indicates that a cascading menu will appear when you select the option. 
A cascading menu shows a list of additional choices.</em> 
</p><p>
<code>THE TOOLBOX </code> appears in the upper-left corner of the window, but can be moved to anywhere in the publication window. 
In fact, there are many Palettes like Color Palette, Control Palette, Hyperlinks Palette, Master Pages Palette, Style Palette and Tools Palette. 
The Control Palette changes according to the tool selected in the toolbox.
</p><p>
                            <figure class="figure">
  
                              <img src="/img/pagemakerTools.png" class="float-end img-fluid ps-2 pb-2" width="auto" height="auto" alt="pagemakerTools" />
                                        
                              <figcaption class="figure-caption ps-2 text-danger"> Pagemaker Tools </figcaption>
                                      
                              </figure> 
                      </p>
                  <hr>    
<p>
 <b>OLD QUESTION:</b>
  </p><p>
   1. Shortcut key for display of ruler in the document is <br><b>Ans... </b> Ctrl + R
   </p><p>
   2. ________ are non-printing lines which help you in placing the object on your publication page <br><b>Ans... </b> Ruler guide
  </p><p>
    3. Ctrl+R is used to get <br><b>Ans... </b> Ruler

  </p><p>
    4. In the ________ click one of the font options in the Control palette, Use the toggling buttons to choose the Type style, Case, Position, Type Size, Leading, Expert Tracking, Horizontal Scale, Kerning, and Baseline Shift <br><b>Ans... </b> Control palette
  </p><p>
    5. To show control palette, press <br><b>Ans... </b> Shift + Tab
  </p><p>
    6. <img src="/img/superScript.jpg"> The figure represent <br><b>Ans... </b> Superscript
  </p><p>
    7. <img src="/img/subScript.jpg"> The figure represent <br><b>Ans... </b> Subscript
  </p><p>
    8. To show ________ is window>show control palette <br><b>Ans... </b> Control Palette
    </p><p>
      9. The figure represents <img src="/img/save.jpg"> <br><b>Ans... </b> Save button
      </p><p>
       10. The figure represents <img src="/img/crop.jpg"> <br><b>Ans... </b> Crop button
       </p><p>
       11. The figure represents <img src="/img/paragraphSymbol.jpg"> <br><b>Ans... </b> Paragraph Symbol
       </p><p>
       12. There are ________ types of view in Control palette <br><b>Ans... </b> 2
        </p><p> 
        13. In PageMaker Shortcut key of Superscript is <br><b>Ans... </b> Ctrl + Shift + \
         </p><p> 
        14. The figure represents <img src="/img/printTool.jpg"> <br><b>Ans... </b> Print button
        </p><p>
        15. The figure represents <img src="/img/spellingButton.jpg"> <br><b>Ans... </b> Spelling button
        </p><p>
        16. The figure represents <img src="/img/bulletandNumbering.jpg"> <br><b>Ans... </b> Bullet and Numbering
        </p><p>
        17. Skewing and reflecting are available only on the <br><b>Ans... </b> Control Palette
        </p><p>
        18. Case button is in <br><b>Ans... </b> Control Palette
        </p><p>
        19. PageMaker was introduced in the year <br><b>Ans... </b> 1985
        </p><p>
        20. The default file extension of PageMaker file is <br><b>Ans... </b> .PMD
         </p><p>
        21. The shortcut key of 50% zoom view in PageMaker is <br><b>Ans... </b> Ctrl + 5
         </p><p>
        22. The shortcut key for zoom in is <br><b>Ans... </b> Ctrl + +
         </p><p>
        23. The shortcut key for actual size is <br><b>Ans... </b> Ctrl + 1
        </p><p>
        24. The process of having a document back to the way it was last saved and that deletes everything done since the last save is <br><b>Ans... </b> Revert
  </p>
             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                 <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory106 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
              
                      for(var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                        
                        if(thisStudent.assignmentTheory106[i].chapterName == 'Chapter-1') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory106[i].mcq1 == 'Ruler') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory106[i].mcq2 == '1985') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory106[i].mcq3 == 'Revert') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory106[i].mcq4 == 'Ctrl + Shift + \\') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory106[i].mcq5 == 'Bullet and Numbering') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete106/<%= studentId %>/<%= thisStudent.assignmentTheory106[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment106" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-106 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-1" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="5" aria-hidden="true">
            
                  <p class="fs-5 fw-light">

                  
                    Q1. Ctrl+R is used to get ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Read" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Read
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Arrow" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Arrow
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Range" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Range
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Ruler" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Ruler
                                  
                                </label>
                                
                              </div>
                            
                          </div>     
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. PageMaker was introduced in the year ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="1980" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  1980
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="1982" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  1982
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="1985" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 1985
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. The process of having a document back to the way it was last saved and that deletes everything done since the last save is ________.

                   </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Changes" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Changes
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Revert" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Revert
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Undo" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Undo
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. In PageMaker Shortcut key of Superscript is ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Shift + \" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Shift + \

                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Alt + \" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  Alt + \
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Alt + Shift + Ctrl + \" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 Alt + Shift + Ctrl + \
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Ctrl + Shift + \" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  Ctrl + Shift + \
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. The figure represents <img src="/img/bulletandNumbering.jpg"> _________.
       
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Bullet and Numbering" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Bullet and Numbering
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Note and Numbering" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Note and Numbering
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Contrained Line tool" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Contrained Line tool
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="Elliptical frame tool" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  Elliptical frame tool
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    

  </body>
  
  
</html>
