<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      <%- include('layouts/studentMenu') -%>
      
      

        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4">
            
            <a href="stdDashboard" class="small"> <i class="far fa-hand-point-left text-primary small"></i> Dashboard</a>
          
          <div class="mx-auto">
          
        <div class="mt-0 text-justify">
          
            <h4 class="text-dark text-center fw-normal mt-1"> <%= chapterTitle  %></h4>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <a href="dca1semOnlineLessonChapter9"><button type="button" class="btn btn-sm btn-outline-danger"> Chapter-9 </button></a>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca101welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mt-3">Chapter-9 ah hian Information and Society kan zir dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion accordion-flush" id="accordionFlushExample">
              
              
                <div class="accordion-item">  <!--syllabus video start-->
                  
                  <h2 class="accordion-header" id="flush-headingOne">
                    
                    <button class="accordion-button collapsed fs-5 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      
                      Syllabus
                    
                    </button>
                  
                  </h2>
                  
                  <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    
                    <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
                        <em>
                          
                         9. INFORMATION TECHNOLOGY AND SOCIETY: (4 - Marks)
Indian Information Technology (IT) Act, The Information Technology (Amendment Bill),
Intellectual Property Rights (IPR) Issues, Information Technology Applications in Air Lines and
Railway Ticket Reservation, Computer in Banks, Inventory Control, Financial System, Hotel
Management, Computers in Education, Video Games, Telephone Exchanges, Mobile Phones,
Information Kiosks, Special Effects in Movies. 
                          
             </em>  
                         
            
           
                      </p>
                      
             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus video end-->
                
                
                
                
                <div class="accordion-item">
                  
                  <h2 class="accordion-header" id="flush-headingTwo">
                    
                    <button class="accordion-button collapsed fs-5 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      
                      Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                   
                    <div class="accordion-body">
                      
                      
                      <div class="ratio ratio-16x9">
                        
                          <iframe src="https://www.youtube.com/embed/czDzUP1HclQ" title="dca101 chapter-9 video" allowfullscreen></iframe>

                          
                        </div>
                        
                        <small>DCA-101 Chapter-9</small>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--definition-->
                
                
                
                <div class="accordion-item">  <!--textbook start-->
                  
                  <h2 class="accordion-header" id="flush-headingThree">
                    
                    <button class="accordion-button collapsed fs-5 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      
                      Text
                    
                    </button>
                  
                  </h2>
                  
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    
                    <div class="accordion-body">
                      
       <p><em>9) INFORMATION TECHNOLOGY AND SOCIETY - (4 MARKS)</em></p>
       

<p><b>The Information Technology Act, 2000 (also known as ITA-2000, or the IT Act) </b> is an Act of the Indian
Parliament (No 21 of 2000) notified on 17
October 2000. It is the primary law in India
dealing with cybercrime and electronic
commerce.</p>

<p>
The bill was passed in the budget session of
2000 and signed by President K. R. Narayanan on
9 May 2000. The original Act contained 94
sections, divided into 13 chapters and 4 schedules. The laws apply to the whole of India. If a crime
involves a computer or network located in India, persons of other nationalities can also be indicted
under the law. </p>

<p>Recently, the government has notified Information Technology (Intermediary Guidelines and Digital Media Ethics Code) Rules 2021.</p>

<ol>
<li>These new rules broadly deal with social media and over-the-top (OTT) platforms.</li>
<li>These rules have been framed in exercise of powers under section 87 (2) 
of the Information Technology (IT) Act, 2000 and in supersession of the earlier 
Information Technology (Intermediary Guidelines) Rules 2011.</li>
</ol>
<p><b>Information Kiosk </b> - An Information Kiosk Machine provides multi-features to the user and the
features are - Kiosk Machine gives an accurate and precise detail about the product and services in a
descriptive manner. It is mainly targeted to implement this machine where there is a large number of a
crowd such as Shopping mall, Airport, Metros, Railway Station etc. </p>

 

             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus video end-->
                
                
                
  
                <!--end of definition-->
                
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="flush-headingFour">
                   
                    <button class="accordion-button collapsed fs-5 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    
                      Assignment
                   
                    </button>
                 
                  </h2>
                
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
               
                    <div class="accordion-body">
                      
                      
                      
          <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-101 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-9" aria-hidden="true">
              
                      
                      <h6 class="text-center">A hnuaia zawhnate hi chhang rawh.</h6>

            
                 <p class="fw-bold mt-3">
                    
                    Q1. Information Technology Act 2000 have ________ sectors.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="16" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                 16
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="60" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  60
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="175" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                 175
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="94" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                 94
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q2. Information Technology Act was came into force on ________
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="17 Ocotober 2000" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  17 Ocotober 2000
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="27 Ocotober 2000" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                 27 Ocotober 2000
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="26 February 2000" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                26 February 2000
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Mac Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 1 August 2000
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q3. An Information Kiosk Machine was generally used in ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Shopping Mall" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                 Shopping Mall
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Airport" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                 Airport
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Railway Station" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                 Railway Station
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="All of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  All of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q4. ________ sections deals with publishing private images of others.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="66 C" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                 66 C
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="66 E" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  66 E
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="67 A" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 67 A
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="67 B" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                 67 B
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                   Q5. ________ section deals with penalise for sending of offensive messages.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="66 A" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                 66 A
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="68 A" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  68 A
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="69 A" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                 69 A
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="69" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  69
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
                  
                  
                  
                      
                    </form>
                      

                    </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
              </div>
              
              <hr>
              
              
              <div class="d-flex justify-content-between">
              
                <a href="dca1semOnlineLessonChapter8"><code> <i class="fas fa-step-backward"></i> Prev </code></a>
              
                <a href="dca1semOnlineLessonChapter10"><code> Next <i class="fas fa-step-forward"></i></code></a>
                
            </div>
              
              
              
              </div>
              
              
              
              </div>
              
            
    
            
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
