<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
         <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-103) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Ch-17 (powerpoint)</button>
                            
                              <!--include word excel powerpoint menu-->
                              
                              <%- include('layouts/officeAutomationSoftwareMenu') -%>
                              
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter 17 atang hian <code>PRESENTATION PACKAGE</code> kan zir tan ang a, chu chu <code>Microsoft Office Powerpoint</code> tihna a ni a.
            
            He chapter-ah hian <code>INTRODUCTION TO POWERPOINT</code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                         
                    Introduction to Powerpoint (An introduction to presentation graphics, Basic elements of a slide,
Different types of slide layouts, Getting started, Creating a presentation) (3 MARKS)
                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--khuhhawnna section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-bookmark pe-2 text-muted"></i> Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                        <p>PowerPoint hi thusawi tanpuitu atana big screen-a an play thin presentation siamna a ni a. Powerpoint-ah chuan
                        a phek hi slide an ti a. Thusawi tur a zirin slide tlem te atanga tam tak a ni thei a. Slide-ah chuan thuziak te,
                        thlalak te leh video te a dah theih a ni.</p>
                        
                        <figure class="figure">
  
                         <img src="/img/powerpointScreen.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="540" alt="powerpointScreen" />
                                    
                          <figcaption class="figure-caption ps-2 text-danger"> PowerPoint Screen </figcaption>
                                    
                          </figure> 
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
<p><em> INTRODUCTION TO POWERPOINT (3 MARKS): </em></p>


<p>
1.	<code>PowerPoint</code> is a popular presentation graphics program from Microsoft.
</p><p>
2.	<code>Presentation</code> refers to communicating with an audience using slides with text and graphics displayed on a screen.
</p><p>
3.	<code>Slide</code> is a rectangular display with text and graphics; a series of slides make   up a presentation.
</p><p>

4.	Layout is an arrangement of different elements such as text and graphics on    a slide.
</p><p>
5.	PowerPoint offers  <code>nine (9) </code>built-in AutoLayouts.
</p><p>
6.	A slide may comprise of text, charts, tables, etc.
</p><p>
7.	Normally, the first slide in a presentation is a Title Slide. This may be followed by Title and Content slides.
</p><p>
8.	Activate the slide show by clicking on Slide Show tab and clicking on From Beginning button under Start Slide Show group.
</p><p>
9.	Theme create a desired background to a presentation.
</p><p>
10.	Themes group is under a Design Tab.
</p><p>
11.	Some of the basic elements of a slide are Title, Subtitle, Footnote and Border.
</p><p>
 
12.	PowerPoint slides are saved with the extension <code>.pptx.</code>
</p>
<hr>
<p>
  <b>OLD QUESTION:</b>
</p><p>
1. ________ is the extension for Powerpoint presentation <br><b>Ans... </b> pptx
</p><p>
2. PowerPoint offer ________ different types of slide layouts called Auto Layouts <br><b>Ans... </b> 24

</p><p>
3. Microsoft Powerpoint is <br><b>Ans... </b> Presentation Program
</p><p>
4. Microsoft word is <br><b>Ans... </b> Word processor
</p><p>
5. Powerpoint presentation is not equippes with Autosum command <br><b>Ans... </b> True
</p><p>
6. Powerpoint presentation uses different Clipart which the word
and Excel does not have <br><b>Ans... </b> False
</p><p>
7. To make a table in MS Powerpoint Presentation Row is more
important than that of column <br><b>Ans... </b> False
</p><p>
8. To draw a chart in MS Powerpoint Presentation MS Excel
worksheet is link <br><b>Ans... </b> True
</p><p>
9. Print what: combo box is present in _______ print dialog box <br><b>Ans... </b> All of the above <br>
{ a. MS Word c. Ms PowerPoint b. Ms Excel d. All of the above }
</p><p>
10. To make a table in MS PowerPoint Presentation <br><b>Ans... </b> Row and Column have equal importance
</p><p>
11. <img src="/img/arrangePowerpoint.jpg"> represents <br><b>Ans... </b> Arrange
</p><p>
12. To insert new slide; which of the following key is used? <br><b>Ans... </b> Ctrl+M
</p><p>
13. <img src="/img/newSlide.jpg"> represents <br><b>Ans... </b> New Slide
</p><p>
14. Ctrl+M in power point open new slide <br><b>Ans... </b> True
</p>

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
               <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory103 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                        
                        if(thisStudent.assignmentTheory103[i].chapterName == 'Chapter-17') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory103[i].mcq1 == 'Presentation') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory103[i].mcq2 == 'Ctrl + M') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                           //question 3
                          if(thisStudent.assignmentTheory103[i].mcq3 == '.pptx') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                         
                           //question 4
                          if(thisStudent.assignmentTheory103[i].mcq4 == 'arrange') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                         
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/4

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete103/<%= studentId %>/<%= thisStudent.assignmentTheory103[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
          
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment103" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-103 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-17" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="4" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1. Microsoft Powerpoint is ________ program.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Presentation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Presentation
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Slide" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                 Slide
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Excel" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Excel

                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Word" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Word
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. To insert new slide; which of the following key is used?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Ctrl + N" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Ctrl + N
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Ctrl + M" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Ctrl + M
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Ctrl + K" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Ctrl + K
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Ctrl + New Slide" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 Ctrl + New Slide
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>

                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. PowerPoint slides are saved with the extension ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value=".docx" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  .docx
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value=".xlsx" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                 .xlsx
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value=".pptx" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  .pptx
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. <img src="/img/arrangePowerpoint.jpg"> represents ________ button.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="slide" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  slide
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="layers" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  layers
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="arrange" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  arrange
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    

  </body>
  
  
</html>
