<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-106) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-13</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca106welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter13"> Chapter-13</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter14"> Chapter-14</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-13 ah hian <code> WORKING WITH FRAMES </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                          
                  13. WORKING WITH FRAMES: (3 - Marks)
Introduction, Creating Frames, Editing Frames, Setting the Frame Options, Using Frames with Text,
Threading Text Frames, Converting Other Objects to Frames, Text Frames. 
                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                             <p>Pagemaker hian frame siamna frame tool a nei a. Chu chu toolbox-ah a awm a. A lema kan hmuh ang hian frame tool chu
                             chi thum a awm a. A lai takah a in cross (X) vek a ni. Frame tool hmanna ber chu frame chhunga thuziak dahluh nan leh
                             frame chhunga thlalak dah luh nante a ni a. Frame pianhmang ang zelin a chhunga thuziak leh thlalak te chu a awm thin a ni.</p>
                             
                            <figure class="figure">
                            <img src="/img/3FrameTool.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="auto" alt="3FrameTool" />
                            <figcaption class="figure-caption ps-2 text-danger"> 3 Frame Tools</figcaption>
                            </figure>
                            
                            <p>Frame tool pathum zinga i duh ber hmangin pagemaker phek ruakah i duh size a lianin drawing siam la, i siam zawhah 
                            text tool la la, thu han type teh. Frame chhung zelah thuziak te chu a awm ang. Frame chhunga thuziak emaw thlalak emaw milin
                            frame chu kan dah duh chuan frame option-ah kan kal ang a, <code>size frame to fit content</code> button click tur a ni. 
                            Chu chu Element menu > Frame > Frame Options... ah a awm a ni.</p>

                             <figure class="figure">
                            <img src="/img/frameOption.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="auto" alt="frameOption" />
                            <figcaption class="figure-caption ps-2 text-danger"> Element Menu > Frame > Frame Options</figcaption>
                            </figure>




                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>13. WORKING WITH FRAMES </em></p>

<p>
<code>Placing Text in a Frame :</code> <br>
You can also use frames to hold text in place of using text blocks. To place text in a Frame<br>
1. Click on one of a Frame tool from the Toolbox.<br>
2. Draw a frame with one of PageMaker’s Frame tools (Rectangle frame tool or Ellipse Frame Tool or Polygon frame Tool). 
Make sure the object remains selected.<br>
3. Click on File. The File menu will appear.<br>
4. Click on Place. The Place dialog box will appear.<br>
5. Locate the document that contains the text you want to place, select it.<br>
6. Click on Open.<br>
7. Click in a frame to place the text in it. The text will be placed in the frame.
</p><p>
<code>Linking Frames containing Text (Threading text frame)</code><br>
A single frame may not be large enough to hold an entire story when you are using a large amount of text, 
you can link frames together so that an entire story is visible. To link Frames containing text<br>
1.     Draw a second frame with the Frame tool of your choice.<br>
2.     Click the first frame to select it.<br>
3.     Click on the red triangle to load the text icon.<br>
4.     Click the second frame. PageMaker flows the text into the second frame.<br>
</p><p>
<code>Converting text in a Text block to a Frame</code><br>
After created text in a text block, if you want to convert it to a frame. You can do this by using these steps.<br>
1.     Draw the frame of your choice using one of the PageMaker’s Frame tool.<br>
2.     Select the text block you want to insert in the frame.<br>
3.     Click the frame while pressing the Shift key. Now both elements will be selected.<br>
4.     Choose Element > Frame > Attach Content on the Menu bar.<br>
5.     Now the text appears in the frame.
</p><p>
<code>Separating Text from the Frame</code><br>
Once text has been attached to a frame or flowed inside it, you can separate the text and frame.

To separate text from a frame<br>

1. Click the frame with the Pointer tool.<br>
2. Choose Element > Frame > Delete Content in the menu bar. The text will not appear in the frame.             
</p>
<hr><p> 
<b>OLD QUESTION:</b>
  </p><p>
   1. To set the frame options, press <br><b>Ans... </b> Alt + Ctrl + F
   </p><p>
   2. The shortcut key of Go to next frame in PageMaker <br><b>Ans... </b> Ctrl + Alt + ] 
  </p><p>
    3. ________ is an area on the PC screen that acts as a space holder for text or a graphic <br><b>Ans... </b> frame
   </p><p>
   4. When a frame is attach to the text or text is attach to the frame they are still ________ object <br><b>Ans... </b> Separate
   </p><p>
   5. Frame option dialog box is in ________ menu <br><b>Ans... </b> Element
   </p><p>
     6. The option which determine the distance between the frame and the graphic is ________ <br><b>Ans... </b> Inset
     </p><p>
     7. Oval tool creates oval and ________ frames for the text or image <br><b>Ans... </b> Circular
     </p><p>
       8. An area on the PC screen that acts as a place holder for text of graphic. It may or may not have a border <br><b>Ans... </b> Frame
       </p><p>
         9. Eclipse frame tool is used to draw <br><b>Ans... </b> Circle
         </p><p>
           10. In the PageMaker you can use any of the frame shapes to enclose attached text, the most common choice is <br><b>Ans... </b> Rectangle
           </p><p>
             11. Alt + Ctrl + F is the shortcut key for <br><b>Ans... </b> Frame option
          </p><p>   
             12. We can use any of the models to create a process color, but PageMaker
will convert those values to the approximate ________ values when we
print separations or color composites <br><b>Ans... </b> CMYK
</p>
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory106 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                        
                        if(thisStudent.assignmentTheory106[i].chapterName == 'Chapter-13') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory106[i].mcq1 == 'Ctrl+Alt+]') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory106[i].mcq2 == 'Frame option') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory106[i].mcq3 == 'Inset') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/3

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete106/<%= studentId %>/<%= thisStudent.assignmentTheory106[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
         
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment106" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-106 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-13" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1. The shortcut key of Go to next frame in PageMaker is ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Ctrl+N" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Ctrl+N
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Alt+N " required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                 Alt+N 
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Ctrl+Alt+]" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Ctrl+Alt+]

                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Ctrl+Alt+[" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                Ctrl+Alt+[
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. Alt + Ctrl + F is the shortcut key for ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Format option" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Format option
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="File option" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  File option
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Fill option" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Fill option
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Frame option" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 Frame option
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>

                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. The option which determine the distance between the frame and the graphic is ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Frame editor" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Frame editor
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Graphic Editor" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                 Graphic Editor
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Inset" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Inset
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>

  </body>
  
  
</html>
