<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->

        <!--a lane lai ta-->
        
        <div class="row">
          
         <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-104) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-4</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca104welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca104onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-4 ah hian <code>CURRENT TRENDS ON INTERNET</code> kan zir ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                       4. CURRENT TRENDS ON INTERNET: (8 MARKS)
Languages (Java, ActiveX, JavaScript), Internet Phone, Internet Video (Video Conference on the
Internet), E-Commerce, Collaborative Computing. 

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                              <p> Internet-a information kan lakkhawmna ber chu website atangin a ni a. 
                              Website hi siam tur chuan computer language hman a ngai a. 
                              HTML, CSS, Javasript te hmangin website siam theih a ni. Heng te hi client 
                              site language an ni a, browser hi heng language te hre thiam tura duansa an ni.
                              Amaherawhchu, website siamna hmanrua file leh document te, database 
                              te kan dahkhawmna kha server computer a nih avangin server site language 
                              dang a awm leh a, chung server site language lar zual te chu:- java te, python te, 
                              nodejs te, php etc,. te an ni a. Facebook company hian server site language atan PHP an hmang a, 
                              netflix company te chuan nodejs an hmang a. Keini Jojo Computer Institute pawhin he website siam nan hian 
                              nodejs kan hmang a ni.</p>
            
            <p>HTML hi Hyptertext Markup Language tihna a ni a. Website language bulpui ber a ni. CSS hi Cascading Style Sheet tihna a ni a, website cheina language a ni a. Javascript hi website tichetu leh a function siamtu a ni. Java leh javascript hi an hming inanna lai awm mahse computer language hran ve ve an ni a, a siamtu company pawh an inang lo a ni. </p>
            
            <p>Video conferencing te, e-commerce 
            shopping te leh smartphone te hi kan nun tiawlsamtu leh internet 
            tangkaizia tilangtu an ni a. Tunlaiah chuan video conferencing nan Zoom te,
            shopping nan amazon te, socia media platform-ah facebook leh instagram te an lar a ni. </p>
                      
                      
                      
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>CURRENT TRENDS ON INTERNET:(8 MARKS) </em></p>

<p>
1)  <code>Java</code> is a computer language developed by Sun Microsystems in 1995.
 </p><p>
2)  <code>Java</code> is a high level language, objected oriented language.
</p><p>
3)  Java is now owned by Oracle Company.
</p><p>
4)  When Java programs are run inside a browser, they are called <code>applets.</code>
</p><p>
5)  <code>ActiveX</code> is a software framework created by Microsoft.
</p><p>
6)  Internet Relay Chat (IRC) was developed by Jakko Oikarimen.
</p><p>
7)  JavaScript can be combined directly with HTML.
</p><p>
8)  <code>JavaScript</code> is a scripting language.
</p><p>
9)  <code>Digital subscriber line</code> (DSL; originally Digital Subscriber Loop) is a family of technologies that are used to transmit digital data over telephone lines.
</p><p>

10) JavaScript was originally developed by  Netscape  Navigator. 
</p><p>
11) MBone (Multicast Backbone) is a special internet high-speed backbone capable of sending vast amount of information.
</p><p>
12) Streaming Video lets the receiving computer start playing the video while the file is being transmitted.
</p><p>
13) Buying and selling items on the Net is called E-commerce.
</p><p>
14) Proxy server is a firewall.
</p><p>
15) <code>Amazon.com </code>comes under the Business to Consumer (B2C) model.
</p>
<hr>
<p>
  <b>OLD QUESTION:</b>
</p><p>
1. ________ means that a company provides information about several other companies on a website <br><b>Ans... </b> Digital Middleman
</p><p>
2. ________ mode is used for sending text files, altering things such as feed and carriage return <br><b>Ans... </b> ASCII
</p><p>
3. Javascript is used for <br><b>Ans... </b> All of the above <br>
{ A. client-side program B. Creating interactive form C. Data validation D. All of the above }
</p><p>
4. JavaScript is one of the new breed of web languages called scripting language <br><b>Ans... </b> True
</p><p>
5. Video Conference is also known as <br><b>Ans... </b> Whiteboard Application
</p><p>
6. When Java program are run inside a browser they are called <br><b>Ans... </b> applets
</p><p>
7. The technology that you use your computer to have live video across the internet is <br><b>Ans... </b> Video conferencing
</p><p>
8. JavaScript can be combined directly with <br><b>Ans... </b> HTML
</p><p>
9. Which one of the following is called scripting language? <br><b>Ans... </b> JavaScript
</p><p>
10. Which pair of the following is under HotBot? <br><b>Ans... </b> Ordinary HTML and activeX
</p><p>
11. High speed connectivity over normal phone line is <br><b>Ans... </b> DSL
</p><p>
12. The first graphical interface package that was released in the year 1993 was <br><b>Ans... </b> Mosaic
</p><p>
13. Which is the device that converts computer output into a form that can be
transmitted over a telephone line <br><b>Ans... </b> Modem
</p><p>
14. Which transmission mode is used for data communication along telephone lines? <br><b>Ans... </b> Serial
</p><p>
15. A ________ is a network in which a small number of computer
share hardware, software and/or information <br><b>Ans... </b> LAN Network
</p><p>
16. A technology that facilitates an integration of text, data, image graphics,
audio, videos and animation in digital form in computer is called <br><b>Ans... </b> Multimedia
</p><p>
17. These days, CEO‟s of the organization are talking face to face to their
junior officer using web cameras and internet facilities. This is called <br><b>Ans... </b> Net meeting
</p><p>
18. A collaborative network that uses internet technology to link business with their supplier is <br><b>Ans... </b> Extranet
</p><p>
19. The internet is controlled by <br><b>Ans... </b> None
</p>

             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                 <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory104 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory104.length; i++) {
                        
                        if(thisStudent.assignmentTheory104[i].chapterName == 'Chapter-4') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory104[i].mcq1 == 'Java') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory104[i].mcq2 == 'E-commerce') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory104[i].mcq3 == 'Four') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory104[i].mcq4 == 'Firewall') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory104[i].mcq5 == 'Whiteboard Application') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory104[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete104/<%= studentId %>/<%= thisStudent.assignmentTheory104[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
       
            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
 <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment104" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-104 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-4" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1.  ________ is a computer language developed by Sun Microsystems in 1995.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="C++" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  C++
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Nodejs" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Nodejs
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Javascript" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Javascript
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Java" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Java
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. Buying and selling items on the Net is called ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Online Shopping" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Online Shopping
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Net banking" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Net banking
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="E-commerce" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 E-commerce
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. A URL is divided into ________ parts.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Two" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Two
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Three" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Three
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Four" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Four
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="Five" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  Five
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4.  Proxy server is a ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Firewall" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Firewall
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Single Server" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                   Single Server
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Anti-virus" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 Anti-virus
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. Video Conference is also known as ________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Whiteboard Application" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Whiteboard Application
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Live Telecast" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Live Telecast
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Streaming" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Streaming
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="Chatting" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  Chatting
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    
    

  </body>
  
  
</html>
