<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body>
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

     <main>
      
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-2 pb-4 mt-2">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-3 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-106) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-0"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-5</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca106welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter13"> Chapter-13</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter14"> Chapter-14</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-5 ah hian <code>  IMPORTING GRAPHICS  </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                  5. IMPORTING GRAPHICS: (3 - Marks)
Introduction, Placing Graphics, Placing in-Line Graphics, Converting an Independent Graphic to an
In-Line Graphic, Aligning In-Line Graphics, Sizing Graphics, Cropping Graphics, Object Linking
and Embedding (OLE), Setting Up an OLE Liked Object, Embedding an OLE Object, Text Wrap. 

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                <% 
                        
                        var paidStudent = [];
                        
                        if(studentFee.length != undefined) {
                        
                        for(var i = 0; i < studentFee.length; i++) {
                        
                        if(studentFee[i].feeAmount >= 1000) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(studentExamFee.length != undefined) {
                        
                        for(var i = 0; i < studentExamFee.length; i++) {
                        
                        if(studentExamFee[i].feeAmount == 1510) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(studentOtherFee.length != undefined) {
                        
                        for(var i = 0; i < studentOtherFee.length; i++) {
                        
                        if(studentOtherFee[i].feeAmount >= 499) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(paidStudent.includes('paid')) {
                        %> 
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-bookmark pe-2 text-muted"></i> Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                            <p>Pagemaker-ah thlalak dah luh kan zir ang a. Pakhatna chu place hmangin a ni a, pakhat chu insert object hmangin a ni ang.
                            Place hmanga thlalak dah lut turin File menu > Place tihah kal tur a ni a, tichuan, i computer chhunga i thlalak duh ber i open ang a,
                            pagemaker-ah i dah lut ang.</p>
                            
                            <p>Pahnihna chu Insert object atangin a ni a. Edit Menu > Insert Object... ah i click ang a. Dialog box thar a lo lang ang a, chutah chuan
                            create new tih click tur a ni. Chumi chhungah chuan Microsoft Office Word Document i select ang a, i ok ang. Microsoft Word-ah a lo lut ang a,
                            word chungah chuan Insert Tab > Picture-ah i duh thlalak i insert ang a, chumi zawhah Microsoft Word-ah chuan Ctrl + S i hmet ang, chu chu save tihna 
                            a ni a. Hetih lai hian pagemaker i en chuan microsoft word chhunga mi ang chu pagemaker-ah chuan a lo lang ve zel ang. I duh chuan close button 
                            pawh i click thei ang a. I close veleh pagemaker-ah i thlalak chu a rawn inthun tho dawn a ni. Pagemaker atang hian i edit leh duh a nih chuan 
                            i thlalakah khan i double-click ang a, microsoft word-ah a lut leh ang a, i duh danin
                            i edit leh ang a, i edit ang zelin i save zel ang, i duh ang a nih chuan i close leh ang a; pagemaker-ah bawk a lo kir leh ang. </p>
                            
                            <p>Text wrap kan hmanna ber chu thuziak kara thlalak dah luh nan a ni a. Thuziak kan nei phawt ang a, thlalak kan nei bawk ang a, thuziak chungah
                            kan thlalak neihsa chu kan dah ang a, kan right-click ang a, text wrap ah kan kal ang. Kan duh chuan Element menu > Text wrap a click theih bawk.
                            Chutah chuan wrap option-ah pathum zinga a lai a awm, wrap around icon kha kan select ang a. Kan ok dawn a ni.</p>
                            
                              <figure class="figure">
  
                              <img src="/img/textWrap.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="auto" alt="textWrap" />
                                        
                              <figcaption class="figure-caption ps-2 text-danger"> Text Wrap </figcaption>
                                      
                              </figure> 
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>5. IMPORTING GRAPHICS </em></p>

<p><code>Placing Independent Graphics</code><br>
How you place a graphic is initially determined by your choice of either the Pointer tool or the Text tool. 
Independent graphics are placed using the Pointer tool. If you have the Text tool selected, 
you can still place the graphic as an independent graphic by making the appropriate selection in the Place dialog box.
</p><p>
1.	From the Toolbox, select the Pointer tool  <br>
2.	From the File menu, select Place… The Place dialog box appears.<br>
3.	Select the image file you want to place<br>
4.	In the Place section of the dialog box, verify that the graphic will be placed as independent graphic
If that option is not selected, select it now.<br>
5.	Click OPEN. Your cursor will change to a graphics icon  <br>
6.	Use the mouse to position the icon’s top left edge where the top left corner of the graphic should appear in the document<br>
7.	Click to place the graphic<br>
8.	Select your Text Wrap option<br>
9.	Click OK
</p><p>
<code>Inserting Images from the Microsoft Office Word Document</code><br>
1. From the Edit menu, select Insert Object… The Insert Object dialog box opens.<br>
2. Create New should be selected.<br>
3. From the Object Type list, select Microsoft Office Word Document<br>
4. Click OK. The Microsoft Office Word Document opens.<br>
5. Insert image from Insert Tab > Picture button. Select the image file you want to place.<br>
6. Click Close button.<br>
7. The image appears on your page. You may resize, move, crop, layer or wrap text around it.
</p><p>
<code>
Stretching or Shrinking a Graphic</code><br>
1. Using the Pointer tool, select the graphic you want to alter <br>
2. To change your image proportionately, click and drag one of the corner selection handles OR <br>
3. To change your image in height or width, click and drag one of the top, bottom, or side selection handles.<br>
4. HINT: To modify the object incrementally by .1 inch, hold the [Shift] key while dragging.<br>
5. Release the mouse button
</p><p>
<code>Layering of Graphics and Text</code><br>
PageMaker allows you to order the layers by sending them either to the front or to the back.
To do this:<br>
1. With the Pointer tool, select the desired graphic or text block <br>
2. From the Element menu, select Arrange <br>
3. From the Arrange submenu, select Send to Back or Bring to Front<br>
4. <em>HINT : To select text or graphics which are not on top : Press [CTRL] and click the object</em>
</p><p>
 <code>Using Text Wrap</code><br>
1. Select the graphic or drawing with the Pointer tool<br>
2. From the Element menu select Text Wrap… The Text Wrap dialog box appears.<br>
3. Select the appropriate Wrap option: 
<em>no wrap, 
wrap around square, 
wrap around non-standard shape </em><br>
4. Select the appropriate Text Flow option: 
<em>above only
above and below
all around</em> <br>
5. Type the standoff (the distance from surrounding text) in inches for each side of the graphic<br>
6. When settings and measurements are correct, click OK
</p><p>
    
<code>To remove text wrapping</code><br>
1. Select the graphic or drawing with the Pointer tool<br>
2. From the Element menu select Text Wrap… The Text Wrap dialog box appears on the screen.<br>
3. Select no wrap icon<br>
4. Click OK
 </p> 
 <hr><p>
 <b>OLD QUESTION:</b>
  </p><p>
   1. The cropping tool is used to trim any ________ graphics <br><b>Ans... </b> imported

   </p><p>
   2. We get 'High Resolution' option from ________ dialog box <br><b>Ans... </b> Preference

  </p><p>
    3. We can import graphics through ________ option <br><b>Ans... </b> Place
   </p><p>
   4. Text wrap cannot be used in case of ________ graphics <br><b>Ans... </b> Inline
   </p><p>
   5. ________ is an area on the PC screen that acts as a space holder for text or a graphic <br><b>Ans... </b> frame
   
   </p><p>
     6. The option which determine the distance between the frame and the graphic is ________ <br><b>Ans... </b> Inset
     </p><p>
       7. <img src="/img/zoomTool.jpg">The figure is used to <br><b>Ans... </b> Zoom graphic
       </p><p>
         8. ________ trims away a portion of the graphic, rather than reducing the size of the graphic <br><b>Ans... </b> Cropping
         </p><p>
           9. We can add graphics document to a <br><b>Ans... </b> PageMaker file
           </p><p>   
           10. Graphics programs widely used in the graphics arts profession include <br><b>Ans... </b> Desktop publishing programs, image editors and
illustration programs
          </p><p>
    11. ________ is use to select, move and size text objects and graphics <br><b>Ans... </b> Pointer tool     
            </p><p>
    12. Cropping <br><b>Ans... </b> trims away the portion of the graphic, rather than reducing the size of the graphic   
              </p><p>
     13. An area on the PC screen that acts as a place holder for text of graphic. It may or may not have a border <br><b>Ans... </b> Frame
                </p><p>
      14. The command controls the way text flows around an independent graphic element <br><b>Ans... </b> Text wrap
                  </p><p>
        15. <img src="/img/crop.jpg"> The figure is used to <br><b>Ans... </b> Crop graphic        
                    </p><p>
      16. ________ are object, therefore they can be size and positioned like graphic object <br><b>Ans... </b> Text blocks
      </p><p>
        17. A special effect in which one image seems to melt into another is referred to as <br><b>Ans... </b> morphing
      </p><p>
        18. ________ are non-printing lines which help you in placing the object on your publication page <br><b>Ans... </b> Ruler guide
      </p><p>
        19. Text wrap command was on <br><b>Ans... </b> Element
                      </p> 
           
           
           
           
           
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
              <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory106 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                        
                        if(thisStudent.assignmentTheory106[i].chapterName == 'Chapter-5') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory106[i].mcq1 == 'Place') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory106[i].mcq2 == 'Cropping') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory106[i].mcq3 == 'Morphing') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory106[i].mcq4 == 'Element') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory106[i].mcq5 == 'Text wrap') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete106/<%= studentId %>/<%= thisStudent.assignmentTheory106[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
 <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="staticBackdropLabel">A hnuaia zawhnate hi chhang rawh</h5>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment106" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-106 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-5" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="5" aria-hidden="true">
            
                  <p class="fs-5 fw-light">

                  
                    Q1. We can import graphics through ________ option.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="insert" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  insert
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="import" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  import
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Paste" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Paste
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Place" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Place
                                  
                                </label>
                                
                              </div>
                            
                          </div>     
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2.  ________ trims away the portion of the graphic, rather than reducing the size of the graphic.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Trim" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Trim
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Cropping" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Cropping
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Cutting" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Cutting
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. A special effect in which one image seems to melt into another is referred to as _________.

                   </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Transition" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Transition
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Utilitiess" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Utilities
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Morphing" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Morphing
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. Text wrap command was on  ________.

                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Element" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Element

                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Edit" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                 Edit
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="File" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 File
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Layout" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                 Layout
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. The command controls the way text flows around an independent graphic element.
       
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Graphic tool" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Graphic tool
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Drawing tool" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Drawing tool
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Text wrap" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Text wrap
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="Margin" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  Margin
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    
<% } %>
  </body>
  
  
</html>
