<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      <%- include('layouts/studentMenu') -%>
      
      

        <!--a lane lai ta-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-4 pb-4">
            
            <a href="stdDashboard" class="small"> <i class="far fa-hand-point-left text-primary small"></i> Dashboard</a>
          
          <div class="mx-auto">
          
        <div class="mt-0 text-justify">
          
            <h4 class="text-dark text-center fw-normal mt-1"> <%= chapterTitle  %></h4>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <a href="dca1semOnlineLessonChapter7"><button type="button" class="btn btn-sm btn-outline-danger"> Chapter-7 </button></a>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca101welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mt-3">Chapter-7 ah hian Computer Language kan zir dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion accordion-flush" id="accordionFlushExample">
              
              
                <div class="accordion-item">  <!--syllabus video start-->
                  
                  <h2 class="accordion-header" id="flush-headingOne">
                    
                    <button class="accordion-button collapsed fs-5 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      
                      Syllabus
                    
                    </button>
                  
                  </h2>
                  
                  <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    
                    <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        
                        <em>
                          
                         7. COMPUTER LANGUAGES: (4 - Marks)
Machine Language, Assembly Language, High-Level Language, Object-Oriented Languages, 
Some High-Level Languages (FORTRAN, COBOL, BASIC, PASCAL, C and C++), Some More High-Level Languages (Java, C#, RPG, LISP, SNOBOL), 
Characteristics of a Good Programming Language, Slecting a Luanguage for Coding an Application, Subprogram.
                          
             </em>  
                         
            
           
                      </p>
                      
             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus video end-->
                
                
                
                
                <div class="accordion-item">
                  
                  <h2 class="accordion-header" id="flush-headingTwo">
                    
                    <button class="accordion-button collapsed fs-5 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      
                      Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                   
                    <div class="accordion-body">
                      
                      
                      <div class="ratio ratio-16x9">
                        
                          <iframe src="https://www.youtube.com/embed/c1TakxVEN7M" title="dca101 chapter-7 video" allowfullscreen></iframe>

                          
                        </div>
                        
                        <small>DCA-101 Chapter-7</small>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--definition-->
                
                
                
                <div class="accordion-item">  <!--textbook start-->
                  
                  <h2 class="accordion-header" id="flush-headingThree">
                    
                    <button class="accordion-button collapsed fs-5 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      
                      Text
                    
                    </button>
                  
                  </h2>
                  
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    
                    <div class="accordion-body">
                      
                      
<p><em>7) COMPUTER LANGUAGES - (4 MARKS) </em></p>

<p>There are two major types of programming languages. These are <b>Low Level Languages and High
Level Languages.</b> Low Level languages are
further divided into <b>Machine language and
Assembly language.</b></p>


<p><b>Machine Language</b> is the language of the
computer and is the only language that is
directly understood by the computer. We also
call it machine code and it is written as strings
of 1’s and 0’s.</p>


<p><b>Assembly Language </b> - It is the first step to
improve the programming structure introduced in
1952. In this language, the machine codes
comprising of 1's and 0's are substituted by
symbolic codes (called mnemonic codes) to
improve their understanding. Eg. START PRGRAM
AT 1000. </p>

<p>
<b>Assembler</b> - The set of symbols and letters
forms the assembly language and a translator
program (called Assembler) is required to translate the programs written in assembly language into machine language for execution by the computer. It is
considered to be a second-generation language.
Machine and assembly languages are also called low-level programming languages.</p>


<p><b>High Level Languages </b> - You know that assembly language and machine language require extensive
knowledge of computer hardware. To overcome this limitation, a user writes the instructions in English
like sentences to perform the logic of the problem irrespective of the type of computer you are using.
The language used for this is referred to as high-level language.
High-level languages are simple language that use English and mathematical symbols like +, -, %, /,
etc. for its program construction. You should know that any higher-level language has to be converted
to machine language for the
computer to understand. Some high-Level Languages (FORTRAN,
COBOL, BASIC, PASCAL, C and C++), some more High-Level Languages (Java, C#, RPG, LISP,
SNOBOL).</p>

<p>
<b>Compiler </b> - It is a program that
translates the instructions of higherlevel languages to machine
language. It is called compiler
because it compiles every program
instruction given in higher-level
languages into machine language.
The program written by the
programmer in higher-level
language is called source program. After this program is converted to machine language by the compiler
it is called object program. A compiler, however, cannot detect logic errors. </p>

<p>
<b>Interpreter </b> - An interpreter is another type of
program translator used for translating higherlevel language instructions into machine
language instructions. It takes one statement of
higher-level language at a time, translates it into
machine language and executes it immediately. </p>


<p>
<b>Subprogram </b>– is a program written in a manner that a programmer can use it in other programs
whenever needed without rewriting. We refer to a subprogram by different names in different
programming languages. For example, other names used for it are subroutine, subprocedure, and
function. </p>


 

             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus video end-->
                
                
                
  
                <!--end of definition-->
                
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="flush-headingFour">
                   
                    <button class="accordion-button collapsed fs-5 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    
                      Assignment
                   
                    </button>
                 
                  </h2>
                
                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
               
                    <div class="accordion-body">
                      
                     <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-101 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-7" aria-hidden="true">
              
                      
                      <h6 class="text-center">A hnuaia zawhnate hi chhang rawh.</h6>

            
                 <p class="fw-bold mt-3">
                    
                    Q1. There are ________ types of programming languages.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="2" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                 2
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="3" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  3
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="4" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  4
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Many" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                 Many
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q2. Low Level languages are further divided into _________ language and Assembly language.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Lower level" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Lower level
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Symbolic code" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                 Symbolic code
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="High level" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                High level
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Machine" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 Machine
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q3. ________ is required to translate the programs written in assembly language into machine language for execution by the computer.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Interpreter" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                 Interpreter
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Compiler" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Compiler
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Assembler" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                 Assembler
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of these" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of these
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                    Q4. ________ languages are simple language that use English and mathematical symbols like +, -, %, /, etc. for its program construction.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Arithmetic" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Arithmetic
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="High Level" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  High Level
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Low Level" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 Low Level
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                 Computer
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fw-bold mt-3">
                    
                   Q5. C# is a ________
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Assembler" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                 Assembler
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Low Level Language" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Low Level Language
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Microsoft Office Package" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Microsoft Office Package
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="High Level Language" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  High Level Language
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
                  
                  
                  
                      
                    </form>
                      

                    </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
              </div>
              
              <hr>
              
              
              <div class="d-flex justify-content-between">
              
                <a href="dca1semOnlineLessonChapter6"><code> <i class="fas fa-step-backward"></i> Prev </code></a>
              
                <a href="dca1semOnlineLessonChapter8"><code> Next <i class="fas fa-step-forward"></i></code></a>
                
            </div>
              
              
              
              </div>
              
              
              
              </div>
              
            
    
            
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
