<!DOCTYPE html>

<html lang="en">
  
  
<%- include('layouts/headers') -%>

<body>
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main>
      
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-2 pb-4 mt-2">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-3 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-101) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-0"> <%= chapterTitle  %></p>
            
            <hr>
                 
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-1</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca101welcomepage">Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter1">Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca1semOnlineLessonChapter10"> Chapter-10</a></li>
                                      
                                    </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">He chapter-ah hian <code> INTRODUCTION </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       1. INTRODUCTION: (5 - Marks)
                        
                  
                            What is a Computer (Analog Computers, Digital Computers), Characteristics of Computers, The
                            
                            Evolution of Computers, Computer Generations [First Generation (1942-1955), Second Generation
                            
                            (1955-1964), Third Generation (1964-1975), Fourth Generation (1975-1989), Fifth Generation
                            
                            (1989-Present)]. 
                            
                        </em> 
            
           
                      </p>
                      
             
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                     <i class="fas fa-video pe-2 text-muted"></i>  Video
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body px-0 mx-0">
                      
                      
                      <div class="ratio ratio-16x9">
                        
                          <iframe src="https://www.youtube.com/embed/uFPkWONKHYU" title="dca101 chapter-1 video" allowfullscreen></iframe>

                          
                        </div>
                        
                        <small>DCA-101 Chapter-1</small>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

                        <p> <em>1. INTRODUCTION - (5 MARKS) </em> </p>
                        <p>
                        <code>Computer</code> - Computer is a device that transforms data into meaningful information. Data can be
                        anything like marks obtained by you in various subjects. It can also be name, age, sex, weight, height,
                        etc. of all the students in a class.
                        </p>
                        <p>
                        <code>Analog Computers</code> - Analogue computers are used in some specific applications, like the flight
                        computer in aircraft, ships, submarines, refrigerator, and speedometer of your bike, etc.
                        
                        </p>
                        
                        <p>
                        <code>Digital Computers </code> – Digital computers use the binary number system, which has two digits i.e., 0
                        and 1. A binary digit is called a bit. Here the information is represented in the groups of bits. Some of
                        the best examples of digital computers are your laptop, calculators, smart phones, etc.
                        
                        </p>
                        <p>
                        <code>Characteristics of Computers</code> -
                        
                        <ul>
                          
                        <li><i>Speed </i>- In general, no human being can compete to solving the complex computation, faster than computer.</li>
                        <li><i>Accuracy</i> - Since Computer is programmed, so whatever
                        input we give it gives result with accurately.</li>
                        <li><i>Storage</i> - Computer can store mass storage of data
                        with appropriate format.</li>
                        <li><i>Diligence</i>
                         - Computer can work for hours without any
                        break and creating error.</li>
                        <li><i>Versatility</i>
                         - We can use computer to perform
                        completely different type of work at the same time.</li>
                        <li><i>Power of remembering</i> - It can remember data for
                        us.</li>
                        <li><i>No IQ</i> - Computer does not work without instruction.</li>
                        <li><i>No feeling</i> - Computer does not have emotions, knowledge, experience, feeling. </li>
                        
                        </ul>
                        </p>
                        
                        <p>
                        
                        <code>The evolution of Computers </code> - Charles Babbage is considered the father of modern digital
                        programmable computer. He has invented first analytical computer in the year 1822.
                        
                        </p>
                        
                        <p><code>Computer Generations</code> -<br>
                        
                        
                        <ol>
                          
                          <li><i>First Generation</i>  – Vacuum Tubes
                        (1942 – 1955)</li>
                          <li><i>Second Generation</i>  – Transistors
                        (1955 – 1964)</li>
                          <li><i>Third Generation</i>  – Integrated
                        Circuits (1964 – 1975)</li>
                          <li><i>Fourth Generation</i>  - Microprocessor & VLSI technology
                        (1975 – 1989)</li>
                          <li><i>Fifth Generation</i>  (1989-present) Artificial Intelligence & ULSI technology</li>
                          
                          
                        </ol>
                        </p>
     <hr>
<p>
  <b>OLD QUESTION:</b>
  </p><p>
    1. Fourth Generation of computer are characterized by <br><b>Ans... </b> ICs with VLSI Technology
  </p><p>
    2. Which of the following is not a Super computer? <br><b>Ans... </b> Sony Series <br> { A. PARAM Series C. Anupam Series
B. Sony Series D. PACE Series }

  </p><p>
    3. A common use of computers in offices is for <br><b>Ans... </b> Word processing.
  </p><p>
    4. The computer does not have the following characteristic <br><b>Ans... </b> Intelligent quotient <br> { a) Intelligent quotient c) Speed
b) Automatic d) Accuracy }
  </p><p>
    5. Which is not a characteristic of computer? <br><b>Ans... </b> Error Prone <br> {
a) Error prone c) Versatility
b) Speed d) Signal }
  </p><p>
    6. Which of the following is characteristic of a computer? <br><b>Ans... </b> Diligence <br> {
a) Integrity c) Strong Feeling
b) Diligence d) Strong IQ }
  </p><p>
    7. Which of the following is not the characteristic of a Computer <br><b>Ans... </b> Strong IQ <br> {
a) Accuracy b) Versatility c) No Feeling d) Strong IQ }
  </p><p>
    8. Charles Babbage develop Differential Engine in the year <br><b>Ans... </b> 1822
  </p><p>
    9. Who introduced Stored-program concept <br><b>Ans... </b> John von Neumann
  </p><p>
    10. Who invented the first mechanical adding machine in 1642? <br><b>Ans... </b> Blaise pascal
  </p><p>
    11. First Generation Computer falls in the year <br><b>Ans... </b> 1942-1955
  </p><p>
    12. Computers are classified into how many generation? <br><b>Ans... </b> 5
  </p><p>
    13. Second Generation Computer are made of <br><b>Ans... </b> Transistors
    </p><p>
    14. Third generation of computer falls between the period from <br><b>Ans... </b> 1964-1975
    </p><p>
    15. This generation is characterized by bulky and unreliable computers <br><b>Ans... </b> 1<SUP>st</SUP>
    </p><p>
    16. Unbundling of hardware and software took place in which generation? <br><b>Ans... </b> 3<sup>rd</sup>
    </p><p>
    17. During which generation of computer thousands of vacuum tubes was used <br><b>Ans... </b> 1st Generation
    </p><p>
    18. What difference does the 5th generation computer have from other generation computers? <br><b>Ans... </b> Technological Advancement
    </p><p>
    19. Computers in the present generation belong to the <br><b>Ans... </b> Fifth Generation
    </p><p>
    18. How was the generation of computer classified? <br><b>Ans... </b> by the device used in memory and processor
    </p><p>
    19. Graphical user Interface was introduces in ________ generation of computer <br><b>Ans... </b> 4th Generation.
    </p><p>
    20. Third generations computer were first associated with <br><b>Ans... </b> Integrated circuit
    </p><p>
    21. Software such as Windows were developed during <br><b>Ans... </b> 4th generation
    </p><p>
    22. During which generation of computer magnetic core memories was replaced by semiconductor memories <br><b>Ans... </b> 4th generation
    </p><p>
    23. Store concept was introduced in the late 1940s by <br><b>Ans... </b> John von Neumann.
    </p><p>
    24. ________ VLSI technology became ULSI (Ultra Large Scale Integration) technology, resulting in the production of microprocessor chips having ten million electronic components.
    <br><b>Ans... </b> In the 5th generation
</p>

                      
             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                         <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">

                    <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
                      for(var i=0; i < thisStudent.assignmentTheory.length; i++) {
                        
                        if(thisStudent.assignmentTheory[i].chapterName == 'Chapter-1') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                          
                          //question 1
                          if(thisStudent.assignmentTheory[i].mcq1 == 'Charles Babbage') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory[i].mcq2 == 'High IQ') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory[i].mcq3 == '0 or 1') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory[i].mcq4 == 'Computer') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory[i].mcq5 == '5th Generation') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-normal text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete101/<%= studentId %>/<%= thisStudent.assignmentTheory[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="staticBackdropLabel">A hnuaia zawhnate hi chhang rawh</h5>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form action="/computerStudents/theoryAssignment" method="POST" autocomplete="off">
              
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">

              <input type="hidden" name="subjectName" value="DCA-101 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-1" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="5" aria-hidden="true">
              

             <p class="fs-5 fw-light">
                    
                    Q1. Who is the father of Computer?
                    
                  </p>
                  
                  <p class="fw-light mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Charles Barbar" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Charles Barbar
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Charles Babbage" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Charles Babbage
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Steve Job" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Steve Job
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Ada Lovelace" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Ada Lovelace
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. Which one is not characteristic of Computer?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Accuracy" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Accuracy
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Power of Remembering" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Power of Remembering
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="High IQ" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                  High IQ
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="Versatility" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                  Versatility
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. Digital Computer use the binary number system which is _________ ?
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="0 or 1" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  0 or 1
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="1 or 2" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  1 or 2
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="2 or 3" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  2 or 3
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of these" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of these
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. ________ is a device that transforms data into a meaningful information.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Analog" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Analog
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Digital" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                  Digital
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Speedometer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  Speedometer
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Computer" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  Computer
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. Generation of computer for the year 2021 is ________?
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="2nd Generation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  2nd Generation
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="3rd Generation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  3rd Generation
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="4th Generation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  4th Generation
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="5th Generation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  5th Generation
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>

</body>
  
  
</html>
