<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

     <main>
      
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-2 pb-4 mt-2">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-3 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-106) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-0"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-10</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca106welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter13"> Chapter-13</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter14"> Chapter-14</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-10 ah hian <code> THE STORY EDITOR </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                  10. THE STORY EDITOR: (3 - Marks)
Introduction, Using the Story Editor, Starting at a Particular Spot in a Story, Placing the Story,
Returning to an Open Story Window, Creating and Editing Text in Story Editor, Managing Story
Editor Windows, Story Editor Preferences, Navigating through Text, Using the Key Board, Selecting
Text, Cutting, Copying, Deleting and Pasting Text, Using the Spelling Checker, Starting the Speller,
Adding Words to Dictionaries, Using Find and Change, The Find Feature, Searching with Wildcard
Characters, Searching for Phrases, Searching for Special Attributes, Positioning the Find Dialog Box,
Using the Change Feature, Replacing Text, Replacing Special Attributes, Story Editor and Layout
Views. 

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-bookmark pe-2 text-muted"></i> Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                             <p>Story Editor hi Edit story tihna a ni a, a hrana click chhuah chawp ngai a ni a. Pagemaker-ah new page kan hawn hian Edit Story-ah a awm nghal lo va, Edit Layout-ah a awm a. Ctrl + E han hmet la,
                             Edit Story-ah a lut ang. Ctrl + E hmet leh la, Edit Layout-ah a lut leh ang. Story Editor hi pagemaker-a kan thuziak edit theihna anih bakah a awmna kan hriat loh
                             word zawnna leh replace theihna a ni a, tin, spelling dik leh dik loh check theihna hmun a ni.</p>
                             
                            <figure class="figure">
                            <img src="/img/storyEditor.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="auto" alt="storyEditor" />
                            <figcaption class="figure-caption ps-2 text-danger"> Story Editor</figcaption>
                            </figure>

                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>10. THE STORY EDITOR </em></p>

<p>
The Story Editor is yet another way to type and edit text in PageMaker. 
Just click the text you want to edit, press Ctrl + E (or use Edit > Edit Story from the menu), 
and your story appears in its own word processing window. All the text tool’s editing commands 
(insert, delete cut and paste) are available in the Story Editor. 
The Story Editor is also equipped with two powerful features that are not there when you use the text tool: 
a spelling checker and a search-and-replace feature.
</p><p>

<code>Opening the Story Editor</code><br>
Menu Option:<br>
1.	Click on the block of text you want to edit<br>
2.	From the Edit menu, select Edit Story<br>
3. The text of the entire story will now appear in the Story Editor.
</p><p>
Mouse Option:<br>
1.	To access the Story Editor with the Pointer tool, triple-click in a text block
 </p><p>
<code>Using the Find and Change Feature</code><br>
PageMaker allows you to search stories in the Story Editor for specific words or phrases and 
to replace all or some of the occurrences with other words or phrases. 
In order to simply find an occurrence, use the <code>Find</code> feature. 
In order to change some or all of the occurrences to something else, use the <code>Change</code> feature.
</p><p>
<code>Using Find</code><br>
Make sure you are in the Story Editor. The Spelling, Find, Find Next, and Change commands are available only in Story Editor.
The Find feature allows you multiple choices in searching your document and story. <br>
1.	From the Utilities menu, select Find…
The Find dialog box will appear on the screen.<br>
2.	In the Find What box, type the word or phrase to look for<br>
3.	Click FIND<br>
4.	To find subsequent occurrences of the word or phrase, from the Utilities menu, click FIND NEXT.
When no more occurrences exist, the Search Complete dialog box will appear.<br>
5.	Click OK<br>
6.	To find another word or phrase, repeat steps 2-5<br>
7.	When finished, close the Find dialog box<br>
</p><p>
<code>Using Change</code><br>
Make sure you are in the Story Editor.<br>
1.	From the Utilities menu, select Change…
The Change dialog box will appear on the screen.<br>
2.	In the Find What text box type the word or phrase to find<br>
3.	In the Change to box type the replacement word or phrase<br>
4.	To find the first occurrence of the word or phrase, click the FIND button<br>
OR
To find and change all occurrences of the word or phrase, click CHANGE ALL<br>
(If you selected Change All, skip to step 7.)
</p><p>
<em>WARNING: Use Change All with caution. You may change words you did not mean to change. 
If you do use Change All, select the Whole Word option and review the document to make sure all replacements make sense.</em>
</p><p>
5.	If you selected Find in step 4, you now have several options<br>
• To change the word, click CHANGE<br>
• To ignore the word, click IGNORE<br>
• To find the next word, click FIND NEXT<br>
• To change the word and find the next one, click CHANGE AND FIND<br>
• To change all occurrences of the word, click CHANGE ALL<br>
6.	When the Search Complete dialog box appears, click OK<br>
7.	Type in a new word or phrase to find and change 
OR
Click CLOSE<br>
</p>
<hr><p>
<b>OLD QUESTION:</b>
  </p><p>
   1. ________ works best for the initial placement of a large story that makes many pages => Story Editor
   </p><p>
   2. ________ provides a blank typing area, like a white sheet of paper, to type on => Story Editor
  </p><p>
    3. In PageMaker Ctrl+E is the shortcut key for => Story Editor
   </p><p>
   4. Shortcut key for ________ is Ctrl + J => justify text (Ctrl + Shift + J hi justify text a ni)
   </p><p>
   5. The shortcut key for edit story is => Ctrl + E
   </p><p>
     6. Once you create a story in a story editor, you have to place the story in the => Layout Editor
   </p><p>
     7. ________ are program for creating and editing bitmap images => Image Editor
   </p><p>
     8. ________ A program, or image editor, allows you to use tools that stimulate painting on a digital image => Paint
   </p><p>
     9. Which of the following program is not a popular professional image editor program? => Pagemaker
   </p><p>
     10. <img src="/img/spellingButton.jpg"> The figure represent => Spelling
     </p><p>
     11. You can also move object from one layer to another by ________ objects from one layer and pasting them to another layer => Cutting
     </p><p>
       12. ________ menu contains the Find option in PageMaker => Utilities
     </p><p>
       13. Paste special is inside => Edit menu
     </p><p>
       14. Word Counter option is under ________ menu => Utilities
     </p>
             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                 <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory106 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                        
                        if(thisStudent.assignmentTheory106[i].chapterName == 'Chapter-10') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory106[i].mcq1 == 'Story Editor') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory106[i].mcq2 == 'Story Editor') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory106[i].mcq3 == 'Spelling') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory106[i].mcq4 == 'Utilities') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory106[i].mcq5 == 'Layout Editor') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete106/<%= studentId %>/<%= thisStudent.assignmentTheory106[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
        
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment106" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-106 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-10" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="5" aria-hidden="true">
            
                  <p class="fs-5 fw-light">

                  
                    Q1.  ________ provides a blank typing area, like a white sheet of paper, to type on.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="A4 paper" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  A4 paper
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Document Setup" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Document Setup
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Story Editor" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Story Editor
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Layout Editor" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Layout Editor
                                  
                                </label>
                                
                              </div>
                            
                          </div>     
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. In PageMaker Ctrl+E is the shortcut key for ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Story Editor" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Story Editor
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Find and Replace" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                 Find and Replace
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Inserting" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Inserting
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. <img src="/img/spellingButton.jpg"> The figure represent ________.

                   </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Spelling" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Spelling
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Rotating tool" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Rotating tool
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Abc Tool" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Abc Tool
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4.  Word Counter option is under ________ menu.

                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Utilities" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Utilities

                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Layout" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                 Layout
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Element" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 Element
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. Once you create a story in a story editor, you have to place the story in the ________.
       
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Layout Editor" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                 Layout Editor
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Master page" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                 Master page
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Story Editor" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Story Editor
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    
    

  </body>
  
  
</html>
