<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body>
   
   <%- include('layouts/navbar') -%> 
<!-- --------------main container section------------------ -->

<div class="container">

    <main>
      <!--a lane chung lam-->
        
        <div class="row">
          
          <div class="mx-auto shadow-sm rounded px-2 pb-4 mt-2">
            <div>
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-arrow-left text-primary"></i> Dashboard</i> </a>
            <span class="float-end"> <%- include('layouts/subjectMenuPractical') -%> </span>
            </div>
            <hr class="w-25 mx-auto text-secondary mt-4 mb-0">
          <div class="mt-0 rounded text-justify">
            <p class="text-muted fw-light text-center mb-0"> DCA-103 : Practical Thuhmahruai </p>
            <hr class="w-25 mx-auto text-secondary my-1">
            <h3 class="fw-light fs-1 text-center mt-0 mb-0">  Office Automation Software  <br></h3>
            
            <hr class="text-muted">
            
            <p class="fw-normal">Subject pathumna (a code hming <code> DCA-103) </code>kan zir dawn a, 
            a subject hming chu  <code> Office Automation Software </code> a ni. 
            He subject-ah hian <code>Microsoft Word </code> te,<code> Excel</code> te leh <code>powerpoint </code>  te kan zir ang a, subject khatah 
            software chi hrang pathum kan zir dawn a, Microsoft Office version 2007 kan zir ang. 
            </p>
            <p class="fw-normal">
            He subject-ah hian hetiangin mark thendarh a ni; <em>Microsoft Word </em>- 15 marks, <em>Microsoft Excel </em>- 15 marks, <em>Microsoft Powerpoint </em>- 10 marks tiin.
              
            </p>

           
            <h5 class="text-dark fw-normal mt-4 ">DCA-103 Chapter te</h5>
            
            <p class="fw-normal mb-4 small ">(I zir tur chapter zelah click ang che.)</p>
            
            
            
            <!-- DCA I Semester subject te... -->
            
              <div class="accordion" id="accordionExample">
                
                   <div class="accordion-item">
                    
                    <h2 class="accordion-header" id="headingThree">
                      
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                       
                       <span class="text-success fw-bold"> 3. Office Automation Software (DCA-103) </span>
                        
                      </button>
                      
                    
                    </h2>
                    
                    <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      
                      <div class="accordion-body">
                        
                          <div class="row">
                            
                              <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca103practicalclasschapter1"><button type="button" class="btn btn-link m-2">Chapter-1 (word) <i class="fas fa-angle-right"></i></button></a>
                              
                              </div>
                              <% 
                        
                        var paidStudent = [];
                        
                        if(studentFee.length != undefined) {
                        
                        for(var i = 0; i < studentFee.length; i++) {
                        
                        if(studentFee[i].feeAmount >= 1000) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(studentExamFee.length != undefined) {
                        
                        for(var i = 0; i < studentExamFee.length; i++) {
                        
                        if(studentExamFee[i].feeAmount == 1510) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(studentOtherFee.length != undefined) {
                        
                        for(var i = 0; i < studentOtherFee.length; i++) {
                        
                        if(studentOtherFee[i].feeAmount >= 499) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(paidStudent.includes('paid')) {
                        %>
                              
                              <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca103practicalclasschapter2"><button type="button" class="btn btn-link m-2">Chapter-2 (word) <i class="fas fa-angle-right"></i></button></a>
                              
                              
                                </div>

                                <div class=" col-lg-3 col-md-6 col-sm-6"> 

                                <a href="dca103practicalclasschapter3"><button type="button" class="btn btn-link m-2">Chapter-3 (word) <i class="fas fa-angle-right"></i></button></a>

                                </div>
                                
                                <div class=" col-lg-3 col-md-6 col-sm-6"> 
                                
                              <a href="dca103practicalclasschapter4"><button type="button" class="btn btn-link m-2">Chapter-4 (word) <i class="fas fa-angle-right"></i></button></a>

                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-6"> 

                              <a href="dca103practicalclasschapter5"><button type="button" class="btn btn-link m-2">Chapter-5 (word) <i class="fas fa-angle-right"></i></button></a>
                              
                              </div>
                              
                              <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca103practicalclasschapter6"><button type="button" class="btn btn-link m-2">Chapter-6 (word) <i class="fas fa-angle-right"></i></button></a>
                            
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                              
                              <a href="dca103practicalclasschapter7"><button type="button" class="btn btn-link m-2">Chapter-7 (word) <i class="fas fa-angle-right"></i></button></a>
                              
                              </div>
                              
                              <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca103practicalclasschapter8"><button type="button" class="btn btn-link m-2">Chapter-8 (word) <i class="fas fa-angle-right"></i></button></a>
                            
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca103practicalclasschapter9"><button type="button" class="btn btn-link m-2">Chapter-9 (word) <i class="fas fa-angle-right"></i></button></a>
                            
                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103practicalclasschapter10"><button type="button" class="btn btn-link m-2">Chapter-10 (excel) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca103practicalclasschapter11"><button type="button" class="btn btn-link m-2">Chapter-11 (excel) <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca103practicalclasschapter12"><button type="button" class="btn btn-link m-2">Chapter-12 (excel) <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca103practicalclasschapter13"><button type="button" class="btn btn-link m-2">Chapter-13 (excel) <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca103practicalclasschapter14"><button type="button" class="btn btn-link m-2">Chapter-14 (excel) <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca103practicalclasschapter15"><button type="button" class="btn btn-link m-2">Chapter-15 (excel) <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca103practicalclasschapter16"><button type="button" class="btn btn-link m-2">Chapter-16 (excel) <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca103practicalclasschapter17"><button type="button" class="btn btn-link m-2">Chapter-17 (powerpoint) <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca103practicalclasschapter18"><button type="button" class="btn btn-link m-2">Chapter-18 (powerpoint) <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca103practicalclasschapter19"><button type="button" class="btn btn-link m-2">Chapter-19 (powerpoint) <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca103practicalclasschapter20"><button type="button" class="btn btn-link m-2">Chapter-20 (powerpoint) <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                                <% } %>

                              </div> <!--third subject row end-->

                      </div>
                    
                    </div>
                  
                  </div>
                  
                   <hr>
            

                  
                
                </div>
            
            
      

    </main>
    
</div> <!--end of container-->

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
