<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      
      
      <!--a lane chung lam-->


          

        
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-106) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-10</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca106welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter13"> Chapter-13</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter14"> Chapter-14</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-10 ah hian <code> THE STORY EDITOR </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                  10. THE STORY EDITOR: (3 - Marks)
Introduction, Using the Story Editor, Starting at a Particular Spot in a Story, Placing the Story,
Returning to an Open Story Window, Creating and Editing Text in Story Editor, Managing Story
Editor Windows, Story Editor Preferences, Navigating through Text, Using the Key Board, Selecting
Text, Cutting, Copying, Deleting and Pasting Text, Using the Spelling Checker, Starting the Speller,
Adding Words to Dictionaries, Using Find and Change, The Find Feature, Searching with Wildcard
Characters, Searching for Phrases, Searching for Special Attributes, Positioning the Find Dialog Box,
Using the Change Feature, Replacing Text, Replacing Special Attributes, Story Editor and Layout
Views. 

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                             <p>Story Editor hi Edit story tia sawi a ni bawk a. Pagemaker-a kan thuziak edit theihna anih bakah a awmna kan hriat loh
                             word zawnna leh replace theihna a ni a, tin, spelling dik leh dik loh check theihna hmun a ni.</p>
                             
                            <figure class="figure">
                            <img src="/img/storyEditor.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="auto" alt="storyEditor" />
                            <figcaption class="figure-caption ps-2 text-danger"> Story Editor</figcaption>
                            </figure>

                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>10. THE STORY EDITOR </em></p>

<p>
The Story Editor is yet another way to type and edit text in PageMaker. 
Just click the text you want to edit, press Ctrl + E (or use Edit > Edit Story from the menu), 
and your story appears in its own word processing window. All the text tool’s editing commands 
(insert, delete cut and paste) are available in the Story Editor. 
The Story Editor is also equipped with two powerful features that are not there when you use the text tool: 
a spelling checker and a search-and-replace feature.
</p><p>

<code>Opening the Story Editor</code>
</p><p>
Menu Option:<br>
1.	Click on the block of text you want to edit<br>
2.	From the Edit menu, select Edit Story<br>
3. The text of the entire story will now appear in the Story Editor.
</p><p>
Mouse Option:<br>
1.	To access the Story Editor with the Pointer tool, triple-click in a text block
 </p><p>
<code>Using the Find and Change Feature</code>
</p><p>
PageMaker allows you to search stories in the Story Editor for specific words or phrases and 
to replace all or some of the occurrences with other words or phrases. 
In order to simply find an occurrence, use the <code>Find</code> feature. 
In order to change some or all of the occurrences to something else, use the <code>Change</code> feature.
</p><p>
<code>Using Find</code>
</p><p>
Make sure you are in the Story Editor. The Spelling, Find, Find Next, and Change commands are available only in Story Editor.
The Find feature allows you multiple choices in searching your document and story. 
</p><p>
1.	From the Utilities menu, select Find…
The Find dialog box will appear on the screen.<br>
 
2.	In the Find What box, type the word or phrase to look for<br>
3.	Click FIND<br>
4.	To find subsequent occurrences of the word or phrase, from the Utilities menu, click FIND NEXT.
When no more occurrences exist, the Search Complete dialog box will appear.<br>
5.	Click OK<br>
6.	To find another word or phrase, repeat steps 2-5<br>
7.	When finished, close the Find dialog box<br>
</p><p>
<code>Using Change</code>
</p><p>
Make sure you are in the Story Editor.
</p><p>
1.	From the Utilities menu, select Change…
The Change dialog box will appear on the screen.<br>
 
2.	In the Find What text box type the word or phrase to find<br>
3.	In the Change to box type the replacement word or phrase<br>
4.	To find the first occurrence of the word or phrase, click the FIND button<br>
OR
To find and change all occurrences of the word or phrase, click CHANGE ALL<br>
(If you selected Change All, skip to step 7.)
</p><p>
<em>WARNING: Use Change All with caution. You may change words you did not mean to change. 
If you do use Change All, select the Whole Word option and review the document to make sure all replacements make sense.</em>
</p><p>
5.	If you selected Find in step 4, you now have several options<br>
• To change the word, click CHANGE<br>
• To ignore the word, click IGNORE<br>
• To find the next word, click FIND NEXT<br>
• To change the word and find the next one, click CHANGE AND FIND<br>
• To change all occurrences of the word, click CHANGE ALL<br>
6.	When the Search Complete dialog box appears, click OK<br>
7.	Type in a new word or phrase to find and change 
OR
Click CLOSE<br>
</p><p>
<code>Using Spell Check</code>
</p><p>
Spelling can only be checked in the Story Editor. 
The Spell Check feature of PageMaker checks your text against the computer’s dictionary. 
If the computer does not recognize a word, the top left corner of the dialog box will read “Unknown word” 
followed by the unrecognized word. You have the option of ignoring the word, replacing the word with a new spelling, 
or adding the word to the computer’s dictionary.
If you want the word to remain in the document spelled as it is, click IGNORE. 
For example, the computer will probably not recognize your first and last name, 
but you do not want their spelling changed. 
The word will be added to a temporary dictionary that is active until you exit PageMaker.
</p><p>
WARNING: If you are working in a general Jojo Computer Institute lab, DO NOT add words to the dictionary; simply click IGNORE.
</p><p>
<code>Check Spelling</code>
</p><p>
1.	From the Utilities menu, select Spelling…
The Spelling dialog box will appear on the screen.<br>
 
2.	OPTIONAL: To check all stories in your document, select the All Stories option.<br>
3.	Click START<br>
4.	If all the words are recognized by the computer’s dictionary, No Spelling Errors Detected will appear in the upper left of the dialog box
If this happens continue with step 6.<br>
	i) If a word is not recognized by the computer’s dictionary Unknown Word will appear in the upper left of the dialog box. 
In the Change To box, delete it and type a new spelling. If this happens, continue with step 5.<br>
 ii) If the word is mispelled and the computer’s dictionary recognizes it, the word will appear in the Change To box. 
In the text area below the Change To box, the computer will list possible spellings for the mispelled word. 
Select the correct choice, and move on to step 5.<br>
5.	Click REPLACE. When the spell check is done, the phrase “Spelling Check Complete” will appear.<br>
6.	Click CLOSE<br>
</p><p>
<code>Exiting the Story Editor</code>
</p><p>
1.	From the Edit menu, select Edit Layout<br>
OR
From the Story menu, select Close Story<br>
OR
Click the CLOSE box<br>
        </p>
             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                 <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory106 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                        
                        if(thisStudent.assignmentTheory106[i].chapterName == 'Chapter-10') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory106[i].mcq1 == 'Charles Babbage') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory106[i].mcq2 == 'High IQ') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory106[i].mcq3 == '0 or 1') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory106[i].mcq4 == 'Computer') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory106[i].mcq5 == '5th Generation') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete106/<%= studentId %>/<%= thisStudent.assignmentTheory106[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
           <hr>
            
 
            
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
     <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment106" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-106 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-10" aria-hidden="true">
            
                  <p class="fs-5 fw-light">
                    
                    Q1.  We are learning Microsoft Office Word Version ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="2010" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  2010
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="2009" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  2009
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="2008" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  2008
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="2007" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  2007
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                          
   
                    
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. ________ helps to open, save or print document.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Print preview" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Print preview
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="File Menu" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  File Menu
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Office button" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Office button
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. ________ on the lower-most bar provides information about current page number, total pages in the document, documents views and a zoom button.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Scrollbar" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Scrollbar
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Taskbar" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Taskbar
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Status bar" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Status bar
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="Zoom" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  Zoom
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4.  When the insertion point reaches the right margin, it automatically moves to the next line as you continue typing. This feature is known as ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Word wrapping" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Word wrapping
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Text wrapping" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                   Text wrapping
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="New line" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                  New line
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5.   To print the document, you can press ________ from the keyboard or go to Office button > click print.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Ctrl + Alt + P" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Ctrl + Alt + P
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Ctrl + Shift + P" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Ctrl + Shift + P
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Ctrl + Print" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Ctrl + Print
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="Ctrl + P" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  Ctrl + P
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    
    

  </body>
  
  
</html>
