<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body>
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

     <main>
      
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-2 pb-4 mt-2">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-3 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-106) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-0"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-8</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca106welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter13"> Chapter-13</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca106onlineclasschapter14"> Chapter-14</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-8 ah hian <code> MASTER PAGES </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                  8. MASTER PAGES: (3 - Marks)
Creating Master Pages, Setting Up Pages, Numbering Pages, Adding Page Numbers, Adding a Prefix
to Page Numbers, Numbering pages within a book, Setting Margins, Setting Print-related Document
Setup Options, Resizing 1-bit Bitmap Images, Column Guides, Setting Up Ruler Guides, Revising,
Deleting and Renaming Masters, Removing Master Page Formatting, Displaying Master Pages and
Master Page Items, Showing Master Pages, About the Adjust Layout Option.

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                <% 
                        
                        var paidStudent = [];
                        
                        if(studentFee.length != undefined) {
                        
                        for(var i = 0; i < studentFee.length; i++) {
                        
                        if(studentFee[i].feeAmount >= 1000) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(studentExamFee.length != undefined) {
                        
                        for(var i = 0; i < studentExamFee.length; i++) {
                        
                        if(studentExamFee[i].feeAmount == 1510) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(studentOtherFee.length != undefined) {
                        
                        for(var i = 0; i < studentOtherFee.length; i++) {
                        
                        if(studentOtherFee[i].feeAmount >= 499) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(paidStudent.includes('paid')) {
                        %> 
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-bookmark pe-2 text-muted"></i> Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                             <p>Master page hi pagemaker phek chunglam leh hnuaia lama awm tur thuziak siamna a ni a. Master page-a thuziak or symbol kan dah tawh hi chu phek tinah a lang vek thin. Page number te, chapter hming te,
                             lehkhabu hming etc., ang chi te hi master page atanga siam tur a ni a. Master page chu page icon bulah a awm a, L R icon kha 
                             master page icon a ni.</p>
                             
                             <p><code>Phek number pek dan: </code> Phek number hi a chung lam emaw a hnuai lamah emaw pek thin a ni a. Page number siam turin
                             document master-ah kal tur a ni. L R icon-ah khan click la, phek thar a lo lang ang. Vei lam phekah phek number lang se i tihna laiah
                             khan CTRL + ALT + P hmet la, LM tih a lo lang ang. Dinglamah CTRL + ALT + P hi hmet leh la, RM tih a lo lang ang. Tichuan, phek pangngaia lut phei turin
                             page icon-ah click la, phek tinah phek number chu a lo lang dawn a ni. </p>
                             
                            <figure class="figure">
                            <img src="/img/masterPage.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="auto" alt="masterPage" />
                            <figcaption class="figure-caption ps-2 text-danger"> Master Page Icon </figcaption>
                            </figure>
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>8. MASTER PAGES </em></p>

<p><b>Master Pages</b><br>
Any text or object that you place on the master page will appear on the entire document pages to which the master is applied. 
Master Pages commonly contain repeating logos, page numbers, headers, and footers. 
They also contain non-printing layout guides, such as column guides, ruler guides, and margin guides.
</p><p>
<figure class="figure">
<img src="/img/masterPageIcon.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="auto" alt="masterPageIcon" />
<figcaption class="figure-caption ps-2 text-danger"> Master Page Icon </figcaption>
</figure>
</p><p>
 
<b>Inserting Page Numbers in Master Pages</b><br>
To make page numbers appear on every page<br>
1. Click on Master Pages icon. <br>
2. Then click on Text Tool. Now the cursor changes to I - beam.<br>
3. Then click on the left Master page where you want to put the page number.<br>
4. Press Ctrl + Alt + P.<br>
5. The page number displays as ‘LM’ on the left Master Page.<br>
6. Similarly click on the right Master page where you want to put the page number.<br>
7. Press Ctrl + Alt + P.<br>
8. The page number displays as ‘RM’ on the right Master Page, but will appear correctly on the actual pages.
</p><p>
  <code>To specify the starting page number or numbering system:</code><br>
1. Choose File > Document Setup<br>
2. To start pagination at a certain number type the starting page in Start Page #.<br>
</p><p>
<code>To specify the numbering system</code><br>
1. Choose File > Document Setup<br>
2. Click numbers.<br>
3. Select the numbering system you want to use, and then click OK.<br>
</p><p>
 <b>Hiding and Showing Master Page Palette</b><br>
  1. To show master page palette, then choose View > Display Master items (which is usually ticked).<br>
  2. To hide master page palette, then choose Window> Show Master Pages in the menu bar. The Master Pages Palette appears.
  </p><p>
  <figure class="figure">
<img src="/img/masterPagePalette.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="auto" alt="masterPagePalette" />
<figcaption class="figure-caption ps-2 text-danger"> Master Page Palette </figcaption>
</figure>
</p><p>
 <b>To create a Master Page</b><br>
Master Pages can be created from scratch, based on existing master pages or from the
guides and specification set on individual pages.<br>
<code>To make from scratch:</code><br>
1. Window > Master Pages <br>
2. New Master Page... from the master page palette pop-up menu<br>
3. Type in name<br>
4. Set the margins, columns and space between<br>
5. Click OK button
</p><p>
  <b>APPLYING MASTER PAGES</b><br>
A new master page has no effect until it is applied to the specific pages. The Document
Master is applied to all pages in your initial publication.<br>
<code>To apply master pages</code><br>
1. Turn to the page you want to apply the master page<br>
2. Window > Master Pages<br>
3. Click on the master page name or icon and it is applied
</p><p>
<code>To apply on selected pages</code><br>
1. Window > Master Pages<br>
2. Click to your selected master page<br>
3. Go to palette pop-pu menu, click apply<br>
4. In apply master, type page number in page range Eg., 4-10<br>
5. Click apply button<br>
</p>
<hr>
<p>
 <b>OLD QUESTION:</b>
  </p><p>
   1. Master page <br><b>Ans... </b> is common to all pages coming under it.
   </p><p>
   2. A design template the defines the overall appearance of every page of a printed document is <br><b>Ans... </b> Master Page
  </p><p>
    3. When creating a master page we can specify whether we want single page or ________ <br><b>Ans... </b> Double page
   </p><p>
   4. We get facing Pages option active when ________ option is on <br><b>Ans... </b> Double-sided
   </p><p>
   5. Number of pages per publication range from <br><b>Ans... </b> 1 to 999
   </p><p>
     6. In a long document feature the chapters are usually numbered with <br><b>Ans... </b> Arabic numerals
   </p><p>
     7. The maximum number of page that we can insert in single publication is <br><b>Ans... </b> 999
   </p><p>
     8. ________ is that it adjusts the space between letters <br><b>Ans... </b> Kerning
   </p><p>
     9. Shortcut key for adding a page is <br><b>Ans... </b> Ctrl + Shift + P <br> <em>Note: Page number hi Layout menu > Insert pages... atanga
     belh tur a ni a. Ctrl + Shift + P hmang hian a page a belh ve thei tho a, Document setup a lo chhuak ang a, tah chuan number of page tihah
     page a belh thei a ni.</em>
   </p><p>
     10. Software that allows the user to create professional quality layout and type styles is <br><b>Ans... </b>  desktop publishing
   </p><p>
     11. Fill is in menu of PageMaker <br><b>Ans... </b> Element
   </p><p>
     12. In desktop publishing, the correct order for the five stages of
development is : <br><b>Ans... </b>  Thumbnails, rough layout, comprehensive layout, and final product
   </p><p>
     13. ________ is the placement of design items within the page <br><b>Ans... </b> Page layout
   </p><p>
     14. Page layout is the placement of design items within the <br><b>Ans... </b> Page
   </p><p>
     15. Paste special is inside <br><b>Ans... </b> Edit menu
   </p><p>
     16. Which option is used to compress text horizontally by some percentage of the current size? <br><b>Ans... </b> Kerning
   </p>


                    </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
                 <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory106 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                        
                        if(thisStudent.assignmentTheory106[i].chapterName == 'Chapter-8') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory106[i].mcq1 == 'Master Page') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory106[i].mcq2 == '1 to 999') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory106[i].mcq3 == 'Kerning') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory106[i].mcq4 == 'Ctrl+Shift+P') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory106[i].mcq5 == 'Master page') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete106/<%= studentId %>/<%= thisStudent.assignmentTheory106[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
     
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
 <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="staticBackdropLabel">A hnuaia zawhnate hi chhang rawh</h5>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment106" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-106 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-8" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="5" aria-hidden="true">
            
                  <p class="fs-5 fw-light">

                  
                    Q1. A design template the defines the overall appearance of every page of a printed document is _________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="Print Setup" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  Print Setup
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="Document Setup" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  Document Setup
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="Print" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  Print
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="Master Page" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  Master Page
                                  
                                </label>
                                
                              </div>
                            
                          </div>     
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2.  Number of pages per publication range from ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="1 - 199" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  1 - 199
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="1 to 1000" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  1 to 1000
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="1 to 999" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 1 to 999
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. ________ is that it adjusts the space between letters.

                   </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Spacebar" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Spacebar
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="Spacing" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  Spacing
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Kerning" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Kerning
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4.  Shortcut key for adding a page is ________.

                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Ctrl+Shift+P" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Ctrl+Shift+P

                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Ctrl+P" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                 Ctrl+P
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Ctrl+D" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 Ctrl+D
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Ctrl+Alt+Spacebar" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                 Ctrl+Alt+Spacebar
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. ________ is common to all pages coming under it.
       
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Page number" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Page number
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Master page" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Master page
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Keyline" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Keyline
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    
    <% } %>

  </body>
  
  
</html>
