<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>

<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      <!--a lane chung lam-->
        
        <!--a lane lai ta-->
        
        <div class="row">
          
           <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-0 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-105) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-1"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-9</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca105welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter13"> Chapter-13</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-9 ah hian <code>  MAKING QUICK ADJUSTMENT TO AN IMAGE </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                    9. MAKING QUICK ADJUSTMENT TO AN IMAGE: (3 - Marks) 
                    Adjusting Brightness and Contrast, Adjusting Hue and Saturation, Using Variations. 

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                             <p>A hma chapter-a kan sawite nen khan a menu awmna chu a inang a. Layer Menu > Adjustments hnuaiah Brightness/Contrast te, Hue/Saturation te leh Variations
                             te hi a awm a. </p>
                             
                             <p>Variation bik hi han sawi zui ta ila, Layer Menu > Adjustments hnuai berah Variations... click tur
                             a ni a. Variations-ah hian thlalak chu colour pek theih dan chi hrang hrang a lo awm ang a. A hnuai box-ah khan click la,
                             a box hming inpek dan ang zel khan colour pawh a lo danglam ve zel dawn a ni. Variations hi thlalak colour adjust nan chuan a awlsam hle
                             a ni.
                             </p>
                             
                             <figure class="figure">
  
                             <img src="/img/colourVariations.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="540" alt="colourVariations" />
                                        
                              <figcaption class="figure-caption ps-2 text-danger"> Photoshop Colour Variations </figcaption>
                                        
                              </figure>  
                      
                      </div>
                  
                  </div>
                
                </div>
                
                <!--end of video section-->
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>9.	MAKING QUICK ADJUSTMENT TO AN IMAGE (3 MARKS)</em></p>

<p><code>
BRIGHTNESS/CONTRAST ADJUSTMENT: </code>The Brightness/Contrast adjustment lets you make simple adjustments to the 
tonal range of an image. Choose Layer > New Adjustment Layer > Brightness/Contrast.
</p><p>
<code>HUE/SATURATION ADJUSTMENT:</code> •	Choose Layer > New Adjustment
Layer > Hue/Saturation. Click OK in the New Layer dialog box.
</p><p>
<code>VARIATIONS: </code>The Color Variations command in Photoshop Elements is a digital color-correction feature. 
To use the Color Variations command:<br>

•	Choose Image → Adjustment → Variations… <br>
•	The Color Variations dialog box appears, displaying a preview of your original image (before) and the corrected image (after).<br>
•	Select a tonal range or color richness (if you’re unsure which range to select, start with the Midtones)<br>
•	Specify how much adjustment you want with the Adjust Color Intensity slider.<br>
•	Drag left to decrease the amount of adjustment and drag right to increase the amount.<br>
•	If you selected Midtones, Shadows, or Highlights in Step 2, adjust the color by clicking the various Increase or Decrease Color buttons.<br>
</p>
<hr><p>
  <b> OLD QUESTION: </b>
</p><p>
  1. Which one of the following is not recommended for high end output <br><b>Ans... </b> Brightness
  </p><p>
   2. Brightness and contrast values ranges between <br><b>Ans... </b> -100 to +100 
    </p><p>
      3. The brightness slider enables you to adjust brightness from <br><b>Ans... </b> -100 to +100 
      </p><p>
        4. Lens flare brightness slider enables you to adjust the brightness from <br><b>Ans... </b> 10% to 300%
      </p><p>
        5. The brightness/contrast command is not recommended for <br><b>Ans... </b> high-end output
        </p><p>
          6. The measure of distinction between two colors and saturation denotes the purity of a color is <br><b>Ans... </b> Hue
         </p><p> 
          7. Modification of the saturation area of an image is <br><b>Ans... </b> Sponge
          </p><p> 
          8. Which one of the following enables you to modify color saturation of an area <br><b>Ans... </b> Sponge
          </p><p>
          9. Midtones <br><b>Ans... </b> show the middle tones of an image – the colours that are in-between. For example, if we had a black and white image, the midtone would be grey
                        </p>
             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
               <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
                            
              <th>Dated</th>
              
              <th>Action</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory105 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
              
                      for(var i=0; i < thisStudent.assignmentTheory105.length; i++) {
                        
                        if(thisStudent.assignmentTheory105[i].chapterName == 'Chapter-9') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory105[i].mcq1 == '-100 to +100') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory105[i].mcq2 == '10% to 300%') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory105[i].mcq3 == 'Hue') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory105[i].mcq4 == 'Sponge') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory105[i].mcq5 == 'Brightness') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory105[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete105/<%= studentId %>/<%= thisStudent.assignmentTheory105[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="fas fa-times p-1 text-muted" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
      
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
 <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">A hnuaia zawhna te hi chhang rawh</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment105" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-105 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-9" aria-hidden="true">
            
                  <p class="fs-5 fw-light">

                  
                    Q1.  The brightness slider enables you to adjust brightness from ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="-1000 to +1000" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  -1000 to +1000
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="-10 to +1000" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  -10 to +1000
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="0 to 100" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  0 to 100
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="-100 to +100" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  -100 to +100
                                  
                                </label>
                                
                              </div>
                            
                          </div>     
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. Lens flare brightness slider enables you to adjust the brightness from _________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="10% to 300%" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  10% to 300%
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="0% to 500%" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  0% to 500%
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="0% to 100%" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 0% to 100%
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. The measure of distinction between two colors and saturation denotes the purity of a color is ________.

                   </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="hue/saturation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  hue/saturation
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="saturation" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  saturation
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="Hue" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  Hue
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. Which one of the following enables you to modify color saturation of an area _________. 
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="Sponge" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  Sponge

                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Blur" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                   Blur
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Smudge" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 Smudge
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Dodge" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  Dodge
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. Which one of the following is not recommended for high end output ________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Brightness" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Brightness
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Darkness" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Darkness
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Effects" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Effects
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="Styles" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  Styles
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>

  </body>
  
</html>
