<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body>
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

     <main>
      
        <!--a lane lai ta-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-2 pb-4 mt-2">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
          <div class="mt-3 rounded text-justify">
            
            <p class="text-muted fw-light text-center mb-0"> You are Learning : (DCA-105) </p>
            
            <p class="text-dark text-center fw-light fs-1 mt-0"> <%= chapterTitle  %></p>
            
            <hr>
                        
                          <div class="d-flex justify-content-between m-1">
                            
                            <button type="button" class="btn btn-sm btn-outline-secondary"> Chapter-10</button>
                            
                              <div class="dropdown">
                
                                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      
                                      Select Chapter
                                    
                                    </button>
                                    
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      
                                      <li><a class="dropdown-item" href="dca105welcomepage"> Intro</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter1"> Chapter-1</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter2"> Chapter-2</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter3"> Chapter-3</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter4"> Chapter-4</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter5"> Chapter-5</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter6"> Chapter-6</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter7"> Chapter-7</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter8"> Chapter-8</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter9"> Chapter-9</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter10"> Chapter-10</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter11"> Chapter-11</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter12"> Chapter-12</a></li>
                                      
                                      <li><a class="dropdown-item" href="dca105onlineclasschapter13"> Chapter-13</a></li>
                                      
                                      </ul>
                                  
                                  </div>
                            
                          </div>

            <p class="fw-normal mx-auto mt-3">Chapter-10 ah hian <code> USING CHANNELS </code> kan en ho dawn a ni. </p>
            
            <hr>
            
            
            <div class="accordion" id="accordionPanelsStayOpenExample">
  
                    <div class="accordion-item"> <!--syllabus section started-->
                    
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                      
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        
                        <i class="fas fa-paste pe-2 text-muted"></i> Syllabus
                      
                      </button>
                    
                    </h2>
                    
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      
                      
                       <div class="accordion-body">
                    
                    
                      <p class="fw-light rounded">
                        
                        <em>
                       
                   10. USING CHANNELS: (3 - Marks)
Working with Channels Palette, Managing Channels, Deleting Channels, Mixing Color Channels,
Working with Spot Channels.

                  
                        </em> 
            
                      </p>
            
                      </div>
                  
                  </div>
                
                </div>  <!--Syllabus end-->
                
                <% 
                        
                        var paidStudent = [];
                        
                        if(studentFee.length != undefined) {
                        
                        for(var i = 0; i < studentFee.length; i++) {
                        
                        if(studentFee[i].feeAmount >= 1000) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(studentExamFee.length != undefined) {
                        
                        for(var i = 0; i < studentExamFee.length; i++) {
                        
                        if(studentExamFee[i].feeAmount == 1510) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(studentOtherFee.length != undefined) {
                        
                        for(var i = 0; i < studentOtherFee.length; i++) {
                        
                        if(studentOtherFee[i].feeAmount >= 499) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(paidStudent.includes('paid')) {
                        %> 
                
                
                <div class="accordion-item"> <!--video section started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      
                      <i class="fas fa-bookmark pe-2 text-muted"></i> Overview
                   
                    </button>
                  
                  </h2>
                  
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">

                    <div class="accordion-body">
            
                             <p>Colour Channel chuan heng rawng te hi a hmang a; red, green, blue, cyan, magenta, yellow leh black te. Heng colour
                             te hi Channel Palette (Layer palette bul) ah a hmuh theih a. Colour Channel hi a click hran vek theih a. Entirnan, red-a i click
                             chuan a i thlalak landan a lo danglam vek ang. Red awm lo ta se, i thlalak lan dan tur a rawn tarlang a ni. Chutiangin
                             green te blue te kha han click la, a lo danglam zel dawn a ni.</p>
                             
                             <p> Hetiang hian han click teh; Image menu → Mode → CMYK Color...
                             Hetianga i tih chuan RGB kha CMYK colour-ah a lo inthlak ang a, colour channel-a colour hming pawh a lo tam lehzual dawn a ni. (CMYK hi printer colour
                             ink awm dan a ni tih hria ila)</p>
                             
                             
                             <figure class="figure">
  
                             <img src="/img/colourChannel.jpg" class="float-end img-fluid ps-2 pb-2" width="auto" height="540" alt="colourChannel" />
                                        
                              <figcaption class="figure-caption ps-2 text-danger"> Photoshop Colour Channel Palette </figcaption>
                                        
                              </figure>  
                      
                      </div>
                  
                  </div>
                
                </div>
                
                
                <!--end of video section-->
                
                
                
                <div class="accordion-item">  <!--textbook started-->
                  
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          
                          <i class="fas fa-file-alt pe-2 text-muted"></i> Text
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        
                        
                        <div class="accordion-body">
                      
                      
                      <p class="fw-light rounded">
                        

<p><em>10.	USING CHANNEL (3 MARKS)</em></p>


<p><code>
WORKING WITH CHANNEL:</code> To put it simply, color channels are the red, green, blue, cyan, magenta, yellow and black elements of an image. 
You can view an image’s individual channels by opening the Channels palette. Using color
channels is useful when you are converting a color image to grayscale or when you are trying to select a very specific area of color. 
Let’s try it:
</p><p>
1.	Open an image in which you want to work with. 
As you can see from the image’s title bar, this is an RGB image. 
Therefore the channels displayed in the Channels palette will include red, green, and blue as well as an RGB channel which shows 
all the RGB elements combined.<br>
2.	Click the display icon to the left of the Red layer. 
Your image should look like very different pictured. This is because the red pixels of the image have been hidden. 
Click where the display icon was to make the red channel reappear. You can do the same thing with the green and blue channels.<br>
3.	Select Image → Mode → CMYK Color from the menu. 
So, the image is converted from RGB to CMYK. Look at the Channels palette, 
its layers have changed from four channels labeled RGB, Red, Green, and Blue to five channels labeled CMYK, Cyan, Magenta, Yellow, and Black.<br>
4.	Select File → Revert from the menu.<br>
</p><p>
<code>DELETING CHANNELS: </code>To delete the channel in the Channels panel, do one of the following:<br>

i) Alt + click the Delete icon. OR   <br>
ii) Drag the channel name in the panel to the Delete icon. OR <br>
iii) Choose Delete Channel from the Channels panel menu. OR <br>
iii) Click the Delete icon at the bottom of the panel, and then click Yes.<br>
</p>
<hr><p>
  <b> OLD QUESTION: </b>
</p><p>
  1. Which one of the following options of the adjustment submenu allows you to modify a colour channel <br><b>Ans... </b> Channel mixer
  </p><p>
    2. Which one of the palette menu allows you to create spot channels in Photoshop <br><b>Ans... </b> Channel pallete menu
    </p><p>
      3. The quick mask mode <br><b>Ans... </b> enables you to create a temporary mask to edit a selection without using a channel palette
    </p><p>
      4. Channel that store spot colors in an image is <br><b>Ans... </b> Spot channel
    </p><p>
      5. An image can consist up to how many channel <br><b>Ans... </b> 24
    </p><p>
      6. When you duplicate alpha channel between images then the channels need to have… <br><b>Ans... </b> Identical pixels dimensions
    </p><p>
      7. Permanent mask can be created by storing in which channel <br><b>Ans... </b> Alpha
    </p><p>
      8. 'Channel' enables you to <br><b>Ans... </b> Create and manage channel
    </p><p>
      9. From channel <br><b>Ans... </b> we can adjust red, green and blue color separately
    </p><p>
      10. Which one of the following options of the channel palette menu allows you to duplicate channels in Photoshop <br><b>Ans... </b> Duplicate channel option
    </p><p>
      11. Posterize <br><b>Ans... </b> specify the number of tonal levels for each colour channel.
    </p><p>
      12. Which one of the following represents channel that store selections as 8-bit greyscale images <br><b>Ans... </b> Alpha
    </p><p>
      13. The images that you want to merge using the merging channels features need to be in which mode <br><b>Ans... </b> grayscale
    </p><p>
      14. Which one of the following is used to store spot colors in an image <br><b>Ans... </b> Spot Channel
    </p><p>
      15. An RGB image has three channels <br><b>Ans... </b> red, green, and blue.
    </p><p>
      16. Alpha channel represents store selections of how many bit gray scale images <br><b>Ans... </b> 8 bit
      </p><p>
      17. Which one of the following palettes enable you to record, revert and delete the changes made to an image <br><b>Ans... </b> History pallette
    
                      </p>
             
                      </div>
                  
                  </div>
                
                </div>  <!--end of text definition-->
                
   
                
              <div class="accordion-item">
                 
                  <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                          
                          <i class="fas fa-pen-alt pe-2 text-muted"></i> Assignment
                        
                        </button>
                        
                      </h2>
                      
                      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                        
                    <div class="accordion-body">
                      
                      <div class="d-flex justify-content-end">

                      <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      
                     Click here to answer assignment
                      
                    </button>

                  
                  </div>
                  
                  <p class="fs-5 fw-light mt-2 mb-2">
                    
                    Assignment Table
                    
                  </p>
                  
                  <!--scoreboard-->
                  
      <div class="table-responsive">
        
        <table class="table table-striped table-sm myTable">
          
          <thead>
            
            <tr class="text-muted border text-center">
              
              <th>Sl.</th>
              
              
              <th>Correct</th>
              
              <th>Incorrect</th>
              
              <th>Scored</th>
              
                            
              <th>Dated</th>
              
              <th>Delete</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center">
            
            <%    if( thisStudent.assignmentTheory105 != undefined) {
                      //serial atan aw
                      var noOfAttempt = 0;
                      
              
                      for(var i=0; i < thisStudent.assignmentTheory105.length; i++) {
                        
                        if(thisStudent.assignmentTheory105[i].chapterName == 'Chapter-10') {
                          //display serial
                          noOfAttempt += 1;
                          
                          //count of correct and incorrect answered
                            var correctCount = 0;
                            var incorrect = 0;
                            var questionNumber = [];
                            //question 1
                          if(thisStudent.assignmentTheory105[i].mcq1 == '24') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q1');
                          }
                          //question 2
                          if(thisStudent.assignmentTheory105[i].mcq2 == 'Identical pixels dimensions') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q2');
                          }
                          //question 3
                          if(thisStudent.assignmentTheory105[i].mcq3 == 'Grayscale') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q3');
                          }
                           //question 4
                          if(thisStudent.assignmentTheory105[i].mcq4 == 'Channel palette menu') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q4');
                          }
                           //question 5
                          if(thisStudent.assignmentTheory105[i].mcq5 == 'History palette') {
                            correctCount++;
                          } else {
                            incorrect++;
                            questionNumber.push('Q5');
                          }
                          
                          
                          
                  %>
            
           <tr>
              
              <th class="text-center fw-normal"><%= noOfAttempt %></th>
              
              <td class="text-center fw-bold text-success"><%= correctCount %></td>
              
              <td class="text-center fw-normal text-danger small"><%=  questionNumber %></td>
              
              <td class="text-center fw-normal">
                
               <%= correctCount %>/5

              </td>
              
              <td class="text-center fw-normal"><%= convertDate(thisStudent.assignmentTheory105[i].dateSubmitted) %></td>
              
              <td>
                
                 <a href="/assignment/delete105/<%= studentId %>/<%= thisStudent.assignmentTheory105[i]._id %>" onclick="return confirm('He record hi i delete duh em ni?');">
                  
                  <i class="far fa-trash-alt p-1 text-danger" aria-hidden="true"></i></a>
              
              </td>
  
            </tr>
        
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
                  
 
              </div><!-- end of 4th collapse assignment-->
                      
                      </div>
               
                  </div>
                  
                  
              
                </div>
              
              </div>
              
         
            </div>
            
            </div>
 

    </main>
    
</div> <!--end of container-->



    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="staticBackdropLabel">A hnuaia zawhnate hi chhang rawh</h5>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
                                                 
           <!--Assignment form started-->
            
        <form action="/computerStudents/theoryAssignment105" method="POST" autocomplete="off">
             
              <input type="hidden" name="_id" value="<%= studentId %>" aria-hidden="true">
              
              <input type="hidden" name="subjectName" value="DCA-105 (Theory)" aria-hidden="true">
              
              <input type="hidden" name="chapterName" value="Chapter-10" aria-hidden="true">
              
               <input type="hidden" name="totalMark" value="5" aria-hidden="true">
            
                  <p class="fs-5 fw-light">

                  
                    Q1. An image can consist up to how many channel ________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-3">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault1" value="4" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1">
                                  
                                  4
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault2" value="8" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2">
                                  
                                  8
                                  
                                </label>
                                
                              </div>
                              
                              
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault3" value="16" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3">
                                  
                                  16
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ1" id="flexRadioDefault4" value="24" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4">
                                  
                                  24
                                  
                                </label>
                                
                              </div>
                            
                          </div>     
                 
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q2. When you duplicate alpha channel between images then the channels need to have _________.
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault1Q2" value="Identical pixels dimensions" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q2">
                                  
                                  Identical pixels dimensions
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault2Q2" value="Two pixels dimensions" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q2">
                                  
                                  Two pixels dimensions
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault3Q2" value="Similar images" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q2">
                                  
                                 Similar images
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ2" id="flexRadioDefault4Q2" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q2">
                                  
                                 None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q3. The images that you want to merge using the merging channels features need to be in which mode ________.

                   </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault1Q3" value="Grayscale" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q3">
                                  
                                  Grayscale
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault2Q3" value="RGB" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q3">
                                  
                                  RGB
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault3Q3" value="CMYK" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q3">
                                  
                                  CMYK
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ3" id="flexRadioDefault4Q3" value="None of the above" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q3">
                                  
                                  None of the above
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                    Q4. Which one of the palette menu allows you to create spot channels in Photoshop _________. 
                    
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault1Q4" value="History palette menu" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q4">
                                  
                                  History palette menu

                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault2Q4" value="Path palette menu" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q4">
                                  
                                   Path palette menu
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault3Q4" value="Layers palette menu" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q4">
                                  
                                 Layers palette menu
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                              <input class="form-check-input" type="radio" name="dcaMCQ4" id="flexRadioDefault4Q4" value="Channel palette menu" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q4">
                                  
                                  Channel palette menu
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                    
                  </p>
                  
                  <p class="fs-5 fw-light mt-3">
                    
                   Q5. Which one of the following palettes enable you to record, revert and delete the changes made to an image ________.
                   
                  </p>
                  
                  <p class="fw-normal mt-3">
                    
                    <div class="form-floating align-items-center mb-2">
      
                            <div class="form-check mb-1 ms-3">
                              
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault1Q5" value="Layers palette" required>
                                
                                <label class="form-check-label" for="flexRadioDefault1Q5">
                                  
                                  Layers palette
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault2Q5" value="Action palette" required>
                                
                                <label class="form-check-label" for="flexRadioDefault2Q5">
                                  
                                  Action palette
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault3Q5" value="Swatches palette" required>
                                
                                <label class="form-check-label" for="flexRadioDefault3Q5">
                                  
                                  Swatches palette
                                  
                                </label>
                                
                              </div>
                              
                              <div class="form-check mb-1 ms-3">
                                
                                <input class="form-check-input" type="radio" name="dcaMCQ5" id="flexRadioDefault4Q5" value="History palette" required>
                                
                                <label class="form-check-label" for="flexRadioDefault4Q5">
                                  
                                  History palette
                                  
                                </label>
                                
                              </div>
                            
                          </div>
                  
                    </p>
                  
                  <div class="text-center">
                    
                  <button class="btn btn-primary mt-2" type="submit" onclick="return confirm('I submit duh tak tak em?');">Submit</button>
                  
                  </div>
    
               </form>
      </div>
    </div>
  </div>
</div>
    
<% } %>
  </body>
  
  
</html>
