<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body>
    
    <%- include('layouts/navbar') -%>
    
<!-- --------------main container section------------------ -->

<div class="container">

    <main>
      
      <!--a lane chung lam-->
        
        <div class="row">
          
            <div class="mx-auto shadow-sm rounded px-2 pb-4 mt-2">
            <div>
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-arrow-left text-primary"></i> Dashboard</i> </a>
            <span class="float-end"> <%- include('layouts/subjectMenuPractical') -%> </span>
            </div>
            <hr class="w-25 mx-auto text-secondary mt-4 mb-0">
          <div class="mt-0 rounded text-justify">
            <p class="text-muted fw-light text-center mb-0"> Practical Thuhmahruai </p>
            <hr class="w-25 mx-auto text-secondary my-1">
            <h3 class="fw-light fs-1 text-center mt-0 mb-2">  DCA 1st Semester <br></h3>
            
            <hr class="text-muted mt-0">
            
            <p class="fw-normal px-3">DCA I Semester hi a practical-in kan zir dawn a. Syllabus milin practical hi kan zir dawn a ni.<a class="text-secondary" onclick="myFunction()" id="myBtn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">.. Read More...
                    </a>
            </p>
                  <div class="collapse" id="collapseExample">
                    <div> <p class="fw-normal px-3">Theory ang tlukin practical hi a pawimawh a. Practical-a khawih tam chuan theory an hrethiam awlsam
                    a; an hriatna a nghet bik thin a ni</p>
                    
            <p class="fw-normal px-3">Practical hian <code>mark 50</code>, theory hian <code> mark 50 </code>a pu a. 
            
            <em>Practical mark 50 hi thendarh leh a ni a. Practical exam-ah mark 40, internal assessment-ah mark 10 tiin.</em> Tuna kan zir tur hi practical exam (<em>mark 40 pu</em>) atana inbuatsaihna chu a ni.
            
            </p>
            <p class="fw-normal px-3"> Heng kan lesson video siam te hi practical exam inbuatsaihna atana siamsak che kan ni a; chutih rualin, uluk taka i
            zir chhuah peih phawt chuan computer knowledge tam tak i neih phah dawn a, i future-ah nasa takin a tanpui dawn che a ni. Taima takin i lo
            zir thin dawn nia.
            </p>
                  </div>
                </div>
            
            <hr class="mx-auto w-25">

            <h5 class="text-dark fw-normal mt-4 px-3">A subject hmingah click la, i zir tur chapter-ah kal ang che</h5>
            
            <!-- DCA I Semester subject te... -->
            
              <div class="accordion" id="accordionExample">
                
                  <div class="accordion-item">
                    
                    <!--<h2 class="accordion-header" id="headingOne">-->
                      
                    <!--  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
                        
                    <!--    <span class="text-muted fw-normal"> 1. Fundamental of Computer (DCA-101) </span>-->
                        
                    <!--  </button>-->
                      
                    <!--</h2>-->
                    
                    <!--<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">-->
                      
                    <!--  <div class="accordion-body">-->
                        
                    <!--    <div class="row">-->
                          
                          
                    <!--        <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                    <!--          <a href="dca101welcomepage"><button type="button" class="btn btn-link m-2">Introduction <i class="fas fa-angle-right"></i></button></a>-->
                              
                    <!--          </div>-->
                                
                    <!--            <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                    <!--          <a href="dca1semOnlineLessonChapter1"><button type="button" class="btn btn-link m-2">Chapter-1 <i class="fas fa-angle-right"></i></button></a>-->
                              
                    <!--          </div>-->
                        
                      <!--<div class=" col-lg-3 col-md-6 col-sm-6"> -->
                              
                         <!--     <a href="dca1semOnlineLessonChapter2"><button type="button" class="btn btn-link m-2">Chapter-2 <i class="fas fa-angle-right"></i></button></a>-->
                              
                              
                         <!--       </div>-->

                         <!--       <div class=" col-lg-3 col-md-6 col-sm-6"> -->

                         <!--       <a href="dca1semOnlineLessonChapter3"><button type="button" class="btn btn-link m-2">Chapter-3 <i class="fas fa-angle-right"></i></button></a>-->

                         <!--       </div>-->
                                
                         <!--       <div class=" col-lg-3 col-md-6 col-sm-6"> -->
                         <!--     <a href="dca1semOnlineLessonChapter4"><button type="button" class="btn btn-link m-2">Chapter-4 <i class="fas fa-angle-right"></i></button></a>-->

                         <!--   </div>-->
                            
                         <!--   <div class="col-lg-3 col-md-6 col-sm-6"> -->

                         <!--     <a href="dca1semOnlineLessonChapter5"><button type="button" class="btn btn-link m-2">Chapter-5 <i class="fas fa-angle-right"></i></button></a>-->
                              
                         <!--     </div>-->
                              
                         <!--     <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                         <!--     <a href="dca1semOnlineLessonChapter6"><button type="button" class="btn btn-link m-2">Chapter-6 <i class="fas fa-angle-right"></i></button></a>-->
                            
                         <!--   </div>-->

                         <!--   <div class="col-lg-3 col-md-6 col-sm-6">-->
                              
                         <!--     <a href="dca1semOnlineLessonChapter7"><button type="button" class="btn btn-link m-2">Chapter-7 <i class="fas fa-angle-right"></i></button></a>-->
                              
                         <!--     </div>-->
                              
                         <!--     <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                         <!--     <a href="dca1semOnlineLessonChapter8"><button type="button" class="btn btn-link m-2">Chapter-8 <i class="fas fa-angle-right"></i></button></a>-->
                            
                         <!--   </div>-->

                         <!--   <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                         <!--     <a href="dca1semOnlineLessonChapter9"><button type="button" class="btn btn-link m-2">Chapter-9 <i class="fas fa-angle-right"></i></button></a>-->
                            
                         <!--   </div>-->
                            
                         <!--   <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                         <!--     <a href="dca1semOnlineLessonChapter10"><button type="button" class="btn btn-link m-2">Chapter-10 <i class="fas fa-angle-right"></i></button></a>-->
                                
                         <!--       </div>-->
                              <!--</div>-->  <!--row end for first chapter-->
                        
                      <!--</div>-->
                      
                    </div>
                    
                  </div>
                  
                  
                  <div class="accordion-item">
                    
                    <!--<h2 class="accordion-header" id="headingTwo">-->
                      
                    <!--  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
                        
                    <!--    <span class="text-muted fw-normal"> 2. Operating System (DCA-102) </span>-->
                      
                    <!--  </button>-->
                      
                    <!--</h2>-->
                    
                    <!--<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">-->
                      
                    <!--  <div class="accordion-body">-->


                    <!--    <div class="row">-->
                          
                    <!--      <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                    <!--          <a href="dca102welcomepage"><button type="button" class="btn btn-link m-2">Introduction <i class="fas fa-angle-right"></i></button></a>-->
                              
                    <!--          </div>-->
                                
                    <!--            <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                    <!--          <a href="dca102onlineclasschapter1"><button type="button" class="btn btn-link m-2">Chapter-1 <i class="fas fa-angle-right"></i></button></a>-->
                              
                    <!--          </div>-->
                              
                            <!--  <div class=" col-lg-3 col-md-6 col-sm-6"> -->
                              
                            <!--  <a href="dca102onlineclasschapter2"><button type="button" class="btn btn-link m-2">Chapter-2 <i class="fas fa-angle-right"></i></button></a>-->
                              
                              
                            <!--    </div>-->

                            <!--    <div class=" col-lg-3 col-md-6 col-sm-6"> -->

                            <!--    <a href="dca102onlineclasschapter3"><button type="button" class="btn btn-link m-2">Chapter-3 <i class="fas fa-angle-right"></i></button></a>-->

                            <!--    </div>-->
                                
                            <!--    <div class=" col-lg-3 col-md-6 col-sm-6"> -->
                                
                            <!--  <a href="dca102onlineclasschapter4"><button type="button" class="btn btn-link m-2">Chapter-4 <i class="fas fa-angle-right"></i></button></a>-->

                            <!--</div>-->
                            
                            <!--<div class="col-lg-3 col-md-6 col-sm-6"> -->

                            <!--  <a href="dca102onlineclasschapter5"><button type="button" class="btn btn-link m-2">Chapter-5 <i class="fas fa-angle-right"></i></button></a>-->
                              
                            <!--  </div>-->
                              
                            <!--  <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                            <!--  <a href="dca102onlineclasschapter6"><button type="button" class="btn btn-link m-2">Chapter-6 <i class="fas fa-angle-right"></i></button></a>-->
                            
                            <!--</div>-->

                            <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
                              
                            <!--  <a href="dca102onlineclasschapter7"><button type="button" class="btn btn-link m-2">Chapter-7 <i class="fas fa-angle-right"></i></button></a>-->
                              
                            <!--  </div>-->
                              
                            <!--  <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                            <!--  <a href="dca102onlineclasschapter8"><button type="button" class="btn btn-link m-2">Chapter-8 <i class="fas fa-angle-right"></i></button></a>-->
                            
                            <!--</div>-->

                            <!--<div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                            <!--  <a href="dca102onlineclasschapter9"><button type="button" class="btn btn-link m-2">Chapter-9 <i class="fas fa-angle-right"></i></button></a>-->
                            
                            <!--</div>-->
                            
                            <!--<div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca102onlineclasschapter10"><button type="button" class="btn btn-link m-2">Chapter-10 <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                              <!--</div><!--end of subject 2 chapter-->

                      <!--</div>-->
                      
                    </div>
                    
                  </div>
                  
                  
                  <!-- DCA I Semester subject te... -->
            
                
                   <div class="accordion-item">
                    
                    <h2 class="accordion-header" id="headingThree">
                      
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                       
                       <span class="text-muted fw-normal"> 3. Office Automation Software (DCA-103) </span>
                        
                      </button>
                      
                    
                    </h2>
                    
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      
                      <div class="accordion-body">
                        
                          <div class="row">
                            
                            <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca103practicalwelcomepage"><button type="button" class="btn btn-link m-2">Introduction <i class="fas fa-angle-right"></i></button></a>
                              
                              </div>
                            
                            
                              <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca103practicalclasschapter1"><button type="button" class="btn btn-link m-2">Chapter-1 (docx) <i class="fas fa-angle-right"></i></button></a>
                              
                              </div>
                              
                              <div class=" col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca103practicalclasschapter2"><button type="button" class="btn btn-link m-2">Chapter-2 (docx) <i class="fas fa-angle-right"></i></button></a>
                              
                              
                                </div>

                                <div class=" col-lg-3 col-md-6 col-sm-6"> 

                                <a href="dca103practicalclasschapter3"><button type="button" class="btn btn-link m-2">Chapter-3 (docx) <i class="fas fa-angle-right"></i></button></a>

                                </div>
                                
                                <div class=" col-lg-3 col-md-6 col-sm-6"> 
                                
                              <a href="dca103practicalclasschapter4"><button type="button" class="btn btn-link m-2">Chapter-4 (docx) <i class="fas fa-angle-right"></i></button></a>

                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-6"> 

                              <a href="dca103practicalclasschapter5"><button type="button" class="btn btn-link m-2">Chapter-5 (docx) <i class="fas fa-angle-right"></i></button></a>
                              
                              </div>
                              
                              <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca103practicalclasschapter6"><button type="button" class="btn btn-link m-2">Chapter-6 (docx) <i class="fas fa-angle-right"></i></button></a>
                            
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                              
                              <a href="dca103practicalclasschapter7"><button type="button" class="btn btn-link m-2">Chapter-7 (docx) <i class="fas fa-angle-right"></i></button></a>
                              
                              </div>
                              
                              <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca103practicalclasschapter8"><button type="button" class="btn btn-link m-2">Chapter-8 (docx) <i class="fas fa-angle-right"></i></button></a>
                            
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6"> 
                              
                              <a href="dca103practicalclasschapter9"><button type="button" class="btn btn-link m-2">Chapter-9 (docx) <i class="fas fa-angle-right"></i></button></a>
                            
                            </div>
                            
                            <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103practicalclasschapter10"><button type="button" class="btn btn-link m-2">Chapter-10 (xlsx) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                
                                <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103practicalclasschapter11"><button type="button" class="btn btn-link m-2">Chapter-11 (xlsx) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103practicalclasschapter12"><button type="button" class="btn btn-link m-2">Chapter-12 (xlsx) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103practicalclasschapter13"><button type="button" class="btn btn-link m-2">Chapter-13 (xlsx) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                                <div class="col-lg-3 col-md-6 col-sm-6"> 
                            
                              <a href="dca103practicalclasschapter14"><button type="button" class="btn btn-link m-2">Chapter-14 (xlsx) <i class="fas fa-angle-right"></i></button></a>
                                
                                </div>
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca103practicalclasschapter15"><button type="button" class="btn btn-link m-2">Chapter-15 (xlsx) <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca103practicalclasschapter16"><button type="button" class="btn btn-link m-2">Chapter-16 (xlsx) <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca103practicalclasschapter17"><button type="button" class="btn btn-link m-2">Chapter-17 (pptx) <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca103practicalclasschapter18"><button type="button" class="btn btn-link m-2">Chapter-18 (pptx) <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca103practicalclasschapter19"><button type="button" class="btn btn-link m-2">Chapter-19 (pptx) <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca103practicalclasschapter20"><button type="button" class="btn btn-link m-2">Chapter-20 (pptx) <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                              </div> <!--third subject row end-->

                      </div>
                    
                    </div>
                  
                  </div>
                  

                  
                  
                  <div class="accordion-item">
                    
                    <!--<h2 class="accordion-header" id="headingFour">-->
                      
                    <!--  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">-->
                       
                    <!--      <span class="text-muted fw-normal"> 4. Internet Technology (DCA-104) </span>-->
                        
                    <!--  </button>-->
                      
                    
                    <!--</h2>-->
                    
                    <!--<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">-->
                      
                    <!--  <div class="accordion-body">-->
                        
                    <!--    <div class="row">-->
                          
                    <!--      <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                    <!--          <a href="dca104welcomepage"><button type="button" class="btn btn-link m-2">Introduction <i class="fas fa-angle-right"></i></button></a>-->
                              
                    <!--          </div>-->
                                
                    <!--            <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                    <!--          <a href="dca104onlineclasschapter1"><button type="button" class="btn btn-link m-2">Chapter-1 <i class="fas fa-angle-right"></i></button></a>-->
                              
                    <!--          </div>-->
                              
                              
                            <!--  <div class=" col-lg-3 col-md-6 col-sm-6"> -->
                              
                            <!--  <a href="dca104onlineclasschapter2"><button type="button" class="btn btn-link m-2">Chapter-2 <i class="fas fa-angle-right"></i></button></a>-->
                              
                              
                            <!--    </div>-->

                            <!--    <div class=" col-lg-3 col-md-6 col-sm-6"> -->

                            <!--    <a href="dca104onlineclasschapter3"><button type="button" class="btn btn-link m-2">Chapter-3 <i class="fas fa-angle-right"></i></button></a>-->

                            <!--    </div>-->
                                
                            <!--    <div class=" col-lg-3 col-md-6 col-sm-6"> -->
                                
                            <!--  <a href="dca104onlineclasschapter4"><button type="button" class="btn btn-link m-2">Chapter-4 <i class="fas fa-angle-right"></i></button></a>-->

                            <!--</div>-->
                            
                            <!--<div class="col-lg-3 col-md-6 col-sm-6"> -->

                            <!--  <a href="dca104onlineclasschapter5"><button type="button" class="btn btn-link m-2">Chapter-5 <i class="fas fa-angle-right"></i></button></a>-->
                              
                            <!--  </div>-->
                              
                            <!--  <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                            <!--  <a href="dca104onlineclasschapter6"><button type="button" class="btn btn-link m-2">Chapter-6 <i class="fas fa-angle-right"></i></button></a>-->
                            
                            <!--</div>-->

                          <!--</div> <!--fourth subject row end-->

                      <!--</div>-->
                    
                    </div>
                  
                  </div>
                  
                  
                  
                   <div class="accordion-item">
                    
                    <!--<h2 class="accordion-header" id="headingFive">-->
                      
                    <!--  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">-->
                       
                    <!--    <span class="text-muted fw-normal">5. Computer Graphics (DCA-105) </span>-->
                        
                    <!--  </button>-->
                      
                    
                    <!--</h2>-->
                    
                    <!--<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">-->
                      
                    <!--  <div class="accordion-body">-->
                        
                    <!--    <div class="row">-->
                          
                    <!--      <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                    <!--          <a href="dca105welcomepage"><button type="button" class="btn btn-link m-2">Introduction <i class="fas fa-angle-right"></i></button></a>-->
                              
                    <!--          </div>-->
                          
                    <!--          <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                    <!--          <a href="dca105onlineclasschapter1"><button type="button" class="btn btn-link m-2">Chapter-1 <i class="fas fa-angle-right"></i></button></a>-->
                              
                    <!--          </div>-->
                              
                              
                            <!--  <div class=" col-lg-3 col-md-6 col-sm-6"> -->
                              
                            <!--  <a href="dca105onlineclasschapter2"><button type="button" class="btn btn-link m-2">Chapter-2 <i class="fas fa-angle-right"></i></button></a>-->
                              
                              
                            <!--    </div>-->

                            <!--    <div class=" col-lg-3 col-md-6 col-sm-6"> -->

                            <!--    <a href="dca105onlineclasschapter3"><button type="button" class="btn btn-link m-2">Chapter-3 <i class="fas fa-angle-right"></i></button></a>-->

                            <!--    </div>-->
                                
                            <!--    <div class=" col-lg-3 col-md-6 col-sm-6"> -->
                                
                            <!--  <a href="dca105onlineclasschapter4"><button type="button" class="btn btn-link m-2">Chapter-4 <i class="fas fa-angle-right"></i></button></a>-->

                            <!--</div>-->
                            
                            <!--<div class="col-lg-3 col-md-6 col-sm-6"> -->

                            <!--  <a href="dca105onlineclasschapter5"><button type="button" class="btn btn-link m-2">Chapter-5 <i class="fas fa-angle-right"></i></button></a>-->
                              
                            <!--  </div>-->
                              
                            <!--  <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                            <!--  <a href="dca105onlineclasschapter6"><button type="button" class="btn btn-link m-2">Chapter-6 <i class="fas fa-angle-right"></i></button></a>-->
                            
                            <!--</div>-->

                            <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
                              
                            <!--  <a href="dca105onlineclasschapter7"><button type="button" class="btn btn-link m-2">Chapter-7 <i class="fas fa-angle-right"></i></button></a>-->
                              
                            <!--  </div>-->
                              
                            <!--  <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                            <!--  <a href="dca105onlineclasschapter8"><button type="button" class="btn btn-link m-2">Chapter-8 <i class="fas fa-angle-right"></i></button></a>-->
                            
                            <!--</div>-->

                            <!--<div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                            <!--  <a href="dca105onlineclasschapter9"><button type="button" class="btn btn-link m-2">Chapter-9 <i class="fas fa-angle-right"></i></button></a>-->
                            
                            <!--</div>-->
                            
                            <!--<div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca105onlineclasschapter10"><button type="button" class="btn btn-link m-2">Chapter-10 <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca105onlineclasschapter11"><button type="button" class="btn btn-link m-2">Chapter-11 <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca105onlineclasschapter12"><button type="button" class="btn btn-link m-2">Chapter-12 <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca105onlineclasschapter13"><button type="button" class="btn btn-link m-2">Chapter-13 <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
 
                          <!--</div> <!--fifth subject row end-->

                      <!--</div>-->
                    
                    </div>
                  
                  </div>
                  
                  
                  
                   <div class="accordion-item">
                    
                    <!--<h2 class="accordion-header" id="headingSix">-->
                      
                    <!--  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">-->
                       
                    <!--      <span class="text-muted fw-normal"> 6. Desktop Publishing (DCA-106) </span>-->
                        
                    <!--  </button>-->
                      
                    
                    <!--</h2>-->
                    
                    <!--<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">-->
                      
                    <!--  <div class="accordion-body">-->
                        
                    <!--    <div class="row">-->
                          
                          
                    <!--      <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                    <!--          <a href="dca106welcomepage"><button type="button" class="btn btn-link m-2">Introduction <i class="fas fa-angle-right"></i></button></a>-->
                              
                    <!--          </div>-->
                          
                    <!--          <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                    <!--          <a href="dca106onlineclasschapter1"><button type="button" class="btn btn-link m-2">Chapter-1 <i class="fas fa-angle-right"></i></button></a>-->
                              
                    <!--          </div>-->
                              
                             
                            <!--  <div class=" col-lg-3 col-md-6 col-sm-6"> -->
                              
                            <!--  <a href="dca106onlineclasschapter2"><button type="button" class="btn btn-link m-2">Chapter-2 <i class="fas fa-angle-right"></i></button></a>-->
                              
                              
                            <!--    </div>-->

                            <!--    <div class=" col-lg-3 col-md-6 col-sm-6"> -->

                            <!--    <a href="dca106onlineclasschapter3"><button type="button" class="btn btn-link m-2">Chapter-3 <i class="fas fa-angle-right"></i></button></a>-->

                            <!--    </div>-->
                                
                            <!--    <div class=" col-lg-3 col-md-6 col-sm-6"> -->
                                
                            <!--  <a href="dca106onlineclasschapter4"><button type="button" class="btn btn-link m-2">Chapter-4 <i class="fas fa-angle-right"></i></button></a>-->

                            <!--</div>-->
                            
                            <!--<div class="col-lg-3 col-md-6 col-sm-6"> -->

                            <!--  <a href="dca106onlineclasschapter5"><button type="button" class="btn btn-link m-2">Chapter-5 <i class="fas fa-angle-right"></i></button></a>-->
                              
                            <!--  </div>-->
                              
                            <!--  <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                            <!--  <a href="dca106onlineclasschapter6"><button type="button" class="btn btn-link m-2">Chapter-6 <i class="fas fa-angle-right"></i></button></a>-->
                            
                            <!--</div>-->

                            <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
                              
                            <!--  <a href="dca106onlineclasschapter7"><button type="button" class="btn btn-link m-2">Chapter-7 <i class="fas fa-angle-right"></i></button></a>-->
                              
                            <!--  </div>-->
                              
                            <!--  <div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                            <!--  <a href="dca106onlineclasschapter8"><button type="button" class="btn btn-link m-2">Chapter-8 <i class="fas fa-angle-right"></i></button></a>-->
                            
                            <!--</div>-->

                            <!--<div class="col-lg-3 col-md-6 col-sm-6"> -->
                              
                            <!--  <a href="dca106onlineclasschapter9"><button type="button" class="btn btn-link m-2">Chapter-9 <i class="fas fa-angle-right"></i></button></a>-->
                            
                            <!--</div>-->
                            
                            <!--<div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca106onlineclasschapter10"><button type="button" class="btn btn-link m-2">Chapter-10 <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--     <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca106onlineclasschapter11"><button type="button" class="btn btn-link m-2">Chapter-11 <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--     <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca106onlineclasschapter12"><button type="button" class="btn btn-link m-2">Chapter-12 <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                            <!--     <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca106onlineclasschapter13"><button type="button" class="btn btn-link m-2">Chapter-13 <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                            <!--    <div class="col-lg-3 col-md-6 col-sm-6"> -->
                            
                            <!--  <a href="dca106onlineclasschapter14"><button type="button" class="btn btn-link m-2">Chapter-14 <i class="fas fa-angle-right"></i></button></a>-->
                                
                            <!--    </div>-->
                                
                          <!--</div> <!--sixth subject row end-->

                      <!--</div>-->
                    
                    </div>
                  
                  </div>
                  
                </div>

    </main>
    
</div> <!--end of container-->

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    <script>
      function myFunction() {
      var btnText = document.getElementById("myBtn");
      btnText.style.display = "none";
    }
</script>

  </body>
  
  
</html>
