<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    


<!-- --------------main container section------------------ -->

<div class="container">

    <main class="ms-sm-auto px-md-4">
      
      <!--a lane chung lam-->
      

        
        <div class="row bg-white">
          
            <div class="mx-auto shadow-sm rounded px-4 pb-4 mt-3">
            <div>
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home text-primary"></i> Dashboard</i> </a>
            <span class="float-end"> <%- include('layouts/subjectMenuPractical') -%> </span>
            </div>
            <hr class="w-25 mx-auto text-secondary my-2">
            <div class="mt-0 rounded text-justify">
            <p class="text-muted fw-light text-center mb-0"> Practical Thuhmahruai </p>
            <hr class="w-25 mx-auto text-secondary my-1">
            <h3 class="fw-light fs-1 text-center mt-0 mb-2">  DCA 1st Semester <br></h3>
            
            <hr class="text-muted mt-0">
            
               <div class="alert alert-success" role="alert">
                 
                  <h4 class="alert-heading">Under Construction!</h4>
                  
                  <p>Practical Lesson hi siam mek a ni.</p>
                  
                  <hr>
                  
                  
                  <p class="mb-0">Kan zawh veleh kan in hriattir leh dawn nia.</p>
                  
                </div>
                               

            
            
      

    </main>
    
</div> <!--end of container-->

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
  
</html>
