<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<%- include('ejsFunction') -%>

<style>

body {
    
  padding-top: 10px;
  
  background-color: #f5f5f5;
  
}

</style>

<body class="text-center">

<main class="container">
  
                <div class="d-flex justify-content-around mb-2">
 
                <a href="/"><img src="/img/icon.png" alt="" width="72" height="57"></a>

              </div>

 <form action="/users/feeRegister" method="POST" autocomplete="off" class="border rounded bg-white shadow p-3">

 <input type="hidden" name="_id" value="<%= students._id %>" aria-hidden="true">

<div class="table-responsive">

<table class="table table-borderless" style="max-width:400px;">
  
  <div class="d-flex justify-content-around border-bottom mb-2">
  
    <div class="lead text-muted mb-3">  <%= viewTitle -%> </div>
    
    <div> <a href="/stdList" class="fw-light text-muted"><i class="fa fa-database"></i> view students</a></div>
  
  </div>
  
  <tbody>
    
    <tr class="border-bottom">
      
      <th scope="row" class="text-start fw-light"> Name of Student</th>
      
      <td class="text-start text-primary"> <a href="/computer/<%= students._id %>"><%= capitalizeFirstLetter(students.username) %></a></td>
      
    </tr>
    
    <tr class="border-bottom">
      
      <th scope="row" class="text-start fw-light"> Narration</th>
      
      <td class="text-start text-primary"> 
      
      <select id="narrationInput" name="narrationInput" class="form-select" aria-label="Default select"  required>
                            
         <option value="">Click here...</option>
                            
             <option value="By Cash">By Cash</option>
             
             <option value="By Bank">By Bank </option>
                            
      </select>
      
      </td>
      
    </tr>
      
    </tr>
    
    <tr class="border-bottom">
      
      <th scope="row" class="text-start fw-light"> Amount (in Rs.)</th>
      
      <td class="text-start text-primary"> 
      
         <input type="number" class="form-control" id="feeAmount" placeholder="type amount..." name="feeAmount" maxlength="5" minlength="3" required>

      </td>
      
    </tr>
    
    <tr class="border-bottom">
      
      <th scope="row" class="text-start fw-light"> Date of Payment</th>
      
      <td class="text-start text-primary"> 
      
        <input type="text" class="form-control" id="floatingDob" placeholder="dd/mm/yyyy" name="dateofpayment" required>

      </td>
 
    </tr>
    
  </tbody>
  
</table>

</div>
       
          <button class="btn btn-success mt-2" type="submit">Process</button>
          
          <p class="mt-3 small"><span class="text-muted ">&copy; 2018<script>new Date().getFullYear()>2018&&document.write("-"+new Date().getFullYear());</script>, Jojo Computer Institute.</span></p>
        
        </form>
        
      </main>

    <%- include('layouts/scripts') %>
    
  </body>
  
</html>
