<!doctype html>
<html lang="en">
  
<%- include('layouts/headers') -%>
<style>
  body {
  padding-top: 20px;
  background-color: #f5f5f5;
}
</style>


<body class="text-center">
 
 <a href="/"><img class="mb-3" src="/img/icon.png" alt="" width="72" height="57"></a>
 
 
<main class="form-register">
  
  <div class="d-flex justify-content-between mb-3">
      
  <h5> <%= viewTitle -%></h5>
  
  <a class="btn btn-warning btn-sm" href="/"><i class="fa fa-database"></i> View All Student</a>
  
</div>

    <% if(errors != null && errors.length > 0) { %>
    
        <ul class="list-group">
          
          <% for (var i = 0; i < errors.length; i++) { %>
              
            <li class="list-group-item list-group-item-danger"><%= errors[i] %></li>
            
          <% } %>
          
        </ul>
        
    <% } %>

  <form action="/users/register" method="POST" autocomplete="off">

  <input type="hidden" name="_id" aria-hidden="true">
    
   <div class="row g-2">
                                
    <div class="form-floating mb-2">
      <input type="text" class="form-control pl-3" id="floatingRegn" placeholder="regn" name="regn" maxlength="3" value="<%= regn %>" required>
      <label for="floatingRegn">Regn No.</label>
    </div>
    
    <div class="form-floating mb-2 col-md">
      <input type="text" class="form-control" id="floatingName" placeholder="name" name="name" maxlength="30" value="<%= name %>" required>
      <label for="floatingName">Name</label>
    </div>
    
  
    
      
    <div class="form-floating mb-2 col-md">
      <input type="text" class="form-control" id="floatingFname" placeholder="fname" name="fname" maxlength="30" value="<%= fname %>" required>
      <label for="floatingFname">Father's Name</label>
    </div>
    <div class="form-floating mb-2 col-12">
      <input type="text" class="form-control" id="floatingAddress" placeholder="address" name="address" maxlength="60" value="<%= address %>" required>
      <label for="floatingAddress">Address</label>
    </div>
    
  
    
    <div class="form-floating mb-2 col-md-6">
      <input type="text" class="form-control" id="floatingPhone" placeholder="phone" name="phone" maxlength="10" value="<%= phone %>" required>
      <label for="floatingPhone">Phone</label>
    </div>
    <div class="form-floating mb-2 col-md-6">
      <input type="password" class="form-control" id="floatingPassword" placeholder="password" name="password" value="<%= password %>" required>
      <label for="floatingPassword">Password</label>
    </div>
    
    

</div>
    
    <button class="btn btn-lg btn-primary" type="submit">Register</button>
    
    <p class="mt-3 small"><span class="text-muted ">&copy; 2018<script>new Date().getFullYear()>2018&&document.write("-"+new Date().getFullYear());</script>, Jojo Computer Institute.</span></p>
  
  </form>
  
</main>

    
    <%- include('layouts/scripts') %>
  </body>
  
</html>
