<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body>
    
    <%- include ('ejsFunction') %> <!--function javascript ejs-->
    
    <!-- --------------main container section------------------ -->

<div class="container">
  
  <main>

  <div class="row">
          
           <div class="mx-auto px-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="#" onclick="window.history.back();" class="small text-secondary"> <i class="fas fa-arrow-left pe-2"></i> Back </i> </a>
            
            </div>
            
            </div>
  </div>
      

      
      <!--second lane-->
     
      <!-- --------------assignment record table------------------ -->
    
      <div class="table-responsive">
        
        <table class="table table-sm shadow-sm mt-4">
          
          <thead>
            
            <tr>
              
              <td colspan="6" class="fs-6 fw-bold border bg-primary text-white m-2 p-2 text-center"> 
              
              Assignment chhang zo tawhte </td>
              
            </tr>
            
            <tr class="text-center border bg-white orangeColor">
              
              <th class="fw-normal  border small"> Sl</th>
              
              <th class="fw-normal  border small"> Name of Student</th>
              
              <th class="fw-normal  border small"> Address</th>
              
              <th class="fw-normal  border small"> Assignment </th>
              
          </thead>
          
          <tbody class="border bg-white">
          
            <tbody>
            
      <% 
            
            var serialNo = 0;
            
            if(Students.length > 0) {
              
             for (var i=0; i < Students.length; i++) {
                 
            var chapter_Name_Subject_101 = [];
            var chapter_Name_Subject_102 = [];
            var chapter_Name_Subject_103 = [];
            var chapter_Name_Subject_104 = [];
            var chapter_Name_Subject_105 = [];
            var chapter_Name_Subject_106 = [];
            var subject_all_chapter = 0;
              
                    if( Students[i].assignmentTheory != undefined ) {
          
                    for (var k=0; k < Students[i].assignmentTheory.length; k++) {
                        
                        if( Students[i].assignmentTheory[k].chapterName != undefined) {
                            
                            chapter_Name_Subject_101.push(Students[i].assignmentTheory[k].chapterName);
                       
             } }  }
             
              if(chapter_Name_Subject_101.length >= 10) {
                if(chapter_Name_Subject_101.includes('Chapter-1') 
                && chapter_Name_Subject_101.includes('Chapter-2')   
                && chapter_Name_Subject_101.includes('Chapter-3')
                && chapter_Name_Subject_101.includes('Chapter-4')
                && chapter_Name_Subject_101.includes('Chapter-5')
                && chapter_Name_Subject_101.includes('Chapter-6')
                && chapter_Name_Subject_101.includes('Chapter-7')
                && chapter_Name_Subject_101.includes('Chapter-8')
                && chapter_Name_Subject_101.includes('Chapter-9')
                && chapter_Name_Subject_101.includes('Chapter-10')
                ) {
                  subject_all_chapter++;
                }
            }
             
              
            if( Students[i].assignmentTheory102 != undefined ) {
          
                    for (var k=0; k < Students[i].assignmentTheory102.length; k++) {
                        
                        if( Students[i].assignmentTheory102[k].chapterName != undefined) {
                            
                            chapter_Name_Subject_102.push(Students[i].assignmentTheory102[k].chapterName);
                       
             } } }
             
            if(chapter_Name_Subject_102.length >= 10) {
                if(chapter_Name_Subject_102.includes('Chapter-1')
                && chapter_Name_Subject_102.includes('Chapter-2')
                && chapter_Name_Subject_102.includes('Chapter-3')
                && chapter_Name_Subject_102.includes('Chapter-4')
                && chapter_Name_Subject_102.includes('Chapter-5')
                && chapter_Name_Subject_102.includes('Chapter-6')
                && chapter_Name_Subject_102.includes('Chapter-7')
                && chapter_Name_Subject_102.includes('Chapter-8')
                && chapter_Name_Subject_102.includes('Chapter-9')
                && chapter_Name_Subject_102.includes('Chapter-10')
                ) {
                  subject_all_chapter++;
                }
            }
             
            if( Students[i].assignmentTheory103 != undefined ) {
          
                    for (var k=0; k < Students[i].assignmentTheory103.length; k++) {
                        
                        if( Students[i].assignmentTheory103[k].chapterName != undefined) {
                            
                            chapter_Name_Subject_103.push(Students[i].assignmentTheory103[k].chapterName);
                       
            } } }
            
                if(chapter_Name_Subject_103.length >= 20) {
                if(chapter_Name_Subject_103.includes('Chapter-1')
                && chapter_Name_Subject_103.includes('Chapter-2')
                && chapter_Name_Subject_103.includes('Chapter-3')
                && chapter_Name_Subject_103.includes('Chapter-4')
                && chapter_Name_Subject_103.includes('Chapter-5')
                && chapter_Name_Subject_103.includes('Chapter-6')
                && chapter_Name_Subject_103.includes('Chapter-7')
                && chapter_Name_Subject_103.includes('Chapter-8')
                && chapter_Name_Subject_103.includes('Chapter-9')
                && chapter_Name_Subject_103.includes('Chapter-10')
                && chapter_Name_Subject_103.includes('Chapter-11')
                && chapter_Name_Subject_103.includes('Chapter-12')
                && chapter_Name_Subject_103.includes('Chapter-13')
                && chapter_Name_Subject_103.includes('Chapter-14')
                && chapter_Name_Subject_103.includes('Chapter-15')
                && chapter_Name_Subject_103.includes('Chapter-16')
                && chapter_Name_Subject_103.includes('Chapter-17')
                && chapter_Name_Subject_103.includes('Chapter-18')
                && chapter_Name_Subject_103.includes('Chapter-19')
                && chapter_Name_Subject_103.includes('Chapter-20')
                ) {
                  subject_all_chapter++;;
                }
            }
            
                 if( Students[i].assignmentTheory104 != undefined ) {
          
                    for (var k=0; k < Students[i].assignmentTheory104.length; k++) {
                        
                        if( Students[i].assignmentTheory104[k].chapterName != undefined) {
                            
                            chapter_Name_Subject_104.push(Students[i].assignmentTheory104[k].chapterName);
                       
             } } }
             
            if(chapter_Name_Subject_104.length >= 6) {
                if(chapter_Name_Subject_104.includes('Chapter-1')
                && chapter_Name_Subject_104.includes('Chapter-2')
                && chapter_Name_Subject_104.includes('Chapter-3')
                && chapter_Name_Subject_104.includes('Chapter-4')
                && chapter_Name_Subject_104.includes('Chapter-5')
                && chapter_Name_Subject_104.includes('Chapter-6')
                ) {
                  subject_all_chapter++;
                }
            }
             
             if( Students[i].assignmentTheory105 != undefined ) {
          
                    for (var k=0; k < Students[i].assignmentTheory105.length; k++) {
                        
                        if( Students[i].assignmentTheory105[k].chapterName != undefined) {
                            
                            chapter_Name_Subject_105.push(Students[i].assignmentTheory105[k].chapterName);
                       
            } } }
            
            if(chapter_Name_Subject_105.length >= 13) {
                if(chapter_Name_Subject_105.includes('Chapter-1')
                && chapter_Name_Subject_105.includes('Chapter-2')
                && chapter_Name_Subject_105.includes('Chapter-3')
                && chapter_Name_Subject_105.includes('Chapter-4')
                && chapter_Name_Subject_105.includes('Chapter-5')
                && chapter_Name_Subject_105.includes('Chapter-6')
                && chapter_Name_Subject_105.includes('Chapter-7')
                && chapter_Name_Subject_105.includes('Chapter-8')
                && chapter_Name_Subject_105.includes('Chapter-9')
                && chapter_Name_Subject_105.includes('Chapter-10')
                && chapter_Name_Subject_105.includes('Chapter-11')
                && chapter_Name_Subject_105.includes('Chapter-12')
                && chapter_Name_Subject_105.includes('Chapter-13')
                ) {
                  subject_all_chapter++;
                }
            }
            
            if( Students[i].assignmentTheory106 != undefined ) {
          
                    for (var k=0; k < Students[i].assignmentTheory106.length; k++) {
                        
                        if( Students[i].assignmentTheory106[k].chapterName != undefined) {
                            
                            chapter_Name_Subject_106.push(Students[i].assignmentTheory106[k].chapterName);
                       
                } } }
                
            if(chapter_Name_Subject_106.length >= 14) {
                if(chapter_Name_Subject_106.includes('Chapter-1') 
                && chapter_Name_Subject_106.includes('Chapter-2')
                && chapter_Name_Subject_106.includes('Chapter-3')
                && chapter_Name_Subject_106.includes('Chapter-4')
                && chapter_Name_Subject_106.includes('Chapter-5')
                && chapter_Name_Subject_106.includes('Chapter-6')
                && chapter_Name_Subject_106.includes('Chapter-7')
                && chapter_Name_Subject_106.includes('Chapter-8')
                && chapter_Name_Subject_106.includes('Chapter-9')
                && chapter_Name_Subject_106.includes('Chapter-10')
                && chapter_Name_Subject_106.includes('Chapter-11')
                && chapter_Name_Subject_106.includes('Chapter-12')
                && chapter_Name_Subject_106.includes('Chapter-13')
                && chapter_Name_Subject_106.includes('Chapter-14')
                ) {
                  subject_all_chapter++;
                }
            }  %>
             
            <% 

          if(subject_all_chapter == 6) {
                
            serialNo++;
            
            %>
           <tr>
                          <td class="border text-center"> <%= serialNo %> </td>
                          
                          <td class="border" >
          
                                <%= capitalizeFirstLetter(Students[i].username) %>
                            
                          </td>
                          
                          <td class="border"> <%= capitalizeFirstLetter(Students[i].address) %> </td>
                          
                          <td class="border ps-2">  <a href="/assignment/checkScore/<%= Students[i]._id %>" class="text-muted">
                           click here... </a></td>
                          
                        </tr>
                          
            
            <% } } } %>

          </tbody>
          
        </table>
        
      </div>
      
      
    </main>
    
</div>

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
  

  </body>
  
</html>
