<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-white">
    
    <%- include('layouts/navbar') -%>
    
    <%- include ('ejsFunction') %> <!--function javascript ejs-->
    
    <!-- --------------main container section------------------ -->

<div class="container">

    <main>
      
      <%- include('layouts/studentMenu') -%>
      
      <!--second lane-->
      
       <!-- --------------latest score------------------ -->
    <div class="row">
        
      <div class="table-responsive mt-2 mb-2 col-lg-6 col-md-6 col-xs-12">
        
        <table class="table table-sm shadow-sm mx-auto" style="max-width:500px">
          
          <thead>
              
             <tr>
              
              <td colspan="3" class="fw-bold fs-5 text-secondary bg-light border text-center">
                  
                  <i class="fas fa-clock bgColor"></i> Your latest record </td>
              
            </tr>
            
            <tr class="text-center border orangeColor">
            
              
              <th class="fw-normal border small">Subject name</th>
              
              <th class="fw-normal border small">Chapter name</th>
              
              <th class="fw-normal border small"> Last answer</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center border">
            
            
            
            <% if ( thisStudent.assignmentTheory.length > 0  ) {
     
          %>
            
           <tr>
              
             <td class="text-center border"><%= thisStudent.assignmentTheory[(thisStudent.assignmentTheory.length) - 1].subjectName %></td>
              
              <td class="text-center border"><%= thisStudent.assignmentTheory[(thisStudent.assignmentTheory.length) - 1].chapterName %></td>
              
              <td class="text-center border"><%= convertDate(thisStudent.assignmentTheory[(thisStudent.assignmentTheory.length) - 1].dateSubmitted) %></td>
              
            </tr>
        
            <% }  %>
            
            <% if ( thisStudent.assignmentTheory102.length > 0 ) {
     
          %>
            
           <tr>
              
              <td class="text-center border"><%= thisStudent.assignmentTheory102[(thisStudent.assignmentTheory102.length) - 1].subjectName %></td>
              
              <td class="text-center border"><%= thisStudent.assignmentTheory102[(thisStudent.assignmentTheory102.length) - 1].chapterName %></td>
              
              <td class="text-center border"><%= convertDate(thisStudent.assignmentTheory102[(thisStudent.assignmentTheory102.length) - 1].dateSubmitted) %></td>
              
            </tr>
        
            <% } %>
            
            
            
            <% if ( thisStudent.assignmentTheory103.length > 0 ) {
     
          %>
            
           <tr>
              
              <td class="text-center border"><%= thisStudent.assignmentTheory103[(thisStudent.assignmentTheory103.length) - 1].subjectName %></td>
              
              <td class="text-center border"><%= thisStudent.assignmentTheory103[(thisStudent.assignmentTheory103.length) - 1].chapterName %></td>
              
              <td class="text-center border"><%= convertDate(thisStudent.assignmentTheory103[(thisStudent.assignmentTheory103.length) - 1].dateSubmitted) %></td>
              
            </tr>
        
            <% }  %>
            <% if ( thisStudent.assignmentTheory104.length > 0  ) {
     
          %>
            
           <tr>
              
              <td class="text-center border"><%= thisStudent.assignmentTheory104[(thisStudent.assignmentTheory104.length) - 1].subjectName %></td>
              
              <td class="text-center border"><%= thisStudent.assignmentTheory104[(thisStudent.assignmentTheory104.length) - 1].chapterName %></td>
              
              <td class="text-center border"><%= convertDate(thisStudent.assignmentTheory104[(thisStudent.assignmentTheory104.length) - 1].dateSubmitted) %></td>
              
            </tr>
        
            <% }  %>
              <% if ( thisStudent.assignmentTheory105.length > 0  ) {
     
          %>
            
           <tr>
              
              <td class="text-center border"><%= thisStudent.assignmentTheory105[(thisStudent.assignmentTheory105.length) - 1].subjectName %></td>
              
              <td class="text-center border"><%= thisStudent.assignmentTheory105[(thisStudent.assignmentTheory105.length) - 1].chapterName %></td>
              
              <td class="text-center border"><%= convertDate(thisStudent.assignmentTheory105[(thisStudent.assignmentTheory105.length) - 1].dateSubmitted) %></td>
              
            </tr>
        
            <% }  %>
                 <% if ( thisStudent.assignmentTheory106.length > 0  ) {
     
          %>
            
           <tr>
              
              <td class="text-center border"><%= thisStudent.assignmentTheory106[(thisStudent.assignmentTheory106.length) - 1].subjectName %></td>
              
              <td class="text-center border"><%= thisStudent.assignmentTheory106[(thisStudent.assignmentTheory106.length) - 1].chapterName %></td>
              
              <td class="text-center border"><%= convertDate(thisStudent.assignmentTheory106[(thisStudent.assignmentTheory106.length) - 1].dateSubmitted) %></td>
              
            </tr>
        
            <% }  %>
            
            <% if ( thisStudent.assignmentTheory.length < 1 &&
                    thisStudent.assignmentTheory102.length < 1 &&
                    thisStudent.assignmentTheory103.length < 1 &&
                    thisStudent.assignmentTheory104.length < 1 &&
                    thisStudent.assignmentTheory105.length < 1 &&
                    thisStudent.assignmentTheory106.length < 1
            ) {
          %>
          <tr>
              
              <td colspan="3" class="text-center border text-success"> Assignment chhan i la nei lo va, a chunga lessons button hi click la, assignment chhang ang che. </td>
              
            </tr>
          
          <% }  %>
          
          </tbody>
          
        </table>
        
      </div>
      
      
      <div class="table-responsive mb-2 mt-2 col-lg-6 col-md-6 col-xs-12">
        
        <table class="table table-sm bg-white shadow-sm mx-auto" style="max-width:500px">
          
          <thead>
              
             <tr>
              
              <td colspan="3" class="fw-bold fs-5 text-secondary border bg-light text-center">
                  
                  <i class="fas fa-user-check bgColor"></i> Verify assignment </td>
              
            </tr>
            
          </thead>
          
          <tbody class="border">
            
                <tr>
                    
                    <td colspan="3"><a href="stdScoreboard" class="text-muted fs-6 fw-normal myLink">
                        <i class="fas fa-check-circle"></i> Check your assignment record...</a></td>
                    
                </tr>
                
                <tr>
                    
                    <td colspan="3"><a href="stdTopPerformers" class="text-muted fs-6 fw-normal myLink">
                        <i class="fas fa-check-circle"></i>  Check other who answer assignment...</a></td>
                    
                </tr>

          </tbody>
          
        </table>
        
      </div>
      
      </div> <!--row end-->
      
        <!-- --------------Who test today------------------ -->
        
      <div class="table-responsive">
        
        <table class="table table-sm shadow-sm">
          
          <thead>
              
              <tr>
              
              <td colspan="5" class="fw-bold fs-6 text-secondary border bg-light text-center mb-2">
                  
                  <i class="fas fa-user-friends bgColor"></i> Who test today </td>
              
            </tr>
            
            <tr class="orangeColor">
              
                      
              <td class="border ps-3 small fw-normal"> Student's Name</td>
                      
              <td class="border ps-3 small fw-normal"> Father's Name </td>
              
              <td class="border ps-3 small fw-normal"> Address </td>
              
              <td class="border ps-3 small fw-normal"> Subject </td>
              
              <td class="border ps-3 small fw-normal"> Chapter </td>
              
            </tr>
            
          </thead>
          
          <tbody>
            
      <% 
            // Get today's date
            var todaysDate = new Date();  
              
             for (var i=0; i < Students.length; i++) {
              
                    if( Students[i].assignmentTheory != undefined ) {
          
                    for (var k=0; k < Students[i].assignmentTheory.length; k++) {
                        
                        if( Students[i].assignmentTheory[k] != undefined && Students[i].assignmentTheory[k].dateSubmitted.setHours(0,0,0,0) ==  todaysDate.setHours(0,0,0,0)) {
              
              
              %>
            
             <tr>
                          
                          
                          <td class="border ps-3" >
          
                                <%= capitalizeFirstLetter(Students[i].username) %>
                            
                          </td>
                          
                          <td class="border ps-3"> <%= Students[i].fname %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].address %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].assignmentTheory[k].subjectName %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].assignmentTheory[k].chapterName %> </td>
        
                        </tr>
        
            <% } } } }%>
            
            <% 
            // Get today's date
            var todaysDate = new Date();  
              
             for (var i=0; i < Students.length; i++) {
              
                    if( Students[i].assignmentTheory102 != undefined ) {
          
                    for (var k=0; k < Students[i].assignmentTheory102.length; k++) {
                        
                        if( Students[i].assignmentTheory102[k] != undefined && Students[i].assignmentTheory102[k].dateSubmitted.setHours(0,0,0,0) ==  todaysDate.setHours(0,0,0,0)) {
              
              
              %>
            
             <tr>
                          
                          
                          <td class="border ps-3" >
          
                                <%= capitalizeFirstLetter(Students[i].username) %>
                            
                          </td>
                          
                          <td class="border ps-3"> <%= Students[i].fname %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].address %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].assignmentTheory102[k].subjectName %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].assignmentTheory102[k].chapterName %> </td>
        
                        </tr>
        
            <% } } } }%>
            <% 
            // Get today's date
            var todaysDate = new Date();  
              
             for (var i=0; i < Students.length; i++) {
              
                    if( Students[i].assignmentTheory103 != undefined ) {
          
                    for (var k=0; k < Students[i].assignmentTheory103.length; k++) {
                        
                        if( Students[i].assignmentTheory103[k] != undefined && Students[i].assignmentTheory103[k].dateSubmitted.setHours(0,0,0,0) ==  todaysDate.setHours(0,0,0,0)) {
              
              
              %>
            
             <tr>
                          
                          
                          <td class="border ps-3" >
          
                                <%= capitalizeFirstLetter(Students[i].username) %>
                            
                          </td>
                          
                          <td class="border ps-3"> <%= Students[i].fname %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].address %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].assignmentTheory103[k].subjectName %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].assignmentTheory103[k].chapterName %> </td>
        
                        </tr>
        
            <% } } } }%>
            <% 
            // Get today's date
            var todaysDate = new Date();  
              
             for (var i=0; i < Students.length; i++) {
              
                    if( Students[i].assignmentTheory104 != undefined ) {
          
                    for (var k=0; k < Students[i].assignmentTheory104.length; k++) {
                        
                        if( Students[i].assignmentTheory104[k] != undefined && Students[i].assignmentTheory104[k].dateSubmitted.setHours(0,0,0,0) ==  todaysDate.setHours(0,0,0,0)) {
              
              
              %>
            
             <tr>
                          
                          
                          <td class="border ps-3" >
          
                                <%= capitalizeFirstLetter(Students[i].username) %>
                            
                          </td>
                          
                          <td class="border ps-3"> <%= Students[i].fname %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].address %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].assignmentTheory104[k].subjectName %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].assignmentTheory104[k].chapterName %> </td>
        
                        </tr>
        
            <% } } } }%>
            
            <% 
            // Get today's date
            var todaysDate = new Date();  
              
             for (var i=0; i < Students.length; i++) {
              
                    if( Students[i].assignmentTheory105 != undefined ) {
          
                    for (var k=0; k < Students[i].assignmentTheory105.length; k++) {
                        
                        if( Students[i].assignmentTheory105[k] != undefined && Students[i].assignmentTheory105[k].dateSubmitted.setHours(0,0,0,0) ==  todaysDate.setHours(0,0,0,0)) {
              
              
              %>
            
             <tr>
                          
                          
                          <td class="border ps-3" >
          
                                <%= capitalizeFirstLetter(Students[i].username) %>
                            
                          </td>
                          
                          <td class="border ps-3"> <%= Students[i].fname %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].address %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].assignmentTheory105[k].subjectName %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].assignmentTheory105[k].chapterName %> </td>
        
                        </tr>
        
            <% } } } }%>
            
            <% 
            // Get today's date
            var todaysDate = new Date();  
              
             for (var i=0; i < Students.length; i++) {
              
                    if( Students[i].assignmentTheory106 != undefined ) {
          
                    for (var k=0; k < Students[i].assignmentTheory106.length; k++) {
                        
                        if( Students[i].assignmentTheory106[k] != undefined && Students[i].assignmentTheory106[k].dateSubmitted.setHours(0,0,0,0) ==  todaysDate.setHours(0,0,0,0)) {
              
              
              %>
            
             <tr>
                          
                          
                          <td class="border ps-3" >
          
                                <%= capitalizeFirstLetter(Students[i].username) %>
                            
                          </td>
                          
                          <td class="border ps-3"> <%= Students[i].fname %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].address %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].assignmentTheory106[k].subjectName %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].assignmentTheory106[k].chapterName %> </td>
        
                        </tr>
        
            <% } } } }%>
            

          </tbody>
          
        </table>
        
      </div>
      

    </main>
    
</div>

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="exampleModalLabel"> DCA 1st Semester</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body lead">
        <p><a href="dcatheorywelcomepage" class="text-info">
            <i class="far fa-dot-circle bgColor"></i> <span class="lessonHover text-secondary"> Learn Computer by Theory </span></a></p>
        <p><a href="dcapracticalwelcomepage" class="text-info"> 
        <i class="far fa-dot-circle bgColor"></i><span class="lessonHover text-secondary"> Learn Computer by Practical </span></a></p>
        <p><a href="dcaDownloadMaterialPage" class="text-info"> 
        <i class="far fa-dot-circle bgColor"></i> <span class="lessonHover text-secondary"> Download Study Materials </span></a></p>
      </div>
      <div class="modal-footer mx-auto">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    
    
    
    

  </body>
  
</html>
