<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body>
    
    <%- include('layouts/navbar') -%>
    
    <%- include ('ejsFunction') %> <!--function javascript ejs-->
    
    <!-- --------------main container section------------------ -->

<div class="container">

    <main>
      
      <%- include('layouts/studentMenu') -%>
      
      <!--second lane-->
      
       <!-- --------------latest score------------------ -->
    <div class="row">
        
        <% 
                        var paidStudent = [];
                        
                        if(studentFee.length != undefined) {
                        
                        for(var i = 0; i < studentFee.length; i++) {
                        
                        if(studentFee[i].feeAmount >= 1000) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(studentExamFee.length != undefined) {
                        
                        for(var i = 0; i < studentExamFee.length; i++) {
                        
                        if(studentExamFee[i].feeAmount == 1510) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(studentOtherFee.length != undefined) {
                        
                        for(var i = 0; i < studentOtherFee.length; i++) {
                        
                        if(studentOtherFee[i].feeAmount >= 499) {
                            paidStudent.push('paid');
                          }
                        }
                        }
                        if(paidStudent.includes('paid')) {
                            
                            %> 
                            
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators mt-0 pt-0">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active d-none d-sm-block" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" class="d-none d-sm-block" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" class="d-none d-sm-block" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" class="d-none d-sm-block" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/img/slide1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-md-block">
          <h5>Assignment</h5>
        <p>Text section-ah assignment answer a awm zel; chhiar chiang hmasa ang che.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="/img/slide2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-md-block">
        <h5>Internal</h5>
        <p>Assignment chhanna hi Internal Mark atan hman tur a ni.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="/img/slide3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-md-block text-white">
        <h5>Internal Mark</h5>
        <p>Assignment chhang dik vek tan internal mark 20-ah 20 hmuh theih a ni.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="/img/slide4.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-md-block text-white">
        <h5>Admission Open</h5>
        <p>Admission hawn mek a ni a; I lo sawi darh ve dawn nia.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
                            
            
 
                       <% } else {%>
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Hello Dear!</strong> Tuna i account hi unpaid account a ni a, i thiltih theih a limit dawn a; lesson tam tak i zir thei dawn lo a, study material i download thei lo bawk ang.
  Account chungchang hi i hriatthiam theih nan <a href="/paid_unpaid_account" class="text-primary"> ...learn more</a> hi click ang che. 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
                     <%   } %> 
                     
    <div class="table-responsive mb-2 mt-4 col-lg-6 col-md-6 col-xs-12">
        
        <table class="table table-sm bg-white shadow-sm mx-auto" style="max-width:500px">
          
          <thead>
              
             <tr>
              
              <td colspan="3" class="fw-normal fs-6 border bg-success text-white text-center">
                  
                  <i class="fas fa-chalkboard-teacher"></i> Learn Lessons </td>
              
            </tr>
            
          </thead>
          
          <tbody class="border">
            
                <tr>
                    
                    <td colspan="3"><a href="dcatheorywelcomepage" class="text-muted fs-6 fw-normal">
                        <i class="fas fa-file ps-2 text-success"></i> <span class="myLink"> Learn Theory (Theory zirna) </span></a></td>
                    
                </tr>
                <tr>
                    
                    <td colspan="3"><a href="dcapracticalwelcomepage" class="text-muted fs-6 fw-normal">
                        <i class="fas fa-file-video ps-2 text-success"></i> <span class="myLink"> Learn Practical (Practical zirna) </span></a>
                        </td>
                    
                </tr>
                <tr>
                    
                    <td colspan="3"><a href="dcaDownloadMaterialPage" class="text-muted fs-6 fw-normal">
                        <i class="fas fa-file-download ps-2 text-success"></i> <span class="myLink"> Download Study Materials </span></a>
                        </td>
                    
                </tr>

          </tbody>
          
        </table>
        
      </div>
        
      <div class="table-responsive mt-4 mb-2 col-lg-6 col-md-6 col-xs-12">
        
        <table class="table table-sm table-hover shadow-sm mx-auto" style="max-width:500px">
          
          <thead>
              
             <tr>
              
              <td colspan="3" class="fw-normal fs-6 bg-primary text-white border text-center">
                  
                  <i class="fas fa-clock text-white"></i> My Latest record </td>
              
            </tr>
            
            <tr class="text-center border orangeColor">
            
              
              <th class="fw-normal border small">Subject name</th>
              
              <th class="fw-normal border small">Chapter name</th>
              
              <th class="fw-normal border small"> Submit Date</th>

            </tr>
            
          </thead>
          
          <tbody class="text-center border">
            
            
            
            <% if ( thisStudent.assignmentTheory.length > 0  ) {
     
          %>
            
           <tr>
              
             <td class="text-center text-muted border"><%= thisStudent.assignmentTheory[(thisStudent.assignmentTheory.length) - 1].subjectName %></td>
              
              <td class="text-center text-muted border"><%= thisStudent.assignmentTheory[(thisStudent.assignmentTheory.length) - 1].chapterName %></td>
              
              <td class="text-center text-muted border"><%= convertDate(thisStudent.assignmentTheory[(thisStudent.assignmentTheory.length) - 1].dateSubmitted) %></td>
              
            </tr>
        
            <% }  %>
            
            <% if ( thisStudent.assignmentTheory102.length > 0 ) {
     
          %>
            
           <tr>
              
              <td class="text-center text-muted border"><%= thisStudent.assignmentTheory102[(thisStudent.assignmentTheory102.length) - 1].subjectName %></td>
              
              <td class="text-center text-muted border"><%= thisStudent.assignmentTheory102[(thisStudent.assignmentTheory102.length) - 1].chapterName %></td>
              
              <td class="text-center text-muted border"><%= convertDate(thisStudent.assignmentTheory102[(thisStudent.assignmentTheory102.length) - 1].dateSubmitted) %></td>
              
            </tr>
        
            <% } %>
            
            
            
            <% if ( thisStudent.assignmentTheory103.length > 0 ) {
     
          %>
            
           <tr>
              
              <td class="text-center text-muted border"><%= thisStudent.assignmentTheory103[(thisStudent.assignmentTheory103.length) - 1].subjectName %></td>
              
              <td class="text-center text-muted border"><%= thisStudent.assignmentTheory103[(thisStudent.assignmentTheory103.length) - 1].chapterName %></td>
              
              <td class="text-center text-muted border"><%= convertDate(thisStudent.assignmentTheory103[(thisStudent.assignmentTheory103.length) - 1].dateSubmitted) %></td>
              
            </tr>
        
            <% }  %>
            <% if ( thisStudent.assignmentTheory104.length > 0  ) {
     
          %>
            
           <tr>
              
              <td class="text-center text-muted border"><%= thisStudent.assignmentTheory104[(thisStudent.assignmentTheory104.length) - 1].subjectName %></td>
              
              <td class="text-center text-muted border"><%= thisStudent.assignmentTheory104[(thisStudent.assignmentTheory104.length) - 1].chapterName %></td>
              
              <td class="text-center text-muted border"><%= convertDate(thisStudent.assignmentTheory104[(thisStudent.assignmentTheory104.length) - 1].dateSubmitted) %></td>
              
            </tr>
        
            <% }  %>
              <% if ( thisStudent.assignmentTheory105.length > 0  ) {
     
          %>
            
           <tr>
              
              <td class="text-center text-muted border"><%= thisStudent.assignmentTheory105[(thisStudent.assignmentTheory105.length) - 1].subjectName %></td>
              
              <td class="text-center text-muted border"><%= thisStudent.assignmentTheory105[(thisStudent.assignmentTheory105.length) - 1].chapterName %></td>
              
              <td class="text-center text-muted border"><%= convertDate(thisStudent.assignmentTheory105[(thisStudent.assignmentTheory105.length) - 1].dateSubmitted) %></td>
              
            </tr>
        
            <% }  %>
                 <% if ( thisStudent.assignmentTheory106.length > 0  ) {
     
          %>
            
           <tr>
              
              <td class="text-center text-muted border"><%= thisStudent.assignmentTheory106[(thisStudent.assignmentTheory106.length) - 1].subjectName %></td>
              
              <td class="text-center text-muted border"><%= thisStudent.assignmentTheory106[(thisStudent.assignmentTheory106.length) - 1].chapterName %></td>
              
              <td class="text-center text-muted border"><%= convertDate(thisStudent.assignmentTheory106[(thisStudent.assignmentTheory106.length) - 1].dateSubmitted) %></td>
              
            </tr>
        
            <% }  %>
            
            <% if ( thisStudent.assignmentTheory.length < 1 &&
                    thisStudent.assignmentTheory102.length < 1 &&
                    thisStudent.assignmentTheory103.length < 1 &&
                    thisStudent.assignmentTheory104.length < 1 &&
                    thisStudent.assignmentTheory105.length < 1 &&
                    thisStudent.assignmentTheory106.length < 1
            ) {
          %>
          <tr>
              
              <td colspan="3" class="text-center border text-success"> Assignment chhan i la nei lo va, learn lesson hnuaia Learn Theory-ah hian lut la, assignment chhang ang che. </td>
              
            </tr>
          
          <% }  %>
          
          </tbody>
          
        </table>
        
      </div>
      
      
      <div class="table-responsive mb-2 mt-4 col-lg-6 col-md-6 col-xs-12">
        
        <table class="table table-sm bg-white shadow-sm mx-auto" style="max-width:500px">
          
          <thead>
              
             <tr>
              
              <td colspan="3" class="fw-normal fs-6 border bg-success text-white text-center">
                  
                  <i class="fas fa-user-check text-white"></i> My assignment record </td>
              
            </tr>
            
          </thead>
          
          <tbody class="border">
            
                <tr>
                    
                    <td colspan="3"><a href="stdScoreboard" class="text-muted fs-6 fw-normal">
                        <i class="fas fa-clipboard ps-2 text-success"></i> <span class="myLink"> Ka assignment chhan tawh dan...</span></a></td>
                    
                </tr>
                
          </tbody>
          
        </table>
        
      </div>
      
      
 <!--     
       <div class="table-responsive mb-2 mt-4 col-lg-6 col-md-6 col-xs-12">
        
        <table class="table table-sm bg-white shadow-sm mx-auto" style="max-width:500px">
          
          <thead>
              
             <tr>
              
              <td colspan="3" class="fw-normal fs-6 border bg-primary text-white text-center">
                  
                  <i class="fas fa-user-check text-white"></i> Institute Record </td>
              
            </tr>
            
          </thead>
          
          <tbody class="border">
            
                <tr>
                    
                    <td colspan="3"><a href="stdTopPerformers" class="text-muted fs-6 fw-normal">
                        <i class="far fa-list-alt ps-2 text-primary"></i> <span class="myLink"> Assignment chhangtute hming...</span></a></td>
                    
                </tr>
                <tr>
                    
                    <td colspan="3"><a href="stdAssignmentFinished" class="text-muted fs-6 fw-normal">
                        <i class="far fa-list-alt ps-2 text-primary"></i> <span class="myLink"> Assignment chhang zo tawhte hming...</span></a>
                        </td>
                    
                </tr>
                <tr>
                    
                    <td colspan="3"><a href="whotesttoday" class="text-muted fs-6 fw-normal">
                        <i class="far fa-list-alt ps-2 text-primary"></i> <span class="myLink"> Vawiina assignment chhangtute hming...</span></a>
                        </td>
                    
                </tr>

          </tbody>
          
        </table>
        
      </div> -->
      
      </div> <!--row end-->
      

    </main>
    
</div>

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="exampleModalLabel"> DCA 1st Semester</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body lead">
        <p><a href="dcatheorywelcomepage" class="text-info">
            <i class="far fa-dot-circle bgColor"></i> <span class="lessonHover text-secondary"> Learn Computer by Theory </span></a></p>
        <p><a href="dcapracticalwelcomepage" class="text-info"> 
        <i class="far fa-dot-circle bgColor"></i><span class="lessonHover text-secondary"> Learn Computer by Practical </span></a></p>
        <p><a href="dcaDownloadMaterialPage" class="text-info"> 
        <i class="far fa-dot-circle bgColor"></i> <span class="lessonHover text-secondary"> Download Study Materials </span></a></p>
      </div>
      <div class="modal-footer mx-auto">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  </body>
  
</html>
