<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>


<body class="bg-white">
    
    <%- include('layouts/navbar') -%>
    
    <%- include ('ejsFunction') %> <!--function javascript ejs-->
    
    
    
<main class="container">
  
  <%- include('layouts/staffMenu') -%>

<div class="lead text-primary text-center fw-bold m-3"><i class="fas fa-check bgGradientBlue text-white border p-1 fs-6"></i> <%= viewTitle %></div>

<div class="table-responsive">
  
<table class="table border bg-white shadow-sm">
  
  <thead class="bg-white">
    
    <tr>
      
      <th scope="col" class="ps-3 orangeColor fw-normal" style="width: 85px">Regn.</th>
      
      <th scope="col" class="orangeColor fw-normal">Name of Student</th>
      
      <th scope="col" class="orangeColor fw-normal">Father's Name</th>
      
      <th scope="col" class="orangeColor fw-normal">Phone No</th>
      
      <th scope="col" class="orangeColor fw-normal">Assignment</th>
      
      <th scope="col" class="orangeColor fw-normal">Action</th>
      
    </tr>
    
  </thead>
  
  <tbody>
    
      <% for(var i=0; i < students.length; i++) { %>
      
    <tr>
      
      <th class="text-center fw-normal" ><%= students[i].regn %></th>
      
      <td>
        
        <a href="/computer/<%= students[i]._id %>">
          
          <%= capitalizeFirstLetter(students[i].username) %>
          
        </a>
        
      </td>
      
      <td><%= capitalizeFirstLetter(students[i].fname) %></td>
      
      <td><%= students[i].phone %></td>
      
      <td class="ps-3">  <a href="/assignment/checkScore/<%= students[i]._id %>" class="text-muted">
                           click here... </a></td>
      
      <td>
        
        <a href="/editStudent/<%= students[i]._id %>">
          
          <i class="fas fa-edit border border-muted p-1 text-muted rounded me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"></i>
          
        </a>
    
                <% if( username == 'tmapuia') { %>
        
        <a href="/stdList/delete/<%= students[i]._id %>" onclick="return confirm('Are you sure to delete ' + '<%= students[i].username %>' +' record ?');"><i class="fas fa-trash-alt border p-1 text-danger rounded" aria-hidden="true"></i></a></td>
          
                <% } %>
      </td>
      
      
    </tr>
    
    <% } %>
    
  </tbody>
  
</table>

</div>

</main>
    
    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
</html>
