<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body>
    
    <%- include('layouts/navbar') -%>
    
    <%- include ('ejsFunction') %> <!--function javascript ejs-->
    
<main class="container">
  
  <%- include('layouts/staffMenu') -%>

 <div class="table-responsive mb-2 mt-4 col-lg-6 col-md-6 col-xs-12 mx-auto">
        
        <table class="table table-sm bg-white shadow-sm mx-auto" style="max-width:500px">
          
          <thead>
              
             <tr>
              
              <td colspan="3" class="fw-normal fs-6 border bg-primary text-white text-center">
                  
                  <i class="fas fa-user-check text-white"></i> Verify assignment </td>
              
            </tr>
            
          </thead>
          
          <tbody class="border">
            
                <tr>
                    
                    <td colspan="3"><a href="all/stdTopPerformers" class="text-muted fs-6 fw-normal">
                        <i class="fas fa-check-circle ps-2 text-success"></i> <span class="myLink"> Check who answer assignment...</span></a></td>
                    
                </tr>
                <tr>
                    
                    <td colspan="3"><a href="all/stdAssignmentFinished" class="text-muted fs-6 fw-normal">
                        <i class="fas fa-check-circle ps-2 text-success"></i> <span class="myLink"> Check who finished assignment...</span></a></td>
                    
                </tr>

          </tbody>
          
        </table>
        
      </div>

<div class="lead text-primary text-center fw-bold m-3"><i class="fas fa-check bgGradientBlue text-white border p-1 fs-6"></i> <%= viewTitle %></div>
<!--std list-->

<div class="table-responsive">
  
<table class="table border bg-white shadow-sm">
  
  <thead class="bg-white">
    
    <tr>
      
      <th scope="col" class="ps-3 orangeColor fw-normal" style="width: 85px">Regn.</th>
      
      <th scope="col" class="orangeColor fw-normal">Name of Student</th>
      
      <th scope="col" class="orangeColor fw-normal">Father's Name</th>
      
      <th scope="col" class="orangeColor fw-normal">Phone No</th>
      
      <th scope="col" class="orangeColor fw-normal">Assignment</th>
      
      <th scope="col" class="orangeColor fw-normal">Action</th>
      
    </tr>
    
  </thead>
  
  <tbody>
    
      <% for(var i=0; i < students.length; i++) { %>
      
    <tr>
      
      <th class="text-center fw-normal" ><%= students[i].regn %></th>
      
      <td>
        
        <a href="/computer/<%= students[i]._id %>">
          
          <%= capitalizeFirstLetter(students[i].username) %>
          
        </a>
        
      </td>
      
      <td><%= capitalizeFirstLetter(students[i].fname) %></td>
      
      <td><%= students[i].phone %></td>
      
      <td class="ps-3">  <a href="/assignment/checkScore/<%= students[i]._id %>" class="text-muted"> click here... </a></td>
      
      <td>
        
        <a href="/editStudent/<%= students[i]._id %>">
          
          <i class="fas fa-edit border border-muted p-1 text-muted rounded me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"></i>
          
        </a>
    
                <% if( username == 'tmapuia') { %>
        
        <a href="/stdList/delete/<%= students[i]._id %>" onclick="return confirm('Are you sure to delete ' + '<%= students[i].username %>' +' record ?');"><i class="fas fa-trash-alt border p-1 text-danger rounded" aria-hidden="true"></i></a></td>
          
                <% } %>
      </td>
      
      
    </tr>
    
    <% } %>
    
  </tbody>
  
</table>

</div>

</main>
    
    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
</html>
