<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body>
    
    <%- include('layouts/navbar') -%>
    
    <%- include ('ejsFunction') %> <!--function javascript ejs-->
    
<main class="container">
  
  <%- include('layouts/staffMenu') -%>

 <div class="table-responsive mb-4 mt-4 col-lg-6 col-md-6 col-xs-12">
        
        <table class="table table-sm bg-white shadow-sm mx-auto" style="max-width:500px">
          
          <thead>
              
             <tr>
              
              <td colspan="3" class="fw-normal fs-6 border bg-light text-primary text-center">
                  
                  <i class="fas fa-user-check text-primary"></i> Verify assignment </td>
              
            </tr>
            
          </thead>
          
          <tbody class="border">
            
                <tr>
                    
                    <td colspan="3"><a href="all/stdTopPerformers" class="text-muted fs-6 fw-normal">
                        <i class="fas fa-check-circle ps-2 text-success"></i> <span class="myLink"> Assignment chhangtu list...</span></a></td>
                    
                </tr>
                <tr>
                    
                    <td colspan="3"><a href="all/stdAssignmentFinished" class="text-muted fs-6 fw-normal">
                        <i class="fas fa-check-circle ps-2 text-success"></i> <span class="myLink"> Assigment chhang zo tawhte...</span></a></td>
                    
                </tr>
                <tr>
                    
                    <td colspan="3"><a href="all/whotesttoday" class="text-muted fs-6 fw-normal">
                        <i class="fas fa-check-circle ps-2 text-success"></i> <span class="myLink"> Vawiina assignment chhangtute...</span></a></td>
                    
                </tr>

          </tbody>
          
        </table>
        
      </div>
      
<%- include('layouts/studentBatchMenu') -%>

</main>
    
    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>

  </body>
  
</html>
