<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>


<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    
    <%- include ('ejsFunction') %> <!--function javascript ejs-->
    
<main class="container">
  
   
   
          <div class="table-responsive">
        
              <table class="table bg-white border mt-3">
               
                
                <tbody>
                  
                  <tr>
                    
                    
                    <td><a class="text-dark ms-3 align-middle small float-end border-end pe-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add New Student" href="/register"><i class="fas fa-user-plus text-success fw-bold"></i> Add Student</a></td>
                    
                    <td><a class="text-dark ms-3 align-middle small float-end border-end pe-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Check fee" href="/viewFee"><i class="fas fa-rupee-sign text-primary fw-bold"></i> View Fee</a></td>
                    
                    <td><a class="text-dark ms-3 align-middle small float-end border-end pe-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Check fee received" href="/viewAllFeeReceived"><i class="fas fa-rupee-sign text-danger fw-bold"></i> View All Fee </a></td>
                    
                    <td><a class="text-dark ms-3 align-middle small float-end border-end pe-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Check Assignment" href="#"><i class="fas fa-book-reader text-info fw-bold"></i> View Assignment</a></td>
                    
                  </tr>
                  
                </tbody>
                
              </table>
      
          </div>
          
          <p class="lead text-secondary fw-normal"><%= viewTitle %></p>

    
<div class="table-responsive">
  
<table class="table border bg-white shadow-sm">
  
  <thead>
    
    <tr>
      
      <th scope="col" class="ps-3 fw-normal" style="width: 85px">Regn.</th>
      
      <th scope="col" class="fw-normal">Name of Student</th>
      
      <th scope="col" class="fw-normal">Father's Name</th>
      
      <th scope="col" class="fw-normal">Address</th>
      
      <th scope="col" class="fw-normal">Phone No</th>
      
      <th scope="col" class="fw-normal">Action</th>
      
    </tr>
    
  </thead>
  
  <tbody>
    
      <% for(var i=0; i < students.length; i++) { %>
      
    <tr>
      
      <th class="text-center" ><%= students[i].regn %></th>
      
      <td>
        
        <a href="/computer/<%= students[i]._id %>">
          
          <%= capitalizeFirstLetter(students[i].username) %>
          
        </a>
        
      </td>
      
      <td><%= capitalizeFirstLetter(students[i].fname) %></td>
      
      <td><%= capitalizeFirstLetter(students[i].address) %></td>
      
      <td><%= students[i].phone %></td>
      
      <td>
        
        <a href="/editStudent/<%= students[i]._id %>">
          
          <i class="fas fa-edit border p-1 text-muted rounded me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"></i>
          
        </a>
        
        
          
      </td>
      
    </tr>
    
    <% } %>
    
  </tbody>
  
</table>

</div>

</main>
    
    <%- include('layouts/scripts') -%>
    <%- include('layouts/footer') -%>
    


  </body>
  
</html>
