<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>


<body>
    
    <%- include ('ejsFunction') %> <!--function javascript ejs-->
    
    <!--main container section-->

<div class="container">
  
<main>

  <div class="row">
          
           <div class="mx-auto px-4 mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="#" onclick="window.history.back();" class="small text-secondary"> <i class="fas fa-arrow-left pe-2"></i> Back </i> </a>
            
            </div>
            
            </div>
  </div>
      

      
      <!--second lane-->
     
      <!-- --------------assignment record table------------------ -->
    
      <div class="shadow-sm mx-auto fs-4 fw-bold mb-0 text-center border bg-white text-dark rounded p-2 mt-4 mb-2" style="max-width: 350px"> 
      
      My Record </div>
      
 <div class="row bg-white p-2">
   
      <div class="table-responsive col-lg-6 col-md-6 col-xs-12">
        
        <table class="table table-sm shadow-sm" style="max-width: 500px">
          
          <thead>
            
            <tr>
              
              <td colspan="2" class="fw-bold border bg-primary text-white text-center mb-2"> <i class="far fa-stop-circle bgGradientBlue text-white border"></i> DCA-101 : Fundamentals of Computer </td>
              
            </tr>
            
            <tr class="text-center border bg-light orangeColor">
              
              <th class="fw-normal  border small">Chapter Name</th>
              
              <th class="fw-normal align-middle border small">Submission date & (Scored) </th>
              
          </thead>
          
          <tbody class="text-center border bg-light">
            
            <tr>
              
              <td class="fw-normal  border small">Chapter 1</td>
              
             <% if ( thisStudent.assignmentTheory.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory.length; i++) {
                
                if (thisStudent.assignmentTheory[i].chapterName == 'Chapter-1') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"> <%= multipleDate.join("; ") %> </td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 2</td>
              
              
              <% if ( thisStudent.assignmentTheory.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory.length; i++) {
                
                if (thisStudent.assignmentTheory[i].chapterName == 'Chapter-2') {
                  
                   multipleDate.push(convertDate(thisStudent.assignmentTheory[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border "><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
             <tr>
              
              <td class="fw-normal  border small">Chapter 3</td> 
              
              
             <% if ( thisStudent.assignmentTheory.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory.length; i++) {
                
                if (thisStudent.assignmentTheory[i].chapterName == 'Chapter-3') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 4</td>
              
              
              <% if ( thisStudent.assignmentTheory.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory.length; i++) {
                
                if (thisStudent.assignmentTheory[i].chapterName == 'Chapter-4') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 5</td>
              
              
              
              <% if ( thisStudent.assignmentTheory.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory.length; i++) {
                
                if (thisStudent.assignmentTheory[i].chapterName == 'Chapter-5') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 6</td>
              
              
              <% if ( thisStudent.assignmentTheory.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory.length; i++) {
                
                if (thisStudent.assignmentTheory[i].chapterName == 'Chapter-6') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 7</td>
              
              
              <% if ( thisStudent.assignmentTheory.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory.length; i++) {
                
                if (thisStudent.assignmentTheory[i].chapterName == 'Chapter-7') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 8</td>
              
              
              <% if ( thisStudent.assignmentTheory.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory.length; i++) {
                
                if (thisStudent.assignmentTheory[i].chapterName == 'Chapter-8') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 9</td>
              
              
              <% if ( thisStudent.assignmentTheory.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory.length; i++) {
                
                if (thisStudent.assignmentTheory[i].chapterName == 'Chapter-9') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 10</td>
              
              
              <% if ( thisStudent.assignmentTheory.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory.length; i++) {
                
                if (thisStudent.assignmentTheory[i].chapterName == 'Chapter-10') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
            </tr>
      
    
          </tbody>
          
        </table>
        
      </div>
      
      <!--table-2-->
      
      <div class="table-responsive col-lg-6 col-md-6 col-xs-12">
        
        <table class="table table-sm shadow-sm" style="max-width:500px">
          
          <thead>
            
            <tr>
              
              <td colspan="2" class="fw-bold border bg-primary text-white text-center mb-2"> <i class="far fa-stop-circle bgGradientBlue text-white border"></i> DCA-102 : Operating System </td>
              
            </tr>
            
            <tr class="text-center border bg-light orangeColor">
              
              <th class="fw-normal  border small">Chapter Name</th>
              
              <th class="fw-normal align-middle border small">Submission date & (Scored)</th>
              
          </thead>
          
          <tbody class="text-center border bg-light">
            
            <tr>
              
              <td class="fw-normal  border small">Chapter 1</td>
              
             <% if ( thisStudent.assignmentTheory102.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory102.length; i++) {
                
                if (thisStudent.assignmentTheory102[i].chapterName == 'Chapter-1') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory102[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory102[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 2</td>
              
              
              <% if ( thisStudent.assignmentTheory102.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory102.length; i++) {
                
                if (thisStudent.assignmentTheory102[i].chapterName == 'Chapter-2') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory102[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory102[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
             <tr>
              
              <td class="fw-normal  border small">Chapter 3</td> 
              
              
             <% if ( thisStudent.assignmentTheory102.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory102.length; i++) {
                
                if (thisStudent.assignmentTheory102[i].chapterName == 'Chapter-3') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory102[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory102[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 4</td>
              
              
              <% if ( thisStudent.assignmentTheory102.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory102.length; i++) {
                
                if (thisStudent.assignmentTheory102[i].chapterName == 'Chapter-4') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory102[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory102[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 5</td>
              
              
              
              <% if ( thisStudent.assignmentTheory102.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory102.length; i++) {
                
                if (thisStudent.assignmentTheory102[i].chapterName == 'Chapter-5') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory102[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory102[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 6</td>
              
              
              <% if ( thisStudent.assignmentTheory102.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory102.length; i++) {
                
                if (thisStudent.assignmentTheory102[i].chapterName == 'Chapter-6') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory102[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory102[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 7</td>
              
              
              <% if ( thisStudent.assignmentTheory102.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory102.length; i++) {
                
                if (thisStudent.assignmentTheory102[i].chapterName == 'Chapter-7') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory102[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory102[i].Scored + '/3)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 8</td>
              
              
              <% if ( thisStudent.assignmentTheory102.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory102.length; i++) {
                
                if (thisStudent.assignmentTheory102[i].chapterName == 'Chapter-8') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory102[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory102[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 9</td>
              
              
              <% if ( thisStudent.assignmentTheory102.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory102.length; i++) {
                
                if (thisStudent.assignmentTheory102[i].chapterName == 'Chapter-9') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory102[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory102[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 10</td>
              
              
              <% if ( thisStudent.assignmentTheory102.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory102.length; i++) {
                
                if (thisStudent.assignmentTheory102[i].chapterName == 'Chapter-10') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory102[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory102[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
            </tr>
      
    
          </tbody>
          
        </table>
        
      </div>
      </div> <!--1st row end-->
      
      <!--2nd row start-->
      
      <div class="row bg-white p-2">
   
      <div class="table-responsive col-lg-6 col-md-6 col-xs-12">
        
        <table class="table table-sm shadow-sm" style="max-width: 500px">
          
          <thead>
            
            <tr>
              
              <td colspan="2" class="fw-bold border text-center bg-primary text-white mb-2"> <i class="far fa-stop-circle bgGradientBlue text-white border"></i> DCA-103 : Office Automation Software </td>
              
            </tr>
            
            <tr class="text-center border bg-light orangeColor">
              
              <th class="fw-normal  border small">Chapter Name</th>
              
              <th class="fw-normal align-middle border small">Submission date & (Scored)</th>
              
          </thead>
          
          <tbody class="text-center border bg-light">
            
            <tr>
              
              <td class="fw-normal  border small">Chapter 1</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-1') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
               <tr>
              
              <td class="fw-normal  border small">Chapter 2</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-2') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
               <tr>
              
              <td class="fw-normal  border small">Chapter 3</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-3') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/2)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
               <tr>
              
              <td class="fw-normal  border small">Chapter 4</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-4') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
               <tr>
              
              <td class="fw-normal  border small">Chapter 5</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-5') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/2)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
               <tr>
              
              <td class="fw-normal  border small">Chapter 6</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-6') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
               <tr>
              
              <td class="fw-normal  border small">Chapter 7</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-7') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/3)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
               <tr>
              
              <td class="fw-normal  border small">Chapter 8</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-8') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/3)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
               <tr>
              
              <td class="fw-normal  border small">Chapter 9</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-9') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
               <tr>
              
              <td class="fw-normal  border small">Chapter 10</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-10') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/3)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 11</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-11') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/4)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 12</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-12') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/4)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 13</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-13') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 14</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-14') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 15</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-15') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/4)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 16</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-16') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/4)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 17</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-17') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/4)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 18</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-18') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/4)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 19</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-19') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 20</td>
              
             <% if ( thisStudent.assignmentTheory103.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory103.length; i++) {
                
                if (thisStudent.assignmentTheory103[i].chapterName == 'Chapter-20') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory103[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory103[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
      
    
          </tbody>
          
        </table>
        
      </div>
      
      <!--table-2-->
      
      <div class="table-responsive col-lg-6 col-md-6 col-xs-12">
        
        <table class="table table-sm shadow-sm" style="max-width:500px">
          
          <thead>
            
            <tr>
              
              <td colspan="2" class="fw-bold border text-center bg-primary text-white mb-2"> <i class="far fa-stop-circle bgGradientBlue text-white border"></i> DCA-104 : Internet Technology </td>
              
            </tr>
            
            <tr class="text-center border bg-light orangeColor">
              
              <th class="fw-normal  border small">Chapter Name</th>
              
              <th class="fw-normal align-middle border small">Submission date & (Scored)</th>
              
          </thead>
          
          <tbody class="text-center border bg-light">
            
            <tr>
              
              <td class="fw-normal  border small">Chapter 1</td>
              
             <% if ( thisStudent.assignmentTheory104.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory104.length; i++) {
                
                if (thisStudent.assignmentTheory104[i].chapterName == 'Chapter-1') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory104[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory104[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              
             <tr>
              
              <td class="fw-normal  border small">Chapter 2</td>
              
             <% if ( thisStudent.assignmentTheory104.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory104.length; i++) {
                
                if (thisStudent.assignmentTheory104[i].chapterName == 'Chapter-2') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory104[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory104[i].Scored  + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 3</td>
              
             <% if ( thisStudent.assignmentTheory104.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory104.length; i++) {
                
                if (thisStudent.assignmentTheory104[i].chapterName == 'Chapter-3') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory104[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory104[i].Scored  + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 4</td>
              
             <% if ( thisStudent.assignmentTheory104.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory104.length; i++) {
                
                if (thisStudent.assignmentTheory104[i].chapterName == 'Chapter-4') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory104[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory104[i].Scored  + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 5</td>
              
             <% if ( thisStudent.assignmentTheory104.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory104.length; i++) {
                
                if (thisStudent.assignmentTheory104[i].chapterName == 'Chapter-5') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory104[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory104[i].Scored  + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 6</td>
              
             <% if ( thisStudent.assignmentTheory104.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory104.length; i++) {
                
                if (thisStudent.assignmentTheory104[i].chapterName == 'Chapter-6') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory104[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory104[i].Scored  + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
          </tbody>
          
        </table>
        
      </div>
      </div> <!--2nd row end-->
      
      <!--3rd row start-->
      
      <div class="row bg-white p-2">
   
      <div class="table-responsive col-lg-6 col-md-6 col-xs-12">
        
        <table class="table table-sm shadow-sm" style="max-width: 500px">
          
          <thead>
            
            <tr>
              
             <td colspan="2" class="fw-bold border text-center bg-primary text-white mb-2"> <i class="far fa-stop-circle bgGradientBlue text-white border"></i> DCA-105 : Computer Graphics </td>
              
            </tr>
            
            <tr class="text-center border bg-light orangeColor">
              
              <th class="fw-normal  border small">Chapter Name</th>
              
              <th class="fw-normal align-middle border small">Submission date & (Scored)</th>
              
          </thead>
          
          <tbody class="text-center border bg-light">
            
            <tr>
              
              <td class="fw-normal  border small">Chapter 1</td>
              
             <% if ( thisStudent.assignmentTheory105.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory105.length; i++) {
                
                if (thisStudent.assignmentTheory105[i].chapterName == 'Chapter-1') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory105[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory105[i].Scored  + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 2</td>
              
             <% if ( thisStudent.assignmentTheory105.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory105.length; i++) {
                
                if (thisStudent.assignmentTheory105[i].chapterName == 'Chapter-2') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory105[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory105[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 3</td>
              
             <% if ( thisStudent.assignmentTheory105.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory105.length; i++) {
                
                if (thisStudent.assignmentTheory105[i].chapterName == 'Chapter-3') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory105[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory105[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 4</td>
              
             <% if ( thisStudent.assignmentTheory105.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory105.length; i++) {
                
                if (thisStudent.assignmentTheory105[i].chapterName == 'Chapter-4') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory105[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory105[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 5</td>
              
             <% if ( thisStudent.assignmentTheory105.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory105.length; i++) {
                
                if (thisStudent.assignmentTheory105[i].chapterName == 'Chapter-5') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory105[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory105[i].Scored + '/4)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 6</td>
              
             <% if ( thisStudent.assignmentTheory105.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory105.length; i++) {
                
                if (thisStudent.assignmentTheory105[i].chapterName == 'Chapter-6') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory105[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory105[i].Scored + '/3)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 7</td>
              
             <% if ( thisStudent.assignmentTheory105.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory105.length; i++) {
                
                if (thisStudent.assignmentTheory105[i].chapterName == 'Chapter-7') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory105[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory105[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 8</td>
              
             <% if ( thisStudent.assignmentTheory105.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory105.length; i++) {
                
                if (thisStudent.assignmentTheory105[i].chapterName == 'Chapter-8') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory105[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory105[i].Scored + '/3)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 9</td>
              
             <% if ( thisStudent.assignmentTheory105.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory105.length; i++) {
                
                if (thisStudent.assignmentTheory105[i].chapterName == 'Chapter-9') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory105[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory105[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 10</td>
              
             <% if ( thisStudent.assignmentTheory105.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory105.length; i++) {
                
                if (thisStudent.assignmentTheory105[i].chapterName == 'Chapter-10') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory105[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory105[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 11</td>
              
             <% if ( thisStudent.assignmentTheory105.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory105.length; i++) {
                
                if (thisStudent.assignmentTheory105[i].chapterName == 'Chapter-11') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory105[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory105[i].Scored + '/3)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 12</td>
              
             <% if ( thisStudent.assignmentTheory105.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory105.length; i++) {
                
                if (thisStudent.assignmentTheory105[i].chapterName == 'Chapter-12') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory105[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory105[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 13</td>
              
             <% if ( thisStudent.assignmentTheory105.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory105.length; i++) {
                
                if (thisStudent.assignmentTheory105[i].chapterName == 'Chapter-13') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory105[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory105[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
      
    
          </tbody>
          
        </table>
        
      </div>
      
      <!--table-2-->
      
      <div class="table-responsive col-lg-6 col-md-6 col-xs-12">
        
        <table class="table table-sm shadow-sm" style="max-width: 500px">
          
          <thead>
            
            <tr>
              
              <td colspan="2" class="fw-bold border text-center bg-primary text-white mb-2"> <i class="far fa-stop-circle bgGradientBlue text-white border"></i> DCA-106 : Desktop Publishing </td>
              
            </tr>
            
            <tr class="text-center border bg-light orangeColor">
              
              <th class="fw-normal  border small">Chapter Name</th>
              
              <th class="fw-normal align-middle border small">Submission date & (Scored)</th>
              
          </thead>
          
          <tbody class="text-center border bg-light">
            
            <tr>
              
              <td class="fw-normal  border small">Chapter 1</td>
              
             <% if ( thisStudent.assignmentTheory106.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                
                if (thisStudent.assignmentTheory106[i].chapterName == 'Chapter-1') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory106[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
              <tr>
              
              <td class="fw-normal  border small">Chapter 2</td>
              
             <% if ( thisStudent.assignmentTheory106.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                
                if (thisStudent.assignmentTheory106[i].chapterName == 'Chapter-2') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory106[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 3</td>
              
             <% if ( thisStudent.assignmentTheory106.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                
                if (thisStudent.assignmentTheory106[i].chapterName == 'Chapter-3') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory106[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 4</td>
              
             <% if ( thisStudent.assignmentTheory106.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                
                if (thisStudent.assignmentTheory106[i].chapterName == 'Chapter-4') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory106[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 5</td>
              
             <% if ( thisStudent.assignmentTheory106.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                
                if (thisStudent.assignmentTheory106[i].chapterName == 'Chapter-5') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory106[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 6</td>
              
             <% if ( thisStudent.assignmentTheory106.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                
                if (thisStudent.assignmentTheory106[i].chapterName == 'Chapter-6') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory106[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 7</td>
              
             <% if ( thisStudent.assignmentTheory106.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                
                if (thisStudent.assignmentTheory106[i].chapterName == 'Chapter-7') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory106[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 8</td>
              
             <% if ( thisStudent.assignmentTheory106.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                
                if (thisStudent.assignmentTheory106[i].chapterName == 'Chapter-8') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory106[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 9</td>
              
             <% if ( thisStudent.assignmentTheory106.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                
                if (thisStudent.assignmentTheory106[i].chapterName == 'Chapter-9') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory106[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 10</td>
              
             <% if ( thisStudent.assignmentTheory106.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                
                if (thisStudent.assignmentTheory106[i].chapterName == 'Chapter-10') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory106[i].Scored + '/5)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 11</td>
              
             <% if ( thisStudent.assignmentTheory106.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                
                if (thisStudent.assignmentTheory106[i].chapterName == 'Chapter-11') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory106[i].Scored + '/3)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 12</td>
              
             <% if ( thisStudent.assignmentTheory106.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                
                if (thisStudent.assignmentTheory106[i].chapterName == 'Chapter-12') {
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory106[i].Scored + '/3)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 13</td>
              
             <% if ( thisStudent.assignmentTheory106.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                
                if (thisStudent.assignmentTheory106[i].chapterName == 'Chapter-13') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory106[i].Scored + '/3)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              <tr>
              
              <td class="fw-normal  border small">Chapter 14</td>
              
             <% if ( thisStudent.assignmentTheory106.length > 0  ) {
               
               let multipleDate = [];
               
              for (var i=0; i < thisStudent.assignmentTheory106.length; i++) {
                
                if (thisStudent.assignmentTheory106[i].chapterName == 'Chapter-14') {
                  
                  
                  multipleDate.push(convertDate(thisStudent.assignmentTheory106[i].dateSubmitted) + ' (' + thisStudent.assignmentTheory106[i].Scored + '/3)');
                  
                    }
                
                }
              %>
             
              
              <td class="text-center border"><%= multipleDate.join("; ") %></td>
              
              
              <% } %>
              
              </tr>
              
      
    
          </tbody>
          
        </table>
        
      </div>
      </div> <!--3rd row end-->

    </main>
    
</div>

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
  
  </body>
  
</html>
