<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>


<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    
    <%- include ('ejsFunction') %> <!--function javascript ejs-->
    


    <!-- --------------main container section------------------ -->

<div class="container">
  
  <main>

 <div class="row">
          
           <div class="mx-auto mt-3">
            
            <div class="d-flex justify-content-between">
            
            <a href="stdDashboard" class="small text-secondary"> <i class="fas fa-home bgGradientRed text-white border p-1"></i> Dashboard</i> </a>
            
            <span class="float-end"> <%- include('layouts/subjectMenuTheory') -%> </span>
            
            </div>
            
            </div>
  </div>
      

      
      <!--second lane-->
     
      <!-- --------------assignment record table------------------ -->
    
      <div class="table-responsive">
        
        <table class="table table-sm shadow-sm mt-3">
          
          <thead>
            
            <tr>
              
              <td colspan="6" class="fs-5 fw-bold text-secondary border bg-white m-2 p-2 text-center"> 
              
              <i class="far fa-stop-circle bgGradientBlue text-white border p-0 me-2"></i> Assignment chhangte List <i class="far fa-stop-circle bgGradientBlue text-white border p-0 ms-2"></i></td>
              
            </tr>
            
            <tr class="text-center border bg-white orangeColor">
              
              <th class="fw-normal  border small"> Sl Nos.</th>
              
              <th class="fw-normal  border small"> Name of Student</th>
              
              <th class="fw-normal  border small"> Father's Name</th>
              
              <th class="fw-normal  border small"> Address</th>
              
              <th class="fw-normal  border small"> Check his/her assignment </th>
              
          </thead>
          
          <tbody class="text-center border bg-white">
            
            <% 

              var serialNo = 0;
              
          for (var i=0; i < Students.length; i++) {
            
                  if( Students[i].assignmentTheory.length > 0 ||
                  
                      Students[i].assignmentTheory102.length > 0 ||
                      
                      Students[i].assignmentTheory103.length > 0 ||
                      
                      Students[i].assignmentTheory104.length > 0 ||
                      
                      Students[i].assignmentTheory105.length > 0 ||
                      
                      Students[i].assignmentTheory106.length > 0 
                      
                      ) {
                    
                       
                       serialNo++; 
                       
                      %>
            
             <tr>
               
                        <td class="border ps-3"> <%= serialNo %> </td>
                          
                          
                          <td class="border ps-3" >
          
                                <%= capitalizeFirstLetter(Students[i].username) %>
                            
                          </td>
                          
                          <td class="border ps-3"> <%= Students[i].fname %> </td>
                          
                          <td class="border ps-3"> <%= Students[i].address %> </td>
                          
                          <td class="border ps-3">  <a href="/assignment/checkScore/<%= Students[i]._id %>" class="text-muted">
                           click here... </a></td>
                          
                        </tr>
        
            <% } } %>
            
            
             
          </tbody>
          
        </table>
        
      </div>
      
      
    </main>
    
</div>

    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DCA 1st Semester Lesson</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body lead">
        <p><a href="dcatheorywelcomepage" class="text-secondary">Learn Theory Lessons</a></p>
        <p><a href="dcapracticalwelcomepage" class="text-secondary">Learn Practical Lessons</a></p>
        <p><a href="dcaDownloadMaterialPage" class="text-secondary">Download Study Materials</a></p>
        <p><a href="#" class="text-secondary">Scoreboard : Assignment</a></p>
      </div>
      <div class="modal-footer mx-auto">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    
    
    
    

  </body>
  
</html>
