<!doctype html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body>
    
    <%- include('layouts/navbar') -%>
    
    <%- include ('ejsFunction') %> <!--function javascript ejs-->
    
    <!-- --------------main container section------------------ -->

    <main role="main" class="container p-2 mb-2">
      
       <% if (loginIdName == 'adminJojo') { %>
      
        <div class="text-center">
          
          <a href="/stdList" class="fw-light small"> <i class="far fa-hand-point-left text-primary"></i> Back to List </a>
          
         
          
        </div>
        
         <button class="btn btn-sm btn-outline-primary float-end" onclick="window.print()">Print</button>
        
        <% } %>
        
        <% if ( loginIdName == 'computerStudent') { %>
        
      
        <div class="text-center">
          
          <a href="/all/stdDashboard" class="fw-normal text-muted small"> <i class="far fa-hand-point-left text-primary"></i> Back Dashboard </a>
          
        </div>
        
        <% } %>
        

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          
          <li class="nav-item" role="presentation">
            
            <button class="nav-link active fw-bold text-dark" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">  Your Profile & Fee</button>
          
          </li>
          
        </ul>
        
        <div class="tab-content" id="myTabContent">
          
          <!--profile started-->
            
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          
           <ul class="list-group">
               
               <div class="table-responsive">
                 
               <table class="table bg-white studentTable shadow-sm">
                  
                  <tbody class="bg-light">
                      
                    <tr class="text-center">
                        
                      <th class="p-3 bgColor fs-5" colspan="6"> Student Details</th>
                      
                    </tr>
                    
                    <tr>
                      
                      <td class="text-primary" >Name </td>
                      
                      <td> : </td>
                      
                      <td><%= capitalizeFirstLetter(students.username) %></td>
                      
                      <td class="text-primary" >F/Name</td>
                      
                      <td> : </td>
                      
                      <td><%= capitalizeFirstLetter(students.fname) %></td>
                      
                    </tr>
                    
                    <tr>
                      
                      <td class="text-primary">Add </td>
                      
                      <td> : </td>
                      
                      <td><%= capitalizeFirstLetter(students.address) %></td>
                      
                      <td class="text-primary">Mob </td>
                      
                      <td> : </td>
                      
                      <td> <%= students.phone %></td>
                      
                    </tr>
                    
                    <tr>
                      
                      <td class="text-primary">DoB</td>
                      
                      <td> : </td>
                      
                      <td> <%= students.dob  %></td>
                      
                      <td class="text-primary">Regn </td>
                      
                      <td> : </td>
                      
                      <td> <%= students.regn %> </td>
                      
                    </tr>
                    
                    <tr>
                      
                      <td class="text-primary" > Email </td>
                      
                      <td> : </td>
                      
                      <td> <%= students.emailId === undefined ? 'N/A' : students.emailId %></td>
                      
                      <td class="text-primary" > Aadhar </td>
                      
                      <td> : </td>
                      
                      <td><%= students.aadharNo === undefined  ? 'N/A' : giveSpace(students.aadharNo) %></td>
                      
                    </tr>
                    
                    <tr>
                      
                      <td class="text-primary" >Batch </td>
                      
                      <td> : </td>
                      
                      <td> <%= students.batchSession === undefined ? 'N/A' : capitalizeFirstLetter(students.batchSession) %></td>
                      
                      <td class="text-primary"> Online </td>
                      
                      <td> : </td>
                      
                      <td> <%= students.datePosted === undefined  ? 'N/A' : convertDate(students.datePosted) %></td>
                      
                    </tr>
                    
                  </tbody>
                  
                </table>
                
                </div>
               
            </ul>
            
            <!--Monthly fee table started-->
   
              <div class="table-responsive mt-3">
        
              <table class="table bg-light border shadow-sm">
                
                   <tbody>
                     <tr class="tableHeaderColor">
                       <td colspan="7" class="fw-bold fs-5 text-white text-center">Course Fee / Monthly Fee Statement</td>
                       
                     </tr>
                    
                    <tr>
                        
                        <td colspan="5" class="fw-light bgColor border-bottom-0 text-center">
                       
                        <td colspan="2" class="fw-bold  bg-light border  text-center align-middle small"> Course Fee (Rs. 9,000/-) </td>
                        
                      
                    </tr>
                    
                    <tr class="bg-white orangeColor">
                      
                      <td  class="border align-middle small"> Sl. Nos</td>
                      
                      <td class="border align-middle small"> Narration </td>
                      
                      <td class="border align-middle small"> Amount </td>
                      
                      <td  class="border align-middle small"> Date of Payment </td>
                      
                      <td  class="border align-middle small"> Entered By </td>
                      
                      <td class="border small">Total Paid</td>
                        
                        <td class="border small">Balance</td>
                        
                      </tr>
            
                    
              <% for (var i=0; i < students.studentFee.length; i++) { %>
              
                        <tr>
                          
                          <td class="text-center border"><%=  i + 1 %><% if( username == 'tmapuia' || username == 'hlui' || username == 'mary') { %>
                          <a href="/studentFee/delete/<%= students._id %>/<%= students.studentFee[i]._id %>" onclick="return confirm('Are you sure to delete ' + '<%= students.studentFee[i].feeAmount %>' +' record ?');"><i class="fas fa-trash-alt border p-1 text-danger rounded float-end" aria-hidden="true"></i></a>
                          <%  } %></td>
                          
                          <td class="border fst-italic"> <%= students.studentFee[i].narrationInput %> </td>
                          
                          <td class="border">Rs.  <%= students.studentFee[i].feeAmount %></td>
                      
                          <td class="border"><%= convertDate(students.studentFee[i].dateofpayment) %></td>
                          
                          <td class="border">  <%= capitalizeFirstLetter(students.studentFee[i].verifierId.username) %> </td>
        
                          <td class="border text-success">Rs. <%= showTotalAmount(students.studentFee[i].feeAmount)  %></td>
                          
                          <td class="border text-danger">Rs. <%= showTotalBalance(students.studentFee[i].feeAmount)  %></td>
                          
                        </tr>
                        
                        <% } %>
                        
                        <% if (loginIdName == 'adminJojo') { %>
                            
                        <tr>
                          
                          <td colspan="7" class="text-end py-3">
                            
                          <!--add monthly fee button-->   
                      
                              <a class="text-primary shadow-sm p-2 rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Enter Fee" href="/computer/<%= students._id %>/feeRegister">
                                
                                  <i class="fas fa-edit text-primary fw-bold">
                                    
                                  </i> 
                                  
                                  Add Monthly Fee
                                
                                </a>
                          </td>
                          
                        </tr>
                        
                        <%  } %>
                        
                      </tbody>
                      
                    </table>
                    
                    </div>
            
         
            
            <!--Exam fee table started-->
                    
              <div class="table-responsive mt-3">

               <table class="table border table-responsive bg-light shadow-sm">
                
                   <tbody>
                     
                      <tr class="tableHeaderColor">
                       <td colspan="7" class="fw-bold fs-5 text-white text-center"> Exam Fee Statement </td>
                       
                     </tr>
                   
                    
                    <tr>
                      
                        <td colspan="5" class="fw-bold bgColor border-bottom-0 text-center"> </td>
                        
                        <td colspan="2" class="fw-bold  bg-light border text-center align-middle small"> Exam Fee (Rs. 1,510/-) </td>
                        
                      
                    </tr>
                    
                    <tr class="bg-white orangeColor">
                      
                      
                      <td  class="border align-middle small"> Sl. Nos</td>
                      
                      <td class="border align-middle small"> Narration </td>
                      
                      <td class="  border align-middle small"> Amount </td>
                      
                      <td  class="  border align-middle small"> Date of Payment </td>
                      
                      <td  class="  border align-middle small"> Entered By </td>
                      
                      <td class="  border small">Total Paid</td>
                        
                        <td class="  border small">Balance</td>
 
                      </tr>
              
            
            <% for (var i=0; i < students.studentExamFee.length; i++) { %>
              
                      
              
                        <tr>
                          
                          <td class="text-center border" ><%= i + 1 %><% if( username == 'tmapuia' || username == 'hlui' || username == 'mary') { %>
                          <a href="/studentExamFee/delete/<%= students._id %>/<%= students.studentExamFee[i]._id %>" onclick="return confirm('Are you sure to delete ' + '<%= students.studentExamFee[i].feeAmount %>' +' record ?');"><i class="fas fa-trash-alt border p-1 text-danger rounded float-end" aria-hidden="true"></i></a>
                          <%  } %></td>
                          <td class="border fst-italic"> <%= students.studentExamFee[i].narrationInput %> </td>
                          <td class="border">Rs.  <%= students.studentExamFee[i].feeAmount %> 
                          </td>
                      
                          <td class="border"><%= convertDate(students.studentExamFee[i].dateofpayment) %></td>
                          
                          <td class="border">  <%= capitalizeFirstLetter(students.studentExamFee[i].verifierId.username) %> </td>
        
                          <td class="border text-success">Rs. <%= showTotalExamFeeAmount(students.studentExamFee[i].feeAmount)  %></td>
                          
                          <td class="border text-danger">Rs. <%= showTotalExamFeeBalance(students.studentExamFee[i].feeAmount)  %></td>
                          
                          
                        </tr>
                        
                        <% } %>
                        
                        
                        
                        <% if (loginIdName == 'adminJojo') { %>
                            
                        <tr>
                          
                          <td colspan="7" class="text-end py-3">
                            
                          <!--add exam fee button-->   
                      
                              <a class="text-primary shadow-sm p-2 rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Enter Fee" href="/computer/<%= students._id %>/examFeeRegister">
                                
                                  <i class="fas fa-edit text-primary fw-bold">
                                    
                                  </i> 
                                  
                                  Add Exam Fee
                                
                                </a>
                          </td>
                          
                        </tr>
                        
                        <% } %>
                        
                        
                        
                      </tbody>
                      
                    </table>
                    
                    </div>
            
             <!--other fee table started-->
                    
              <div class="table-responsive mt-3">

               <table class="table border table-responsive bg-light shadow-sm">
                
                   <tbody>
                     
                       <tr class="tableHeaderColor">
                       <td colspan="7" class="fw-bold fs-5 text-white text-center"> Any other fee </td>
                       
                     </tr>
                   
                     
                    <tr>
                        
                      <td colspan="6" class="fw-bold bgColor border-bottom-0 text-center"> </td>
                      
                    </tr>
                    
                    <tr class="bg-white orangeColor">
                      
                      <td class="  border align-middle small"> Sl. Nos</td>
                      
                      <td  class="  border align-middle small"> Narration </td>
      
                      <td class="  border align-middle small"> Amount </td>
                      
                      <td  class="  border align-middle small"> Date of Payment </td>
                      
                      <td  class="  border align-middle small"> Entered By </td>
                      
                       <td class=" border text-center align-middle small"> Remarks </td>
                      
                    </tr>
                    
          
              
            
            <% for (var i=0; i < students.studentOtherFee.length; i++) { %>
              
                      
              
                        <tr>
                          
                          <td class="text-center border" ><%= i + 1 %><% if( username == 'tmapuia' || username == 'hlui' || username == 'mary') { %>
                          <a href="/studentOtherFee/delete/<%= students._id %>/<%= students.studentOtherFee[i]._id %>" onclick="return confirm('Are you sure to delete ' + '<%= students.studentOtherFee[i].feeAmount %>' +' record ?');"><i class="fas fa-trash-alt border p-1 text-danger rounded float-end" aria-hidden="true"></i></a>
                          <%  } %></td>
                          <td class="border fst-italic"> <%= students.studentOtherFee[i].narrationInput %> </td>
                          <td class="border">Rs.  <%= students.studentOtherFee[i].feeAmount %> 
                          </td>
                          <td class="border"><%= convertDate(students.studentOtherFee[i].dateofpayment) %></td>
                          <td class="border">  <%= capitalizeFirstLetter(students.studentOtherFee[i].verifierId.username) %> </td>
                          <td class="border text-success"> <%= students.studentOtherFee[i].remarks %> </td>
                        </tr>
                        
                        <% } %>
                        
                        
                        <% if (loginIdName == 'adminJojo') { %>
                            
                        <tr>
                          
                          <td colspan="6" class="text-end py-3">
                            
                          <!--add other fee button-->   
                      
                              <a class="text-primary shadow-sm p-2 rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Enter Fee" href="/computer/<%= students._id %>/otherFeeRegister">
                                
                                  <i class="fas fa-edit text-primary fw-bold shadow">
                                    
                                  </i> 
                                  
                                  Add Other Fee
                                
                                </a>
                          </td>
                          
                        </tr>
                        
                        <% } %>
                        
                      </tbody>
                      
                    </table>
                    
                </div>
            
            </ul> <!--other fee table end-->
            
          </div>
          
          <!--profile end-->
 

        </div>
        
    </main>


    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
  </body>

</html>
