<!doctype html>

<html lang="en">
  
<%- include('layouts/headers') -%>

<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    
    <%- include ('ejsFunction') %> <!--function javascript ejs-->
    
    <!-- --------------main container section------------------ -->

    <main role="main" class="container p-2 mb-2">
      
       <% if (loginIdName == 'adminJojo') { %>
      
        <div class="text-center">
          
          <a href="/stdList" class="fw-light small"> <i class="far fa-hand-point-left text-primary"></i> Back to List </a>
          
         
          
        </div>
        
         <button class="btn btn-sm btn-outline-primary float-end" onclick="window.print()">Print</button>
        
        <% } %>
        
        <% if ( loginIdName == 'computerStudent') { %>
        
      
        <div class="text-center">
          
          <a href="/all/stdDashboard" class="fw-normal text-muted small"> <i class="far fa-hand-point-left text-primary"></i> Back Dashboard </a>
          
        </div>
        
        <% } %>
        

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          
          <li class="nav-item" role="presentation">
            
            <button class="nav-link active fw-bold text-dark" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">  Profile</button>
          
          </li>
          
          <li class="nav-item" role="presentation">
           
            <button class="nav-link fw-bold text-dark" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">  Fee</button>
          
          </li>
          

        </ul>
        
        <div class="tab-content" id="myTabContent">
          
          <!--profile started-->
            
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          
           <ul class="list-group">
               
               <div class="table-responsive">
                 
               <table class="table bg-white studentTable shadow-sm">
                  
                  <tbody>
                      
                    <tr class="text-center">
                        
                      <th class="p-3 bgColor" colspan="6"> Basic Details</th>
                      
                    </tr>
                    
                    <tr>
                      
                      <td class="text-primary" >Name of Student</td>
                      
                      <td> : </td>
                      
                      <td><%= capitalizeFirstLetter(students.username) %></td>
                      
                      <td class="text-primary" >Father's Name</td>
                      
                      <td> : </td>
                      
                      <td><%= capitalizeFirstLetter(students.fname) %></td>
                      
                    </tr>
                    
                    <tr>
                      
                      <td class="text-primary">Present Address</td>
                      
                      <td> : </td>
                      
                      <td><%= capitalizeFirstLetter(students.address) %></td>
                      
                      <td class="text-primary">Mobile No. </td>
                      
                      <td> : </td>
                      
                      <td> <%= students.phone %></td>
                      
                    </tr>
                    
                    <tr>
                      
                      <td class="text-primary">Date of Birth</td>
                      
                      <td> : </td>
                      
                      <td> <%= convertDate(students.dob)  %></td>
                      
                      <td class="text-primary">Registration No.</td>
                      
                      <td> : </td>
                      
                      <td> <%= students.regn %> </td>
                      
                    </tr>
                    
                  </tbody>
                  
                </table>
                
                </div>
               
            </ul>
            
            <ul class="list-group pt-2">
              
              <div class="table-responsive ">

                 <table class="table border bg-white shadow-sm">
                  
                  <tbody>
                      
                    <tr class="text-center">
                        
                      <th class="p-3 bgColor" colspan="6"> Other Details </th>
                      
                    </tr>
                    
                    <tr>
                      
                      <td class="text-primary" > Email Id</td>
                      
                      <td> : </td>
                      
                      <td> <%= students.emailId === undefined ? 'N/A' : students.emailId %></td>
                      
                      <td class="text-primary" > Aadhar No. </td>
                      
                      <td> : </td>
                      
                      <td><%= students.aadharNo === undefined  ? 'N/A' : giveSpace(students.aadharNo) %></td>
                      
                    </tr>
                    
                    <tr>
                      
                      <td class="text-primary" >Batch / Session</td>
                      
                      <td> : </td>
                      
                      <td> <%= students.batchSession === undefined ? 'N/A' : capitalizeFirstLetter(students.batchSession) %></td>
                      
                      <td class="text-primary"> Date of Admission </td>
                      
                      <td> : </td>
                      
                      <td> <%= students.datePosted === undefined  ? 'N/A' : convertDate(students.datePosted) %></td>
                      
                    </tr>
        
                    
                  </tbody>
                  
                </table>
                
                </div>
               
            </ul>

          </div>
          
          <!--profile end-->
 
 
          <!--fee tab started-->
 
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            
            <!--Monthly fee table started-->
   
           <ul class="list-group"> 
        
              <div class="table-responsive">
        
              <table class="table bg-white border-start border-end border-bottom shadow-sm">
                
                   <tbody>
                     
                    
                    
                    <tr>
                      
                        <td colspan="5" class="fw-bold bgColor border-bottom-0 text-center">Course Fee / Monthly Fee Statement</td>
                        
                        <td colspan="2" class="fw-bold  bg-light border  text-center align-middle small"> Course Fee (Rs. 9,000/-) </td>
                        
                      
                    </tr>
                    
                    <tr class="bg-light">
                      
                      
                      <td  class="  border align-middle small"> Sl. Nos</td>
                      
                      <td class="  border align-middle small"> Narration </td>
                      
                      <td class="  border align-middle small"> Amount </td>
                      
                      <td  class="  border align-middle small"> Date of Payment </td>
                      
                      <td  class="  border align-middle small"> Entered By </td>
                      
                      <td class="  border small">Total Paid</td>
                        
                        <td class="  border small">Balance</td>
 
                      </tr>
            
                    
              <% for (var i=0; i < students.studentFee.length; i++) { %>
              
                        <tr>
                          
                          <td class="text-center border" ><%=  i + 1 %></td>
                          
                          <td class="border fst-italic"> <%= students.studentFee[i].narrationInput %> </td>
                          
                          <td class="border">Rs.  <%= students.studentFee[i].feeAmount %> </td>
                      
                          <td class="border"><%= convertDate(students.studentFee[i].dateofpayment) %></td>
                          
                          <td class="border">  <%= capitalizeFirstLetter(students.studentFee[i].verifierId.username) %> </td>
        
                          <td class="border text-success">Rs. <%= showTotalAmount(students.studentFee[i].feeAmount)  %></td>
                          
                          <td class="border text-danger">Rs. <%= showTotalBalance(students.studentFee[i].feeAmount)  %></td>
                          
                          
                        </tr>
                        
                        <% } %>
                        
                        
                        
                        <% if (loginIdName == 'adminJojo') { %>
                            
                        <tr>
                          
                          <td colspan="7" class="text-end py-3">
                            
                          <!--add monthly fee button-->   
                      
                              <a class="text-success shadow-sm p-2 rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Enter Fee" href="/computer/<%= students._id %>/feeRegister">
                                
                                  <i class="fas fa-edit text-secondary fw-bold">
                                    
                                  </i> 
                                  
                                  Add Monthly Fee
                                
                                </a>
                          </td>
                          
                        </tr>
                        
                        <%  } %>
                        
                      </tbody>
                      
                    </table>
                    
                    </div>
            
            </ul> <!--monthly fee table end-->
            
            <hr class="text-success w-25 mx-auto mb-4">
        
            
            <!--Exam fee table started-->
                    
            <ul class="list-group">
              
              <div class="table-responsive ">

               <table class="table border table-responsive bg-white shadow-sm">
                
                   <tbody>
                     
                   
                    
                    <tr>
                      
                        <td colspan="5" class="fw-bold bgColor border-bottom-0 text-center"> Exam Fee Statement</td>
                        
                        <td colspan="2" class="fw-bold  bg-light border text-center align-middle small"> Exam Fee (Rs. 1,510/-) </td>
                        
                      
                    </tr>
                    
                    <tr class="bg-light">
                      
                      
                      <td  class="border align-middle small"> Sl. Nos</td>
                      
                      <td class="border align-middle small"> Narration </td>
                      
                      <td class="  border align-middle small"> Amount </td>
                      
                      <td  class="  border align-middle small"> Date of Payment </td>
                      
                      <td  class="  border align-middle small"> Entered By </td>
                      
                      <td class="  border small">Total Paid</td>
                        
                        <td class="  border small">Balance</td>
 
                      </tr>
              
            
            <% for (var i=0; i < students.studentExamFee.length; i++) { %>
              
                      
              
                        <tr>
                          
                          <td class="text-center border" ><%= i + 1 %></td>
                          
                          <td class="border fst-italic"> <%= students.studentExamFee[i].narrationInput %> </td>
                          
                          <td class="border">Rs.  <%= students.studentExamFee[i].feeAmount %> </td>
                      
                          <td class="border"><%= convertDate(students.studentExamFee[i].dateofpayment) %></td>
                          
                          <td class="border">  <%= capitalizeFirstLetter(students.studentExamFee[i].verifierId.username) %> </td>
        
                          <td class="border text-success">Rs. <%= showTotalExamFeeAmount(students.studentExamFee[i].feeAmount)  %></td>
                          
                          <td class="border text-danger">Rs. <%= showTotalExamFeeBalance(students.studentExamFee[i].feeAmount)  %></td>
                          
                          
                        </tr>
                        
                        <% } %>
                        
                        
                        
                        <% if (loginIdName == 'adminJojo') { %>
                            
                        <tr>
                          
                          <td colspan="7" class="text-end py-3">
                            
                          <!--add exam fee button-->   
                      
                              <a class="text-success shadow-sm p-2 rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Enter Fee" href="/computer/<%= students._id %>/examFeeRegister">
                                
                                  <i class="fas fa-edit text-secondary fw-bold">
                                    
                                  </i> 
                                  
                                  Add Exam Fee
                                
                                </a>
                          </td>
                          
                        </tr>
                        
                        <% } %>
                        
                        
                        
                      </tbody>
                      
                    </table>
                    
                    </div>
            
            </ul> <!--Exam fee table end-->
            
            <hr class="text-success w-25 mx-auto mb-4">
            
            <!--other fee table started-->
                    
            <ul class="list-group">
              
              <div class="table-responsive">

               <table class="table border table-responsive bg-white shadow-sm">
                
                   <tbody>
                     
                    <tr>
                        
                      <td colspan="6" class="fw-bold bgColor border-bottom-0 text-center"> Any other fee</td>
                      
                    </tr>
                    
                    <tr class="bg-light">
                      
                      <td class="  border align-middle small" class="ps-3" style="width: 85px"> Sl. Nos</td>
                      
                      <td  class="  border align-middle small"> Narration </td>
      
                      <td class="  border align-middle small"> Amount </td>
                      
                      <td  class="  border align-middle small"> Date of Payment </td>
                      
                      <td  class="  border align-middle small"> Entered By </td>
                      
                       <td class=" border text-center align-middle small"> Remarks </td>
                      
                    </tr>
                    
          
              
            
            <% for (var i=0; i < students.studentOtherFee.length; i++) { %>
              
                      
              
                        <tr>
                          
                          <td class="text-center border" ><%= i + 1 %></td>
                          
                          <td class="border fst-italic"> <%= students.studentOtherFee[i].narrationInput %> </td>
                          
                          <td class="border">Rs.  <%= students.studentOtherFee[i].feeAmount %> </td>
                      
                          <td class="border"><%= convertDate(students.studentOtherFee[i].dateofpayment) %></td>
                          
                          <td class="border">  <%= capitalizeFirstLetter(students.studentOtherFee[i].verifierId.username) %> </td>
        
                          <td class="border text-success"> <%= students.studentOtherFee[i].remarks %> </td>
                          

                          
                          
                        </tr>
                        
                        <% } %>
                        
                        
                        <% if (loginIdName == 'adminJojo') { %>
                            
                        <tr>
                          
                          <td colspan="6" class="text-end py-3">
                            
                          <!--add other fee button-->   
                      
                              <a class="text-success shadow-sm p-2 rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Enter Fee" href="/computer/<%= students._id %>/otherFeeRegister">
                                
                                  <i class="fas fa-edit text-secondary fw-bold shadow">
                                    
                                  </i> 
                                  
                                  Add Other Fee
                                
                                </a>
                          </td>
                          
                        </tr>
                        
                        <% } %>
                        
                      </tbody>
                      
                    </table>
                    
                </div>
            
            </ul> <!--other fee table end-->
            
          
          </div> <!--fee table end-->
          
          
        
          
        </div>
        
    </main>


    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
  </body>

</html>
