<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>


<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    
    <%- include ('ejsFunction') %> <!--function javascript ejs-->
    
<main class="container">
    
    <div class="table-responsive">
        
              <table class="table bg-light shadow-sm mt-3">
               
                <tbody>
                  
                  <tr class="d-flex justify-content-around">
                    
                    <td><a class="text-dark small" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Go to view fee" href="/viewFee"><i class="fas fa-arrow-left text-dark fw-bold"></i> Back </a></td>
                    
                    <td> <a class="text-dark small" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Go to Student List" href="/stdList"><i class="far fa-list-alt text-info fw-bold"></i> Student List</a></td>
                    
                  </tr>
                  
                </tbody>
                
              </table>
      
          </div>
  

    <div class="text-center mt-4">

         <p class="text-secondary fw-normal"><%= viewTitle %> : <span class="text-danger"><%= moment().format('DD/MM/YYYY'); %> <%= moment().format("[(]dddd[)]"); %></span></p>

    </div>
    
        <!--Today fee review table started-->
   
           <ul class="list-group"> 
        
              <div class="table-responsive">
        
              <table class="table border bg-white border-start border-end shadow-sm">
                
                   <tbody>
                     
                    <tr class="text-center">
                        
                      <th class="fw-bold text-primary lead" colspan="6"> Monthly Fee</th>
                      
                    </tr>
                    
                    <tr class="bg-light">
                      
                      <td class="fw-bold  border align-middle small"> Regn.</td>
                      
                      <td class="fw-bold  border align-middle small"> Student's Name</td>
                      
                      <td class="fw-bold  border align-middle small"> Father's Name </td>
                      
                      <td class="fw-bold  border align-middle small"> Narration </td>
      
                      <td class="fw-bold  border align-middle small"> Amount </td>
                      
                      <td class="fw-bold  border align-middle small"> Entered By </td>
      
                    </tr>
              <% 
              
              
              
             for (var i=0; i < students.length; i++) {
              
                    if( students[i].studentFee != undefined ) {
          
                    for (var k=0; k < students[i].studentFee.length; k++) {
                        
                        if( students[i].studentFee[k] != undefined && students[i].studentFee[k].dateofpayment ==  moment().format('YYYY-MM-DD') ) {
              
              
              %>
              
                        <tr>
                          
                          <td class="text-center border" ><%= students[i].regn %></td>
                          
                          <td class="border" >
                            
                            <a href="/computer/<%= students[i]._id %>">
          
                                <%= capitalizeFirstLetter(students[i].username) %>
                                
                            </a>
                            
                          </td>
                          
                          <td class="border"> <%= students[i].fname %> </td>
                          
                          <td class="border fst-italic"> <%= students[i].studentFee[k].narrationInput %> </td>
                          
                          <td class="border">Rs.  <%= students[i].studentFee[k].feeAmount %> </td>
                      
                          <td class="border">  <%= capitalizeFirstLetter(students[i].studentFee[k].verifierId.username) %> </td>
        
                        </tr>
                        

                        
                        <% } } } } %>
                            
                       
                        
                      </tbody>
                      
                    </table>
                    
                    </div>
            
            </ul> <!--today fee review table end-->
            
            <hr class="text-success  w-25 mx-auto mb-4">
            <!--Today exam fee review table started-->
   
           <ul class="list-group"> 
        
              <div class="table-responsive">
        
              <table class="table border bg-white border-start border-end shadow-sm">
                
                   <tbody>
                     
                    <tr class="text-center">
                        
                      <th class="fw-bold text-primary lead" colspan="6"> Exam Fee</th>
                      
                    </tr>
                    
                    <tr class="bg-light">
                      
                      <td class="fw-bold  border align-middle small"> Regn.</td>
                      
                      <td class="fw-bold  border align-middle small"> Student's Name</td>
                      
                      <td class="fw-bold  border align-middle small"> Father's Name </td>
                      
                      <td class="fw-bold  border align-middle small"> Narration </td>
      
                      <td class="fw-bold  border align-middle small"> Amount </td>
                      
                      <td class="fw-bold  border align-middle small"> Entered By </td>
      
                    </tr>
              <% 
              
              
              
             for (var i=0; i < students.length; i++) {
              
          
                    if( students[i].studentExamFee != undefined ) {
          
                    for (var k=0; k < students[i].studentExamFee.length; k++) {
                        
                        if( students[i].studentExamFee[k] != undefined && students[i].studentExamFee[k].dateofpayment ==  moment().format('YYYY-MM-DD') ) {
                            
                            
              
              
              %>
              
                        <tr>
                          
                          <td class="text-center border" ><%= students[i].regn %></td>
                          
                          
                          
                          <td class="border" >
                            
                            <a href="/computer/<%= students[i]._id %>">
          
                                <%= capitalizeFirstLetter(students[i].username) %>
                                
                            </a>
                            
                          </td>
                          
                          <td class="border"> <%= students[i].fname %> </td>
                          
                          <td class="border fst-italic"> <%= students[i].studentExamFee[k].narrationInput %> </td>
                          
                          <td class="border">Rs.  <%= students[i].studentExamFee[k].feeAmount %> </td>
                      
                          <td class="border">  <%= capitalizeFirstLetter(students[i].studentExamFee[k].verifierId.username) %> </td>
        
                        </tr>
                        

                        
                        <% } } } } %>
                            
                       
                        
                      </tbody>
                      
                    </table>
                    
                    </div>
            
            </ul> <!--today exam fee review table end-->
            
            <hr class="text-success w-25 mx-auto mb-4">
            
            <!--Today other fee review table started-->
   
           <ul class="list-group"> 
        
              <div class="table-responsive">
        
              <table class="table border bg-white border-start border-end shadow-sm">
                
                   <tbody>
                     
                    <tr class="text-center">
                        
                      <th class="fw-bold text-primary lead" colspan="6"> Other Fee</th>
                      
                    </tr>
                    
                    <tr class="bg-light">
                      
                      <td class="fw-bold  border align-middle small"> Regn.</td>
                      
                      <td class="fw-bold  border align-middle small"> Student's Name</td>
                      
                      <td class="fw-bold  border align-middle small"> Father's Name </td>
                      
                      <td class="fw-bold  border align-middle small"> Narration </td>
      
                      <td class="fw-bold  border align-middle small"> Amount </td>
                      
                      <td class="fw-bold  border align-middle small"> Entered By </td>
      
                    </tr>
              <% 
              
              
              
             for (var i=0; i < students.length; i++) {
              
                    if( students[i].studentOtherFee != undefined ) {
          
                    for (var k=0; k < students[i].studentOtherFee.length; k++) {
                        
                        if( students[i].studentOtherFee[k] != undefined && students[i].studentOtherFee[k].dateofpayment ==  moment().format('YYYY-MM-DD') ) {
                            
              %>
              
                        <tr>
                          
                          <td class="text-center border" ><%= students[i].regn %></td>
                          
                          
                          
                          <td class="border" >
                            
                            <a href="/computer/<%= students[i]._id %>">
          
                                <%= capitalizeFirstLetter(students[i].username) %>
                                
                            </a>
                            
                          </td>
                          
                          <td class="border"> <%= students[i].fname %> </td>
                          
                          <td class="border fst-italic"> <%= students[i].studentOtherFee[k].narrationInput %> </td>
                          
                          <td class="border">Rs.  <%= students[i].studentOtherFee[k].feeAmount %> </td>
                      
                          <td class="border">  <%= capitalizeFirstLetter(students[i].studentOtherFee[k].verifierId.username) %> </td>
        
                        </tr>
                        

                        
                        <% } } } } %>
                            
                       
                        
                      </tbody>
                      
                    </table>
                    
                    </div>
            
            </ul> <!--today other fee review table end-->

</main>
    
    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    


  </body>
  
</html>
