<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>


<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    
    <%- include ('ejsFunction') %> <!--function javascript ejs-->
    
<main class="container">
  

    <div class="d-flex justify-content-between align-items-center mt-4">
      
        <a class="text-dark small" data-bs-toggle="tooltip" data-bs-placement="bottom" title="goto view fee" href="/viewFee"><i class="fas fa-arrow-left text-dark fw-bold"></i> Back </a>
        
         <p class="text-secondary fw-normal"><%= viewTitle %> Wef: 01/01/2021  </p>

        <a class="text-dark small" data-bs-toggle="tooltip" data-bs-placement="bottom" title="goto student list" href="/stdList"><i class="far fa-list-alt text-info fw-bold"></i> Student List</a>

    
    </div>
    
 <!--Monthly fee table started-->
   
           <ul class="list-group"> 
        
              <div class="table-responsive">
        
              <table class="table bg-white border shadow-sm">
                
                   <tbody>
                     
                    <tr class="text-center">
                        
                      <th class="p-3 text-secondary lead" colspan="6"> Other Fee Statement</th>
                      
                    </tr>
                    
                    <tr>
                      
                      <td class="fw-bold text-muted border align-middle"> Sl. Nos</td>
                      
                      <td class="fw-bold text-muted border align-middle"> Regn. </td>
                      
                      <td class="fw-bold text-muted border align-middle"> Student Name</td>
                      
                      <td class="fw-bold text-muted border align-middle"> Narration </td>
      
                      <td class="fw-bold text-muted border align-middle"> Amount </td>
                      
                      <td class="fw-bold text-muted border align-middle"> Date of Payment </td>
                      
                      <td class="fw-bold text-muted border align-middle"> Entered By </td>
      
                    </tr>
                    
              <%  
              
                            for (var i=0; i < students.length; i++) {
                                
                                if( students[i].studentOtherFee != undefined ) {
                                
                                for (var k=0; k < students[i].studentOtherFee.length; k++) {
                 
                                    if(students[i].studentOtherFee[k] != undefined && students[i].studentOtherFee[k].dateofpayment >=  moment().format('2021-01-01')) {
              
              
              %>
              
                        <tr>
                          
                          <td class="text-center border" ><%= i + 1 %></td>
                          
                          <td class="text-center border" ><%= students[i].regn %></td>
                          
                          <td class="border" >
                            
                            <a href="/computer/<%= students[i]._id %>">
          
                                <%= capitalizeFirstLetter(students[i].username) %>
                                
                            </a>
                            
                          </td>
                          
                          <td class="border fst-italic"> <%= students[i].studentOtherFee[k].narrationInput %> </td>
                          
                          <td class="border">Rs.  <%= students[i].studentOtherFee[k].feeAmount %> </td>
                      
                          <td class="border"><%= convertDate(students[i].studentOtherFee[k].dateofpayment) %></td>
                          
                          <td class="border fst-italic">  <%= capitalizeFirstLetter(students[i].studentOtherFee[k].verifierId.username) %> </td>
        
                        </tr>
                        
                       
                            
                       <% } } } } %>
                        
                      </tbody>
                      
                    </table>
                    
                    </div>
            
            </ul> <!--monthly fee table end-->

</main>
    
    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    


  </body>
  
</html>
