<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>


<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    
    <%- include ('ejsFunction') %> <!--function javascript ejs-->
    
<main class="container">
    
<div class="d-flex justify-content-between m-3">
            
            <a class="text-primary small" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Goto view fee" href="/viewFee"><i class="fas fa-arrow-left text-dark fw-bold"></i> Go back</i> </a>
            
            </div>    
    

    <div class="text-center table-responsive">
      
         <p class="text-secondary fw-normal"><%= viewTitle %> wef: 01/01/2020  </p>
    
    </div>
    
 <!--Monthly fee table started-->
   
           <ul class="list-group"> 
        
              <div class="table-responsive">
        
              <table class="table bg-white border shadow-sm">
                
                   <tbody>
                     
                    <tr class="text-center">
                        
                      <th class="bgColor" colspan="7"> Monthly Fee Statement</th>
                      
                    </tr>
                    
                    <tr class="bg-light">
                      
                      <td class="fw-normal border align-middle"> Sl. Nos</td>
                      
                      <td class="fw-normal border align-middle"> Regn. </td>
                      
                      <td class="fw-normal border align-middle"> Student Name</td>
                      
                      <td class="fw-normal border align-middle"> Narration </td>
      
                      <td class="fw-normal border align-middle"> Amount </td>
                      
                      <td class="fw-normal border align-middle"> Date of Payment </td>
                      
                      <td class="fw-normal border align-middle"> Entered By </td>
      
                    </tr>
                    
              <%  
                            var serialNos = 0;
                            
                            for (var i=0; i < students.length; i++) {
                                
                                if( students[i].studentFee != undefined ) {
                                
                                for (var k=0; k < students[i].studentFee.length; k++) {
                 
                                    if(students[i].studentFee[k] != undefined && moment(students[i].studentFee[k].dateofpayment).format('YYYY-MM-DD') >=  moment().format('2020-01-01')) {
                                        
                                        serialNos++;
              
              %>
              
                        <tr>
                          
                          <td class="text-center border" ><%= serialNos %></td>
                          
                          <td class="text-center border" ><%= students[i].regn  %></td>
                          
                          <td class="border" >
                            
                            <a href="/computer/<%= students[i]._id %>">
          
                                <%= capitalizeFirstLetter(students[i].username) %>
                                
                            </a>
                            
                          </td>
                          
                          <td class="border fst-italic"> <%= students[i].studentFee[k].narrationInput %> </td>
                          
                          <td class="border">Rs.  <%= students[i].studentFee[k].feeAmount %> </td>
                      
                          <td class="border"><%= convertDate(students[i].studentFee[k].dateofpayment) %></td>
                          
                          <td class="border">  <%= capitalizeFirstLetter(students[i].studentFee[k].verifierId.username) %> </td>
        
                        </tr>
                            
                       <% } } } } %>
                       
                      </tbody>
                      
                    </table>
                    
                    </div>
            
            </ul> <!--monthly fee table end-->

</main>
    
    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    


  </body>
  
</html>
