<!DOCTYPE html>

<html lang="en">
  
<%- include('layouts/headers') -%>


<body class="bg-light">
    
    <%- include('layouts/navbar') -%>
    
    <%- include ('ejsFunction') %> <!--function javascript ejs-->
    
<main class="container">
    
    <div class="table-responsive">
        
              <table class="table bg-light shadow mt-3">
               
                <tbody>
                  
                  <tr class="d-flex justify-content-around">
                    
                    <td> <a class="text-dark small" data-bs-toggle="tooltip" data-bs-placement="bottom" title="goto student list" href="/stdList"><i class="fas fa-arrow-left text-dark fw-bold"></i> Back </a></td>
                    
                    
                    <td><a class="text-dark small" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Check Assignment" href="#"><i class="fas fa-book-reader text-info fw-bold"></i> Assignment</a>
</td>
                    
                  </tr>
                  
                </tbody>
                
              </table>
      
          </div>
  

    <div class="text-center mt-4">
      
       
        
         <p class="lead text-secondary fw-normal"><%= viewTitle %></p>


    
    </div>
    
    <div class="d-flex justify-content-center">
        
        <ul class="list-group shadow">
            
              <li class="list-group-item text-dark fw-bold" aria-current="true"> Categories</li>
              
              <li class="list-group-item"><a class="text-muted" data-bs-toggle="tooltip" data-bs-placement="bottom" title="view today fee recieved" href="/viewFee/todayFeeReview"><i class="fas fa-calendar-day text-primary fw-bold"></i> View Today Fee</a></li>
              
              <li class="list-group-item"><a class="text-muted" data-bs-toggle="tooltip" data-bs-placement="bottom" title="view all fee recieved" href="/viewFee/viewAllFeeReceived"><i class="fas fa-calendar-week text-primary fw-bold"></i> View Monthly Fee</a></li>
              
              <li class="list-group-item"><a class="text-muted" data-bs-toggle="tooltip" data-bs-placement="bottom" title="view exam fee" href="/viewFee/viewExamFeeReceived"><i class="fas fa-pen-nib text-primary fw-bold"></i> View Exam Fee</a></li>
              
              <li class="list-group-item"><a class="text-muted" data-bs-toggle="tooltip" data-bs-placement="bottom" title="view other fee" href="/viewFee/viewOtherFeeReceived"><i class="fas fa-feather text-primary fw-bold"></i> View Other Fee</a></li>
              
           
              <li class="list-group-item d-flex justify-content-center text-muted">
                  
                <i class="fas fa-calendar-check fw-bold text-primary me-1"></i> 
                
                <input type="date" id="dateSelect" style="width: 200px" class="form-control ms-2" required />
                
                <a href="/viewFee/viewFeeByDate" id="searchFeeByDate" class="btn btn-primary ms-2"> View By Date</a>
              
              </li>
              
        </ul>
        
        </div>

</main>
    
    <%- include('layouts/scripts') -%>
    
    <%- include('layouts/footer') -%>
    
    <!--Search by date url siam remna jquery function-->
    <script> 
        
        $(function() {
            
            
          
            
            
                    $('#searchFeeByDate').click( function(e) {
                        
                        e.preventDefault();
                        
                        
                        //checkValidity() Returns true if an input element contains valid data.
                        
                    if ($("#dateSelect")[0].checkValidity()) {
                        
                        window.location = $(this).attr('href') + '/' + $('#dateSelect').val();
                        
                        return false;
                        
                    } else {
                        
                        //Validate Form : the best function for highlighting required fields
                        
                        $("#dateSelect")[0].reportValidity()
                        
                    }
                        
                    });
                    
                });

        
    </script>
    

  </body>
  
</html>
